@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HazardManDetail</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script type="text/javascript">
    </script>
</head>
<body class="alarm_body">
    <div class="infrared_popcontent">
        <h2>报警信息</h2>
        <!--双视 报警图片-->
        <div class="infrared_text">
            <img src="/Content/images/InfraredMonitor/01.jpg">
        </div>
        <div class="infrared_text">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="page_table_list2_tr">
                        <td align="right" width="20%">
                            通道号
                        </td>
                        <td align="left" width="30%">
                            1
                        </td>
                        <td align="right" width="30%">
                            通道名称
                        </td>
                        <td align="left" width="20%">
                            通道1
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="20%">
                            通道说明
                        </td>
                        <td colspan="3" align="left" width="80%">
                            1#变压器
                        </td>
                    </tr>
                    <tr class="page_table_list2_tr">
                        <td align="right" width="20%">
                            报警描述
                        </td>
                        <td colspan="3" align="left" width="80%">
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="20%">
                            报警温度
                        </td>
                        <td align="left" width="30%"></td>
                        <td align="right" width="30%">
                            实际测量温度
                        </td>
                        <td align="left" width="20%"></td>
                    </tr>
                    <tr class="page_table_list2_tr">
                        <td align="right" width="20%">
                            报警时间
                        </td>
                        <td colspan="3" align="left" width="80%">
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="20%">
                            备注
                        </td>
                        <td colspan="3" align="left" width="80%">
                        </td>
                    </tr>
                    <tr class="page_table_list2_tr">
                        <td align="right" width="20%">
                            监测人员
                        </td>
                        <td align="left" width="30%"></td>
                        <td align="right" width="30%">
                            审核
                        </td>
                        <td align="left" width="20%"></td>
                    </tr>
                    <tr>
                        <td align="right" width="20%">
                            批准
                        </td>
                        <td align="left" width="30%"></td>
                        <td align="right" width="30%"></td>
                        <td align="left" width="20%"></td>
                    </tr>
                </table>
        </div>       
    </div>
    <script type="text/javascript"></script>
</body>
</html>
