@{
    ViewBag.Title = "Consume";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>能源消耗</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css" href="~/Content/css/EnergyDfficiency.css?v=1.30" />

</head>
<body>
    <div id="app" class="noPaddingBottom" style="padding:0">
        <Spin size="large" fix v-if="loading"></Spin>
        <div class="left flex-item">
            <div class="module-title">
                <img src="~/Content/images/energyDifficiency/yc.png" class="icon" />
                <span>用能异常</span>
                <!--<button class="btn">对比</button>-->
            </div>
            <dv class="list consumeList" style="overflow:hidden">
                <i-table ref="tableSelect" :columns="listColumns" :data="listData" :height="listHeight" :width="listWidth"
                         v-on:on-selection-change="tableSelectChange"
                         v-on:on-select="onSelect"
                         v-on:on-select-cancel="onSelectCancel"></i-table>
            </dv>
        </div>
        <!--right s-->
        <div class="right flex-item">
            <div class="top" style="overflow:hidden">
                <div class="right-top-left">
                    <div class="module-title">
                        <img src="~/Content/images/energyDifficiency/barAndLine.png" class="icon" />
                        <span>历史用能趋势</span>
                    </div>
                    <div class="barAndLine">
                        <div class="datePicekerView">
                            <radio-group v-model="dateType" type="button" size="small" v-on:on-change="dateTypeChange">
                                <Radio label="1" value="1">日</Radio>
                                <Radio label="2" value="2">月</Radio>
                                <Radio label="3" value="3">年</Radio>
                            </radio-group>
                        </div>
                        <div class="chart noData" v-if="!barShow">暂无数据</div>
                        <div id="barAndLine" class="chart" :style="{display:barShow?'block':'none',width:'100%',height:'100%'}"></div>
                    </div>
                </div>
                <div class="right-top-right">
                    <div class="module-title">
                        <img src="~/Content/images/energyDifficiency/qx.png" class="icon" />
                        <span>实际能耗和预测曲线</span>
                    </div>
                    <div class="barAndLine">
                        <div style="overflow:hidden;position:absolute;width:100%;height:100%">
                            <div class="chart noData" v-if="!lineShow">暂无数据</div>
                            <div class="chart" id="energyConLine" :style="{display:lineShow?'block':'none',width:'100%',height:'100%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="module-title">
                    <img src="~/Content/images/energyDifficiency/fx.png" class="icon" />
                    <span>异常诊断分析</span>
                </div>
                <div>
                    <i-table border ref="selection" :columns="analysisColumns" :data="analysisData" :height="analysisTableHeight"></i-table>
                </div>
            </div>
        </div>
        <!--right e-->
    </div>
    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/Consume._zc.js?v=1.101"></script>
</body>
</html>

