@{
    ViewBag.Title = "RoomDataMonitoring";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>科室数据监测</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css" href="~/Content/css/EnergyDfficiency.css?v=1.10" />
</head>
<body>
    <div id="app" style="padding:0">
        <Spin size="large" fix v-if="loading"></Spin>
        <div class="right allMain departmentWatch">
            <div class="top">
                <div class="right-top-left flex-1">
                    <div class="module-title">
                        <img src="~/Content/images/energyDifficiency/fxjg.png" class="icon" />
                        <span>{{uName}}</span>
                        <div class="datePicekerView">
                            <date-picker v-model="curDate" type="month" size="small" v-on:on-change="dateChange"></date-picker>
                        </div>
                    </div>
                    <div class="con pieView">
                        <div class="chart flex-1 noData" v-if="!pieShow">暂无数据</div>
                        <div class="chart flex-1" id="piechart" :style="{display:pieShow?'block':'none',width:'100%',height:'100%'}"></div>
                        <div class="flex-4" style="overflow:hidden">
                            <i-table border :columns="analysisColumns" :data="analysisData" :height="analysisTableHeight"></i-table>
                        </div>
                    </div>

                </div>

            </div>


            <div class="bottom">
                <div class="module-title haveTab">
                    <img src="~/Content/images/energyDifficiency/fxjg.png" class="icon" />
                    <span>能耗监测</span>
                    <Tabs type="card" class="tabs" v-on:on-click="typeTabClick">
                        <tab-pane :label="item.Name" :name="item.ID" :value="item.ID" v-for="item in typeList"></tab-pane>

                    </Tabs>
                </div>

                <div class="con">
                    <div class="datePicekerView">
                        <radio-group v-model="dateType" type="button" size="small" v-on:on-change="dateTypeChange">
                            <Radio label="1" value="1">日</Radio>
                            <Radio label="2" value="2">月</Radio>
                            <Radio label="3" value="3">年</Radio>
                        </radio-group>
                    </div>
                    <div class="chart noData" v-if="!barShow" style="width:100%;height:100%">暂无数据</div>
                    <div id="barChart" class="chart" :style="{display:barShow?'block':'none',width:'100%',height:'100%'}"></div>
                </div>
            </div>
        </div>


    </div>



    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/DepartData._zc.js?v=1.11"></script>
</body>
</html>

