@{
    ViewBag.Title = "EnergyQuery";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>能源查询</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css"  href="~/Content/css/EnergyDfficiency.css?v=1.01"/>
    <style type="text/css">
        .minWidth{
            min-width:180px
        }
        .ivu-tag .ivu-icon-ios-close{
            display:inline-block !important
        }
    </style>
</head>
<body>
    <div id="app" class="noPaddingBottom" style="background:#fff;padding:0;margin:0">
        <!--right s-->
        <div class="right allMain">
            <div class="topView main-item searchView">
                <div class="module-title">
                    <span>能源查询</span>
                    <i-button class="btn" v-on:click="getEneryList">查询</i-button>
                </div>
                <div class="con" style="flex:1">
                    <i-form ref="searchForm" :model="searchForm"  style="width:100%;z-index:1500" :label-width="50" >
                        <table class="formTable">
                            <tr>
                                <td>
                                    <form-item label="时间">
                                        <date-picker type="date" v-model="searchForm.time" style="width:100%" class="minWidth"></date-picker>
                                    </form-item>
                                </td>
                                <td>
                                    <form-item label="设备" >
                                        <i-select v-model="searchForm.did" :filterable="true" :clearable ="false" class="minWidth">
                                            <i-option value=" ">全部</i-option>
                                            <i-option :value="item.DID" :key="item.DID" v-for="item in deviceList">{{item.DeviceName}}</i-option>
                                        </i-select>
                                    </form-item>
                                </td>
                                <td>
                                    <form-item label="科室">
                                        <i-select v-model="searchForm.ksid" :filterable="true" multiple class="minWidth">
                                            <i-option :value="item.id" :key="item.id" v-for="item in departMentList">{{item.Name}}</i-option>
                                        </i-select>
                                    </form-item>
                                </td>
                                <td>
                                    <form-item label="类型">
                                        <i-select v-model="searchForm.cotypeid" :filterable="true" :clearable ="false" class="minWidth">
                                            <i-option value=" ">全部</i-option>
                                            <i-option :value="item.ID" :key="item.ID" v-for="item in typeList">{{item.Name}}</i-option>
                                        </i-select>
                                    </form-item>
                                </td>
                            </tr>
                            
                        </table>
                    </i-form>
                </div>
               
            </div>

            <div class="bottomView main-item underFormView">
                <div class="module-title">
                    <span>查询结果</span>
                </div>
                <div class="con">
                    <i-table :columns="tableCol" :data="tableData" :height="tableHeight" :loading="loading" border></i-table>
                </div>
                
            </div>
        </div>
        <!--right e-->
    </div>

    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
    <script  type="text/javascript" src="~/Content/UserJS/EnergyQuery._zc.js?v=1.19"></script>
</body>
</html>

