@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
    <style type="text/css">
        body{
            display:flex;
            flex-direction:column;
            overflow:hidden

        }
        #top {
            flex: 1.2!important;
            overflow-x:hidden;
            overflow-y:auto
        }
        #bottom {
            flex: 1 !important;
            overflow: hidden
        }
    </style>
</head>
<body>
    <div class="powerquality" id="top">
        <div id="Histb" class="searchbar searchbar2">

            <div class="searchrow">
                站室名称:
                <input data-options="lines:true" style="width: 400px;" id="StationName" />
                <input id="SPID" type="hidden" />
            </div>
            <div class="searchrow">
                用户:
                <select id="CircuitUserType" style="width: 150px; height: 26px;"></select>
            </div>
            <div class="searchrow">
                区域:
                <select id="CircuitAreaType" style="width: 150px; height: 26px;"></select>
            </div>
            <div class="searchrow">
                分项:
                <select id="CircuitItemType" style="width: 150px; height: 26px;"></select>
            </div>
            <div class="searchrow">
                监测日期:
                <input type="radio" class="GraphType" name="GraphType" value="0" checked="checked" />近一日
                <input type="radio" class="GraphType" name="GraphType" value="1" />近一周
                <input type="radio" class="GraphType" name="GraphType" value="2" />近一月
            </div>
        </div>
        <div class="row clearfix">
            <div id="cavans" class="col-md-12 column">
                <div id="userCharts1" class="powerquality_curve   lineloss_curve" style="height:400px;overflow:hidden" >
                </div>
            </div>
        </div>
        <div id='Error' style='color: black; text-align: center; font-size: 20px; display: none;padding:200px;'>
            未查到数据！
        </div>
    </div>
    <div id="bottom">
        <table id="list_data" title="汇总数据" class="easyui-datagrid" style="width:100%;padding-top:10px;height:100%"
               singleSelect="true" iconCls="icon-save" rownumbers="true">
            <thead>
                <tr>
                    <th rowspan="2" field="CName" width="20%" align="center">信息名称</th>
                    <th rowspan="2" field="AVGS" width="19.5%" align="center">平均值（kW）</th>
                    <th colspan="2">最大值</th>
                    <th colspan="2">最小值</th>
                </tr>
                <tr>
                    <th field="MAXS" width="15%" align="center">值（kW）</th>
                    <th field="RQ" width="15%" align="center">时间</th>

                    <th field="MINS" width="15%" align="center">值（kW）</th>
                    <th field="RQ" width="15%" align="center">时间</th>
                </tr>
            </thead>
        </table>

    </div>

       
    <script src="~/Content/UserJS/LoadAnalysis._jm.js?v=1.0"></script>
</body>
</html>
