@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModuleEdit</title>
    <style type="text/css">
        .divicons
        {
            float: left;
            border: solid 1px #ccc;
            margin: 5px;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }
        .divicons:hover
        {
            color: #FFF;
            border: solid 1px #3399dd;
            background: #2288cc;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
            background: linear-gradient(top, #33bbee, #2288cc);
            background: -moz-linear-gradient(top, #33bbee, #2288cc);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
            text-shadow: -1px -1px 1px #1c6a9e;
            font-weight: bold;
        }
    </style>
</head>
<body>
    @*<table cellpadding="" cellspacing="" border="0" class="d_list">
        <tr>
            <td class="d_l_t" align="right" width="40%">
                回路名称：
            </td>
            <td class="d_l_d">
                <input id="ModuleName" runat="server" name="ModuleName" data-options="required:true" class="radius5" /><b class = "RStar">&nbsp*</b>
                <input id="ModuleID" type="hidden" />
            </td>
        </tr>
    </table>*@

    <table cellpadding="" cellspacing="" border="0" class="d_list">
        <tr>
            <td class="d_l_t" align="right" width="40%">
                回路名称：
            </td>
            <td class="d_l_d">
                <input id="ModuleID" type="hidden" />
                <input id="ModuleName" style=" width:280px" runat="server" name="ModuleName" data-options="required:true" class="radius5" /><b class="RStar">&nbsp*</b>
            </td>
        </tr>
        @*<tr>
            <td class="d_l_t" align="right">
                关联测点：
            </td>
            <td class="d_l_d">
                <input id="Points" />
            </td>
        </tr>*@
        <tr>
            <td class="d_l_t" align="right">
                变压器：
            </td>
            <td class="d_l_d">
                <select id="TID" class="easyui-combobox" style="width: 300px;" data-options="editable:false">
                    <option value="0">T1</option>
                    <option value="1">T2</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t" align="right">
                用户分类：
            </td>
            <td class="d_l_d">
                <select id="UserTypeID" class="easyui-combobox" style="width: 300px;" data-options="editable:false">
                    <option value="0">物业</option>
                    <option value="1">商户</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t" align="right">
                区域分类：
            </td>
            <td class="d_l_d">
                <select id="AreaTypeID" class="easyui-combobox" style="width: 300px;" data-options="editable:false">
                    <option value="3">一层</option>
                    <option value="4">二层</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t" align="right">
                按项分类：
            </td>
            <td class="d_l_d">
                <select id="ItemTypeID" class="easyui-combobox" style="width: 300px;" data-options="editable:false">
                    <option value="5">照明</option>
                    <option value="6">空调</option>
                </select>
            </td>
        </tr>
        @*<tr>
            <td class="d_l_t" align="right">
                输入/输出：
            </td>
            <td class="d_l_d">
                <input type="radio" name="IO" checked id="io0" value="0" />输入 &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="IO" id="io1" value="1" />输出
            </td>
        </tr>*@
    </table>
    <div style="text-align:center;">
        <a href="javascript:" id="btnSave" onclick="save()" class="table_btn btn_style radius5" data-options="iconCls:'icon-ok'">保存</a>
         <a href="javascript:" class="table_btn1 btn_style radius5" data-options="iconCls:'icon-cancel'" onclick="$('#editwin').window('close');">关闭</a>
    </div>

    <script type="text/javascript">
        var cid=@Html.Raw(Request.QueryString["cid"]);
        //var did=@Html.Raw(Request.QueryString["did"]);
        var pid=@Html.Raw(Request.QueryString["pid"]);

        alert(pid);

        loadInfo();
        function loadInfo() {
            if(cid > 0 ){
                $.post("/DeviceManage/CircuitInfoDetail", { "cid": cid }, function (data) {
                var obj = eval("(" + data + ")");
                $("#ModuleName").val(obj.CName);
                //$("#Points").combotree("setValues", obj.TagIDs);
                $("#TID").combobox("setText", obj.TID);
                $("#UserTypeID").combobox("setText", obj.UserTypeID);
                $("#AreaTypeID").combobox("setText", obj.AreaTypeID);
                $("#ItemTypeID").combobox("setText", obj.ItemTypeID);
                });
            }
        }
       
        //$("#Points").combotree({
        //    url: "/BaseInfo/PositionParams?DID=" + did + "&DataType=" + "1,2,3,6,52" ,
        //    valueField: 'id',
        //    textField: 'text',
        //    editable: false,
        //    multiple:'true',
        //    width:300,
        //    multiple: true,
        //    onBeforeSelect: function (node) {
        //        if (!$(this).tree('isLeaf', node.target)) {
        //            $('#Points').combotree('tree').tree("expand", node.target); //展开
        //            return false;
        //        }
        //    },
        //    onClick: function (node) {
        //        if (!$(this).tree('isLeaf', node.target)) {
        //            $('#Points').combo('showPanel');
        //        }
        //    }
        //});
        function save() {
            if ($("#ModuleName").val() == "") {
                $.messager.alert("提示", "请输入回路名称！", "info");
                return false;
            }
            var Histagid = "",tagid = 0;
            //var Hisrolelist = $("#Points").combotree("getValues") + '';
            //var arrtagid = Hisrolelist.split(','); //获取TagID list
            //var len = arrtagid.length;
            //for (var j = 0; j < len; j++) {
            //    if (arrtagid[j].indexOf('_') < 0) {
            //        Histagid += arrtagid[j] + ',';                    //曲线TagID,数组
            //    }
            //}

            var postData = {
                CName: $("#ModuleName").val(),
                CID: cid,
                DID: did,
                PID: pid,
                TID:$("#TID").combobox("getText"),
                UserTypeID:$("#UserTypeID").combobox("getText"),
                AreaTypeID:$("#AreaTypeID").combobox("getText"),
                ItemTypeID:$("#ItemTypeID").combobox("getText"),
                TagIDs:Histagid
            };
            //发送异步请求，添加用户
            $.post("/DeviceManage/SaveCircuitInfo", postData, function (data) {
                if (data == "ok") {
                    $.messager.alert("提示", "回路编辑成功！", "info");
                    $('#editwin').window('close');
                }
                else {
                    alert(data);
                }
            });
        }
    </script>
</body>
</html>
