@{
    Layout = null;
    YWWeb.Controllers.LoginAttribute loginbll = new YWWeb.Controllers.LoginAttribute();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeviceEdits</title>
</head>
<body>
    @*<div class="easyui-tabs" style="width: 960px; height: 450px"> 
    <div title="基本信息" id="tab1" style="padding: 10px">*@
    <table cellpadding="" cellspacing="" border="0" class="d_list">
        <tr>
            <td class="d_l_t">
                设备编码：
            </td>
            <td class="d_l_d">
                <input id="DeviceCode" name="DeviceCode" missingmessage="设备编码必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
                <input id="DID" type="hidden" />
                <input id="MainID" type="hidden" />
            </td>
            <td class="d_l_t">
                系统编码：
            </td>
            <td class="d_l_d">
                <span id="EadoCode"></span>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                设备名称：
            </td>
            <td class="d_l_d">
                <input id="DeviceName" name="DeviceName" missingmessage="设备名称必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                所属配电房：
            </td>
            <td class="d_l_d">
                <select id="PID" style="width: 205px;">
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                设备型号：
            </td>
            <td class="d_l_d">
                <input id="DeviceModel" name="DeviceModel" missingmessage="设备型号必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                设备类型：
            </td>
            <td class="d_l_d">
                <select id="DTID" style="width: 205px;">
                    <option value="0">生产设备</option>
                    <option value="1">检验设备</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                设备结构类型：
            </td>
            <td class="d_l_d">
                <select id="DSTID" style="width: 205px;">
                    <option value="0">生产设备</option>
                    <option value="1">检验设备</option>
                </select>
            </td>
            <td class="d_l_t">
                重要程度：
            </td>
            <td class="d_l_d">
                <select id="MLID" class="easyui-combobox" style="width: 205px;">
                    <option value="0">一般</option>
                    <option value="1">重要</option>
                    <option value="2">非常重要</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                生产厂家：
            </td>
            <td class="d_l_d">
                <input id="MFactory" name="MFactory" missingmessage="生产厂家必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                出厂编号：
            </td>
            <td class="d_l_d">
                <input id="FactoryNumber" name="FactoryNumber" missingmessage="出厂编号必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                购买日期：
            </td>
            <td class="d_l_d">
                <input id="BuyTime" name="BuyTime" class="easyui-datebox" style="width: 205px;" />
            </td>
            <td class="d_l_t">
                投运日期：
            </td>
            <td class="d_l_d">
                <input id="UseDate" name="UseDate" class="easyui-datebox" style="width: 205px;" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                安装地点：
            </td>
            <td class="d_l_d">
                <input id="InstallAddr" name="InstallAddr" missingmessage="安装地点必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                使用状态：
            </td>
            <td class="d_l_d">
                <select id="UseState" class="easyui-combobox" data-options="editable:false" style="width: 205px;">
                    <option value="0">正常使用</option>
                    <option value="1">暂停使用</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                所属单位：
            </td>
            <td class="d_l_d">
                <input id="Company" name="Company" missingmessage="所属单位必填项！" class="easyui-validatebox"
                    style="width: 200px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                备品备件：
            </td>
            <td class="d_l_d" colspan="3">
                <select id="SparePartName" class="easyui-combobox" style="width: 205px;">
                </select>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                最后维护日期：
            </td>
            <td class="d_l_d">
                <input id="LastMtcDate" name="LastMtcDate" class="easyui-datebox" style="width: 205px;" />
            </td>
            <td class="d_l_t">
                建档日期：
            </td>
            <td class="d_l_d">
                <input id="BuildDate" name="BuildDate" class="easyui-datebox" style="width: 205px;" />
            </td>
        </tr>

        <tr>
            <td class="d_l_t">
                关联进线柜：
            </td>
            <td class="d_l_d">
                <input id="DeviceIn" class="easyui-combobox" style="width: 205px;" />（设备为变压器时必选）
            </td>
            <td class="d_l_t">
                关联出线柜：
            </td>
            <td class="d_l_d">
                <input id="DeviceOut" class="easyui-combobox" style="width: 205px;" />（设备为变压器时必选）
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                变压器容量：
            </td>
            <td class="d_l_d" colspan="3">
                <input id="DeviceCapTotal" name="DeviceCapTotal" class="easyui-validatebox"
                       style="width: 200px;" />（设备为变压器时必填）
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                备注：
            </td>
            <td class="d_l_d" colspan="3">
                <textarea id="Remarks" class="easyui-validatebox" style="height: 30px; width: 650px;"></textarea>
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding-top: 10px;">
        <a href="javascript:;" id="btnSave" onclick="save()" class="table_btn btn_style radius5"
            data-options="iconCls:'icon-ok'">保存</a> <a href="javascript:;" class="table_btn1 btn_style radius5"
                data-options="iconCls:'icon-cancel'" onclick="$('#editwin').window('close');">关闭</a>
    </div>
    <script type="text/javascript">
        var did=@Html.Raw(Request.QueryString["did"]);
        var uid = @loginbll.CurrentUser.UserID; 

    </script>
    <script src="~/Content/UserJS/DeviceEdits._jm.js"></script>
</body>
</html>
