
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>实时视频监控</title>
    <style>
        body {
            margin: 0;
        }

        #myPlayer {
            max-width: 1200px;
            width: 100%;
        }
    </style>
</head>
<body>
    <script src="https://open.ys7.com/sdk/js/1.3/ezuikit.js"></script>
    <video id="myPlayer" width="1150px" height="766px" poster="" controls playsinline webkit-playsinline autoplay>
        <source id="src1" src="rtmp://rtmp.open.ys7.com/openlive/fdc78c016fc9448b94f0f8a308826d64.hd" />
        <source id="src2" src="https://hls.open.ys7.com/openlive/fdc78c016fc9448b94f0f8a308826d64.hd.m3u8" />
    </video>
    <script>
        //console.log("srcId=" + srcId)
        var player = new EZUIPlayer('myPlayer');

    </script>
</body>
</html>