## Include .dll files in packages folder

# User-specific files
!*.dll
# Re-instate the build folder that is excluded in the default .gitignore
# This folder is used by Microsoft.Bcl.Build.* package
!YWWeb\DLL
!YWWeb.Lib
packages
YWWeb/bin
YWWeb/obj
YWWeb/logs
.nuget
.vs
*.user
DBProject/DAL/bin
DBProject/DAL/obj
DBProject/DAO/bin
DBProject/DAO/obj
DBProject/IDAO/bin
DBProject/IDAO/obj
DBProject/DAOCache/bin
DBProject/DAOCache/obj
DBProject/DAOMongoDB/bin
DBProject/DAOMongoDB/obj
YWWeb.Lib/EnergyManage/bin
YWWeb.Lib/EnergyManage/obj
YWWeb.Lib/YWWeb.Lib.Base/bin
YWWeb.Lib/YWWeb.Lib.Base/obj
YWWeb_publish/
YWWeb/DLL/mfc110.dll
YWWeb/DLL/License.data
YWWeb/DLL/MSVCR110.DLL
