@{
    ViewBag.Title = "备件列表";
    YWWeb.Controllers.LoginAttribute loginbll = new YWWeb.Controllers.LoginAttribute();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SparePartList</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
</head>
<body>
    <table id="list_data" style="width: auto;" idfield="SparePartID" pagination="true"
        data-options="iconCls:'icon-save',rownumbers:true,pageSize:20,pageList:[10,15,20,30,50],toolbar:'#tb',method:'post',striped:true"
        fitcolumns="true">
        <thead>
            <tr>
                <th field='SparePartID' checkbox="true">
                </th>
                <th field='SparePartCode' width="60px">
                    备件编码
                </th>
                <th field='SparePartName' width="80px">
                    备件名称
                </th>
                <th field='StockCount' width="60px">
                    库存数量
                </th>
                <th field='EadoCode' width="60px">
                    系统编码
                </th>
                <th field='Remarks' width="100px">
                    备注
                </th>
            </tr>
        </thead>
    </table>
    <div id="tb" class="searchbar">
        <div class="searchrow">
            备件名称:
            <input id="sparepartname" />
        </div>
        <div id="userbutton" class="searchbutton">
        </div>
    </div>

    <script src="~/Content/UserJS/SparePartList._jm.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/ResizeList._jm.js"></script>
    <div id="editwin" title="编辑备件信息" class="easyui-window" closed="true" style="width: 800px;
        height: 360px; padding: 5px;" minimizable="false" maximizable="false" collapsible="false">
    </div>
</body>
</html>
