@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SparePartEdits</title>
</head>
<body>
    <table cellpadding="" cellspacing="" border="0" class="d_list">
        <tr>
            <td class="d_l_t">
                编码：
            </td>
            <td class="d_l_d">
                <input id="DeviceCode" name="DeviceCode" maxlength="20" missingmessage="编码必填项！" class="easyui-validatebox"
                       style="width: 250px;" data-options="required:true,validType:'length[1,20]'" /><b class="RStar">&nbsp*</b>
                <input id="ID" type="hidden" />
            </td>
            <td class="d_l_t">
                名称：
            </td>
            <td class="d_l_d">
                <input id="DeviceName" name="DeviceName" maxlength="20" missingmessage="名称必填项！" class="easyui-validatebox"
                       style="width: 250px;" data-options="required:true,validType:'length[1,20]'" /><b class="RStar">&nbsp*</b>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                站名称：
            </td>
            <td class="d_l_d">
                <select id="PID" name="PID" class="easyui-combobox" style="width: 260px;"></select>
            </td>
            <td class="d_l_t">
                柜设备：
            </td>
            <td class="d_l_d">
                <select id="DID" style="width: 260px;" name="DID"></select>
            </td>

        </tr>
        <tr>
            <td class="d_l_t">
                型号：
            </td>
            <td class="d_l_d">
                <input id="DeviceModel" name="DeviceModel" missingmessage="名称必填项！" maxlength="20" data-options="required:true,validType:'length[1,20]'" class="easyui-validatebox" style="width: 250px;" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                厂家：
            </td>
            <td class="d_l_d">
                <input id="Manufactor" name="Manufactor" class="easyui-validatebox" missingmessage="名称必填项！" maxlength="50" data-options="required:true,validType:'length[1,50]'" style="width: 250px;" /><b class="RStar">&nbsp*</b>
            </td>
        </tr>


    </table>
    <div style="text-align: center; padding-top: 20px;">
        <a href="javascript:;" id="btnSave" onclick="save()" class="table_btn btn_style radius5"
            data-options="iconCls:'icon-ok'">保存</a> <a href="javascript:;" class="table_btn1 btn_style radius5"
                data-options="iconCls:'icon-cancel'" onclick="$('#editwin').window('close');">关闭</a>
    </div>
    
    <script type="text/javascript">
        var sparepartid=@Html.Raw(Request.QueryString["sparepartid"]);
    </script>
    <script src="~/Content/UserJS/SparePartEdits._zc.js?v=1.15"></script>
</body>
</html>
