@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlarmMain</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
</head>
<body>
    <div class="tab_mainbox demo2">
        <ul class="tab_menu" id="menuInfo">
        </ul>
        <div class="tab_box">
            <div class="tabbg tabbg3">
                <iframe frameborder="0" src="" width="100%" height="98%" name="sysContent" id="sysContent">
                </iframe>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      
        var i=@Html.Raw(Request.QueryString["i"]);
        
    </script>
    <script src="~/Content/UserJS/AlarmMain_jm.js"></script>
     <script src="~/Content/UserJS/lbywlfmu._jm.js" type="text/javascript"></script>
</body>
</html>
