@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>操作记录</title>
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css" href="~/Content/css/proLog.css?v=1.06">

</head>
<body>
    <div id="log">
        <div class="searchForm">
            <i-form ref="searchForm":model="searchForm" label-width="80">
                <table>
                    <tr>
                        <td>
                            <form-item label="操作人">
                                <i-input type="text" v-model="searchForm.username" class=""></i-input>
                            </form-item>
                        </td>
                        <td>
                            <form-item label="操作内容">
                                <i-input type="text" v-model="searchForm.content" class=""></i-input>
                            </form-item>
                        </td>
                        <td>
                            <form-item label="操作时间">
                                <date-picker type="date" class="rightDatePicker" v-model="searchForm.time" ></date-picker>
                            </form-item>
                        </td>
                    </tr>
                </table>
            </i-form>


            <div class="btnView">
                <i-button class="btn" v-on:click="seacch" icon="ios-search" >查询</i-button>
            </div>
        </div>

        <i-table :columns="LogColumns" :data="logData" class="table" :height="tableHeight"  :loading="tableLoading" ></i-table>

        <div class="pageView">
            <Page :total="page.total" show-elevator show-sizer show-total
                  :page-size="page.rows"
                  :page-size-opts="[20,50,80,100]"
                  :current="page.page"
                  v-on:on-page-size-change="sizeChange"
                  v-on:on-change="curPageChange" />
        </div>

    </div>
    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/ProLog._zc.js?v=1.121"></script>
  

</body>
</html>


