@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>项目总览</title>
    
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
   
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css" href="~/Content/viewerJs/viewer.css" />
    <link rel="stylesheet" href="~/Content/css/projectOverview.css?v=1.16" />
    <link rel="stylesheet" href="~/Content/calendar/css/calendar.css?v=1.0">
    <link href="~/Content/timeline/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/modalForm.css?v=1.04" />
    <style type="text/css">
        .CalendarStyle{
            color:#ff6515
        }
    </style>
    
</head>
<body>
   <div id="projectOverview" style="display:none">
       <Spin size="large" fix v-if="loading"></Spin>
     
       <div class="flex-item left" style="height:{{height}}px;">
           <div class="moduleTitle">
               <img src="~/Content/images/project/name.png" />项目名称
           </div>
           <div class="listView">
               <div class="list-item" v-for="(item,index) in proList">
                   <div v-bind:class="{row:true ,'list-item-active':curProIndex === index}"  v-on:click="proClick(index,item.id)">
                       <div class="col col-md-2 iconView">
                           <img src="~/Content/images/project/project.png" class="icon" v-if="curProIndex==index"/>
                           <img src="~/Content/images/project/noclick.png" class="icon" v-else />
                       </div>
                       <div class="col col-md-10 conView">
                           <p>{{item.ProjectName}}</p>
                           <span>合同编号{{item.ConNo}}</span>
                       </div>
                   </div>
               </div>
           </div>
       </div>


       <div class="flex-item right" >
           <div class="right-top">

               <div class="projecInfo">
                   <div class="moduleTitle">
                       <img src="~/Content/images/project/proinfo.png" />项目信息
                       <ul class="stateList">
                           <li><p><span class="state1">{{proInfo.Nok==null?"--":proInfo.Nok}}</span>未完成</p></li>
                           <li><p><span class="state0">{{proInfo.Feedback==null?"--":proInfo.Feedback}}</span>已反馈</p></li>
                           <li><p><span class="state2">{{proInfo.Pending==null?"--":proInfo.Pending}}</span>待处理</p></li>
                           <li><p><span class="state3">--</span>已逾期</p></li>
                           <li><p><span class="state3">--</span>未通过</p></li>
                       </ul>
                   </div>
                   <div class="info">
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">项目名称</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.ProjectName==null?"--":proInfo.ProjectName}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1 leftCol">项目编号</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5 rightCol">{{proInfo.ConNo==null?"--":proInfo.ConNo}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">合同名称</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.conName==null?"--":proInfo.conName}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1  leftCol">项目类型</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5  rightCol">{{proInfo.TypeName==null?"--":proInfo.TypeName}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">客户名称</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.CtrAdmin==null?"--":proInfo.CtrAdmin}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1  leftCol">所属地区</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5  rightCol">{{proInfo.UnitCity==null?"--":proInfo.UnitCity}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">联系人</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.LinkMan==null?"--":proInfo.LinkMan}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1  leftCol">联系电话</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5  rightCol">{{proInfo.Tel==null?"--":proInfo.Tel}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">项目经理</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.person==null?"--":proInfo.person}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1  leftCol">竣工日期</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5  rightCol">{{proInfo.end_time==null?"--":proInfo.end_time}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">预算专员</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.BudgetUser==""?"--":proInfo.BudgetUser}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1  leftCol">合同金额</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5  rightCol">{{proInfo.conMoney==null?"--":proInfo.conMoney}}万</div>
                       </div>
                       <div class="row">
                           <div class="col col-sm-1 col-md-2  col-lg-1 leftCol">工程经理</div>
                           <div class="col col-sm-5 col-md-4  col-lg-5 rightCol">{{proInfo.ProjectManager==""?"--":proInfo.ProjectManager}}</div>
                           <div class="col col-sm-1 col-md-2 col-lg-1  leftCol">回款总额</div>
                           <div class="col col-sm-5 col-md-4 col-lg-5  rightCol">{{proInfo.ReturnedMoney==null?"--":proInfo.ReturnedMoney}}%</div>
                       </div>
                   </div>
               </div>

               <div class="memo">

                   <div class="memoList">
                       <div class="moduleTitle">
                           <img src="~/Content/images/project/bw.png" />备忘提醒
                       </div>
                       <div class="list">
                               <ul>
                                   <div class="scrollView" style="height:180px;overflow-y:auto;width:130%">
                                       <p class="noData" v-if="memorandum.length==0">暂无数据</p>
                                       <li v-for="item in memorandum" v-on:click="matterDetail(item.Type,item.id)"><a href="#" :style="{color:item.isOk!=4?'':'#32b194'}">{{item.Name}}</a></li>
                                       

                                   </div>
                               </ul>
                       </div>
                   </div>

                   <div class="calendarView">

                       <div class="calendarCon">
                           <div id="calendar" class="calendar" v-on:click="getcalendar"></div>
                       </div>
                   </div>

               </div>

           </div>
           <div class="right-bottom" :style="{height:rightBottomHeight}">
               <div class="list">
                   <div class="moduleTitle">
                       <img src="~/Content/images/project/sxjl.png" />事项管理
                       <div class="otherBtn">
                           <button type="button" class="addBtn" v-on:click="showModal(1)" v-if="isHaveRole.isItemAdminUser">+</button>
                       </div>
                       <div class="btn-group matterStateBtn" >
                           <button type="button" class="btn active" v-on:click="isokChange(0,1)">未完成</button>
                           <button type="button" class="btn" v-on:click="isokChange(1,1)">已完成</button>
                       </div>

                   </div>
                   <div class="main">

                           <div class="row titleRow">
                               <div class="col col-md-4">事项名称</div>
                               <div class="col col-md-2">负责人</div>
                               <div class="col col-md-3">结束时间</div>
                               <div class="col col-md-3">状态</div>
                           </div>
                            <div class="view"   :style="{width:rightListWIdth,height:listHeight}">
                                <!--<Spin size="large"  class="spin"></Spin>-->
                                <p class="noData" v-if="matterData.length==0">暂无数据</p>
                                <div class="row" v-on:click="matterDetail(1,item.id)" v-for="item in matterData">
                                    <div class="col col-md-4">{{item.Name}}</div>
                                    <div class="col col-md-2">{{item.person}}</div>
                                    <div class="col col-md-3">{{item.EndTime}}</div>
                                    <div class="col col-md-3" v-if="item.Type==='未通过'" style="color:#d12b1b">{{item.Type}}</div>
                                    <div class="col col-md-3"  v-else-if="item.Type==='已反馈'" style="color:#2097d9">{{item.Type}}</div>
                                    <div class="col col-md-3" v-else-if="item.Type==='待审核'" style="color:#ff6515">{{item.Type}}</div>
                                    <div class="col col-md-3" v-else-if="item.Type==='已逾期'" style="color:#d12b1b">{{item.Type}}</div>
                                    <div class="col col-md-3" v-else >{{item.Type}}</div>
                                </div>
                            </div>
                       </div>
               </div>

               <div class="list">
                   <div class="moduleTitle">
                       <img src="~/Content/images/project/money.png" />资金管理
                       <div class="otherBtn">
                           <button type="button" class="addBtn" v-on:click="showModal(2)" v-if="isHaveRole.isItemAdminUser">+</button>
                       </div>
                       <div class="btn-group moneyStateBtn">
                           <button type="button" class="btn active" v-on:click="isokChange(0,2)">未完成</button>
                           <button type="button" class="btn" v-on:click="isokChange(1,2)">已完成</button>
                       </div>

                   </div>
                   <div class="main">

                       <div class="row titleRow">
                           <div class="col col-md-4">事项名称</div>
                           <div class="col col-md-2">负责人</div>
                           <div class="col col-md-3">结束时间</div>
                           <div class="col col-md-3">状态</div>
                       </div>
                       <div class="view" :style="{width:rightListWIdth,height:listHeight}">
                           <!--<Spin size="large"  class="spin"></Spin>-->
                           <p class="noData" v-if="moneyData.length==0">暂无数据</p>
                           <div class="row" v-on:click="matterDetail(2,item.id)" v-for="item in moneyData">
                               <div class="col col-md-4">{{item.Name}}</div>
                               <div class="col col-md-2">{{item.person}}</div>
                               <div class="col col-md-3">{{item.EndTime}}</div>
                               <div class="col col-md-2" v-if="item.Type==='未通过'" style="color:#d12b1b">{{item.Type}}</div>
                               <div class="col col-md-3" v-if="item.Type==='已反馈'" style="color:#2097d9">{{item.Type}}</div>
                               <div class="col col-md-3" v-else-if="item.Type==='待审核'" style="color:#e1bf4e">{{item.Type}}</div>
                               <div class="col col-md-3" v-else-if="item.Type==='已逾期'" style="color:#d12b1b">{{item.Type}}</div>
                               <div class="col col-md-3" v-else>{{item.Type}}</div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="list">
                   <div class="moduleTitle">
                       <img src="~/Content/images/project/sggl.png" />施工管理
                       <div class="otherBtn">
                           <button type="button" class="addBtn" v-on:click="lohModal()" v-if="isHaveRole.isItemAdminUser">+</button>
                       </div>
                       <div class="btn-group sgStateBtn">
                           <button type="button" class="btn active" v-on:click="isokChange(0,3)">未完成</button>
                           <button type="button" class="btn" v-on:click="isokChange(1,3)">已完成</button>
                       </div>

                   </div>
                   <div class="main">

                       <div class="row titleRow">
                           <div class="col col-md-4">事项名称</div>
                           <div class="col col-md-2">负责人</div>
                           <div class="col col-md-4">结束时间</div>
                           <div class="col col-md-2">状态</div>
                       </div>
                       <div class="view" :style="{width:rightListWIdth,height:listHeight}">
                           <!--<Spin size="large"  class="spin"></Spin>-->
                           <p class="noData" v-if="constructData.length==0">暂无数据</p>
                           <div class="row" v-on:click="matterDetail(3,item.id)" v-for="item in constructData">
                               <div class="col col-md-4">{{item.Name}}</div>
                               <div class="col col-md-2">{{item.person}}</div>
                               <div class="col col-md-4">{{item.EndTime}}</div>
                               <!--<div class="col col-md-2"  :style="{color:item.Type=='已拒接'?'#d12b1b':''}" >{{item.Type}}</div>-->
                               
                               <div class="col col-md-2" v-if="item.Type==='待处理'" style="color:#ff6515">{{item.Type}}</div>
                               <div class="col col-md-3" v-else-if="item.Type==='已逾期'" style="color:#d12b1b">{{item.Type}}</div>
                               <div class="col col-md-2" v-else>{{item.Type}}</div>
                           </div>
                           
                       </div>


                   </div>
               </div>
           </div>

       </div>
       <!---事项记录新增-->
       <Modal v-model="matterVisible" class="iviewModal" :title="modalTitle" mask="true" width="600"  inline
              scrollable="true"
              footer-hide="true"
              v-on:on-visible-change="addVisibleChange">
           <i-form ref="matterForm" :model="matterForm" :rules="matterRules" :label-width="90">
               <table>
                   <tr>
                       <td>
                           <form-item prop="DefTempID" label="事项名称" >
                               <i-select v-model="matterForm.DefTempID"  :label-in-value="true" required="true" v-on:on-change="matterChange">
                                   <template v-if="matterType==1">
                                       <i-option v-for="item in matters1" :value="item.ID" :key="item.ID">{{item.Name}}</i-option>
                                   </template>
                                   <template v-else>
                                       <i-option v-for="item in matters2" :value="item.ID" :key="item.ID">{{item.Name}}</i-option>
                                   </template>
                                   
                                  
                               </i-select>
                           </form-item>
                       </td>
                       <td>
                           <form-item prop="PersonID" label="负责人">
                               <i-select placeholder="请选择负责人" v-model="matterForm.PersonID" filterable>
                                   <i-option v-for="item in people" :value="item.UserID" :key="item.UserID">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                   </tr>
                   <tr >
                       <td colspan="2" v-if="matterType==1">
                           <form-item prop="Name" label="其它说明">
                               <i-input typeof="text" v-model="matterForm.Name" :disabled="decDisabled" class="longForm"></i-input>
                           </form-item>
                       </td>

                   </tr>
                   <tr>

                       <td colspan="2">
                           <form-item prop="PeopleCopied" label="抄送人">
                               <i-select v-model="matterForm.PeopleCopied" multiple placeholder="请选择抄送人"  class="longForm" style="height:26px;width:445px !important" on-change="change">
                                   <i-option v-for="item in people" :value="item.UserID" :key="item.UserID" :disabled="item.disable">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <form-item label="完成时间" prop="EndTime">
                               <date-picker type="date" v-model="matterForm.EndTime"></date-picker>

                           </form-item>
                       </td>
                       <td>
                           <form-item prop="BeforDay" label="提醒时间(天)" v-if="matterType==1">
                               <input-number max="7" min="1" v-model="matterForm.BeforDay"></input-number>
                               
                           </form-item>
                           <form-item prop="Moneys" label="金额" v-if="matterType==2" class="moneyView">
                             
                               <input-number min="1" v-model="matterForm.Moneys" v-on:on-change="moneyChange" ></input-number>
                               <label class="dw" style="left:90px">万元</label>
                               <span style="margin-left:40px;display:inline-block;width:80px;position:absolute;top:2px">{{sumMoney}}%</span>
                           </form-item>
                       </td>
                   </tr>
                   <tr>
                       <td>
                               <label style="font-weight:normal">是否已开具发票</label>
                               <radio-group v-model="matterForm.IsiNvoice" style="display:inline-block;margin:0px 0px 0px 20px">
                                   <Radio label="1">是</Radio>
                                   <Radio label="0">否</Radio>
                               </radio-group>
                           
                        </td>
                       
                       
                   </tr>
                   <tr>
                       <td colspan="3" class="btnTd">
                           <button type="button" class="btn okBtn" v-on:click="addMatter('matterForm')">提交</button>
                           <button type="button" class="btn cancelBtn" v-on:click="matterVisible=false">关闭</button>
                       </td>
                   </tr>
               </table>


           </i-form>

       </Modal>
       <!--施工日志新增-->
       <Modal v-model="logMatterVisible" class="iviewModal" title="新增施工管理" mask="true" width="850" inline
              scrollable="true"
               footer-hide="true"
              v-on:on-visible-change="loaAddVisibleChange">
           <i-form ref="logMatterForm" :model="logMatterForm" :rules="matterRules" :label-width="90">
               <table>
                   <tr>
                       <td>
                           <form-item prop="DefTempID" label="施工事项">
                               <i-select v-model="logMatterForm.DefTempID"disabled  :label-in-value="true" required="true" v-on:on-change="matterChange">
                                  
                                   <i-option v-for="item in matters3" :value="item.ID" :key="item.ID" >{{item.Name}}</i-option>
                               </i-select>
                           </form-item>
                       </td>

                       <td>
                           <form-item prop="StartTime" label="开始日期">
                               <date-picker type="date" v-model="logMatterForm.StartTime"></date-picker>
                           </form-item>

                       </td>
                       <td>
                           <form-item prop="period" label="施工周期(天)">
                               <input-number max="7" min="1" v-model="logMatterForm.period"></input-number>
                           </form-item>

                       </td>
                   </tr>
                   <tr>
                       <td>
                           <form-item prop="PersonID" label="负责人">
                               <i-select placeholder="请选择负责人" v-model="logMatterForm.PersonID" filterable>
                                   <i-option v-for="item in people" :value="item.UserID" k:ey="item.UserID">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                       <td colspan="2">
                           <form-item prop="PeopleCopied" label="抄送人">
                               <i-select v-model="logMatterForm.PeopleCopied " multiple placeholder="请选择抄送人" style="width:445px !important" >
                                   <i-option v-for="item in people" :value="item.UserID" :key="item.UserID"  :disabled="item.disable">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                       

                   </tr>
                   <tr>
                       <td>
                           <form-item prop="Subcontractors" label="分包单位">
                               <i-input typeof="text" v-model="logMatterForm.Subcontractors"  class=""></i-input>

                            </form-item>
                       </td>
                       <td colspan="2">
                            <radio-group v-model="logMatterForm.Isemphasis" style="display:inline-block;margin:8px 0px 0px 20px">
                                   <Radio label="1">是</Radio>
                                   <Radio label="0">否</Radio>
                           </radio-group>
                           <form-item label="包含重点工程" style="display:inline-block" >
                               <i-select  v-model="logMatterForm.emphasisName" multiple  :disabled="logMatterForm.Isemphasis==0" style="width:300px !important">
                                   <i-option value="吊装作业">吊装作业</i-option>
                                   <i-option value="高空作业">高空作业</i-option>
                                   <i-option value="有限空间作业">有限空间作业</i-option>
                                   <i-option value="带电作业">带电作业</i-option>
                               </i-select>

                           </form-item>
                        </td>

                   </tr>
                   <tr>
                       <td colspan="3" class="btnTd">
                           <button type="button" class="btn okBtn" v-on:click="addMatter('logMatterForm')">提交</button>
                           <button type="button" class="btn cancelBtn" v-on:click="logMatterVisible=false">关闭</button>
                       </td>
                   </tr>
               </table>


           </i-form>

       </Modal>
      <!--事项详情-->
       <Modal v-model="editMatterVisible"  class="iviewModal editMatterModal" id="bigImg" title="事项详情" mask="true" width="800" inline
              scrollable="true"
              footer-hide="true"
              :mask-closable="false"
              v-on:on-visible-change="editVisibleChange"
              draggable="true">
           <i-form ref="editForm" :model="editForm" :rules="matterRules" label-width="80" v-if="matterType!=3">
               <table>
                   <tr class="noBottomBorder">
                       <td>
                           <form-item prop="DefTempID" label="事项名称">
                               <i-select v-model="editForm.DefTempID"  :label-in-value="true" :disabled="formDisabled" required="true"  v-on:on-change="editMatterChange">
                                   
                                   <template v-if="matterType==1">
                                       <i-option v-for="item in matters1" :value="item.ID" :key="item.ID">{{item.Name}}</i-option>
                                   </template>
                                   <template v-else>
                                       <i-option v-for="item in matters2" :value="item.ID" :key="item.ID">{{item.Name}}</i-option>
                                   </template>
                               </i-select>
                           </form-item>
                       </td>
                       <td v-if="matterType==1">
                           <form-item prop="Name" label="其它说明">
                               <i-input typeof="text" v-model="editForm.Name" :disabled="editDecDisabled"></i-input>
                           </form-item>

                       </td>
                       <td v-if="matterType==2">
                           <form-item prop="Moneys  " label="金额" v-if="matterType==2" class="moneyView">
                             
                               <input-number min="1" v-model="editForm.Moneys" v-on:on-change="editmoneyChange"  :disabled="formDisabled"></input-number>
                               <label class="dw" style="left:90px">万元</label>
                               <span style="margin-left:40px;display:inline-block;width:80px;position:absolute;top:2px">{{sumMoney}}%</span>
                           </form-item>
                       </td>
                       <td align="right">
                          <i-button icon="ios-create-outline" type="text"  class="editButton" v-on:click="editMatter" v-if="isHaveRole.isItemAdminUser">编辑事项</i-button>
                       </td>
                   </tr>
                   <tr class="nopaddingTop noBottomBorder">
                       <td>
                           <form-item prop="PersonID" label="负责人">
                               <i-select placeholder="请选择负责人" :disabled="formDisabled" v-model="editForm.PersonID" filterable>
                                   <i-option v-for="item in people" :value="item.UserID" :key="item.UserID">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                       <td>
                           <form-item label="完成时间" prop="EndTime">
                               <date-picker type="date" v-model="editForm.EndTime " class="rightDatePicker" :disabled="formDisabled" ></date-picker>
                           </form-item>
                       </td>
                       <td v-if="matterType==2">
                           <label style="font-weight:normal">是否已开具发票</label>
                           <radio-group v-model="editForm.IsiNvoice"  style="display:inline-block;margin:0px 0px 0px 20px">
                               <Radio label=1 :disabled="formDisabled">是</Radio>
                               <Radio label=0 :disabled="formDisabled">否</Radio>
                           </radio-group>
                       </td>
                   </tr>
                   <tr class="nopaddingTop">
                       <td colspan="3">
                           
                           <form-item prop="PeopleCopied" label="抄送人">
                               <i-select v-model="editForm.PeopleCopied " multiple :disabled="formDisabled" style="width:680px!important" on-change="change">
                                    <i-option v-for="item in people" :value="item.UserID" :key="item.UserID" :disabled="item.disable">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                   </tr>

               </table>
           </i-form>
           <!--施工管理编辑-->

           <i-form ref="editLogMatterForm" :model="editLogMatterForm" :rules="matterRules" :label-width="100" v-if="matterType==3">
               <table>
                   <tr class="noBottomBorder">
                       <td>
                           <form-item prop="DefTempID" label="施工事项">
                               <i-select v-model="editLogMatterForm.DefTempID" :label-in-value="true"  required="true" :disabled="formDisabled" v-on:on-change="editMatterChange">
                                  
                                   
                                   <i-option v-for="item in matters3" :value="item.ID" :key="item.ID" disabled>{{item.Name}}</i-option> 
                               </i-select>
                           </form-item>
                       </td>


                       <td >
                           <form-item prop="PersonID" label="负责人">
                               <i-select placeholder="请选择负责人" v-model="editLogMatterForm.PersonID" :disabled="formDisabled" filterable>
                                   <i-option v-for="item in people" :value="item.UserID" :key="item.UserID">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                       <td align="right">
                           <i-button icon="ios-create-outline" type="text" class="editButton" v-on:click="editMatter"  v-if="isHaveRole.isItemAdminUser">编辑事项</i-button>
                       </td>
                   </tr>
                   <tr class="noBottomBorder nopaddingTop">

                       <td >
                           <form-item prop="PeopleCopied" label="抄送人">
                               <i-select v-model="editLogMatterForm.PeopleCopied" multiple placeholder="请选择抄送人" :disabled="formDisabled" style="">
                                   <i-option v-for="item in people" :value="item.UserID" :key="item.UserID" :disabled="item.disable">{{item.UserName}}</i-option>
                               </i-select>
                           </form-item>
                       </td>
                       <td>
                           <form-item prop="StartTime" label="开始日期">
                               <date-picker type="date" v-model="editLogMatterForm.StartTime" :disabled="formDisabled"></date-picker>
                           </form-item>

                       </td>
                       <td>
                           <form-item prop="period" label="施工周期">
                               <input-number max="7" min="1" v-model="editLogMatterForm.period" :disabled="formDisabled"></input-number>
                           </form-item>

                       </td>

                   </tr>
                   <tr class="nopaddingTop">
                       <td>
                           <form-item prop="Subcontractors" label="分包单位">
                               <i-input typeof="text" v-model="editLogMatterForm.Subcontractors" class="" :disabled="formDisabled"></i-input>

                           </form-item>
                       </td>
                       <td colspan="2">
                           <radio-group v-model="editLogMatterForm.Isemphasis" v-on:on-change="IsemphasisChange"  style="display:inline-block;margin:8px 0px 0px 20px">
                               <Radio label="1" :disabled="formDisabled">是</Radio>
                               <Radio label="0" :disabled="formDisabled">否</Radio>
                           </radio-group>
                           <form-item label="包含重点工程" style="display:inline-block">
                                   <i-select v-model="editLogMatterForm.emphasisName" multiple :disabled="logProDIsable" style="width:280px !important">
                                       <i-option value="吊装作业">吊装作业</i-option>
                                       <i-option value="高空作业">高空作业</i-option>
                                       <i-option value="有限空间作业">有限空间作业</i-option>
                                       <i-option value="带电作业">带电作业</i-option>
                                   </i-select>
                               
                              
                               
                               
                           </form-item>
                       </td>

                   </tr>

               </table>


           </i-form>

           <div class="module" id="changImg" v-if="matterType!=3" :style="{display:matterType==3?'none':'block'}">
                   <p class="title">反馈信息</p>
                   <i-table :columns="feedBackColumns" :data="feedBackData" :height="180" id="feedBackImg"></i-table>
                   <div class="title">
                       审批状态
                       <div id="tempUserBtn" style="display:none"> </div>
                       <div id="userButtons" >
                               
                               <i-button v-on:click="searchFile" typeof="button" class="btn" shape="circle" icon="ios-search" size="small" style="background:linear-gradient(to bottom, #7fd4c1 , #5bb09d);" title="查看"
                                         v-if="isHaveRole.isApproversUser ||  isHaveRole.isItemAdminUser" ></i-button>
                               <i-button v-on:click="downloadFile" typeof="button" class="btn" shape="circle" icon="ios-cloud-download-outline" size="small" style="background:linear-gradient(to bottom, #f9bc61 , #efa05e);" title="下载"
                                       v-if="isHaveRole.isApproversUser ||  isHaveRole.isItemAdminUser"  ></i-button>
                               <i-button v-on:click="delFile" typeof="button" class="btn" shape="circle" icon="ios-trash-outline" size="small" style="background:linear-gradient(to bottom, #ec754d , #e76653);" title="删除"
                                         v-if="isHaveRole.isFuZeUser"></i-button>
                               <Upload action="/Home/UploadFile"  class="btn"
                                       :before-upload="beforeUpload"
                                       v-on:on-progress="uploadProgress"
                                       :show-upload-list="uploadListShow"
                                       :on-success="uploadSuccess"
                                       v-if="isHaveRole.isFuZeUser">
                                   <i-button icon="md-add" class="uploadBtn" type="file">上传文件</i-button>

                               </Upload>
                        
                          </div>
                   </div>
                   <i-table :columns="approveColumns" :data="approveData" :height="200" style="clear:both" id="fileTable"
                            v-on:on-selection-change="fileSelectChange"
                            >

                   </i-table>
               
               <p class="lastOperation">最后操作：{{lastLog.UserName}}  {{lastLog.Remarks}}</p>
           </div>
           <div class="module" :style="{display:matterType==3?'block':'none'}">
               <p class="title">早例会</p>
               <table style="width:100%" class="mettingTable"  id="BigImg">
                  
                    <tr>
                       <th style="width:15%">计划内容</th>
                       <td style="width:35%">{{matterDetailInfo.ConstructionContent==null?"--":matterDetailInfo.ConstructionContent}}</td>
                       <th style="width:15%">开始时间</th>
                       <td style="width:35%">{{matterDetailInfo.StartTime==""?"--":matterDetailInfo.StartTime}}</td>
                   </tr>
                   <tr>
                       <th>结束时间</th>
                       <td>{{matterDetailInfo.EndTime==""?"--":matterDetailInfo.EndTime}}</td>
                       <th>计划施工人数</th>
                       <td>{{matterDetailInfo.numberConstruction==null?"--":matterDetailInfo.numberConstruction}}人</td>
                   </tr>
                  
                       
                  
                   <tr>
                       <th>班前会照片</th>
                       <td class="shiftMeetingList" id="shiftMeetingList">
                           <img  v-bind:data-original="img.absolutePath" class="img-rounded" onclick="imClick(this)" v-bind:id="img.ID"  v-bind:src="img.absolutePath" v-for="(img,index) in matterDetailInfo.shiftMeetingList"/>
                          
                       </td>
                       <th>作业现场照片</th>
                       <td class="sceneList" id="sceneList">
                           <img  v-bind:data-original="img.absolutePath" onclick="imClick(this)" v-bind:id="img.ID"  v-bind:src="img.absolutePath" v-for="img in matterDetailInfo.SceneList" />
                       </td>
                   </tr>
                   <tr>
                       <th>工器具照片</th>
                       <td class="toolList" id="toolList" >
                          <img v-bind:data-original="img.absolutePath" onclick="imClick(this)" v-bind:id="img.ID" v-bind:src="img.absolutePath" v-for="img in matterDetailInfo.ToolList" />
                       </td>
                       <th></th>
                       <td>
                       </td>
                   </tr>
                   
               </table>
               <p class="title">晚例会</p>
               <table style="width:100%" class="mettingTable" >
                   <tr>
                       <th style="width:15%">是否完成计划</th>
                       <td style="width:35%">{{matterDetailInfo.Reason==null?"已完成":"未完成"}}</td>
                       <th style="width:15%">未完成原因</th>
                       <td style="width:35%">{{matterDetailInfo.Reason==null?"--":matterDetailInfo.Reason}}</td>
                   </tr>
                   
                  <tr>
                       <th>明日工作计划</th>
                       <td>{{matterDetailInfo.TomorrowWork==null?"--":matterDetailInfo.TomorrowWork}}</td>
                       <th>晚会照片</th>
                       <td class="eveningList" id="eveningList">
                           <img  v-bind:data-original="img.absolutePath" onclick="imClick(this)" v-bind:id="img.ID" v-bind:src="img.absolutePath" v-for="img in matterDetailInfo.EveningList" />
                       </td>
                   </tr>
                    <tr>
                       
                       <th>作业现场照片</th>
                       <td class="eveningScene" id="eveningScene">
                           <img v-bind:data-original="img.absolutePath" onclick="imClick(this)" v-bind:id="img.ID" v-bind:src="img.absolutePath" v-for="img in matterDetailInfo.EveningScene" />
                       </td>
                       <th>过程照片</th>
                       <td class="courseList" id="courseList">
                           <img v-bind:data-original="img.absolutePath" onclick="imClick(this)" v-bind:id="img.ID" v-bind:src="img.absolutePath" v-for="img in matterDetailInfo.CourseList" />
                       </td>
                   </tr>
                    
                   
               </table>
               <p class="lastOperation">最后操作：{{lastLog.UserName}}  {{lastLog.Remarks}}</p>
           </div>
           <div class="moduleFooter">
               <template v-if="tempByID.IsOk !=4">

                   <button type="button" class="btn approveBtn" v-on:click="approval()" v-if="isHaveRole.isApproversUser&&matterType!=3&&approveData.length>0">审批</button>
                   <button type="button" class="btn okBtn" v-on:click="editMatterSubmit()" v-if="editLogMatterForm.IsOk!=4">提交</button>
                   <button type="button" class="btn delBtn" v-on:click="deleteMatter" v-if="isHaveRole.isItemAdminUser">删除事项</button>
               </template>
                   <button type="button" class="btn cancelBtn" v-on:click="editMatterVisible=false">关闭</button>
           </div>
       </Modal>

       <!--编辑原因-->
       <Modal v-model="editReasonVisible" class="iviewModal" title="" mask="true" width="500" inline
              scrollable="true"
              footer-hide="true"
              :mask-closable="false"
              v-on:on-visible-change="reasonVisibleChange"
              :closable="false"
              >
           <i-form ref="reasonForm" :model="reasonForm" :rules="matterRules" label-position="top" style="width:100%">
               <form-item prop="reason">
                    <label>请输入编辑事项及原因</label>
                   <i-input type="textarea" v-model="reasonForm.reason" :autosize="{minRows: 4,maxRows: 5}"  placeholder="填写内容不少于5个字" class="resonText" ></i-input>
               </form-item>
           </i-form>
           <div class="moduleFooter">
               <button type="button" class="btn okBtn" v-on:click="reasonSubmit()">保存</button>
               <button type="button" class="btn cancelBtn" v-on:click="editReasonVisible=false">关闭</button>
               <div class="historyInfo">
                   <p v-for="item in editLog">{{item.Remarks}} &nbsp;&nbsp;&nbsp; {{item.UserName}}</p>
                   
               </div>
           </div>
       </Modal>
       <!--事项审批、事项删除弹框-->
       <Modal v-model="hintModalVisable" class="hintModal" width="300"
              :mask-closable="false"
              :closable="false"
              v-on:on-cancel="approvalOrDelCancel"
              v-on:on-ok="approvalOrDel"
              style="top:250px">
           <div slot="header">
              {{hintInfo.title}}
           </div>
           <div>{{hintInfo.con}}</div>
       </Modal>
       <!--审核状态弹框-->
       <Modal v-model="approvalResultVisable" class="hintModal" width="300"
              mask-closable="false"
              :closable="false"
              v-on:on-cancel=""
              v-on:on-ok=""
              footer-hide="true"
              style="top:250px"
              v-on:on-visible-change="reasonVisibleChange">
           
           <div>
             <img v-bind:src="approvalReult.imgSrc" class="stateImg" />
               <div style="color:#d12b1b" v-if="approvalReult.state==0">{{approvalReult.resultInfo}}</div>
              <div style="color:#5bb09d" v-else>{{approvalReult.resultInfo}}</div>
           </div>
           <div class="borderBtn"  v-if="approvalReult.state==1">
               <button type="button" class="btn searchInfo" v-on:click="approvalSure">确 定</button>
           </div>
           <div v-else class="form">
               <i-form ref="reasonForm" :model="reasonForm" :rules="matterRules" label-position="top" style="width:100%">
                   <form-item prop="reason">
                       <i-input type="text" v-model="reasonForm.reason"  placeholder="请填写未通过原因" class="resonText"></i-input>
                   </form-item>
               </i-form>
               <div class="moduleFooter">
                   <button type="button" class="btn okBtn" v-on:click="noPassSub()">保存</button>
                   <button type="button" class="btn cancelBtn" v-on:click="approvalResultVisable=false">关闭</button>
                   
               </div>
           </div>
       </Modal>
       <!--提交成功提示框-->
       <Modal v-model="successVisable" class="hintModal successMOdal" width="300"
              mask-closable="false"
              closable="false"
              footer-hide="true"
              v-on:on-cancel="approvalOrDelCancel"
              v-on:on-ok="approvalOrDel"
              style="top:250px">
           
           <div class="hintCon">
            <img src="~/Content/images/borderBk.png/success.png" class="stateImg" />
            <span class="hintInfo" style="line-height:30px">提交成功，请等待审核结果</span>
           </div>
           <div class="moduleFooter">
               <button type="button" class="btn searchDatailBtn" v-on:click="searchDetail()">查看详情</button>
               <button type="button" class="btn backMatterBtn" v-on:click="backMatter()">返回事项</button>
               
           </div>
       </Modal>
       
    </div>

    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/viewerJs/viewer.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/calendar/js/calendar.js?v=1.08"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>

    <script type="text/javascript" src="~/Content/UserJS/ProjectOverview._zc.js?v=1.105"></script>
    
    <script type="text/javascript">
       
        setTimeout(function () {
            $("#projectOverview").show()
        }, 100)

        
      
        $("table").delegate(".ivu-btn-error", "click", function () {
            $(this).parents("tr").remove()
        });
        
    </script>
 
</body>
</html>


