@{ Layout = null; }
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>分项用电</title>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <style>
        .main {
            width:600px;
            height:600px;
        }
        div{
            border:1px solid #ddd;
        }
        .sum{
            display:flex;
        }
        .sum>div{
            
        }
    </style>
</head>
<body>


    <div class="main sum">
        <div>123</div>
        <div>123</div>
        <div>123</div>
        <div>123</div>


    </div>













   
    <script>




        let traverseTree = function (Children, el) {

            let sum = document.createElement('div');
            sum.className = "sum";
            sum.innerHTML = '1';
            el.appendChild(sum);

            if (Children.length != 0) {
                for (let a = 0; a < Children.length; a++) {
                    if (Children[a].Children.length != 0) {



                        sum.innerHTML = 2;

                        traverseTree(Children[a].Children, el);
                    } else {
                        sum.innerHTML = 3;

                        //创建子节点
                        console.log(Children[a])
                    }
                }
            } 
        }
    </script>



</body>
</html>