@{ Layout = null; }
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    @*
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">*@

    <link rel="stylesheet" href="~/Content/iview/dist/styles/iview.css">
    <link href="~/Content/css/AreaTreeEdit.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>

</head>

<body>
    <div id="app">
        <div class="layout">
            <Layout>
                <Sider hide-trigger :style="{background: '#fff'}">
                    <i-Menu :active-name="UnitData.UnitID" theme="light" width="auto" :open-names="['1']" ref="side_menu"
                            v-on:on-select="changeUnitID">
                        <Submenu name="1">

                            <template slot="title">
                                <Icon type="ios-navigate"></Icon> 单位
                            </template>
                            <menu-item v-for="(itme,index) in untiList" :name="itme.UnitID" :key="index" :data-pids="itme.PDRList"
                                       :style="{'border-buttom':'1px soldi #000'}">{{itme.UnitName}}</menu-item>
                        </Submenu>
                    </i-Menu>
                </Sider>
                <Layout :style="{padding: '0 24px 0px','overflow':'hidden'}">
                    <Content :style="{padding: '24px', minHeight: '280px', background: '#fff', 'flex-grow': '1'}">
                        <Tabs type="card" :animated="false" v-model="treeType" :value="1" v-on:on-click="changeTab">
                            <tab-pane label="用电分项树" :name="'1'" icon="ios-leaf"></tab-pane>
                            <tab-pane label="组织区域树" :name="'2'" icon="md-pie"></tab-pane>
                        </Tabs>

                        <Row style="background:#eee;padding:20px;height:810px;overflow:hidden">
                            <i-col span="12">
                                <Card :bordered="false">
                                    <p slot="title">{{UnitData.UnitName}}——{{treeType == 1?"用电分项树":"组织区域树"}}</p>
                                    <tree :data="treeType == 1 ? subitemTree: areaTree" :render="renderContent" :style="{'height':'100%','overflow-y':'auto','overflow-x':'hidden','width':'110%','padding-right':'10%'}"
                                          ref="tree">
                                    </tree>
                                </Card>
                            </i-col>
                            <i-col span="11" offset="1">
                                <Card>
                                    <p slot="title">
                                        {{this.nodeEditTyped == 'add'?'添加' :this.nodeEditTyped ==
                                        'upd'?'修改':'查看'}}
                                        <span v-show="node.title">-</span>{{node.title}}
                                    </p>
                                    <form class="form-horizontal" id="form" style="padding:10px;height:90%;overflow-y:auto;margin-bottom:25px;">
                                        <div class="form-group">
                                            <label for="name">名称</label>
                                            <i-input type="text" :id="'name'" v-model="node.title" :disabled="nodeEditTyped == 'sea'">
                                        </div>
                                        <div class="form-group">
                                            <label for="area">面积</label>
                                            <i-input type="text" :id="'area'" v-model="node.area" :disabled="nodeEditTyped == 'sea'">
                                        </div>
                                        <div class="form-group" v-show="treeType==2">
                                            <label for="head">负责人</label>
                                            <i-input type="text" :id="'head'" v-model="node.head" :disabled="nodeEditTyped == 'sea'">
                                        </div>
                                        <div class="form-group" v-show="treeType==1">
                                            <label for="people">人数</label>
                                            <i-input type="text" :id="'people'" v-model="node.people" :disabled="nodeEditTyped == 'sea'">
                                        </div>
                                        <div class="form-group">
                                            <label for="note">备注</label>
                                            <i-input type="text" :id="'note'" v-model="node.note" :disabled="nodeEditTyped == 'sea'">
                                        </div>
                                        <div class="form-group">
                                            <label for="addCid">
                                                累加电表 <i-button type="primary" size="small" icon="md-add"
                                                                v-on:click="showCidModel('add')" ghost :disabled="nodeEditTyped == 'sea'"></i-button>
                                            </label>
                                            <div :rows="4" v-model="addCid" class="cidbox" style="padding:8px">
                                                <Tag closable v-on:on-close="handleClose(parseInt(itme.id),'add')"
                                                        v-for="(itme,index) in addCid" :id="parseInt(itme.id)" :key="index">{{itme.title}}</Tag>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="delCid">
                                                累减电表 <i-button type="primary" size="small" icon="md-add"
                                                                v-on:click="showCidModel('del')" ghost :disabled="nodeEditTyped == 'sea'"></i-button>
                                            </label>
                                            <div :rows="4" v-model="delCid" class="cidbox" style="padding:8px">
                                                <Tag closable v-on:on-close="handleClose(parseInt(itme.id),'del')"
                                                        v-for="(itme,index) in  delCid" :id="parseInt(itme.id)" :key="index">{{itme.title}}</Tag>
                                            </div>
                                        </div>
                                    </form>

                                    <row>
                                        <i-col span="8" offset="8">
                                            <i-button type="primary" element-id="form" v-on:click="submitForm" :style="{'width':'100%'}"
                                                      v-show="nodeEditTyped != 'sea'">保存</i-button>
                                        </i-col>
                                    </row>
                                </Card>
                            </i-col>
                        </Row>
                    </Content>
                </Layout>
            </Layout>
        </div>
            <modal :title="UnitData.UnitName" v-model="modal1" v-on:on-ok="ModalonOk" v-on:on-cancel="ModalonCancel">
                <Tree :data="cidTree" show-checkbox :style="{'height':'500px','width':'100%','overflow-y': 'auto;','overflow-x': 'hidden'}"
                      v-on:on-check-change="selectedCidNode"></Tree>
            </modal>
    </div>

    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/iview/dist/iview.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script src="~/Content/js/AreaTreeEdit.js"></script>

</body>

</html>