@{ Layout = null; }
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/OrganizeAreaTreeEdit.css?date=23" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="title">
        <div class="edit">
            <select class="form-control" id="unitList"></select>
            <button class="btn btn-default readt">查询</button>
            <button class="btn btn-default createt">新增</button>
            <button class="btn btn-default deletet">删除</button>
            <button class="btn btn-default updatet">编辑</button>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <ul id="Organization" class="ztree"></ul>
        </div>
        <div class="right">
            <div>
                <h4 style="text-align: right;" id="title"></h4>
                <div class="form-group">
                    <label for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="name" list="areaedList">
                    <datalist id="areaedList"> </datalist>
                </div>
                <div class="form-group">
                    <label for="officer">信息负责人</label>
                    <input type="text" class="form-control" id="officer" placeholder="Information officer">
                </div>
                <div class="form-group">
                    <label for="note">备注</label>
                    <input type="text" class="form-control" id="note" placeholder="note">
                </div>
                <div class="form-group">
                    <label for="note">面积</label>
                    <input type="text" class="form-control" id="area" placeholder="area" maxlneght="10">
                </div>
                <div class="form-group">
                    <label for="note">人数</label>
                    <input type="text" class="form-control" id="people" placeholder="people" maxlneght="10">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">统计能耗仪表（加数）</label>
                    <div class="form-control addition add" data-toggle="modal" data-target="#myModal"></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">统计能耗仪表（减数）</label>
                    <div class="form-control  reduction del" data-toggle="modal" data-target="#myModal"></div>
                </div>
            </div>
            <button type="button" class="btn btn-default saveupdate offOut">确 认</button>
            <button type="button" class="btn btn-default offupdate offOut">取 消</button>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div style="height:450px;overflow-y:auto">
                        <ul id="meterztree" class="ztree"></ul>
                        <p style='color: #999;' class="nometer">暂无数据</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default getselect " data-dismiss="modal">确定</button>
                    <button type="button" class="btn btn-default noselect" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/ztree/js/jquery.ztree.all.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.bundle.js"></script>
    <script src="~/Content/js/treeEditor.js"></script>

    <script>
    </script>
</body>

</html>