html {
    background: #fff;
    display: flex;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 8px 30px;
    flex-grow: 1;
}

.title {
    display: flex;
    height: 60px;
    padding-left: 30px;
}

.edit {
    min-width: 48%;
    display: flex;
    align-items: center;
}

.edit>* {
    margin-right: 15px;
}

.main {
    height: 90%;
    position: relative;
    margin: 30px;
}

.right {
    width: 40%;
    min-width: 450px;
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 0px;
    border: 1px solid #999;
    height: 100%;
}

.left {
    border: 1px solid #999;
    height: 100%;
    overflow: hidden;
}

.right {
    display: none;
}

.edit .form-control {
    width: 150px;
    display: inline-block;
}

.right {
    padding: 8px 30px;
}

div.form-control {
    overflow-y: auto;
    height: 150px;
    display: inline-block;
}

.more {
    display: inline-block !important;
    position: relative;
    right: 0px;
    top: -5px;
}

.btn.btn-default {
    background: #fff;
    border-color: #ced4da;
}

.btn-default:hover {
    background: #999;
}

button.close {
    position: absolute;
    right: 10px;
}

.right .btn {
    width: 130px;
}

.meter .close {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
}

.meter:hover {
    background: #999;
}

.nometer {
    display: none;
}

.meter {
    padding: 8px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: .3rem;
    display: inline-block;
    line-height: 30px;
}

.modal-body {
    background: #F0F6E4;
}

#Organization * {
    font-size: 18px;
}

.left {
    background: #F0F6E4;
    border-radius: 7px;
}

.right {
    background: #fff;
    border-radius: 0px 7px 7px 0px;
    border-right-style: dotted !important;
}

.right_body {
    height: 85%;
    overflow-y: auto;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 10px 5px;
    margin: 10px 5px;
    width: 111%;
    padding-right: 15%;
}

.right_foot {
    height: 40px;
    display: flex;
    justify-content: space-around;
}