.reportView div {
    overflow-x: hidden !important
}
.heihgt100{
    height:100%
}
.reportView {
    width: 100%;
    height: 100%;
    border: 1px solid #777;
    color:#333;
    clear:both
    
}
    .reportView .title{
        text-align:center;
        font-size:18px;
        font-weight:bold;
        padding:10px 0px;
        border-bottom:1px solid #777
    }
    .reportView .stationName {
        padding: 5px 0px;
        font-size: 15px;
        font-weight: bold;
        border-bottom: 1px solid #777;
    }
    .reportView .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
.flex-1 {
    -webkit-flex: 1;
    flex: 1;
}
.flex-2 {
    -webkit-flex: 2;
    flex: 2;
}
.flex-24 {
    -webkit-flex: 24;
    flex: 24;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    /* overflow-x: hidden;*/
}
.flex-12 {
    -webkit-flex: 12;
    flex: 12;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex-14 {
    -webkit-flex: 14;
    flex: 14;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center
}
.flex-26 {
    -webkit-flex: 26;
    flex: 26;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center
}
.monthFlex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* overflow-x: hidden;*/
    text-align: center
}
.flex-1_5 {
    -webkit-flex: 1.5;
    flex: 1.5
}
.flex-item {
    /* overflow-x: hidden;*/
    word-break: break-all;
    word-wrap: break-word;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    font-size: 12px !important
}
.noBorder{
    border:none
}
    .noBorder .flex-item:last-child {
        border-right: 0px
    }
.row:last-child .outView:last-child {
    border-bottom: 0px
}

.row .flex-item:first-child {
    border-left: 0px
}
.center {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items:center;
    align-items:center
}

#buildReport,#DistributionReport {
    padding: 10px;
    overflow: hidden
}
.tree-icon {
    display: none !important
}
.formLabel{
    float:left;
    margin-top:3px
}
.searchrow{
    margin-bottom:10px
}
.searchbutton{
    margin-bottom:10px
}
.btn {
    color: #fff;
    background: #54beaa;
    font-size: 1.2rem;
    padding: 2px 10px;
    float: right;
    margin-top: 2px;
    border:none !important;
    outline:none;
    margin-right:5px
}
    .btn:hover {
        color: #fff;
        background: #54beaa;
    }


#buildReport .reportView {
    width: 100%;
    height: auto;
    border: 0px;
    overflow: hidden;
    min-height: 250px
}



.buildTable {
    width: 100%
}
    .buildTable td, .buildTable th {
        border: 0.5px solid #777;
        border-collapse: collapse;
        padding: 2px;
        word-wrap: break-word;
        word-break: break-all;
        font-size:12px
    }
    .buildTable th{
        text-align:center
    }
    .buildTable .nameCol{
        min-width:100px
    }
    .buildTable .caption {
        border: 1px solid #777;
        border-bottom: 0px;
        font-weight:bold;
        font-size:18px;
        padding:10px 0px;
        text-align:center;
        color:#333


    }



.newReport {
    width: 100%;
    height: 100%;
    color: #333;
    clear: both;
    margin-top:30px;
    min-height:300px

}
    .newReport div {
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
    }
.newReport .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
    border: 1px solid #777;
    border-bottom: 0px
}
    .newReport .stationName {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0px;
        border: 1px solid #777;
        border-bottom: 0px
    }
    .newReport .row {
        display: flex;
        flex-direction: row;
        border: 1px solid #777;
        border-bottom: 0px;
        
    }
        .newReport .row div {
            font-size: 12px !important;
        }
        .newReport .row .flex-1_5 {
            flex: 1.5;
            justify-content: center;
            align-items: center
        }
        .newReport .row .flex-2 {
            flex: 2;
            justify-content: center;
            align-items: center
        }
        .newReport .row .flex-3-5 {
            flex: 3.5;
        }
            .newReport .row .flex-1{
                flex:1;
                
            }
            .newReport .borderRight {
                /*border-right: 1px solid #777;*/
                position:relative
                
            }
                .newReport .borderRight::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    background-color: #777;
                    top: 0;
                    right: 0;
                }
                .newReport .timesView {
                    display: flex;
                    flex-direction: row;
                }
    .newReport .center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .newReport .borderBottom {
        border-bottom: 1px solid #777
    }
    .newReport .row .borderBottom:last-child{
        border-bottom:0px
    }
    .newReport .total{
        display:flex;
        flex-direction:row;
        
    }
    .newReport .totalRow {
        border-bottom: 1px solid #777
    }


   