/**/
.plancontent {background: url(../pingmiantu/dt1.png) no-repeat; position: relative;}
.pic1 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:373px; top:45px; width:76px; height:208px; z-index:1;}
.pic2 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:439px; top:45px; width:76px; height:208px; z-index:1;}
.pic3 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:505px; top:45px; width:76px; height:208px; z-index:1;}
.pic4 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:571px; top:45px; width:76px; height:208px; z-index:1;}
.pic5 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:637px; top:45px; width:76px; height:208px; z-index:1;}
.pic6 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:703px; top:45px; width:76px; height:208px; z-index:1;}
.label7{ left:390px;  top:269px;}
.label8{ left:456px;  top:269px;}
.label9{ left:524px;  top:269px;}
.label10{ left:591px;  top:269px;}
.label11{ left:656px;  top:269px;}
.label12{ left:721px;  top:269px;}
.pic13 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:769px; top:45px; width:76px; height:208px; z-index:1;}
.pic14 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:835px; top:45px; width:76px; height:208px; z-index:1;}
.label15{ left:790px;  top:269px;}
.label16{ left:853px;  top:269px;}
