/**/
.plancontent {background: url(../pingmiantu/四川博高.png) no-repeat; position: relative;}
.pic2 {background: url(../pingmiantu/变压器.png) no-repeat;  background-size: 200px;px 200px;px;left:18px; top:166px; width:200px; height:200px; z-index:1;}
.pic3 {background: url(../pingmiantu/高压柜左_.png) no-repeat; background-size: 72px;px 172px;px; left:334px; top:192px; width:72px; height:172px; z-index:1;}
.pic5 {background: url(../pingmiantu/高压柜左_.png) no-repeat; background-size: 72px;px 172px;px; left:319px; top:224px; width:72px; height:172px; z-index:1;}
.pic6 {background: url(../pingmiantu/高压柜左_.png) no-repeat; background-size: 72px;px 172px;px; left:303px; top:256px; width:72px; height:172px; z-index:1;}
.pic7 {background: url(../pingmiantu/高压柜左_.png) no-repeat; background-size: 72px;px 172px;px; left:287px; top:288px; width:72px; height:172px; z-index:1;}
.pic8 {background: url(../pingmiantu/高压柜左_.png) no-repeat; background-size: 72px;px 172px;px; left:271px; top:320px; width:72px; height:172px; z-index:1;}
.pic9 {background: url(../pingmiantu/变压器_.png) no-repeat; background-size: 122px;px 122px;px; left:606px; top:211px; width:122px; height:122px; z-index:1;}
.pic10 {background: url(../pingmiantu/变压器_.png) no-repeat; background-size: 129px;px 130px;px; left:592px; top:365px; width:129px; height:130px; z-index:1;}
.pic11 {background: url(../pingmiantu/低压柜正.png) no-repeat;  background-size: 60px;px 157px;px;left:880px; top:159px; width:60px; height:157px; z-index:1;}
.pic12 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:933px; top:159px; width:60px; height:157px; z-index:1;}
.pic13 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:986px; top:159px; width:60px; height:157px; z-index:1;}
.pic14 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:1039px; top:159px; width:60px; height:157px; z-index:1;}
.pic15 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:1093px; top:159px; width:60px; height:157px; z-index:1;}
.pic16 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:1146px; top:159px; width:60px; height:157px; z-index:1;}
.pic17 {background: url(../pingmiantu/低压柜正.png) no-repeat;  background-size: 60px;px 157px;px;left:878px; top:344px; width:60px; height:157px; z-index:1;}
.pic18 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:931px; top:344px; width:60px; height:157px; z-index:1;}
.pic19 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:984px; top:344px; width:60px; height:157px; z-index:1;}
.pic20 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:1037px; top:344px; width:60px; height:157px; z-index:1;}
.pic21 {background: url(../pingmiantu/低压柜正_.png) no-repeat; background-size: 60px;px 157px;px; left:1091px; top:344px; width:60px; height:157px; z-index:1;}
.label22{ left:78px;  top:139px;}
.label23{ left:621px;  top:338px;}
.label24{ left:614px;  top:503px;}
.label25{ left:880px;  top:319px;}
.label26{ left:935px;  top:319px;}
.label27{ left:988px;  top:319px;}
.label28{ left:1041px;  top:319px;}
.label29{ left:1096px;  top:319px;}
.label30{ left:1148px;  top:319px;}
.label31{ left:878px;  top:506px;}
.label32{ left:932px;  top:506px;}
.label33{ left:988px;  top:506px;}
.label34{ left:1041px;  top:506px;}
.label35{ left:1095px;  top:506px;}
