/**/
.plancontent {background: url(../pingmiantu/dt1.png) no-repeat;position: relative;}
.pic2 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:283px; top:45px; width:76px; height:208px; z-index:1;}
.pic3 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:349px; top:45px; width:76px; height:208px; z-index:1;}
.pic4 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:415px; top:45px; width:76px; height:208px; z-index:1;}
.pic5 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:481px; top:45px; width:76px; height:208px; z-index:1;}
.pic6 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:547px; top:45px; width:76px; height:208px; z-index:1;}
.pic7 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:613px; top:45px; width:76px; height:208px; z-index:1;}
.pic8 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:679px; top:45px; width:76px; height:208px; z-index:1;}
.pic9 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:745px; top:45px; width:76px; height:208px; z-index:1;}
.pic10 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:811px; top:45px; width:76px; height:208px; z-index:1;}
.pic11 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:877px; top:45px; width:76px; height:208px; z-index:1;}
.label12{ left:300px;  top:265px;}
.label13{ left:368px;  top:265px;}
.label14{ left:433px;  top:265px;}
.label15{ left:499px;  top:265px;}
.label16{ left:565px;  top:265px;}
.label17{ left:632px;  top:265px;}
.label18{ left:698px;  top:265px;}
.label19{ left:764px;  top:265px;}
.label20{ left:830px;  top:265px;}
.label21{ left:892px;  top:265px;}
