/**/
.plancontent {background: url(../pingmiantu/北人地板.png) no-repeat; position: relative;}
.pic1 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:271px; top:66px; width:76px; height:208px; z-index:1;}
.pic2 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:338px; top:66px; width:76px; height:208px; z-index:1;}
.pic4 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:405px; top:66px; width:76px; height:208px; z-index:1;}
.pic7 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:472px; top:66px; width:76px; height:208px; z-index:1;}
.pic8 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:538px; top:66px; width:76px; height:208px; z-index:1;}
.pic9 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:605px; top:66px; width:76px; height:208px; z-index:1;}
.pic12 {background: url(../pingmiantu/高压柜正_.png) no-repeat;  left:793px; top:67px; width:76px; height:208px; z-index:1;}
.pic13 {background: url(../pingmiantu/高压柜正_.png) no-repeat;  left:264px; top:313px; width:76px; height:208px; z-index:1;}
.pic14 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:330px; top:313px; width:76px; height:208px; z-index:1;}
.pic15 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:396px; top:313px; width:76px; height:208px; z-index:1;}
.pic16 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:462px; top:313px; width:76px; height:208px; z-index:1;}
.pic17 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:528px; top:313px; width:76px; height:208px; z-index:1;}
.pic18 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:594px; top:313px; width:76px; height:208px; z-index:1;}
.pic19 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:660px; top:313px; width:76px; height:208px; z-index:1;}
.pic20 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:793px; top:313px; width:76px; height:208px; z-index:1;}
.pic21 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:859px; top:313px; width:76px; height:208px; z-index:1;}
.pic22 {background: url(../pingmiantu/高压柜正_.png) no-repeat;  left:925px; top:313px; width:76px; height:208px; z-index:1;}
.pic23 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:991px; top:313px; width:76px; height:208px; z-index:1;}
.pic24 {background: url(../pingmiantu/高压柜正_.png) no-repeat;  left:1057px; top:313px; width:76px; height:208px; z-index:1;}
.pic25 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:859px; top:67px; width:76px; height:208px; z-index:1;}
.pic26 {background: url(../pingmiantu/高压柜正_.png) no-repeat;  left:925px; top:67px; width:76px; height:208px; z-index:1;}
.label27{ left:1075px;  top:532px;}
.label28{ left:1012px;  top:532px;}
.label29{ left:940px;  top:532px;}
.label30{ left:877px;  top:532px;}
.label31{ left:809px;  top:532px;}
.label32{ left:677px;  top:532px;}
.label33{ left:611px;  top:532px;}
.label34{ left:544px;  top:532px;}
.label35{ left:481px;  top:532px;}
.label36{ left:408px;  top:532px;}
.label37{ left:342px;  top:532px;}
.label38{ left:275px;  top:532px;}
.label39{ left:276px;  top:286px;}
.label40{ left:343px;  top:286px;}
.label41{ left:410px;  top:286px;}
.label42{ left:476px;  top:286px;}
.label43{ left:543px;  top:286px;}
.label44{ left:608px;  top:286px;}
.label45{ left:676px;  top:286px;}
.label46{ left:808px;  top:286px;}
.label47{ left:874px;  top:286px;}
.label48{ left:937px;  top:286px;}
.pic49 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:672px; top:66px; width:76px; height:208px; z-index:1;}
