/**/
.plancontent {background: url(../pingmiantu/北人平面图.png) no-repeat; position: relative;}
.label27{ left:198px;  top:225px;}
.label29{ left:247px;  top:225px;}
.label30{ left:298px;  top:225px;}
.label34{ left:348px;  top:225px;}
.label35{ left:401px;  top:225px;}
.label36{ left:452px;  top:225px;}
.label37{ left:500px;  top:225px;}
.label38{ left:548px;  top:225px;}
.label39{ left:598px;  top:225px;}
.label40{ left:193px;  top:446px;}
.label41{ left:246px;  top:446px;}
.label42{ left:295px;  top:446px;}
.label43{ left:347px;  top:446px;}
.label44{ left:396px;  top:446px;}
.label45{ left:449px;  top:446px;}
.label46{ left:497px;  top:446px;}
.label47{ left:547px;  top:446px;}
.pic89 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 54px;px 119px;px; left:196px; top:78px; width:54px; height:139px; z-index:1;}
.pic90 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 54px;px 120px;px; left:196px; top:301px; width:54px; height:139px; z-index:1;}
.pic91 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 118px;px;left:247px; top:78px; width:54px; height:139px; z-index:1;}
.pic92 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 53px;px 120px;px; left:297px; top:78px; width:53px; height:139px; z-index:1;}
.pic93 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 53px;px 120px;px;left:347px; top:78px; width:53px; height:139px; z-index:1;}
.pic94 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 119px;px;left:396px; top:78px; width:54px; height:139px; z-index:1;}
.pic95 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 53px;px 118px;px;left:448px; top:78px; width:53px; height:139px; z-index:1;}
.pic96 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 53px;px 121px;px;left:497px; top:78px; width:53px; height:139px; z-index:1;}
.pic97 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 53px;px 119px;px;left:545px; top:78px; width:53px; height:139px; z-index:1;}
.pic98 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 120px;px;left:593px; top:78px; width:54px; height:139px; z-index:1;}
.pic99 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 119px;px;left:247px; top:301px; width:54px; height:139px; z-index:1;}
.pic100 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 53px;px 119px;px; left:297px; top:301px; width:53px; height:139px; z-index:1;}
.pic101 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 55px;px 121px;px;left:347px; top:301px; width:55px; height:139px; z-index:1;}
.pic102 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 121px;px;left:396px; top:301px; width:54px; height:139px; z-index:1;}
.pic103 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 55px;px 118px;px;left:448px; top:301px; width:55px; height:139px; z-index:1;}
.pic104 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 121px;px;left:497px; top:301px; width:54px; height:139px; z-index:1;}
.pic105 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 54px;px 120px;px;left:545px; top:301px; width:54px; height:139px; z-index:1;}
.pic106 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 54px;px 120px;px; left:593px; top:301px; width:54px; height:139px; z-index:1;}
.label107{ left:595px;  top:446px;}
.pic108 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 52px;px 118px;px; left:825px; top:168px; width:52px; height:139px; z-index:1;}
.pic109 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 52px;px 118px;px;left:870px; top:168px; width:52px; height:139px; z-index:1;}
.pic110 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 51px;px 118px;px;left:915px; top:168px; width:51px; height:139px; z-index:1;}
.pic111 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 51px;px 119px;px; left:959px; top:168px; width:51px; height:139px; z-index:1;}
.pic112 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 50px;px 118px;px; left:1163px; top:168px; width:50px; height:139px; z-index:1;}
.pic113 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 50px;px 120px;px;left:1210px; top:168px; width:50px; height:139px; z-index:1;}
.pic114 {background: url(../pingmiantu/高压柜正.png) no-repeat;  background-size: 52px;px 117px;px;left:1256px; top:168px; width:52px; height:139px; z-index:1;}
.pic115 {background: url(../pingmiantu/高压柜正_.png) no-repeat; background-size: 52px;px 119px;px; left:1304px; top:168px; width:52px; height:139px; z-index:1;}
.label116{ left:826px;  top:312px;}
.label117{ left:873px;  top:312px;}
.label118{ left:918px;  top:312px;}
.label119{ left:964px;  top:312px;}
.label120{ left:1165px;  top:314px;}
.label121{ left:1213px;  top:314px;}
.label122{ left:1260px;  top:314px;}
.label123{ left:1307px;  top:314px;}
.pic124 {background: url(../pingmiantu/变压器_.png) no-repeat; background-size: 73px;px 71px;px; left:1008px; top:237px; width:73px; height:71px; z-index:1;}
.pic125 {background: url(../pingmiantu/变压器_.png) no-repeat; background-size: 69px;px 71px;px; left:1092px; top:238px; width:69px; height:71px; z-index:1;}
.pic126 {background: url(../pingmiantu/变压器_.png) no-repeat; background-size: 74px;px 72px;px; left:1009px; top:360px; width:74px; height:72px; z-index:1;}
.pic127 {background: url(../pingmiantu/变压器_.png) no-repeat; background-size: 71px;px 72px;px; left:1097px; top:360px; width:71px; height:72px; z-index:1;}
.label128{ left:1009px;  top:314px;}
.label129{ left:1006px;  top:438px;}
.label130{ left:1091px;  top:314px;}
.label131{ left:1103px;  top:438px;}
