/**/
.plancontent {background: url(../pingmiantu/dt1.png) no-repeat; position: relative;}
.pic1 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:536px; top:20px; width:76px; height:208px; z-index:1;}
.pic2 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:602px; top:20px; width:76px; height:208px; z-index:1;}
.pic3 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:668px; top:20px; width:76px; height:208px; z-index:1;}
.pic4 {background: url(../pingmiantu/高压柜正.png) no-repeat;  left:734px; top:20px; width:76px; height:208px; z-index:1;}
.label5{ left:554px;  top:240px;}
.label6{ left:621px;  top:240px;}
.label7{ left:684px;  top:240px;}
.label8{ left:751px;  top:240px;}
