/*region*/
.page_content{background: url(../yicitu/p177_87.png) no-repeat;cursor:default !important;position: relative;}
/*3AA1*/
.w171 {left:132px; top:184px;width:16px; height:16px;}
/*3AA2*/
.w172 {left:382px; top:120px;width:16px; height:16px;}
/*3AA2*/
.w173 {left:382px; top:166px;width:16px; height:16px;}
/*3AA2*/
.w174 {left:382px; top:212px;width:16px; height:16px;}
/*3AA2*/
.w175 {left:382px; top:258px;width:16px; height:16px;}
/*3AA2*/
.w176 {left:382px; top:304px;width:16px; height:16px;}
/*3AA2*/
.w177 {left:382px; top:350px;width:16px; height:16px;}
/*3AA3*/
.w178 {left:574px; top:120px;width:16px; height:16px;}
/*3AA3*/
.w179 {left:574px; top:166px;width:16px; height:16px;}
/*3AA3*/
.w180 {left:574px; top:212px;width:16px; height:16px;}
/*3AA3*/
.w181 {left:574px; top:257px;width:16px; height:16px;}
/*3AA3*/
.w182 {left:574px; top:304px;width:16px; height:16px;}
/*3AA3*/
.w183 {left:574px; top:349px;width:16px; height:16px;}
/*3AA4*/
.w184 {left:800px; top:126px;width:16px; height:16px;}
/*3AA5*/
.w185 {left:941px; top:228px;width:16px; height:16px;}
/*3AA6*/
.w186 {left:1272px; top:119px;width:16px; height:16px;}
/*3AA6*/
.w187 {left:1272px; top:165px;width:16px; height:16px;}
/*3AA6*/
.w188 {left:1272px; top:210px;width:16px; height:16px;}
/*3AA6*/
.w189 {left:1272px; top:257px;width:16px; height:16px;}
/*3AA6*/
.w190 {left:1272px; top:303px;width:16px; height:16px;}
/*3AA6*/
.w191 {left:1272px; top:351px;width:16px; height:16px;}
/*4AA1*/
.w192 {left:127px; top:537px;width:16px; height:16px;}
/*4AA2*/
.w193 {left:381px; top:471px;width:16px; height:16px;}
/*4AA2*/
.w194 {left:381px; top:519px;width:16px; height:16px;}
/*4AA2*/
.w195 {left:381px; top:565px;width:16px; height:16px;}
/*4AA2*/
.w196 {left:381px; top:611px;width:16px; height:16px;}
/*4AA2*/
.w197 {left:381px; top:657px;width:16px; height:16px;}
/*4AA2*/
.w198 {left:381px; top:703px;width:16px; height:16px;}
/*4AA3*/
.w199 {left:563px; top:471px;width:16px; height:16px;}
/*4AA3*/
.w200 {left:563px; top:517px;width:16px; height:16px;}
/*4AA3*/
.w201 {left:563px; top:563px;width:16px; height:16px;}
/*4AA3*/
.w202 {left:563px; top:610px;width:16px; height:16px;}
/*4AA3*/
.w203 {left:563px; top:655px;width:16px; height:16px;}
/*4AA3*/
.w204 {left:563px; top:701px;width:16px; height:16px;}
/*4AA4*/
.w205 {left:791px; top:480px;width:16px; height:16px;}
/*4AA5*/
.w206 {left:1004px; top:469px;width:16px; height:16px;}
/*4AA5*/
.w207 {left:1004px; top:515px;width:16px; height:16px;}
/*4AA5*/
.w208 {left:1004px; top:561px;width:16px; height:16px;}
/*4AA5*/
.w209 {left:1004px; top:608px;width:16px; height:16px;}
/*4AA5*/
.w210 {left:1004px; top:653px;width:16px; height:16px;}
/*4AA5*/
.w211 {left:1004px; top:700px;width:16px; height:16px;}
