/*region*/
.page_content{background: url(../yicitu/p1_2.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g1112 {left:384px; top:221px;width:10px; height:24px;}
/*无*/
.zxb_g1113 {left:448px; top:194px;width:10px; height:24px;}
/*无*/
.zxb_g1114 {left:507px; top:223px;width:10px; height:24px;}
/*无*/
.zxb_g1150 {left:559px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1151 {left:595px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1152 {left:630px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1153 {left:666px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1154 {left:703px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g1155 {left:738px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1156 {left:774px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1157 {left:820px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1158 {left:856px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1159 {left:892px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1160 {left:928px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1161 {left:964px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1162 {left:1000px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1163 {left:1036px; top:208px;width:10px; height:24px;}
/*无*/
.zxb_g1164 {left:1079px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1165 {left:1117px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1166 {left:1071px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1167 {left:1023px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1169 {left:938px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1170 {left:904px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1171 {left:869px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1172 {left:835px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1173 {left:800px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1174 {left:765px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1175 {left:731px; top:512px;width:10px; height:24px;}
/*无*/
.zxb_g1176 {left:683px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1177 {left:648px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1178 {left:613px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1179 {left:578px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1180 {left:543px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1181 {left:509px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g1116 {left:448px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g1115 {left:373px; top:525px;width:10px; height:24px;}
/*2AA1*/
.w22 {left:361px; top:224px;width:16px; height:16px;}
/*2AA2*/
.w23 {left:427px; top:199px;width:16px; height:16px;}
/*2AA3*/
.w24 {left:486px; top:228px;width:16px; height:16px;}
/*2AA4*/
.w60 {left:538px; top:212px;width:16px; height:16px;}
/*2AA4*/
.w61 {left:574px; top:212px;width:16px; height:16px;}
/*2AA4*/
.w62 {left:610px; top:212px;width:16px; height:16px;}
/*2AA4*/
.w63 {left:645px; top:212px;width:16px; height:16px;}
/*2AA4*/
.w64 {left:681px; top:212px;width:16px; height:16px;}
/*2AA4*/
.w65 {left:717px; top:212px;width:16px; height:16px;}
/*2AA4*/
.w66 {left:752px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w67 {left:799px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w68 {left:836px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w69 {left:872px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w70 {left:906px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w71 {left:943px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w72 {left:978px; top:212px;width:16px; height:16px;}
/*2AA5*/
.w73 {left:1014px; top:212px;width:16px; height:16px;}
/*2AA6*/
.w74 {left:1057px; top:214px;width:16px; height:16px;}
/*2AA6*/
.w75 {left:1096px; top:214px;width:16px; height:16px;}
/*2AA7*/
.w77 {left:1001px; top:518px;width:16px; height:16px;}
/*2AA7*/
.w76 {left:1050px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w79 {left:918px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w80 {left:884px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w81 {left:849px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w82 {left:814px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w83 {left:780px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w84 {left:746px; top:518px;width:16px; height:16px;}
/*2AA8*/
.w85 {left:711px; top:518px;width:16px; height:16px;}
/*2AA9*/
.w86 {left:663px; top:518px;width:16px; height:16px;}
/*2AA9*/
.w87 {left:628px; top:518px;width:16px; height:16px;}
/*2AA9*/
.w88 {left:594px; top:518px;width:16px; height:16px;}
/*2AA9*/
.w89 {left:558px; top:518px;width:16px; height:16px;}
/*2AA9*/
.w90 {left:523px; top:518px;width:16px; height:16px;}
/*2AA9*/
.w91 {left:489px; top:518px;width:16px; height:16px;}
/*2AA10*/
.w26 {left:427px; top:500px;width:16px; height:16px;}
/*2AA11*/
.w25 {left:353px; top:530px;width:16px; height:16px;}
/*无*/
.zxb_g1168 {left:976px; top:512px;width:10px; height:24px;}
/*2AA8*/
.w78 {left:955px; top:518px;width:16px; height:16px;}
