/*region*/
.page_content{background: url(../yicitu/p177_85.png) no-repeat;cursor:default !important;position: relative;}
/*1AA1*/
.w13 {left:80px; top:252px;width:16px; height:16px;}
/*1AA2*/
.w14 {left:220px; top:139px;width:16px; height:16px;}
/*1AA3*/
.w15 {left:339px; top:138px;width:16px; height:16px;}
/*1AA5*/
.w16 {left:444px; top:139px;width:16px; height:16px;}
/*1AA5*/
.w17 {left:518px; top:238px;width:16px; height:16px;}
/*1AA6*/
.w18 {left:718px; top:125px;width:16px; height:16px;}
/*1AA6*/
.w19 {left:718px; top:161px;width:16px; height:16px;}
/*1AA6*/
.w20 {left:718px; top:202px;width:16px; height:16px;}
/*1AA6*/
.w21 {left:719px; top:244px;width:16px; height:16px;}
/*1AA7*/
.w22 {left:835px; top:125px;width:16px; height:16px;}
/*1AA7*/
.w23 {left:835px; top:161px;width:16px; height:16px;}
/*1AA7*/
.w24 {left:835px; top:202px;width:16px; height:16px;}
/*1AA7*/
.w25 {left:835px; top:244px;width:16px; height:16px;}
/*1AA7*/
.w26 {left:835px; top:287px;width:16px; height:16px;}
/*1AA7*/
.w27 {left:835px; top:331px;width:16px; height:16px;}
/*1AA7*/
.w28 {left:835px; top:373px;width:16px; height:16px;}
/*1AA8*/
.w29 {left:950px; top:125px;width:16px; height:16px;}
/*1AA8*/
.w30 {left:950px; top:161px;width:16px; height:16px;}
/*1AA8*/
.w31 {left:950px; top:202px;width:16px; height:16px;}
/*1AA8*/
.w32 {left:950px; top:244px;width:16px; height:16px;}
/*1AA8*/
.w33 {left:950px; top:287px;width:16px; height:16px;}
/*1AA8*/
.w34 {left:950px; top:331px;width:16px; height:16px;}
/*1AA9*/
.w35 {left:1075px; top:125px;width:16px; height:16px;}
/*1AA9*/
.w36 {left:1075px; top:166px;width:16px; height:16px;}
/*1AA9*/
.w37 {left:1075px; top:202px;width:16px; height:16px;}
/*1AA9*/
.w38 {left:1075px; top:244px;width:16px; height:16px;}
/*1AA9*/
.w39 {left:1075px; top:287px;width:16px; height:16px;}
/*1AA9*/
.w40 {left:1075px; top:331px;width:16px; height:16px;}
/*1AA9*/
.w41 {left:1075px; top:373px;width:16px; height:16px;}
/*1AA10*/
.w42 {left:1188px; top:125px;width:16px; height:16px;}
/*1AA10*/
.w43 {left:1188px; top:167px;width:16px; height:16px;}
/*1AA10*/
.w44 {left:1188px; top:209px;width:16px; height:16px;}
/*1AA10*/
.w45 {left:1188px; top:251px;width:16px; height:16px;}
/*1AA10*/
.w46 {left:1188px; top:294px;width:16px; height:16px;}
/*1AA10*/
.w47 {left:1188px; top:334px;width:16px; height:16px;}
/*1AA11*/
.w48 {left:1303px; top:125px;width:16px; height:16px;}
/*1AA11*/
.w49 {left:1303px; top:166px;width:16px; height:16px;}
/*1AA11*/
.w50 {left:1303px; top:209px;width:16px; height:16px;}
/*1AA11*/
.w51 {left:1303px; top:252px;width:16px; height:16px;}
/*1AA11*/
.w52 {left:1303px; top:293px;width:16px; height:16px;}
/*1AA12*/
.w53 {left:198px; top:486px;width:16px; height:16px;}
/*1AA12*/
.w54 {left:198px; top:523px;width:16px; height:16px;}
/*1AA12*/
.w55 {left:198px; top:564px;width:16px; height:16px;}
/*1AA12*/
.w56 {left:198px; top:607px;width:16px; height:16px;}
/*1AA12*/
.w57 {left:198px; top:649px;width:16px; height:16px;}
/*1AA12*/
.w58 {left:198px; top:695px;width:16px; height:16px;}
/*1AA13*/
.w59 {left:325px; top:486px;width:16px; height:16px;}
/*1AA13*/
.w60 {left:325px; top:525px;width:16px; height:16px;}
/*1AA13*/
.w61 {left:325px; top:568px;width:16px; height:16px;}
/*1AA13*/
.w62 {left:325px; top:610px;width:16px; height:16px;}
/*1AA13*/
.w63 {left:325px; top:652px;width:16px; height:16px;}
/*1AA13*/
.w64 {left:325px; top:696px;width:16px; height:16px;}
/*1AA14*/
.w65 {left:455px; top:486px;width:16px; height:16px;}
/*1AA14*/
.w66 {left:455px; top:524px;width:16px; height:16px;}
/*1AA14*/
.w67 {left:455px; top:564px;width:16px; height:16px;}
/*1AA14*/
.w68 {left:455px; top:606px;width:16px; height:16px;}
/*1AA14*/
.w69 {left:455px; top:650px;width:16px; height:16px;}
/*1AA15*/
.w70 {left:580px; top:486px;width:16px; height:16px;}
/*1AA15*/
.w71 {left:580px; top:523px;width:16px; height:16px;}
/*1AA15*/
.w72 {left:580px; top:566px;width:16px; height:16px;}
/*1AA15*/
.w73 {left:580px; top:608px;width:16px; height:16px;}
/*1AA15*/
.w74 {left:580px; top:650px;width:16px; height:16px;}
/*1AA15*/
.w75 {left:580px; top:693px;width:16px; height:16px;}
/*1AA16*/
.w76 {left:710px; top:486px;width:16px; height:16px;}
/*1AA16*/
.w77 {left:710px; top:523px;width:16px; height:16px;}
/*1AA16*/
.w78 {left:710px; top:566px;width:16px; height:16px;}
/*1AA16*/
.w79 {left:710px; top:608px;width:16px; height:16px;}
/*1AA16*/
.w80 {left:710px; top:651px;width:16px; height:16px;}
/*1AA17*/
.w81 {left:840px; top:485px;width:16px; height:16px;}
/*1AA17*/
.w82 {left:840px; top:521px;width:16px; height:16px;}
/*1AA17*/
.w83 {left:840px; top:564px;width:16px; height:16px;}
/*1AA17*/
.w84 {left:840px; top:606px;width:16px; height:16px;}
/*1AA17*/
.w85 {left:840px; top:648px;width:16px; height:16px;}
/*1AA17*/
.w86 {left:840px; top:695px;width:16px; height:16px;}
/*1AA18*/
.w87 {left:965px; top:485px;width:16px; height:16px;}
/*1AA18*/
.w88 {left:965px; top:528px;width:16px; height:16px;}
/*1AA18*/
.w89 {left:965px; top:570px;width:16px; height:16px;}
/*1AA18*/
.w90 {left:965px; top:613px;width:16px; height:16px;}
/*1AA18*/
.w91 {left:965px; top:655px;width:16px; height:16px;}
/*1AA18*/
.w92 {left:965px; top:698px;width:16px; height:16px;}
