/*region*/
.page_content{background: url(../yicitu/p8_57.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g13109 {left:188px; top:192px;width:10px; height:24px;}
/*无*/
.zxb_g13110 {left:219px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13111 {left:300px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g13112 {left:376px; top:167px;width:10px; height:24px;}
/*无*/
.zxb_g13117 {left:472px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13118 {left:506px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13119 {left:539px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13120 {left:572px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13121 {left:605px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13122 {left:638px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13123 {left:672px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13124 {left:754px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13125 {left:787px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13126 {left:820px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13127 {left:854px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13128 {left:887px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13129 {left:920px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13130 {left:1056px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13131 {left:1089px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13132 {left:1123px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13133 {left:1156px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13134 {left:1189px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13135 {left:1222px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13136 {left:1255px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g13137 {left:842px; top:538px;width:10px; height:24px;}
/*无*/
.zxb_g13138 {left:874px; top:538px;width:10px; height:24px;}
/*无*/
.zxb_g13139 {left:907px; top:539px;width:10px; height:24px;}
/*无*/
.zxb_g13140 {left:939px; top:538px;width:10px; height:24px;}
/*无*/
.zxb_g13141 {left:973px; top:538px;width:10px; height:24px;}
/*无*/
.zxb_g13142 {left:1006px; top:538px;width:10px; height:24px;}
/*无*/
.zxb_g13143 {left:1040px; top:538px;width:10px; height:24px;}
/*无*/
.zxb_g13150 {left:753px; top:531px;width:10px; height:24px;}
/*无*/
.zxb_g13149 {left:720px; top:531px;width:10px; height:24px;}
/*无*/
.zxb_g13148 {left:687px; top:531px;width:10px; height:24px;}
/*无*/
.zxb_g13147 {left:654px; top:531px;width:10px; height:24px;}
/*无*/
.zxb_g13146 {left:619px; top:531px;width:10px; height:24px;}
/*无*/
.zxb_g13145 {left:584px; top:531px;width:10px; height:24px;}
/*无*/
.zxb_g13144 {left:548px; top:531px;width:10px; height:24px;}
/*AA1*/
.w5 {left:168px; top:195px;width:16px; height:16px;}
/*AA2*/
.w6 {left:201px; top:184px;width:16px; height:16px;}
/*AA3*/
.w7 {left:280px; top:173px;width:16px; height:16px;}
/*AA4*/
.w8 {left:357px; top:172px;width:16px; height:16px;}
/*AA5*/
.w13 {left:454px; top:185px;width:16px; height:16px;}
/*AA5*/
.w14 {left:487px; top:185px;width:16px; height:16px;}
/*AA5*/
.w15 {left:521px; top:185px;width:16px; height:16px;}
/*AA5*/
.w16 {left:553px; top:185px;width:16px; height:16px;}
/*AA5*/
.w17 {left:586px; top:185px;width:16px; height:16px;}
/*AA5*/
.w18 {left:620px; top:185px;width:16px; height:16px;}
/*AA5*/
.w19 {left:654px; top:185px;width:16px; height:16px;}
/*AA6*/
.w20 {left:735px; top:185px;width:16px; height:16px;}
/*AA6*/
.w21 {left:769px; top:185px;width:16px; height:16px;}
/*AA6*/
.w22 {left:802px; top:185px;width:16px; height:16px;}
/*AA6*/
.w23 {left:836px; top:185px;width:16px; height:16px;}
/*AA6*/
.w24 {left:868px; top:185px;width:16px; height:16px;}
/*AA6*/
.w25 {left:902px; top:185px;width:16px; height:16px;}
/*AA7*/
.w26 {left:1037px; top:185px;width:16px; height:16px;}
/*AA7*/
.w27 {left:1071px; top:185px;width:16px; height:16px;}
/*AA7*/
.w28 {left:1105px; top:185px;width:16px; height:16px;}
/*AA7*/
.w29 {left:1137px; top:185px;width:16px; height:16px;}
/*AA7*/
.w30 {left:1171px; top:185px;width:16px; height:16px;}
/*AA7*/
.w31 {left:1204px; top:185px;width:16px; height:16px;}
/*AA7*/
.w32 {left:1237px; top:185px;width:16px; height:16px;}
/*AA9*/
.w39 {left:1021px; top:542px;width:16px; height:16px;}
/*AA9*/
.w38 {left:987px; top:542px;width:16px; height:16px;}
/*AA9*/
.w37 {left:953px; top:542px;width:16px; height:16px;}
/*AA9*/
.w36 {left:920px; top:542px;width:16px; height:16px;}
/*AA9*/
.w35 {left:888px; top:542px;width:16px; height:16px;}
/*AA9*/
.w34 {left:855px; top:542px;width:16px; height:16px;}
/*AA9*/
.w33 {left:822px; top:542px;width:16px; height:16px;}
/*AA10*/
.w46 {left:734px; top:536px;width:16px; height:16px;}
/*AA10*/
.w45 {left:701px; top:536px;width:16px; height:16px;}
/*AA10*/
.w44 {left:668px; top:536px;width:16px; height:16px;}
/*AA10*/
.w43 {left:634px; top:536px;width:16px; height:16px;}
/*AA10*/
.w42 {left:599px; top:536px;width:16px; height:16px;}
/*AA10*/
.w41 {left:564px; top:536px;width:16px; height:16px;}
/*AA10*/
.w40 {left:527px; top:536px;width:16px; height:16px;}
/*无*/
.zxb_g13113 {left:1109px; top:528px;width:10px; height:24px;}
/*AA8*/
.w9 {left:1088px; top:533px;width:16px; height:16px;}
