/*region*/
.page_content{background: url(../yicitu/p9.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g13990 {left:348px; top:118px;width:14px; height:31px;}
/*无*/
.zxb_g13991 {left:477px; top:118px;width:14px; height:31px;}
/*无*/
.zxb_g13992 {left:991px; top:118px;width:14px; height:31px;}
/*无*/
.zxb_g13993 {left:1136px; top:119px;width:14px; height:31px;}
/*AH1*/
.w1 {left:320px; top:124px;width:18px; height:18px;}
/*AH2*/
.w2 {left:450px; top:124px;width:18px; height:18px;}
/*AH3*/
.w3 {left:965px; top:122px;width:18px; height:18px;}
/*AH4*/
.w4 {left:1108px; top:125px;width:18px; height:18px;}
