/*region*/
.page_content{background: url(../yicitu/p5.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g513 {left:249px; top:207px;width:12px; height:28px;}
/*无*/
.zxb_g514 {left:512px; top:204px;width:12px; height:28px;}
/*无数据图标*/
.other_g3 {left:512px; top:503px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g4 {left:886px; top:503px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无*/
.zxb_g516 {left:887px; top:206px;width:12px; height:28px;}
/*无*/
.zxb_g515 {left:1157px; top:207px;width:12px; height:28px;}
/*无数据图标*/
.other_g8 {left:735px; top:613px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*AH1*/
.w208 {left:237px; top:131px;width:34px; height:18px;}
/*AH2*/
.w209 {left:506px; top:132px;width:34px; height:18px;}
/*AH3*/
.w211 {left:876px; top:131px;width:34px; height:18px;}
/*AH4*/
.w210 {left:1146px; top:132px;width:34px; height:18px;}
/*AA2*/
.w213 {left:756px; top:617px;width:34px; height:18px;}
/*AA20*/
.w217 {left:877px; top:572px;width:41px; height:20px;}
/*AA1*/
.w212 {left:501px; top:572px;width:34px; height:18px;}
