/*region*/
.page_content{background: url(../yicitu/p9_73.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g13994 {left:90px; top:209px;width:10px; height:24px;}
/*无*/
.zxb_g13995 {left:138px; top:224px;width:10px; height:24px;}
/*无*/
.zxb_g13996 {left:201px; top:178px;width:10px; height:24px;}
/*无*/
.zxb_g13997 {left:274px; top:178px;width:10px; height:24px;}
/*无*/
.zxb_g14002 {left:331px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14003 {left:363px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14004 {left:394px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14005 {left:426px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14006 {left:457px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14007 {left:488px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14008 {left:521px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14009 {left:553px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14010 {left:586px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14011 {left:619px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14012 {left:649px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14013 {left:681px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14014 {left:713px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14015 {left:746px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14016 {left:779px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14017 {left:811px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14018 {left:840px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14019 {left:873px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14020 {left:906px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14021 {left:939px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g14022 {left:972px; top:197px;width:10px; height:24px;}
/*无*/
.zxb_g13998 {left:990px; top:188px;width:10px; height:24px;}
/*无*/
.zxb_g14023 {left:1107px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14024 {left:1139px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14025 {left:1170px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14026 {left:1201px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14027 {left:1232px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14028 {left:1263px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14029 {left:1295px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14030 {left:1326px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14031 {left:1357px; top:199px;width:10px; height:24px;}
/*无*/
.zxb_g14040 {left:1345px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14039 {left:1314px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14038 {left:1282px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14037 {left:1251px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14036 {left:1219px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14035 {left:1188px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14034 {left:1156px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14033 {left:1125px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14032 {left:1093px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g14046 {left:1057px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14045 {left:1027px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14044 {left:997px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14043 {left:966px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14042 {left:935px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14041 {left:904px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14052 {left:871px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14051 {left:839px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14050 {left:806px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14049 {left:775px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14048 {left:743px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14047 {left:711px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14058 {left:674px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14057 {left:642px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14056 {left:611px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14055 {left:581px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14054 {left:549px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14053 {left:518px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14064 {left:488px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14063 {left:455px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14062 {left:424px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14061 {left:392px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14060 {left:361px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g14059 {left:329px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g13999 {left:274px; top:481px;width:10px; height:24px;}
/*无*/
.zxb_g14000 {left:191px; top:481px;width:10px; height:24px;}
/*无*/
.zxb_g14001 {left:110px; top:512px;width:10px; height:24px;}
/*AA1*/
.w5 {left:71px; top:212px;width:16px; height:16px;}
/*AA2*/
.w6 {left:119px; top:228px;width:16px; height:16px;}
/*AA3*/
.w7 {left:181px; top:182px;width:16px; height:16px;}
/*AA4*/
.w8 {left:254px; top:182px;width:16px; height:16px;}
/*AA5*/
.w13 {left:312px; top:201px;width:16px; height:16px;}
/*AA5*/
.w14 {left:345px; top:201px;width:16px; height:16px;}
/*AA5*/
.w15 {left:376px; top:201px;width:16px; height:16px;}
/*AA5*/
.w16 {left:408px; top:201px;width:16px; height:16px;}
/*AA5*/
.w17 {left:439px; top:201px;width:16px; height:16px;}
/*AA6*/
.w18 {left:469px; top:201px;width:16px; height:16px;}
/*AA6*/
.w19 {left:502px; top:201px;width:16px; height:16px;}
/*AA6*/
.w20 {left:535px; top:201px;width:16px; height:16px;}
/*AA6*/
.w21 {left:568px; top:201px;width:16px; height:16px;}
/*AA6*/
.w22 {left:600px; top:201px;width:16px; height:16px;}
/*AA7*/
.w23 {left:631px; top:201px;width:16px; height:16px;}
/*AA7*/
.w24 {left:662px; top:201px;width:16px; height:16px;}
/*AA7*/
.w25 {left:695px; top:201px;width:16px; height:16px;}
/*AA7*/
.w26 {left:727px; top:201px;width:16px; height:16px;}
/*AA7*/
.w27 {left:760px; top:201px;width:16px; height:16px;}
/*AA7*/
.w28 {left:792px; top:201px;width:16px; height:16px;}
/*AA8*/
.w29 {left:822px; top:201px;width:16px; height:16px;}
/*AA8*/
.w30 {left:854px; top:201px;width:16px; height:16px;}
/*AA8*/
.w31 {left:887px; top:201px;width:16px; height:16px;}
/*AA8*/
.w32 {left:920px; top:201px;width:16px; height:16px;}
/*AA8*/
.w33 {left:954px; top:201px;width:16px; height:16px;}
/*AA9*/
.w9 {left:1005px; top:192px;width:16px; height:16px;}
/*AA10*/
.w34 {left:1088px; top:204px;width:16px; height:16px;}
/*AA10*/
.w35 {left:1120px; top:204px;width:16px; height:16px;}
/*AA10*/
.w36 {left:1152px; top:204px;width:16px; height:16px;}
/*AA10*/
.w37 {left:1183px; top:204px;width:16px; height:16px;}
/*AA10*/
.w38 {left:1214px; top:204px;width:16px; height:16px;}
/*AA10*/
.w39 {left:1245px; top:204px;width:16px; height:16px;}
/*AA10*/
.w40 {left:1276px; top:204px;width:16px; height:16px;}
/*AA10*/
.w41 {left:1308px; top:204px;width:16px; height:16px;}
/*AA10*/
.w42 {left:1338px; top:204px;width:16px; height:16px;}
/*AA11*/
.w51 {left:1326px; top:507px;width:16px; height:16px;}
/*AA11*/
.w50 {left:1294px; top:507px;width:16px; height:16px;}
/*AA11*/
.w49 {left:1264px; top:507px;width:16px; height:16px;}
/*AA11*/
.w48 {left:1232px; top:507px;width:16px; height:16px;}
/*AA11*/
.w47 {left:1200px; top:507px;width:16px; height:16px;}
/*AA11*/
.w46 {left:1169px; top:507px;width:16px; height:16px;}
/*AA11*/
.w45 {left:1138px; top:507px;width:16px; height:16px;}
/*AA11*/
.w44 {left:1106px; top:507px;width:16px; height:16px;}
/*AA11*/
.w43 {left:1073px; top:507px;width:16px; height:16px;}
/*AA12*/
.w57 {left:1039px; top:505px;width:16px; height:16px;}
/*AA12*/
.w56 {left:1009px; top:505px;width:16px; height:16px;}
/*AA12*/
.w55 {left:979px; top:505px;width:16px; height:16px;}
/*AA12*/
.w54 {left:947px; top:505px;width:16px; height:16px;}
/*AA12*/
.w53 {left:916px; top:505px;width:16px; height:16px;}
/*AA12*/
.w52 {left:885px; top:505px;width:16px; height:16px;}
/*AA13*/
.w63 {left:852px; top:505px;width:16px; height:16px;}
/*AA13*/
.w62 {left:820px; top:505px;width:16px; height:16px;}
/*AA13*/
.w61 {left:787px; top:505px;width:16px; height:16px;}
/*AA13*/
.w60 {left:756px; top:505px;width:16px; height:16px;}
/*AA13*/
.w59 {left:724px; top:505px;width:16px; height:16px;}
/*AA13*/
.w58 {left:692px; top:505px;width:16px; height:16px;}
/*AA14*/
.w69 {left:655px; top:505px;width:16px; height:16px;}
/*AA14*/
.w68 {left:623px; top:505px;width:16px; height:16px;}
/*AA14*/
.w67 {left:593px; top:505px;width:16px; height:16px;}
/*AA14*/
.w66 {left:563px; top:505px;width:16px; height:16px;}
/*AA14*/
.w65 {left:531px; top:505px;width:16px; height:16px;}
/*AA14*/
.w64 {left:500px; top:505px;width:16px; height:16px;}
/*AA15*/
.w75 {left:469px; top:505px;width:16px; height:16px;}
/*AA15*/
.w74 {left:437px; top:505px;width:16px; height:16px;}
/*AA15*/
.w73 {left:405px; top:505px;width:16px; height:16px;}
/*AA15*/
.w72 {left:374px; top:505px;width:16px; height:16px;}
/*AA15*/
.w71 {left:342px; top:505px;width:16px; height:16px;}
/*AA15*/
.w70 {left:309px; top:505px;width:16px; height:16px;}
/*AA16*/
.w10 {left:254px; top:485px;width:16px; height:16px;}
/*AA17*/
.w11 {left:172px; top:485px;width:16px; height:16px;}
/*AA18*/
.w12 {left:91px; top:516px;width:16px; height:16px;}
