/*region*/
.page_content{background: url(../yicitu/p6_68.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g11075 {left:113px; top:218px;width:10px; height:24px;}
/*无*/
.zxb_g11076 {left:171px; top:193px;width:10px; height:24px;}
/*无*/
.zxb_g11077 {left:219px; top:212px;width:10px; height:24px;}
/*无*/
.zxb_g11078 {left:269px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11079 {left:300px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11085 {left:339px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11086 {left:371px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11087 {left:403px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11088 {left:435px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11089 {left:468px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11090 {left:499px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11091 {left:532px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11092 {left:563px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11093 {left:584px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11094 {left:616px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11095 {left:650px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11096 {left:683px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11097 {left:716px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11098 {left:749px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11099 {left:782px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11100 {left:815px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11101 {left:843px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11102 {left:878px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11103 {left:912px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11104 {left:945px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11105 {left:980px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11106 {left:1013px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11107 {left:1047px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11108 {left:1082px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11109 {left:1110px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11110 {left:1145px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11111 {left:1179px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11112 {left:1213px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11113 {left:1248px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11114 {left:1282px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11115 {left:1317px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11116 {left:1351px; top:207px;width:10px; height:24px;}
/*无*/
.zxb_g11124 {left:1426px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11123 {left:1391px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11122 {left:1362px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11121 {left:1330px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11120 {left:1297px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11119 {left:1265px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11118 {left:1233px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11117 {left:1200px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11128 {left:1170px; top:525px;width:10px; height:24px;}
/*无*/
.zxb_g11127 {left:1133px; top:525px;width:10px; height:24px;}
/*无*/
.zxb_g11126 {left:1096px; top:525px;width:10px; height:24px;}
/*无*/
.zxb_g11125 {left:1059px; top:525px;width:10px; height:24px;}
/*无*/
.zxb_g11174 {left:1010px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11173 {left:973px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11172 {left:937px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11171 {left:900px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11170 {left:876px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11169 {left:844px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11168 {left:812px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11167 {left:781px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11166 {left:749px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11165 {left:717px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11164 {left:685px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11163 {left:652px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11162 {left:638px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11161 {left:605px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11160 {left:573px; top:536px;width:10px; height:24px;}
/*无*/
.zxb_g11159 {left:540px; top:536px;width:10px; height:24px;}
/*无*/
.zxb_g11158 {left:507px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11157 {left:475px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11156 {left:442px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11155 {left:410px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11154 {left:392px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11153 {left:360px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11152 {left:328px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11151 {left:296px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11150 {left:264px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11149 {left:232px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11148 {left:200px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11147 {left:168px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11146 {left:137px; top:528px;width:10px; height:24px;}
/*无*/
.zxb_g11080 {left:54px; top:518px;width:10px; height:24px;}
/*AA1*/
.w5 {left:94px; top:222px;width:16px; height:16px;}
/*AA2*/
.w6 {left:152px; top:197px;width:16px; height:16px;}
/*AA3*/
.w7 {left:199px; top:215px;width:16px; height:16px;}
/*AA4_T5#楼偶数层办公层箱电源*/
.w8 {left:251px; top:212px;width:16px; height:16px;}
/*AA4_T5#楼偶数层办公层箱电源*/
.w9 {left:282px; top:212px;width:16px; height:16px;}
/*AA5*/
.w15 {left:319px; top:212px;width:16px; height:16px;}
/*AA5*/
.w16 {left:352px; top:212px;width:16px; height:16px;}
/*AA5*/
.w17 {left:384px; top:212px;width:16px; height:16px;}
/*AA5*/
.w18 {left:416px; top:212px;width:16px; height:16px;}
/*AA5*/
.w19 {left:449px; top:212px;width:16px; height:16px;}
/*AA5*/
.w20 {left:481px; top:212px;width:16px; height:16px;}
/*AA5*/
.w21 {left:513px; top:212px;width:16px; height:16px;}
/*AA5*/
.w22 {left:545px; top:212px;width:16px; height:16px;}
/*AA6*/
.w23 {left:598px; top:201px;width:16px; height:16px;}
/*AA6*/
.w24 {left:598px; top:220px;width:16px; height:16px;}
/*AA6*/
.w25 {left:631px; top:212px;width:16px; height:16px;}
/*AA6*/
.w26 {left:664px; top:212px;width:16px; height:16px;}
/*AA6*/
.w27 {left:698px; top:212px;width:16px; height:16px;}
/*AA6*/
.w28 {left:730px; top:212px;width:16px; height:16px;}
/*AA6*/
.w29 {left:763px; top:212px;width:16px; height:16px;}
/*AA6*/
.w30 {left:797px; top:211px;width:16px; height:16px;}
/*AA7*/
.w31 {left:826px; top:212px;width:16px; height:16px;}
/*AA7*/
.w32 {left:859px; top:212px;width:16px; height:16px;}
/*AA7*/
.w33 {left:893px; top:212px;width:16px; height:16px;}
/*AA7*/
.w34 {left:926px; top:212px;width:16px; height:16px;}
/*AA7*/
.w35 {left:961px; top:212px;width:16px; height:16px;}
/*AA7*/
.w36 {left:994px; top:212px;width:16px; height:16px;}
/*AA7*/
.w37 {left:1028px; top:212px;width:16px; height:16px;}
/*AA7*/
.w38 {left:1061px; top:212px;width:16px; height:16px;}
/*AA8*/
.w39 {left:1093px; top:212px;width:16px; height:16px;}
/*AA8*/
.w40 {left:1126px; top:212px;width:16px; height:16px;}
/*AA8*/
.w41 {left:1160px; top:212px;width:16px; height:16px;}
/*AA8*/
.w42 {left:1193px; top:212px;width:16px; height:16px;}
/*AA8*/
.w43 {left:1227px; top:212px;width:16px; height:16px;}
/*AA8*/
.w44 {left:1263px; top:212px;width:16px; height:16px;}
/*AA8*/
.w45 {left:1297px; top:212px;width:16px; height:16px;}
/*AA8*/
.w46 {left:1332px; top:212px;width:16px; height:16px;}
/*AA9*/
.w54 {left:1407px; top:533px;width:16px; height:16px;}
/*AA9*/
.w53 {left:1373px; top:533px;width:16px; height:16px;}
/*AA9*/
.w52 {left:1343px; top:533px;width:16px; height:16px;}
/*AA9*/
.w51 {left:1311px; top:533px;width:16px; height:16px;}
/*AA9*/
.w50 {left:1278px; top:533px;width:16px; height:16px;}
/*AA9*/
.w49 {left:1246px; top:533px;width:16px; height:16px;}
/*AA9*/
.w47 {left:1214px; top:522px;width:16px; height:16px;}
/*AA9*/
.w48 {left:1214px; top:542px;width:16px; height:16px;}
/*AA10*/
.w58 {left:1150px; top:529px;width:16px; height:16px;}
/*AA10*/
.w57 {left:1114px; top:529px;width:16px; height:16px;}
/*AA10*/
.w56 {left:1076px; top:529px;width:16px; height:16px;}
/*AA10*/
.w55 {left:1038px; top:529px;width:16px; height:16px;}
/*AA11*/
.w104 {left:991px; top:533px;width:16px; height:16px;}
/*AA11*/
.w103 {left:953px; top:533px;width:16px; height:16px;}
/*AA11*/
.w101 {left:917px; top:521px;width:16px; height:16px;}
/*AA11*/
.w102 {left:917px; top:541px;width:16px; height:16px;}
/*AA12*/
.w100 {left:857px; top:533px;width:16px; height:16px;}
/*AA12*/
.w99 {left:825px; top:533px;width:16px; height:16px;}
/*AA12*/
.w98 {left:794px; top:533px;width:16px; height:16px;}
/*AA12*/
.w97 {left:762px; top:533px;width:16px; height:16px;}
/*AA12*/
.w96 {left:730px; top:533px;width:16px; height:16px;}
/*AA12*/
.w95 {left:698px; top:533px;width:16px; height:16px;}
/*AA12*/
.w93 {left:667px; top:522px;width:16px; height:16px;}
/*AA12*/
.w94 {left:667px; top:542px;width:16px; height:16px;}
/*AA13*/
.w92 {left:619px; top:533px;width:16px; height:16px;}
/*AA13*/
.w91 {left:586px; top:533px;width:16px; height:16px;}
/*AA13*/
.w90 {left:554px; top:540px;width:16px; height:16px;}
/*AA13*/
.w89 {left:521px; top:540px;width:16px; height:16px;}
/*AA13*/
.w88 {left:489px; top:533px;width:16px; height:16px;}
/*AA13*/
.w87 {left:456px; top:533px;width:16px; height:16px;}
/*AA13*/
.w85 {left:423px; top:522px;width:16px; height:16px;}
/*AA13*/
.w86 {left:423px; top:542px;width:16px; height:16px;}
/*AA14*/
.w84 {left:373px; top:533px;width:16px; height:16px;}
/*AA14*/
.w83 {left:341px; top:533px;width:16px; height:16px;}
/*AA14*/
.w82 {left:310px; top:533px;width:16px; height:16px;}
/*AA14*/
.w81 {left:277px; top:533px;width:16px; height:16px;}
/*AA14*/
.w80 {left:245px; top:533px;width:16px; height:16px;}
/*AA14*/
.w79 {left:213px; top:533px;width:16px; height:16px;}
/*AA14*/
.w78 {left:181px; top:533px;width:16px; height:16px;}
/*AA14*/
.w77 {left:150px; top:533px;width:16px; height:16px;}
/*AA14*/
.w76 {left:119px; top:533px;width:16px; height:16px;}
/*AA15*/
.w10 {left:69px; top:523px;width:16px; height:16px;}
