/*region*/
.page_content{background: url(../yicitu/p8.png) no-repeat;cursor:default !important;}
/*无*/
.zxb_g2914 {left:325px; top:147px;width:14px; height:31px;}
/*无*/
.zxb_g2915 {left:454px; top:147px;width:14px; height:31px;}
/*无*/
.zxb_g2916 {left:968px; top:149px;width:14px; height:31px;}
/*无*/
.zxb_g2917 {left:1113px; top:149px;width:14px; height:31px;}
/*AH1*/
.w290 {left:320px; top:104px;width:34px; height:18px;}
/*AH2*/
.w291 {left:453px; top:104px;width:34px; height:18px;}
/*AH3*/
.w292 {left:964px; top:104px;width:34px; height:18px;}
/*AH4*/
.w293 {left:1096px; top:104px;width:34px; height:18px;}
