/*region*/
.page_content{background: url(../yicitu/p12.png) no-repeat;cursor:default !important;}
/*无*/
.zxb_g5131 {left:101px; top:299px;width:14px; height:31px;}
/*1#进线柜*/
.w1001 {left:94px; top:224px;width:34px; height:18px;}
/*1#馈线柜*/
.w1002 {left:254px; top:224px;width:34px; height:18px;}
/*3#馈线柜*/
.w1003 {left:347px; top:224px;width:34px; height:18px;}
/*5#变压器出线柜*/
.w1004 {left:431px; top:224px;width:34px; height:18px;}
/*7#变压器出线柜*/
.w1005 {left:517px; top:224px;width:34px; height:18px;}
/*9#变压器出线柜*/
.w1006 {left:611px; top:224px;width:34px; height:18px;}
/*母线联络柜*/
.w1007 {left:683px; top:224px;width:34px; height:18px;}
/*10#变压器出线柜*/
.w1008 {left:809px; top:224px;width:34px; height:18px;}
/*8#变压器出线柜*/
.w1009 {left:888px; top:224px;width:34px; height:18px;}
/*6#变压器出线柜*/
.w1010 {left:978px; top:224px;width:34px; height:18px;}
/*4#馈线柜*/
.w1011 {left:1072px; top:224px;width:34px; height:18px;}
/*2#馈线柜*/
.w1012 {left:1154px; top:224px;width:34px; height:18px;}
/*2#进线柜*/
.w1013 {left:1299px; top:225px;width:34px; height:18px;}
/*无*/
.zxb_g5142 {left:264px; top:298px;width:14px; height:31px;}
/*无*/
.zxb_g5151 {left:355px; top:298px;width:14px; height:31px;}
/*无*/
.zxb_g5162 {left:443px; top:297px;width:14px; height:31px;}
/*无*/
.zxb_g5173 {left:536px; top:297px;width:14px; height:31px;}
/*无*/
.zxb_g5184 {left:622px; top:297px;width:14px; height:31px;}
/*无*/
.zxb_g5195 {left:691px; top:296px;width:14px; height:31px;}
/*无*/
.zxb_g5204 {left:812px; top:296px;width:14px; height:31px;}
/*无*/
.zxb_g5215 {left:899px; top:296px;width:14px; height:31px;}
/*无*/
.zxb_g5226 {left:986px; top:298px;width:14px; height:31px;}
/*无*/
.zxb_g5236 {left:1075px; top:297px;width:14px; height:31px;}
/*无*/
.zxb_g5245 {left:1160px; top:295px;width:14px; height:31px;}
/*无*/
.zxb_g5254 {left:1298px; top:294px;width:14px; height:31px;}
