/*region*/
.page_content{background: url(../yicitu/p4_60.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g8455 {left:477px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8456 {left:512px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8457 {left:545px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8444 {left:148px; top:182px;width:10px; height:24px;}
/*无*/
.zxb_g8445 {left:190px; top:161px;width:10px; height:24px;}
/*无*/
.zxb_g8446 {left:251px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g8447 {left:344px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8448 {left:389px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8454 {left:444px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8458 {left:579px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8459 {left:613px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8460 {left:646px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8461 {left:680px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8462 {left:714px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8463 {left:752px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8464 {left:787px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8465 {left:822px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8466 {left:858px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8467 {left:893px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8468 {left:927px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8469 {left:963px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8470 {left:999px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8471 {left:1040px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8472 {left:1075px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8473 {left:1110px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8474 {left:1145px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8475 {left:1180px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8476 {left:1215px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8477 {left:1250px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8478 {left:1285px; top:168px;width:10px; height:24px;}
/*无*/
.zxb_g8479 {left:1294px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8480 {left:1261px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8481 {left:1227px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8482 {left:1194px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8483 {left:1161px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8484 {left:1127px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8485 {left:1093px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8486 {left:1059px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8487 {left:1005px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8488 {left:970px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8489 {left:935px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8490 {left:901px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8491 {left:866px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8492 {left:831px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8493 {left:797px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g8494 {left:763px; top:486px;width:10px; height:24px;}
/*AA1*/
.w5 {left:128px; top:187px;width:16px; height:16px;}
/*AA2*/
.w6 {left:170px; top:166px;width:16px; height:16px;}
/*AA3*/
.w7 {left:229px; top:177px;width:16px; height:16px;}
/*AA4_T3#楼偶数层办公层箱电源*/
.w8 {left:323px; top:173px;width:16px; height:16px;}
/*AA4_T3#楼偶数层办公层箱电源*/
.w9 {left:368px; top:173px;width:16px; height:16px;}
/*AA5*/
.w15 {left:424px; top:173px;width:16px; height:16px;}
/*AA5*/
.w16 {left:459px; top:173px;width:16px; height:16px;}
/*AA5*/
.w15 {left:493px; top:172px;width:16px; height:16px;}
/*AA5*/
.w18 {left:526px; top:173px;width:16px; height:16px;}
/*AA5*/
.w19 {left:560px; top:173px;width:16px; height:16px;}
/*AA5*/
.w20 {left:593px; top:173px;width:16px; height:16px;}
/*AA5*/
.w21 {left:627px; top:173px;width:16px; height:16px;}
/*AA5*/
.w22 {left:660px; top:173px;width:16px; height:16px;}
/*AA5*/
.w23 {left:695px; top:173px;width:16px; height:16px;}
/*AA6*/
.w24 {left:732px; top:173px;width:16px; height:16px;}
/*AA6*/
.w25 {left:768px; top:173px;width:16px; height:16px;}
/*AA6*/
.w26 {left:803px; top:173px;width:16px; height:16px;}
/*AA6*/
.w27 {left:837px; top:173px;width:16px; height:16px;}
/*AA6*/
.w28 {left:874px; top:173px;width:16px; height:16px;}
/*AA6*/
.w29 {left:907px; top:173px;width:16px; height:16px;}
/*AA6*/
.w30 {left:943px; top:173px;width:16px; height:16px;}
/*AA6*/
.w31 {left:979px; top:173px;width:16px; height:16px;}
/*AA7*/
.w32 {left:1021px; top:173px;width:16px; height:16px;}
/*AA7*/
.w33 {left:1056px; top:173px;width:16px; height:16px;}
/*AA7*/
.w34 {left:1091px; top:173px;width:16px; height:16px;}
/*AA7*/
.w35 {left:1126px; top:173px;width:16px; height:16px;}
/*AA7*/
.w36 {left:1160px; top:173px;width:16px; height:16px;}
/*AA7*/
.w37 {left:1196px; top:173px;width:16px; height:16px;}
/*AA7*/
.w38 {left:1230px; top:173px;width:16px; height:16px;}
/*AA7*/
.w39 {left:1265px; top:173px;width:16px; height:16px;}
/*AA8*/
.w47 {left:1275px; top:491px;width:16px; height:16px;}
/*AA8*/
.w46 {left:1242px; top:491px;width:16px; height:16px;}
/*AA8*/
.w45 {left:1208px; top:491px;width:16px; height:16px;}
/*AA8*/
.w44 {left:1175px; top:491px;width:16px; height:16px;}
/*AA8*/
.w43 {left:1142px; top:491px;width:16px; height:16px;}
/*AA8*/
.w42 {left:1108px; top:491px;width:16px; height:16px;}
/*AA8*/
.w41 {left:1074px; top:491px;width:16px; height:16px;}
/*AA8*/
.w40 {left:1038px; top:491px;width:16px; height:16px;}
/*AA9*/
.w48 {left:986px; top:491px;width:16px; height:16px;}
/*AA9*/
.w49 {left:951px; top:491px;width:16px; height:16px;}
/*AA9*/
.w50 {left:915px; top:491px;width:16px; height:16px;}
/*AA9*/
.w51 {left:882px; top:491px;width:16px; height:16px;}
/*AA9*/
.w52 {left:847px; top:491px;width:16px; height:16px;}
/*AA9*/
.w53 {left:811px; top:491px;width:16px; height:16px;}
/*AA9*/
.w54 {left:777px; top:491px;width:16px; height:16px;}
/*AA9*/
.w48 {left:743px; top:491px;width:16px; height:16px;}
