/*region*/
.page_content{background: url(../yicitu/p3_63.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g7121 {left:229px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g7122 {left:270px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g7125 {left:454px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7126 {left:491px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7246 {left:531px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7248 {left:603px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7249 {left:640px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7250 {left:676px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7252 {left:749px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7253 {left:786px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7239 {left:824px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7240 {left:859px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7242 {left:932px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7243 {left:967px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7244 {left:1003px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7245 {left:1039px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7233 {left:1151px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7234 {left:1187px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7235 {left:1223px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7236 {left:1260px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7237 {left:1296px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7238 {left:1332px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7277 {left:1379px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7276 {left:1341px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7275 {left:1303px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7273 {left:1228px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7272 {left:1190px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7271 {left:1152px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7270 {left:1115px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7269 {left:1077px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7127 {left:988px; top:492px;width:10px; height:24px;}
/*无*/
.zxb_g7267 {left:921px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7265 {left:850px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7264 {left:814px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7263 {left:779px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7262 {left:742px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7261 {left:698px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7260 {left:661px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7258 {left:587px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7257 {left:551px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7256 {left:515px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7255 {left:479px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7130 {left:321px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g7131 {left:240px; top:485px;width:10px; height:24px;}
/*2AA1*/
.w34 {left:209px; top:206px;width:16px; height:16px;}
/*2AA2*/
.w35 {left:251px; top:180px;width:16px; height:16px;}
/*2AA5_T1#楼偶数层办公层箱电源*/
.w38 {left:435px; top:196px;width:16px; height:16px;}
/*2AA5_T1#楼偶数层办公层箱电源*/
.w39 {left:472px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w159 {left:511px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w161 {left:583px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w162 {left:621px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w163 {left:657px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w165 {left:730px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w166 {left:766px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w152 {left:803px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w153 {left:840px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w155 {left:913px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w156 {left:947px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w157 {left:984px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w158 {left:1020px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w146 {left:1132px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w147 {left:1167px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w148 {left:1204px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w149 {left:1240px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w150 {left:1276px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w151 {left:1312px; top:196px;width:16px; height:16px;}
/*2AA9*/
.w190 {left:1360px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w189 {left:1321px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w188 {left:1284px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w186 {left:1208px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w185 {left:1170px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w184 {left:1132px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w183 {left:1094px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w182 {left:1056px; top:505px;width:16px; height:16px;}
/*2AA10*/
.w40 {left:1002px; top:497px;width:16px; height:16px;}
/*2AA11*/
.w181 {left:937px; top:505px;width:16px; height:16px;}
/*2AA11*/
.w178 {left:830px; top:505px;width:16px; height:16px;}
/*2AA11*/
.w177 {left:795px; top:505px;width:16px; height:16px;}
/*2AA11*/
.w176 {left:759px; top:505px;width:16px; height:16px;}
/*2AA11*/
.w175 {left:722px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w174 {left:678px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w173 {left:642px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w171 {left:568px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w170 {left:532px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w169 {left:496px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w167 {left:458px; top:493px;width:16px; height:16px;}
/*2AA14*/
.w43 {left:300px; top:490px;width:16px; height:16px;}
/*2AA15*/
.w44 {left:220px; top:490px;width:16px; height:16px;}
/*无*/
.zxb_g7123 {left:341px; top:177px;width:10px; height:24px;}
/*无*/
.zxb_g7232 {left:1114px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7231 {left:1078px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7241 {left:896px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7251 {left:712px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7247 {left:567px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7124 {left:395px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g7274 {left:1266px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7268 {left:957px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7266 {left:885px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7259 {left:624px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7254 {left:442px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7129 {left:419px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7128 {left:382px; top:500px;width:10px; height:24px;}
/*无*/
.zxb_g7132 {left:190px; top:512px;width:10px; height:24px;}
/*2AA3*/
.w36 {left:321px; top:181px;width:16px; height:16px;}
/*2AA4*/
.w37 {left:375px; top:205px;width:16px; height:16px;}
/*2AA6*/
.w160 {left:547px; top:196px;width:16px; height:16px;}
/*2AA6*/
.w164 {left:692px; top:196px;width:16px; height:16px;}
/*2AA16*/
.w45 {left:171px; top:516px;width:16px; height:16px;}
/*2AA13_T1#楼奇数层办公层箱电源*/
.w41 {left:361px; top:505px;width:16px; height:16px;}
/*2AA13_T1#楼奇数层办公层箱电源*/
.w42 {left:399px; top:505px;width:16px; height:16px;}
/*2AA12*/
.w168 {left:458px; top:519px;width:16px; height:16px;}
/*2AA12*/
.w172 {left:605px; top:505px;width:16px; height:16px;}
/*2AA11*/
.w179 {left:865px; top:505px;width:16px; height:16px;}
/*2AA11*/
.w180 {left:901px; top:505px;width:16px; height:16px;}
/*2AA9*/
.w187 {left:1246px; top:505px;width:16px; height:16px;}
/*2AA8*/
.w145 {left:1094px; top:196px;width:16px; height:16px;}
/*2AA8*/
.w144 {left:1058px; top:196px;width:16px; height:16px;}
/*2AA7*/
.w154 {left:876px; top:196px;width:16px; height:16px;}
