/*region*/
.page_content{background: url(../yicitu/p9.png) no-repeat;cursor:default !important;}
/*无*/
.zxb_g3073 {left:348px; top:118px;width:14px; height:31px;}
/*无*/
.zxb_g3074 {left:477px; top:118px;width:14px; height:31px;}
/*无*/
.zxb_g3075 {left:991px; top:118px;width:14px; height:31px;}
/*无*/
.zxb_g3076 {left:1136px; top:118px;width:14px; height:31px;}
/*AH1*/
.w317 {left:342px; top:74px;width:34px; height:18px;}
/*AH2*/
.w318 {left:475px; top:74px;width:34px; height:18px;}
/*AH3*/
.w319 {left:984px; top:74px;width:34px; height:18px;}
/*AH4*/
.w320 {left:1119px; top:74px;width:34px; height:18px;}
