/*region*/
.page_content{background: url(../yicitu/p8.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g13105 {left:325px; top:147px;width:14px; height:31px;}
/*无*/
.zxb_g13106 {left:454px; top:147px;width:14px; height:31px;}
/*无*/
.zxb_g13107 {left:968px; top:149px;width:14px; height:31px;}
/*无*/
.zxb_g13108 {left:1113px; top:149px;width:14px; height:31px;}
/*AH1*/
.w1 {left:295px; top:149px;width:18px; height:18px;}
/*AH2*/
.w2 {left:429px; top:151px;width:18px; height:18px;}
/*AH3*/
.w3 {left:944px; top:155px;width:18px; height:18px;}
/*AH4*/
.w4 {left:1089px; top:155px;width:18px; height:18px;}
