/*region*/
.page_content{background: url(../yicitu/p11.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g15821 {left:380px; top:138px;width:14px; height:31px;}
/*无*/
.zxb_g15822 {left:509px; top:140px;width:14px; height:31px;}
/*无*/
.zxb_g15823 {left:1012px; top:140px;width:14px; height:31px;}
/*无*/
.zxb_g15824 {left:1157px; top:139px;width:14px; height:31px;}
/*AH1*/
.w1 {left:354px; top:144px;width:18px; height:18px;}
/*AH2*/
.w2 {left:485px; top:145px;width:18px; height:18px;}
/*AH3*/
.w3 {left:984px; top:146px;width:18px; height:18px;}
/*AH4*/
.w4 {left:1129px; top:146px;width:18px; height:18px;}
