/*region*/
.page_content{background: url(../yicitu/p1_1.png) no-repeat;cursor:default !important;position: relative;}
/*AH2*/
.w1 {left:87px; top:138px;width:34px; height:18px;}
/*AH5*/
.w3 {left:292px; top:138px;width:34px; height:18px;}
/*AH4*/
.w2 {left:214px; top:138px;width:34px; height:18px;}
/*无*/
.zxb_g201 {left:101px; top:197px;width:12px; height:28px;}
/*AH6*/
.w4 {left:354px; top:138px;width:34px; height:18px;}
/*无*/
.zxb_g202 {left:228px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g203 {left:304px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g195 {left:366px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g196 {left:432px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g197 {left:502px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g198 {left:573px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g199 {left:652px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g200 {left:728px; top:183px;width:12px; height:28px;}
/*无*/
.zxb_g204 {left:101px; top:471px;width:12px; height:28px;}
/*无数据图标*/
.other_g17 {left:253px; top:618px;width:12px; height:21px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g18 {left:344px; top:618px;width:12px; height:22px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*AH7*/
.w5 {left:420px; top:138px;width:34px; height:18px;}
/*AH8*/
.w6 {left:490px; top:138px;width:34px; height:18px;}
/*AH9*/
.w7 {left:559px; top:138px;width:34px; height:18px;}
/*AH10*/
.w8 {left:639px; top:138px;width:34px; height:18px;}
/*AH11*/
.w9 {left:713px; top:138px;width:34px; height:18px;}
/*无*/
.zxb_g188 {left:253px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g189 {left:343px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g190 {left:426px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g191 {left:519px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g192 {left:605px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g193 {left:698px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g194 {left:786px; top:457px;width:12px; height:28px;}
/*AH21*/
.w17 {left:89px; top:411px;width:34px; height:18px;}
/*AH13*/
.w10 {left:240px; top:411px;width:34px; height:18px;}
/*AH14*/
.w11 {left:332px; top:412px;width:34px; height:18px;}
/*AH15*/
.w12 {left:419px; top:411px;width:34px; height:18px;}
/*AH16*/
.w13 {left:510px; top:411px;width:34px; height:18px;}
/*AH17*/
.w14 {left:593px; top:411px;width:34px; height:18px;}
/*AH18*/
.w15 {left:688px; top:411px;width:34px; height:18px;}
/*AH19*/
.w16 {left:774px; top:411px;width:34px; height:18px;}
/*1AA1*/
.w18 {left:216px; top:388px;width:34px; height:18px;}
/*2AA1*/
.w29 {left:291px; top:388px;width:34px; height:18px;}
/*1AA11*/
.w28 {left:246px; top:668px;width:34px; height:18px;}
/*2AA11*/
.w39 {left:336px; top:668px;width:34px; height:18px;}
/*无数据图标*/
.other_g45 {left:227px; top:340px;width:12px; height:20px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g46 {left:304px; top:340px;width:12px; height:20px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g47 {left:925px; top:144px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g48 {left:971px; top:144px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g49 {left:1025px; top:145px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g50 {left:1085px; top:145px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g51 {left:1166px; top:144px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g52 {left:1251px; top:144px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g53 {left:1339px; top:145px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g54 {left:927px; top:407px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g55 {left:1001px; top:405px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g56 {left:1079px; top:406px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g57 {left:1152px; top:407px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g58 {left:1227px; top:406px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g59 {left:1277px; top:406px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g60 {left:1339px; top:406px;width:34px; height:18px; background:url(../yicitu/数据监测.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g63 {left:937px; top:472px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g64 {left:1011px; top:472px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g65 {left:1086px; top:472px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g66 {left:1159px; top:471px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g67 {left:1286px; top:472px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g69 {left:979px; top:209px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g70 {left:1102px; top:209px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g71 {left:1178px; top:209px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g72 {left:1260px; top:209px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g73 {left:1343px; top:208px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
