/*region*/
.page_content{background: url(../yicitu/p2_58.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g2953 {left:55px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g2954 {left:104px; top:174px;width:10px; height:24px;}
/*无*/
.zxb_g2955 {left:174px; top:174px;width:10px; height:24px;}
/*无*/
.zxb_g2956 {left:226px; top:185px;width:10px; height:24px;}
/*无*/
.zxb_g2960 {left:275px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2961 {left:308px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2962 {left:340px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2963 {left:371px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2964 {left:404px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2965 {left:436px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2966 {left:468px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2967 {left:499px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2968 {left:531px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2969 {left:560px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2970 {left:589px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2971 {left:618px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2972 {left:650px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2973 {left:683px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2974 {left:716px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2975 {left:751px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2976 {left:788px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2977 {left:817px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2978 {left:846px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2979 {left:875px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2980 {left:904px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2981 {left:939px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2982 {left:968px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2983 {left:997px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2984 {left:1029px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2985 {left:1060px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2986 {left:1093px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2987 {left:1125px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2988 {left:1156px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2989 {left:1188px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2990 {left:1218px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2991 {left:1250px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2992 {left:1281px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2993 {left:1312px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2994 {left:1345px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g2995 {left:1377px; top:180px;width:10px; height:24px;}
/*无*/
.zxb_g2996 {left:1393px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g2997 {left:1359px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g2998 {left:1326px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g2999 {left:1292px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g3000 {left:1258px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g3001 {left:1225px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g3002 {left:1191px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g3003 {left:1158px; top:514px;width:10px; height:24px;}
/*无*/
.zxb_g3004 {left:1073px; top:508px;width:10px; height:24px;}
/*无*/
.zxb_g3005 {left:1036px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3006 {left:1006px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3007 {left:974px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3008 {left:943px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3009 {left:912px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3010 {left:881px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3011 {left:850px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3012 {left:819px; top:517px;width:10px; height:24px;}
/*无*/
.zxb_g3013 {left:785px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3014 {left:753px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3015 {left:721px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3016 {left:689px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3017 {left:657px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3018 {left:626px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3019 {left:594px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3020 {left:562px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3021 {left:521px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3022 {left:488px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3023 {left:455px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3024 {left:421px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3025 {left:387px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3026 {left:354px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3027 {left:321px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3028 {left:280px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3029 {left:246px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3030 {left:212px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3031 {left:178px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3032 {left:144px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3033 {left:110px; top:515px;width:10px; height:24px;}
/*无*/
.zxb_g3034 {left:76px; top:515px;width:10px; height:24px;}
/*中央信号屏*/
.zxb_g3035 {left:42px; top:515px;width:10px; height:24px;}
/*AA1*/
.w9 {left:36px; top:199px;width:16px; height:16px;}
/*AA2*/
.w10 {left:84px; top:178px;width:16px; height:16px;}
/*AA3*/
.w11 {left:154px; top:178px;width:16px; height:16px;}
/*AA4*/
.w12 {left:207px; top:188px;width:16px; height:16px;}
/*AA5*/
.w16 {left:257px; top:185px;width:16px; height:16px;}
/*AA5*/
.w17 {left:289px; top:185px;width:16px; height:16px;}
/*AA5*/
.w18 {left:322px; top:185px;width:16px; height:16px;}
/*AA5*/
.w19 {left:353px; top:185px;width:16px; height:16px;}
/*AA5*/
.w20 {left:385px; top:185px;width:16px; height:16px;}
/*AA5*/
.w21 {left:417px; top:186px;width:16px; height:16px;}
/*AA5*/
.w22 {left:449px; top:186px;width:16px; height:16px;}
/*AA5*/
.w23 {left:481px; top:185px;width:16px; height:16px;}
/*AA6*/
.w24 {left:512px; top:185px;width:16px; height:16px;}
/*AA6*/
.w25 {left:543px; top:185px;width:16px; height:16px;}
/*AA6*/
.w26 {left:572px; top:185px;width:16px; height:16px;}
/*AA6*/
.w27 {left:601px; top:185px;width:16px; height:16px;}
/*AA7*/
.w28 {left:632px; top:185px;width:16px; height:16px;}
/*AA7*/
.w29 {left:664px; top:185px;width:16px; height:16px;}
/*AA7*/
.w30 {left:698px; top:185px;width:16px; height:16px;}
/*AA7*/
.w31 {left:731px; top:185px;width:16px; height:16px;}
/*AA8*/
.w32 {left:768px; top:185px;width:16px; height:16px;}
/*AA8*/
.w33 {left:800px; top:185px;width:16px; height:16px;}
/*AA8*/
.w34 {left:829px; top:185px;width:16px; height:16px;}
/*AA8*/
.w35 {left:857px; top:185px;width:16px; height:16px;}
/*AA8*/
.w36 {left:887px; top:185px;width:16px; height:16px;}
/*AA9*/
.w37 {left:921px; top:185px;width:16px; height:16px;}
/*AA9*/
.w38 {left:951px; top:185px;width:16px; height:16px;}
/*AA9*/
.w39 {left:980px; top:185px;width:16px; height:16px;}
/*AA9*/
.w40 {left:1010px; top:185px;width:16px; height:16px;}
/*AA9*/
.w41 {left:1042px; top:185px;width:16px; height:16px;}
/*AA9*/
.w42 {left:1073px; top:185px;width:16px; height:16px;}
/*AA9*/
.w43 {left:1106px; top:185px;width:16px; height:16px;}
/*AA9*/
.w44 {left:1138px; top:185px;width:16px; height:16px;}
/*AA10*/
.w45 {left:1169px; top:185px;width:16px; height:16px;}
/*AA10*/
.w46 {left:1199px; top:185px;width:16px; height:16px;}
/*AA10*/
.w47 {left:1232px; top:185px;width:16px; height:16px;}
/*AA10*/
.w48 {left:1263px; top:185px;width:16px; height:16px;}
/*AA10*/
.w49 {left:1294px; top:185px;width:16px; height:16px;}
/*AA10*/
.w50 {left:1325px; top:185px;width:16px; height:16px;}
/*AA10*/
.w51 {left:1358px; top:185px;width:16px; height:16px;}
/*AA11*/
.w52 {left:1374px; top:518px;width:16px; height:16px;}
/*AA11*/
.w53 {left:1339px; top:518px;width:16px; height:16px;}
/*AA11*/
.w54 {left:1306px; top:518px;width:16px; height:16px;}
/*AA11*/
.w55 {left:1272px; top:518px;width:16px; height:16px;}
/*AA11*/
.w56 {left:1239px; top:518px;width:16px; height:16px;}
/*AA11*/
.w57 {left:1205px; top:518px;width:16px; height:16px;}
/*AA11*/
.w58 {left:1172px; top:517px;width:16px; height:16px;}
/*AA11*/
.w59 {left:1140px; top:518px;width:16px; height:16px;}
/*AA12*/
.w60 {left:1054px; top:512px;width:16px; height:16px;}
/*AA13*/
.w61 {left:1018px; top:518px;width:16px; height:16px;}
/*AA13*/
.w62 {left:987px; top:518px;width:16px; height:16px;}
/*AA13*/
.w63 {left:956px; top:518px;width:16px; height:16px;}
/*AA13*/
.w64 {left:925px; top:518px;width:16px; height:16px;}
/*AA13*/
.w65 {left:894px; top:518px;width:16px; height:16px;}
/*AA13*/
.w66 {left:863px; top:518px;width:16px; height:16px;}
/*AA13*/
.w67 {left:832px; top:518px;width:16px; height:16px;}
/*AA13*/
.w68 {left:800px; top:518px;width:16px; height:16px;}
/*AA14*/
.w69 {left:766px; top:518px;width:16px; height:16px;}
/*AA14*/
.w70 {left:734px; top:518px;width:16px; height:16px;}
/*AA14*/
.w71 {left:702px; top:518px;width:16px; height:16px;}
/*AA14*/
.w72 {left:671px; top:518px;width:16px; height:16px;}
/*AA14*/
.w73 {left:639px; top:518px;width:16px; height:16px;}
/*AA14*/
.w74 {left:607px; top:518px;width:16px; height:16px;}
/*AA14*/
.w75 {left:575px; top:518px;width:16px; height:16px;}
/*AA14*/
.w76 {left:544px; top:518px;width:16px; height:16px;}
/*AA15*/
.w77 {left:502px; top:518px;width:16px; height:16px;}
/*AA15*/
.w78 {left:469px; top:518px;width:16px; height:16px;}
/*AA15*/
.w79 {left:435px; top:518px;width:16px; height:16px;}
/*AA15*/
.w80 {left:402px; top:518px;width:16px; height:16px;}
/*AA15*/
.w81 {left:368px; top:518px;width:16px; height:16px;}
/*AA15*/
.w82 {left:335px; top:518px;width:16px; height:16px;}
/*AA15*/
.w83 {left:301px; top:518px;width:16px; height:16px;}
/*AA16*/
.w84 {left:260px; top:518px;width:16px; height:16px;}
/*AA16*/
.w85 {left:227px; top:518px;width:16px; height:16px;}
/*AA16*/
.w86 {left:193px; top:518px;width:16px; height:16px;}
/*AA16*/
.w87 {left:159px; top:518px;width:16px; height:16px;}
/*AA16*/
.w88 {left:125px; top:518px;width:16px; height:16px;}
/*AA16*/
.w89 {left:91px; top:518px;width:16px; height:16px;}
/*AA16*/
.w90 {left:56px; top:518px;width:16px; height:16px;}
/*AA16*/
.w91 {left:23px; top:518px;width:16px; height:16px;}
