/*#region 福州二医院运维项目 1号楼变压器及低压配电房一次图 */
.page_content {background: url(../yicitu/p137.png) no-repeat;}

/*TM1_2000kVA变*/
.w897 { left:1017px; top:365px;}
/*TM2_2000kVA变*/
.w898 { left:597px; top:365px;}
/*1AA TM1进线柜*/
.w1016 { left:939px; top:401px;}
/*21AA TM2进线柜*/
.w1017 { left:519px; top:401px;}
/*1AH 工作电源进线柜*/
.w1018 { left:454px; top:37px;}
