/*region*/
.page_content{background: url(../yicitu/p177_86.png) no-repeat;cursor:default !important;position: relative;}
/*2AA1*/
.w93 {left:86px; top:249px;width:16px; height:16px;}
/*2AA2*/
.w94 {left:232px; top:136px;width:16px; height:16px;}
/*2AA3*/
.w95 {left:348px; top:136px;width:16px; height:16px;}
/*2AA4*/
.w96 {left:452px; top:136px;width:16px; height:16px;}
/*2AA5*/
.w97 {left:565px; top:125px;width:16px; height:16px;}
/*2AA5*/
.w98 {left:565px; top:163px;width:16px; height:16px;}
/*2AA5*/
.w99 {left:565px; top:203px;width:16px; height:16px;}
/*2AA5*/
.w100 {left:565px; top:246px;width:16px; height:16px;}
/*2AA6*/
.w101 {left:680px; top:125px;width:16px; height:16px;}
/*2AA6*/
.w102 {left:680px; top:162px;width:16px; height:16px;}
/*2AA6*/
.w103 {left:680px; top:203px;width:16px; height:16px;}
/*2AA6*/
.w104 {left:680px; top:246px;width:16px; height:16px;}
/*2AA6*/
.w105 {left:680px; top:288px;width:16px; height:16px;}
/*2AA6*/
.w106 {left:680px; top:330px;width:16px; height:16px;}
/*2AA6*/
.w107 {left:680px; top:373px;width:16px; height:16px;}
/*2AA7*/
.w108 {left:797px; top:124px;width:16px; height:16px;}
/*2AA7*/
.w109 {left:797px; top:163px;width:16px; height:16px;}
/*2AA7*/
.w110 {left:797px; top:204px;width:16px; height:16px;}
/*2AA7*/
.w111 {left:797px; top:248px;width:16px; height:16px;}
/*2AA7*/
.w112 {left:797px; top:289px;width:16px; height:16px;}
/*2AA7*/
.w113 {left:797px; top:332px;width:16px; height:16px;}
/*2AA8*/
.w114 {left:917px; top:126px;width:16px; height:16px;}
/*2AA8*/
.w115 {left:917px; top:165px;width:16px; height:16px;}
/*2AA8*/
.w116 {left:917px; top:206px;width:16px; height:16px;}
/*2AA8*/
.w117 {left:917px; top:248px;width:16px; height:16px;}
/*2AA8*/
.w118 {left:917px; top:291px;width:16px; height:16px;}
/*2AA8*/
.w119 {left:917px; top:333px;width:16px; height:16px;}
/*2AA8*/
.w120 {left:917px; top:373px;width:16px; height:16px;}
/*2AA9*/
.w121 {left:1033px; top:125px;width:16px; height:16px;}
/*2AA9*/
.w122 {left:1033px; top:166px;width:16px; height:16px;}
/*2AA9*/
.w123 {left:1033px; top:208px;width:16px; height:16px;}
/*2AA9*/
.w124 {left:1033px; top:250px;width:16px; height:16px;}
/*2AA9*/
.w125 {left:1033px; top:292px;width:16px; height:16px;}
/*2AA10*/
.w126 {left:1150px; top:127px;width:16px; height:16px;}
/*2AA10*/
.w127 {left:1150px; top:166px;width:16px; height:16px;}
/*2AA10*/
.w128 {left:1150px; top:207px;width:16px; height:16px;}
/*2AA10*/
.w129 {left:1150px; top:250px;width:16px; height:16px;}
/*2AA10*/
.w130 {left:1150px; top:293px;width:16px; height:16px;}
/*2AA11*/
.w131 {left:1272px; top:125px;width:16px; height:16px;}
/*2AA11*/
.w132 {left:1272px; top:167px;width:16px; height:16px;}
/*2AA11*/
.w133 {left:1272px; top:207px;width:16px; height:16px;}
/*2AA11*/
.w134 {left:1272px; top:249px;width:16px; height:16px;}
/*2AA11*/
.w135 {left:1272px; top:293px;width:16px; height:16px;}
/*2AA11*/
.w136 {left:1272px; top:342px;width:16px; height:16px;}
/*2AA17*/
.w165 {left:180px; top:485px;width:16px; height:16px;}
/*2AA17*/
.w166 {left:180px; top:521px;width:16px; height:16px;}
/*2AA17*/
.w167 {left:179px; top:568px;width:16px; height:16px;}
/*2AA17*/
.w168 {left:180px; top:605px;width:16px; height:16px;}
/*2AA17*/
.w169 {left:180px; top:648px;width:16px; height:16px;}
/*2AA17*/
.w170 {left:180px; top:695px;width:16px; height:16px;}
/*2AA16*/
.w159 {left:308px; top:485px;width:16px; height:16px;}
/*2AA16*/
.w160 {left:308px; top:524px;width:16px; height:16px;}
/*2AA16*/
.w161 {left:308px; top:567px;width:16px; height:16px;}
/*2AA16*/
.w162 {left:308px; top:609px;width:16px; height:16px;}
/*2AA16*/
.w163 {left:308px; top:652px;width:16px; height:16px;}
/*2AA16*/
.w164 {left:308px; top:695px;width:16px; height:16px;}
/*2AA15*/
.w153 {left:434px; top:485px;width:16px; height:16px;}
/*2AA15*/
.w154 {left:434px; top:526px;width:16px; height:16px;}
/*2AA15*/
.w155 {left:434px; top:567px;width:16px; height:16px;}
/*2AA15*/
.w156 {left:434px; top:609px;width:16px; height:16px;}
/*2AA15*/
.w157 {left:434px; top:652px;width:16px; height:16px;}
/*2AA15*/
.w158 {left:434px; top:695px;width:16px; height:16px;}
/*2AA14*/
.w148 {left:564px; top:484px;width:16px; height:16px;}
/*2AA14*/
.w149 {left:564px; top:522px;width:16px; height:16px;}
/*2AA14*/
.w150 {left:564px; top:564px;width:16px; height:16px;}
/*2AA14*/
.w151 {left:564px; top:607px;width:16px; height:16px;}
/*2AA14*/
.w152 {left:564px; top:649px;width:16px; height:16px;}
/*2AA13*/
.w142 {left:692px; top:484px;width:16px; height:16px;}
/*2AA13*/
.w143 {left:692px; top:522px;width:16px; height:16px;}
/*2AA13*/
.w144 {left:692px; top:564px;width:16px; height:16px;}
/*2AA13*/
.w145 {left:692px; top:608px;width:16px; height:16px;}
/*2AA13*/
.w146 {left:692px; top:648px;width:16px; height:16px;}
/*2AA13*/
.w147 {left:692px; top:695px;width:16px; height:16px;}
/*2AA12*/
.w137 {left:820px; top:485px;width:16px; height:16px;}
/*2AA12*/
.w138 {left:820px; top:523px;width:16px; height:16px;}
/*2AA12*/
.w139 {left:820px; top:564px;width:16px; height:16px;}
/*2AA12*/
.w140 {left:820px; top:607px;width:16px; height:16px;}
/*2AA12*/
.w141 {left:820px; top:648px;width:16px; height:16px;}
