/*region*/
.page_content{background: url(../yicitu/p1.png) no-repeat;cursor:default !important;position: relative;}
/*AH2*/
.w5 {left:87px; top:138px;width:34px; height:18px;}
/*AH5*/
.w7 {left:292px; top:138px;width:34px; height:18px;}

/*无*/
.zxb_g201 {left:253px; top:457px;width:12px; height:28px;}
/*无*/
.zxb_g202 {left:343px; top:457px;width:12px; height:28px;}

