/*region*/
.page_content{background: url(../yicitu/p3.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g411 {left:166px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g412 {left:286px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g413 {left:407px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g414 {left:523px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g415 {left:651px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g420 {left:805px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g419 {left:928px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g418 {left:1049px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g417 {left:1173px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g416 {left:1282px; top:247px;width:12px; height:28px;}
/*AH6*/
.w110 {left:791px; top:174px;width:34px; height:18px;}
/*AH7*/
.w109 {left:918px; top:172px;width:34px; height:18px;}
/*AH1*/
.w101 {left:157px; top:172px;width:34px; height:18px;}
/*AH2*/
.w102 {left:276px; top:172px;width:34px; height:18px;}
/*AH3*/
.w103 {left:393px; top:172px;width:34px; height:18px;}
/*AH4*/
.w104 {left:517px; top:173px;width:34px; height:18px;}
/*AH5*/
.w105 {left:638px; top:173px;width:34px; height:18px;}
/*AH8*/
.w108 {left:1037px; top:173px;width:34px; height:18px;}
/*AH9*/
.w107 {left:1159px; top:172px;width:34px; height:18px;}
/*AH10*/
.w106 {left:1268px; top:172px;width:41px; height:18px;}
/*无数据图标*/
.other_g21 {left:286px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g22 {left:406px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g23 {left:522px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g24 {left:651px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g25 {left:805px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g26 {left:928px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g27 {left:1173px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g28 {left:1049px; top:570px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*LAA1*/
.w121 {left:275px; top:637px;width:34px; height:18px;}
/*1AA1*/
.w111 {left:396px; top:637px;width:34px; height:18px;}
/*2AA1*/
.w132 {left:509px; top:637px;width:34px; height:18px;}
/*3AA1*/
.w126 {left:641px; top:637px;width:34px; height:18px;}
/*3AA14*/
.w131 {left:791px; top:636px;width:48px; height:18px;}
/*2AA16*/
.w143 {left:910px; top:636px;width:47px; height:18px;}
/*1AA12*/
.w120 {left:1034px; top:638px;width:45px; height:18px;}
/*LAA13*/
.w125 {left:1151px; top:636px;width:50px; height:18px;}
