/*region*/
.page_content{background: url(../yicitu/p7.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g12106 {left:765px; top:575px;width:12px; height:28px;}
/*无*/
.zxb_g12114 {left:921px; top:444px;width:12px; height:28px;}
/*无*/
.zxb_g12104 {left:511px; top:444px;width:12px; height:28px;}
/*AA1*/
.w1 {left:533px; top:446px;width:18px; height:18px;}
/*AA3*/
.w3 {left:737px; top:577px;width:18px; height:18px;}
/*AA20*/
.w11 {left:944px; top:450px;width:16px; height:16px;}
