/*region*/
.page_content{background: url(../yicitu/p2.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g2945 {left:330px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2946 {left:450px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2947 {left:571px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2948 {left:687px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2952 {left:805px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2951 {left:925px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2950 {left:1044px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2949 {left:1163px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g2953 {left:450px; top:502px;width:12px; height:28px;}
/*无*/
.zxb_g2959 {left:1044px; top:504px;width:12px; height:28px;}
/*无数据图标*/
.other_g11 {left:839px; top:613px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*AH5*/
.w8 {left:778px; top:182px;width:18px; height:18px;}
/*AH1*/
.w1 {left:299px; top:182px;width:18px; height:18px;}
/*AH2*/
.w2 {left:424px; top:182px;width:18px; height:18px;}
/*AH3*/
.w3 {left:543px; top:182px;width:18px; height:18px;}
/*AH4*/
.w4 {left:658px; top:182px;width:18px; height:18px;}
/*AH6*/
.w7 {left:895px; top:182px;width:18px; height:18px;}
/*AH7*/
.w6 {left:1015px; top:181px;width:18px; height:18px;}
/*AH8*/
.w5 {left:1133px; top:181px;width:18px; height:18px;}
/*lable*/
.yct_xy_label20 {left:865px; top:616px;}
/*AA1*/
.w9 {left:472px; top:507px;width:18px; height:18px;}
/*AA31*/
.w15 {left:1064px; top:507px;width:18px; height:18px;}
/*AA4*/
.w12 {left:811px; top:618px;width:18px; height:18px;}
