/*region*/
.page_content{background: url(../yicitu/p3_61.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g7108 {left:209px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g7109 {left:270px; top:177px;width:10px; height:24px;}
/*无*/
.zxb_g7110 {left:336px; top:226px;width:10px; height:24px;}
/*无*/
.zxb_g7133 {left:384px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7134 {left:425px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7135 {left:463px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7136 {left:497px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7137 {left:532px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7138 {left:566px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7139 {left:600px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g7140 {left:634px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7141 {left:669px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7142 {left:706px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7143 {left:739px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7144 {left:772px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7145 {left:805px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7146 {left:838px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7147 {left:871px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7148 {left:904px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7149 {left:941px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7150 {left:974px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7151 {left:1007px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7152 {left:1040px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7153 {left:1073px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7154 {left:1105px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7155 {left:1138px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g7114 {left:1207px; top:176px;width:10px; height:24px;}
/*无*/
.zxb_g7113 {left:1207px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g7162 {left:1139px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7161 {left:1105px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7160 {left:1069px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7159 {left:1037px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7158 {left:1004px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7157 {left:974px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7156 {left:942px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7170 {left:904px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7169 {left:872px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7168 {left:841px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7167 {left:808px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7166 {left:777px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7165 {left:745px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7164 {left:713px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7163 {left:681px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7178 {left:628px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7177 {left:595px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7176 {left:562px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7175 {left:530px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7174 {left:497px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7173 {left:464px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7172 {left:432px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7171 {left:399px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7180 {left:372px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7179 {left:335px; top:509px;width:10px; height:24px;}
/*无*/
.zxb_g7111 {left:271px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g7112 {left:220px; top:522px;width:10px; height:24px;}
/*LAA1*/
.w21 {left:190px; top:204px;width:16px; height:16px;}
/*LAA2*/
.w22 {left:249px; top:179px;width:16px; height:16px;}
/*LAA3*/
.w23 {left:317px; top:230px;width:16px; height:16px;}
/*LAA4*/
.w46 {left:366px; top:194px;width:16px; height:16px;}
/*LAA4*/
.w47 {left:406px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w48 {left:445px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w49 {left:478px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w50 {left:513px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w51 {left:547px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w52 {left:581px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w53 {left:615px; top:194px;width:16px; height:16px;}
/*LAA5*/
.w54 {left:650px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w55 {left:688px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w56 {left:721px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w57 {left:754px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w58 {left:787px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w59 {left:820px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w60 {left:853px; top:194px;width:16px; height:16px;}
/*LAA6*/
.w61 {left:886px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w62 {left:923px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w63 {left:956px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w64 {left:989px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w65 {left:1022px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w66 {left:1055px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w67 {left:1087px; top:194px;width:16px; height:16px;}
/*LAA7*/
.w68 {left:1120px; top:194px;width:16px; height:16px;}
/*LAA3-1*/
.w27 {left:1188px; top:181px;width:16px; height:16px;}
/*LAA12-1*/
.w26 {left:1185px; top:499px;width:16px; height:16px;}
/*LAA8*/
.w75 {left:1120px; top:514px;width:16px; height:16px;}
/*LAA8*/
.w74 {left:1086px; top:514px;width:16px; height:16px;}
/*LAA8*/
.w73 {left:1050px; top:514px;width:16px; height:16px;}
/*LAA8*/
.w72 {left:1018px; top:514px;width:16px; height:16px;}
/*LAA8*/
.w71 {left:986px; top:514px;width:16px; height:16px;}
/*LAA8*/
.w70 {left:956px; top:514px;width:16px; height:16px;}
/*LAA8*/
.w69 {left:924px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w83 {left:886px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w82 {left:854px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w81 {left:822px; top:513px;width:16px; height:16px;}
/*LAA9*/
.w80 {left:790px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w79 {left:759px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w78 {left:727px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w77 {left:695px; top:514px;width:16px; height:16px;}
/*LAA9*/
.w76 {left:663px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w91 {left:610px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w90 {left:577px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w89 {left:544px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w88 {left:512px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w87 {left:477px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w86 {left:445px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w85 {left:413px; top:514px;width:16px; height:16px;}
/*LAA10*/
.w84 {left:383px; top:514px;width:16px; height:16px;}
/*LAA11*/
.w93 {left:354px; top:514px;width:16px; height:16px;}
/*LAA11*/
.w92 {left:316px; top:514px;width:16px; height:16px;}
/*LAA12*/
.w24 {left:252px; top:497px;width:16px; height:16px;}
/*LAA13*/
.w25 {left:201px; top:526px;width:16px; height:16px;}
