/*region*/
.page_content{background: url(../yicitu/p11_75.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g15825 {left:152px; top:214px;width:10px; height:24px;}
/*无*/
.zxb_g15826 {left:175px; top:214px;width:10px; height:24px;}
/*无*/
.zxb_g15827 {left:244px; top:182px;width:10px; height:24px;}
/*无*/
.zxb_g15832 {left:328px; top:183px;width:10px; height:24px;}
/*无*/
.zxb_g15833 {left:383px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15834 {left:419px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15835 {left:455px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15836 {left:492px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15837 {left:528px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15838 {left:560px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15839 {left:595px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15840 {left:630px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15841 {left:665px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15842 {left:700px; top:202px;width:10px; height:24px;}
/*无*/
.zxb_g15843 {left:736px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15844 {left:768px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15845 {left:801px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15846 {left:833px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15847 {left:865px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15848 {left:898px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15849 {left:927px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15850 {left:962px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15851 {left:997px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15852 {left:1033px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15853 {left:1068px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15854 {left:1103px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15855 {left:1136px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15856 {left:1169px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15857 {left:1201px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15858 {left:1235px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15859 {left:1268px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15860 {left:1301px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15861 {left:1335px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g15869 {left:1331px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15868 {left:1298px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15867 {left:1268px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15866 {left:1237px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15865 {left:1206px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15864 {left:1175px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15863 {left:1144px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15862 {left:1113px; top:507px;width:10px; height:24px;}
/*无*/
.zxb_g15828 {left:1006px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g15874 {left:984px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15873 {left:951px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15872 {left:918px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15871 {left:885px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15870 {left:851px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15879 {left:832px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15878 {left:800px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15877 {left:766px; top:505px;width:10px; height:24px;}
/*无*/
.zxb_g15876 {left:733px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15875 {left:699px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15884 {left:672px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15883 {left:639px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15882 {left:604px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15881 {left:571px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15880 {left:537px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15889 {left:512px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15888 {left:477px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15887 {left:442px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15886 {left:408px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15885 {left:373px; top:506px;width:10px; height:24px;}
/*无*/
.zxb_g15829 {left:327px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g15830 {left:262px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g15831 {left:198px; top:516px;width:10px; height:24px;}
/*AA1*/
.w5 {left:132px; top:218px;width:16px; height:16px;}
/*AA2*/
.w6 {left:190px; top:218px;width:16px; height:16px;}
/*AA3*/
.w7 {left:224px; top:186px;width:16px; height:16px;}
/*AA4*/
.w12 {left:308px; top:187px;width:16px; height:16px;}
/*AA5*/
.w13 {left:363px; top:205px;width:16px; height:16px;}
/*AA5*/
.w14 {left:399px; top:205px;width:16px; height:16px;}
/*AA5*/
.w15 {left:436px; top:205px;width:16px; height:16px;}
/*AA5*/
.w16 {left:473px; top:205px;width:16px; height:16px;}
/*AA5*/
.w17 {left:507px; top:205px;width:16px; height:16px;}
/*AA6*/
.w18 {left:541px; top:205px;width:16px; height:16px;}
/*AA6*/
.w19 {left:575px; top:205px;width:16px; height:16px;}
/*AA6*/
.w20 {left:610px; top:205px;width:16px; height:16px;}
/*AA6*/
.w21 {left:645px; top:205px;width:16px; height:16px;}
/*AA6*/
.w22 {left:680px; top:205px;width:16px; height:16px;}
/*AA7*/
.w23 {left:716px; top:205px;width:16px; height:16px;}
/*AA7*/
.w24 {left:749px; top:205px;width:16px; height:16px;}
/*AA7*/
.w25 {left:782px; top:205px;width:16px; height:16px;}
/*AA7*/
.w26 {left:815px; top:205px;width:16px; height:16px;}
/*AA7*/
.w27 {left:846px; top:205px;width:16px; height:16px;}
/*AA7*/
.w28 {left:879px; top:205px;width:16px; height:16px;}
/*AA8*/
.w29 {left:909px; top:205px;width:16px; height:16px;}
/*AA8*/
.w30 {left:942px; top:205px;width:16px; height:16px;}
/*AA8*/
.w31 {left:977px; top:207px;width:16px; height:16px;}
/*AA8*/
.w32 {left:1012px; top:207px;width:16px; height:16px;}
/*AA8*/
.w33 {left:1048px; top:207px;width:16px; height:16px;}
/*AA9*/
.w34 {left:1082px; top:207px;width:16px; height:16px;}
/*AA9*/
.w35 {left:1117px; top:207px;width:16px; height:16px;}
/*AA9*/
.w36 {left:1149px; top:207px;width:16px; height:16px;}
/*AA9*/
.w37 {left:1183px; top:207px;width:16px; height:16px;}
/*AA9*/
.w38 {left:1215px; top:207px;width:16px; height:16px;}
/*AA9*/
.w39 {left:1249px; top:207px;width:16px; height:16px;}
/*AA9*/
.w40 {left:1282px; top:207px;width:16px; height:16px;}
/*AA9*/
.w41 {left:1316px; top:207px;width:16px; height:16px;}
/*AA10*/
.w49 {left:1312px; top:511px;width:16px; height:16px;}
/*AA10*/
.w48 {left:1280px; top:511px;width:16px; height:16px;}
/*AA10*/
.w47 {left:1249px; top:511px;width:16px; height:16px;}
/*AA10*/
.w46 {left:1218px; top:511px;width:16px; height:16px;}
/*AA10*/
.w45 {left:1188px; top:511px;width:16px; height:16px;}
/*AA10*/
.w44 {left:1156px; top:511px;width:16px; height:16px;}
/*AA10*/
.w43 {left:1126px; top:511px;width:16px; height:16px;}
/*AA10*/
.w42 {left:1095px; top:511px;width:16px; height:16px;}
/*AA11*/
.w8 {left:1020px; top:500px;width:16px; height:16px;}
/*AA12*/
.w54 {left:965px; top:511px;width:16px; height:16px;}
/*AA12*/
.w53 {left:932px; top:511px;width:16px; height:16px;}
/*AA12*/
.w52 {left:899px; top:511px;width:16px; height:16px;}
/*AA12*/
.w51 {left:864px; top:521px;width:16px; height:16px;}
/*AA12*/
.w50 {left:864px; top:501px;width:16px; height:16px;}
/*AA13*/
.w59 {left:813px; top:511px;width:16px; height:16px;}
/*AA13*/
.w58 {left:780px; top:511px;width:16px; height:16px;}
/*AA13*/
.w57 {left:747px; top:511px;width:16px; height:16px;}
/*AA13*/
.w56 {left:712px; top:522px;width:16px; height:16px;}
/*AA13*/
.w55 {left:712px; top:502px;width:16px; height:16px;}
/*AA14*/
.w64 {left:653px; top:511px;width:16px; height:16px;}
/*AA14*/
.w63 {left:619px; top:511px;width:16px; height:16px;}
/*AA14*/
.w62 {left:585px; top:511px;width:16px; height:16px;}
/*AA14*/
.w61 {left:552px; top:523px;width:16px; height:16px;}
/*AA14*/
.w60 {left:551px; top:502px;width:16px; height:16px;}
/*AA15*/
.w69 {left:492px; top:511px;width:16px; height:16px;}
/*AA15*/
.w67 {left:422px; top:511px;width:16px; height:16px;}
/*AA15*/
.w66 {left:388px; top:511px;width:16px; height:16px;}
/*AA15*/
.w65 {left:353px; top:511px;width:16px; height:16px;}
/*AA16*/
.w9 {left:306px; top:490px;width:16px; height:16px;}
/*AA17*/
.w10 {left:241px; top:490px;width:16px; height:16px;}
/*AA18*/
.w11 {left:178px; top:520px;width:16px; height:16px;}
/*AA15*/
.w68 {left:456px; top:511px;width:16px; height:16px;}
