/*region*/
.page_content{background: url(../yicitu/p11.png) no-repeat;cursor:default !important;}
/*无*/
.zxb_g3373 {left:380px; top:138px;width:14px; height:31px;}
/*无*/
.zxb_g3374 {left:509px; top:140px;width:14px; height:31px;}
/*无*/
.zxb_g3375 {left:1012px; top:140px;width:14px; height:31px;}
/*无*/
.zxb_g3376 {left:1157px; top:139px;width:14px; height:31px;}
/*AH1*/
.w368 {left:373px; top:94px;width:34px; height:18px;}
/*AH2*/
.w369 {left:505px; top:94px;width:34px; height:18px;}
/*AH3*/
.w370 {left:1014px; top:94px;width:34px; height:18px;}
/*AH4*/
.w371 {left:1149px; top:94px;width:34px; height:18px;}
