/*region*/
.page_content{background: url(../yicitu/p2_59.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g2959 {left:60px; top:203px;width:10px; height:24px;}
/*无*/
.zxb_g2958 {left:119px; top:180px;width:10px; height:24px;}
/*无*/
.zxb_g2957 {left:193px; top:182px;width:10px; height:24px;}
/*无*/
.zxb_g3099 {left:257px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3100 {left:292px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3101 {left:327px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3102 {left:362px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3103 {left:397px; top:190px;width:10px; height:24px;}
/*无*/
.zxb_g3104 {left:432px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3105 {left:467px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3106 {left:502px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3095 {left:538px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3096 {left:573px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3097 {left:606px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3098 {left:641px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3090 {left:679px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3091 {left:710px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3092 {left:742px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3093 {left:775px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3094 {left:806px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3086 {left:845px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3087 {left:885px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3088 {left:925px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3089 {left:965px; top:191px;width:10px; height:24px;}
/*中央信号屏*/
.zxb_g3079 {left:1005px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3080 {left:1036px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3081 {left:1068px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3082 {left:1099px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3083 {left:1130px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3084 {left:1161px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3085 {left:1193px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3073 {left:1228px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3074 {left:1258px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3075 {left:1289px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3076 {left:1319px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3077 {left:1350px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3078 {left:1382px; top:191px;width:10px; height:24px;}
/*无*/
.zxb_g3072 {left:1401px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3071 {left:1371px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3070 {left:1341px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3069 {left:1310px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3068 {left:1280px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3067 {left:1249px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3066 {left:1219px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3065 {left:1110px; top:486px;width:10px; height:24px;}
/*无*/
.zxb_g3064 {left:1074px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3063 {left:1044px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3062 {left:1014px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3061 {left:981px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3060 {left:949px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3059 {left:917px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3058 {left:883px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3057 {left:850px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3056 {left:812px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3055 {left:775px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3054 {left:739px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3053 {left:702px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3052 {left:665px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3051 {left:628px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3050 {left:591px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3049 {left:548px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3048 {left:513px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3047 {left:478px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3046 {left:443px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3045 {left:407px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3044 {left:372px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3043 {left:337px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3042 {left:296px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3041 {left:260px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3040 {left:224px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3039 {left:188px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3038 {left:153px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3037 {left:117px; top:502px;width:10px; height:24px;}
/*无*/
.zxb_g3036 {left:81px; top:502px;width:10px; height:24px;}
/*AA31*/
.w15 {left:41px; top:207px;width:16px; height:16px;}
/*AA30*/
.w14 {left:100px; top:184px;width:16px; height:16px;}
/*AA29*/
.w13 {left:173px; top:186px;width:16px; height:16px;}
/*AA28*/
.w155 {left:238px; top:194px;width:16px; height:16px;}
/*AA28*/
.w156 {left:273px; top:195px;width:16px; height:16px;}
/*AA28*/
.w157 {left:307px; top:195px;width:16px; height:16px;}
/*AA28*/
.w158 {left:343px; top:195px;width:16px; height:16px;}
/*AA28*/
.w159 {left:378px; top:195px;width:16px; height:16px;}
/*AA28*/
.w160 {left:413px; top:195px;width:16px; height:16px;}
/*AA28*/
.w161 {left:448px; top:195px;width:16px; height:16px;}
/*AA28*/
.w162 {left:484px; top:195px;width:16px; height:16px;}
/*AA27*/
.w151 {left:519px; top:195px;width:16px; height:16px;}
/*AA27*/
.w152 {left:554px; top:195px;width:16px; height:16px;}
/*AA27*/
.w153 {left:587px; top:195px;width:16px; height:16px;}
/*AA27*/
.w154 {left:621px; top:195px;width:16px; height:16px;}
/*AA26*/
.w146 {left:660px; top:195px;width:16px; height:16px;}
/*AA26*/
.w147 {left:692px; top:195px;width:16px; height:16px;}
/*AA26*/
.w148 {left:724px; top:195px;width:16px; height:16px;}
/*AA26*/
.w149 {left:756px; top:195px;width:16px; height:16px;}
/*AA26*/
.w150 {left:788px; top:195px;width:16px; height:16px;}
/*AA25*/
.w142 {left:826px; top:195px;width:16px; height:16px;}
/*AA25*/
.w143 {left:866px; top:195px;width:16px; height:16px;}
/*AA25*/
.w144 {left:905px; top:195px;width:16px; height:16px;}
/*AA25*/
.w145 {left:945px; top:195px;width:16px; height:16px;}
/*AA24*/
.w135 {left:984px; top:195px;width:16px; height:16px;}
/*AA24*/
.w136 {left:1018px; top:195px;width:16px; height:16px;}
/*AA24*/
.w137 {left:1049px; top:195px;width:16px; height:16px;}
/*AA24*/
.w138 {left:1081px; top:195px;width:16px; height:16px;}
/*AA24*/
.w139 {left:1112px; top:195px;width:16px; height:16px;}
/*AA24*/
.w140 {left:1144px; top:195px;width:16px; height:16px;}
/*AA24*/
.w141 {left:1175px; top:195px;width:16px; height:16px;}
/*AA23*/
.w129 {left:1209px; top:195px;width:16px; height:16px;}
/*AA23*/
.w130 {left:1240px; top:195px;width:16px; height:16px;}
/*AA23*/
.w131 {left:1271px; top:195px;width:16px; height:16px;}
/*AA23*/
.w132 {left:1302px; top:195px;width:16px; height:16px;}
/*AA23*/
.w133 {left:1332px; top:195px;width:16px; height:16px;}
/*AA23*/
.w134 {left:1365px; top:194px;width:16px; height:16px;}
/*AA22*/
.w128 {left:1383px; top:506px;width:16px; height:16px;}
/*AA22*/
.w127 {left:1353px; top:506px;width:16px; height:16px;}
/*AA22*/
.w126 {left:1323px; top:506px;width:16px; height:16px;}
/*AA22*/
.w125 {left:1292px; top:506px;width:16px; height:16px;}
/*AA22*/
.w124 {left:1262px; top:506px;width:16px; height:16px;}
/*AA22*/
.w123 {left:1231px; top:506px;width:16px; height:16px;}
/*AA22*/
.w122 {left:1200px; top:506px;width:16px; height:16px;}
/*AA21*/
.w121 {left:1091px; top:490px;width:16px; height:16px;}
/*AA20*/
.w120 {left:1057px; top:506px;width:16px; height:16px;}
/*AA20*/
.w119 {left:1026px; top:506px;width:16px; height:16px;}
/*AA20*/
.w118 {left:995px; top:506px;width:16px; height:16px;}
/*AA20*/
.w117 {left:963px; top:506px;width:16px; height:16px;}
/*AA20*/
.w116 {left:931px; top:506px;width:16px; height:16px;}
/*AA20*/
.w115 {left:898px; top:506px;width:16px; height:16px;}
/*AA20*/
.w114 {left:864px; top:506px;width:16px; height:16px;}
/*AA20*/
.w113 {left:831px; top:506px;width:16px; height:16px;}
/*AA19*/
.w112 {left:793px; top:506px;width:16px; height:16px;}
/*AA19*/
.w111 {left:756px; top:506px;width:16px; height:16px;}
/*AA19*/
.w110 {left:719px; top:506px;width:16px; height:16px;}
/*AA19*/
.w109 {left:682px; top:506px;width:16px; height:16px;}
/*AA19*/
.w108 {left:645px; top:506px;width:16px; height:16px;}
/*AA19*/
.w107 {left:608px; top:506px;width:16px; height:16px;}
/*AA19*/
.w106 {left:571px; top:506px;width:16px; height:16px;}
/*AA18*/
.w105 {left:530px; top:506px;width:16px; height:16px;}
/*AA18*/
.w104 {left:494px; top:506px;width:16px; height:16px;}
/*AA18*/
.w103 {left:459px; top:506px;width:16px; height:16px;}
/*AA18*/
.w102 {left:423px; top:506px;width:16px; height:16px;}
/*AA18*/
.w101 {left:388px; top:506px;width:16px; height:16px;}
/*AA18*/
.w100 {left:352px; top:506px;width:16px; height:16px;}
/*AA18*/
.w99 {left:318px; top:506px;width:16px; height:16px;}
/*AA17*/
.w98 {left:277px; top:506px;width:16px; height:16px;}
/*AA17*/
.w97 {left:240px; top:506px;width:16px; height:16px;}
/*AA17*/
.w96 {left:206px; top:506px;width:16px; height:16px;}
/*AA17*/
.w95 {left:169px; top:506px;width:16px; height:16px;}
/*AA17*/
.w94 {left:133px; top:506px;width:16px; height:16px;}
/*AA17*/
.w93 {left:98px; top:506px;width:16px; height:16px;}
/*AA17*/
.w92 {left:62px; top:506px;width:16px; height:16px;}
