/*region*/
.page_content{background: url(../yicitu/p8_72.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g13151 {left:229px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13152 {left:262px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13153 {left:293px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13154 {left:328px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13155 {left:363px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13156 {left:397px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13157 {left:430px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13158 {left:465px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13159 {left:504px; top:169px;width:10px; height:24px;}
/*无*/
.zxb_g13160 {left:540px; top:169px;width:10px; height:24px;}
/*无*/
.zxb_g13161 {left:576px; top:169px;width:10px; height:24px;}
/*无*/
.zxb_g13162 {left:612px; top:169px;width:10px; height:24px;}
/*无*/
.zxb_g13163 {left:648px; top:169px;width:10px; height:24px;}
/*无*/
.zxb_g13164 {left:684px; top:169px;width:10px; height:24px;}
/*无*/
.zxb_g13165 {left:746px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13166 {left:778px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13167 {left:811px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13168 {left:848px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13169 {left:882px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13170 {left:917px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13171 {left:999px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13172 {left:1030px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13173 {left:1065px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13174 {left:1101px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13175 {left:1136px; top:171px;width:10px; height:24px;}
/*无*/
.zxb_g13182 {left:1071px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13181 {left:1041px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13180 {left:1012px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13179 {left:983px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13178 {left:955px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13177 {left:925px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13176 {left:897px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13188 {left:821px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13187 {left:790px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13186 {left:761px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13185 {left:731px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13184 {left:701px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13183 {left:670px; top:493px;width:10px; height:24px;}
/*无*/
.zxb_g13195 {left:632px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13194 {left:602px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13193 {left:574px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13192 {left:544px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13191 {left:514px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13190 {left:485px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13189 {left:457px; top:495px;width:10px; height:24px;}
/*无*/
.zxb_g13114 {left:386px; top:483px;width:10px; height:24px;}
/*无*/
.zxb_g13115 {left:310px; top:483px;width:10px; height:24px;}
/*无*/
.zxb_g13116 {left:260px; top:508px;width:10px; height:24px;}
/*AA11*/
.w47 {left:210px; top:176px;width:16px; height:16px;}
/*AA11*/
.w48 {left:243px; top:176px;width:16px; height:16px;}
/*AA11*/
.w49 {left:275px; top:176px;width:16px; height:16px;}
/*AA11*/
.w50 {left:308px; top:176px;width:16px; height:16px;}
/*AA11*/
.w51 {left:343px; top:176px;width:16px; height:16px;}
/*AA11*/
.w52 {left:377px; top:176px;width:16px; height:16px;}
/*AA11*/
.w53 {left:410px; top:176px;width:16px; height:16px;}
/*AA11*/
.w54 {left:445px; top:176px;width:16px; height:16px;}
/*AA12*/
.w55 {left:484px; top:174px;width:16px; height:16px;}
/*AA12*/
.w56 {left:520px; top:174px;width:16px; height:16px;}
/*AA12*/
.w57 {left:556px; top:174px;width:16px; height:16px;}
/*AA12*/
.w58 {left:591px; top:174px;width:16px; height:16px;}
/*AA12*/
.w59 {left:628px; top:174px;width:16px; height:16px;}
/*AA12*/
.w60 {left:664px; top:174px;width:16px; height:16px;}
/*AA13*/
.w61 {left:726px; top:176px;width:16px; height:16px;}
/*AA13*/
.w62 {left:759px; top:176px;width:16px; height:16px;}
/*AA13*/
.w63 {left:792px; top:176px;width:16px; height:16px;}
/*AA13*/
.w64 {left:828px; top:176px;width:16px; height:16px;}
/*AA13*/
.w65 {left:862px; top:176px;width:16px; height:16px;}
/*AA13*/
.w66 {left:897px; top:176px;width:16px; height:16px;}
/*AA14*/
.w67 {left:979px; top:176px;width:16px; height:16px;}
/*AA14*/
.w68 {left:1011px; top:176px;width:16px; height:16px;}
/*AA14*/
.w69 {left:1045px; top:176px;width:16px; height:16px;}
/*AA14*/
.w70 {left:1080px; top:176px;width:16px; height:16px;}
/*AA14*/
.w71 {left:1116px; top:176px;width:16px; height:16px;}
/*AA15*/
.w78 {left:1053px; top:498px;width:16px; height:16px;}
/*AA15*/
.w77 {left:1024px; top:498px;width:16px; height:16px;}
/*AA15*/
.w76 {left:995px; top:498px;width:16px; height:16px;}
/*AA15*/
.w75 {left:966px; top:498px;width:16px; height:16px;}
/*AA15*/
.w74 {left:937px; top:498px;width:16px; height:16px;}
/*AA15*/
.w73 {left:908px; top:498px;width:16px; height:16px;}
/*AA15*/
.w72 {left:878px; top:498px;width:16px; height:16px;}
/*AA16*/
.w84 {left:803px; top:498px;width:16px; height:16px;}
/*AA16*/
.w83 {left:772px; top:498px;width:16px; height:16px;}
/*AA16*/
.w82 {left:743px; top:498px;width:16px; height:16px;}
/*AA16*/
.w81 {left:713px; top:498px;width:16px; height:16px;}
/*AA16*/
.w80 {left:682px; top:498px;width:16px; height:16px;}
/*AA16*/
.w79 {left:650px; top:498px;width:16px; height:16px;}
/*AA17*/
.w91 {left:614px; top:499px;width:16px; height:16px;}
/*AA17*/
.w90 {left:585px; top:499px;width:16px; height:16px;}
/*AA17*/
.w89 {left:556px; top:499px;width:16px; height:16px;}
/*AA17*/
.w88 {left:526px; top:499px;width:16px; height:16px;}
/*AA17*/
.w87 {left:497px; top:499px;width:16px; height:16px;}
/*AA17*/
.w86 {left:468px; top:499px;width:16px; height:16px;}
/*AA17*/
.w85 {left:438px; top:499px;width:16px; height:16px;}
/*AA18*/
.w10 {left:367px; top:488px;width:16px; height:16px;}
/*AA19*/
.w11 {left:291px; top:488px;width:16px; height:16px;}
/*AA20*/
.w12 {left:241px; top:512px;width:16px; height:16px;}
