/*region*/
.page_content{background: url(../yicitu/p7_71.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g12176 {left:533px; top:304px;width:10px; height:24px;}
/*无*/
.zxb_g12177 {left:565px; top:305px;width:10px; height:24px;}
/*无*/
.zxb_g12178 {left:596px; top:305px;width:10px; height:24px;}
/*无*/
.zxb_g12179 {left:627px; top:305px;width:10px; height:24px;}
/*无*/
.zxb_g12180 {left:657px; top:305px;width:10px; height:24px;}
/*无*/
.zxb_g12181 {left:688px; top:305px;width:10px; height:24px;}
/*无*/
.zxb_g12182 {left:719px; top:305px;width:10px; height:24px;}
/*无*/
.zxb_g12113 {left:787px; top:292px;width:10px; height:24px;}
/*无*/
.zxb_g12114 {left:860px; top:318px;width:10px; height:24px;}
/*AA18*/
.w73 {left:514px; top:309px;width:16px; height:16px;}
/*AA18*/
.w74 {left:547px; top:309px;width:16px; height:16px;}
/*AA18*/
.w75 {left:578px; top:309px;width:16px; height:16px;}
/*AA18*/
.w76 {left:609px; top:309px;width:16px; height:16px;}
/*AA18*/
.w77 {left:639px; top:309px;width:16px; height:16px;}
/*AA18*/
.w78 {left:670px; top:309px;width:16px; height:16px;}
/*AA18*/
.w79 {left:701px; top:309px;width:16px; height:16px;}
/*AA19*/
.w10 {left:768px; top:297px;width:16px; height:16px;}
/*AA20*/
.w11 {left:840px; top:323px;width:16px; height:16px;}
