/*region*/
.page_content{background: url(../yicitu/p10.png) no-repeat;cursor:default !important;}
/*无*/
.zxb_g3216 {left:396px; top:126px;width:14px; height:31px;}
/*无*/
.zxb_g3217 {left:526px; top:127px;width:14px; height:31px;}
/*无*/
.zxb_g3218 {left:893px; top:127px;width:14px; height:31px;}
/*无*/
.zxb_g3219 {left:1039px; top:127px;width:14px; height:31px;}
/*AH1*/
.w342 {left:396px; top:81px;width:34px; height:18px;}
/*AH2*/
.w343 {left:528px; top:81px;width:34px; height:18px;}
/*AH3*/
.w344 {left:884px; top:81px;width:34px; height:18px;}
/*AH4*/
.w345 {left:1017px; top:81px;width:34px; height:18px;}
