/*region*/
.page_content{background: url(../yicitu/p163.png) no-repeat;cursor:default !important;position: relative;}
/*AL101_低压进线柜*/
.w1 {left:348px; top:377px;width:16px; height:16px;}
/*AL201_低压进线柜*/
.w2 {left:618px; top:377px;width:16px; height:16px;}
/*AL301_低压出线柜*/
.w3 {left:932px; top:641px;width:16px; height:16px;}
/*AL301_低压出线柜*/
.w4 {left:990px; top:642px;width:16px; height:16px;}
