/*region*/
.page_content{background: url(../yicitu/p12.png) no-repeat;cursor:default !important;position: relative;}
/*1AH2_1#进线柜*/
.w1 {left:167px; top:362px;width:16px; height:16px;}
/*1AH4_展会中心1#配电室一路*/
.w2 {left:317px; top:362px;width:16px; height:16px;}
/*1AH5_展会中心2#配电室一路*/
.w3 {left:391px; top:362px;width:16px; height:16px;}
/*1AH6_机械加工厂配电室一路*/
.w4 {left:458px; top:362px;width:16px; height:16px;}
/*1AH7_科研楼配电室一路*/
.w5 {left:533px; top:362px;width:16px; height:16px;}
/*1AH8_备用*/
.w6 {left:607px; top:361px;width:16px; height:16px;}
/*1AH9_母线联络柜*/
.w7 {left:683px; top:362px;width:16px; height:16px;}
/*1AH11_备用*/
.w8 {left:814px; top:362px;width:16px; height:16px;}
/*1AH12_备用*/
.w9 {left:894px; top:362px;width:16px; height:16px;}
/*1AH13_机械加工厂配电室二路*/
.w10 {left:967px; top:362px;width:16px; height:16px;}
/*1AH14_展会中心2#配电室二路*/
.w11 {left:1038px; top:362px;width:16px; height:16px;}
/*1AH15_展会中心1#配电室二路*/
.w12 {left:1112px; top:362px;width:16px; height:16px;}
/*1AH17_2#进线柜*/
.w13 {left:1266px; top:362px;width:16px; height:16px;}
