/*region*/
.page_content{background: url(../yicitu/p7_70.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g12104 {left:134px; top:185px;width:10px; height:24px;}
/*无*/
.zxb_g12105 {left:185px; top:161px;width:10px; height:24px;}
/*无*/
.zxb_g12106 {left:241px; top:176px;width:10px; height:24px;}
/*无*/
.zxb_g12115 {left:309px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12116 {left:341px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12117 {left:373px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12118 {left:404px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12119 {left:436px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12120 {left:468px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12121 {left:500px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12122 {left:543px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12123 {left:575px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12124 {left:607px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12125 {left:639px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12126 {left:671px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12127 {left:702px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12128 {left:735px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12107 {left:770px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12108 {left:807px; top:173px;width:10px; height:24px;}
/*无*/
.zxb_g12129 {left:857px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12130 {left:893px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12131 {left:929px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12132 {left:964px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12109 {left:996px; top:165px;width:10px; height:24px;}
/*无*/
.zxb_g12133 {left:1108px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12134 {left:1139px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12135 {left:1171px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12136 {left:1202px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12137 {left:1234px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12138 {left:1265px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12139 {left:1297px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12140 {left:1329px; top:175px;width:10px; height:24px;}
/*无*/
.zxb_g12148 {left:1361px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12147 {left:1328px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12146 {left:1295px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12145 {left:1262px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12144 {left:1229px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12143 {left:1197px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12142 {left:1164px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12141 {left:1130px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12156 {left:1081px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12155 {left:1049px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12154 {left:1017px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12153 {left:986px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12152 {left:953px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12151 {left:921px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12150 {left:889px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12149 {left:857px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12164 {left:819px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12163 {left:786px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12162 {left:752px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12161 {left:720px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12160 {left:687px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12159 {left:653px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12158 {left:621px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12157 {left:588px; top:494px;width:10px; height:24px;}
/*无*/
.zxb_g12110 {left:501px; top:487px;width:10px; height:24px;}
/*无*/
.zxb_g12168 {left:487px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12167 {left:451px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12166 {left:414px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12165 {left:378px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12111 {left:351px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12112 {left:319px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12175 {left:291px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12174 {left:258px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12173 {left:224px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12172 {left:191px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12171 {left:157px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12170 {left:124px; top:496px;width:10px; height:24px;}
/*无*/
.zxb_g12169 {left:91px; top:496px;width:10px; height:24px;}
/*AA1*/
.w1 {left:114px; top:189px;width:16px; height:16px;}
/*AA2*/
.w2 {left:165px; top:165px;width:16px; height:16px;}
/*AA3*/
.w3 {left:220px; top:180px;width:16px; height:16px;}
/*AA4*/
.w12 {left:289px; top:177px;width:16px; height:16px;}
/*AA4*/
.w13 {left:323px; top:177px;width:16px; height:16px;}
/*AA4*/
.w14 {left:354px; top:177px;width:16px; height:16px;}
/*AA4*/
.w12 {left:386px; top:177px;width:16px; height:16px;}
/*AA4*/
.w16 {left:418px; top:177px;width:16px; height:16px;}
/*AA4*/
.w17 {left:449px; top:177px;width:16px; height:16px;}
/*AA4*/
.w18 {left:481px; top:177px;width:16px; height:16px;}
/*AA5*/
.w19 {left:524px; top:177px;width:16px; height:16px;}
/*AA5*/
.w20 {left:556px; top:177px;width:16px; height:16px;}
/*AA5*/
.w21 {left:588px; top:177px;width:16px; height:16px;}
/*AA5*/
.w22 {left:621px; top:177px;width:16px; height:16px;}
/*AA5*/
.w23 {left:652px; top:177px;width:16px; height:16px;}
/*AA5*/
.w24 {left:683px; top:177px;width:16px; height:16px;}
/*AA5*/
.w25 {left:716px; top:177px;width:16px; height:16px;}
/*AA6_T6#楼偶数层办公层箱电源（主）*/
.w4 {left:751px; top:177px;width:16px; height:16px;}
/*AA6_T6#楼偶数层办公层箱电源（主）*/
.w5 {left:787px; top:177px;width:16px; height:16px;}
/*AA7*/
.w26 {left:836px; top:180px;width:16px; height:16px;}
/*AA7*/
.w27 {left:872px; top:180px;width:16px; height:16px;}
/*AA7*/
.w28 {left:909px; top:180px;width:16px; height:16px;}
/*AA7*/
.w29 {left:944px; top:180px;width:16px; height:16px;}
/*AA8*/
.w6 {left:1012px; top:169px;width:16px; height:16px;}
/*AA9*/
.w30 {left:1088px; top:180px;width:16px; height:16px;}
/*AA9*/
.w31 {left:1121px; top:180px;width:16px; height:16px;}
/*AA9*/
.w32 {left:1152px; top:180px;width:16px; height:16px;}
/*AA9*/
.w33 {left:1184px; top:180px;width:16px; height:16px;}
/*AA9*/
.w34 {left:1215px; top:180px;width:16px; height:16px;}
/*AA9*/
.w35 {left:1247px; top:180px;width:16px; height:16px;}
/*AA9*/
.w36 {left:1278px; top:180px;width:16px; height:16px;}
/*AA9*/
.w37 {left:1310px; top:180px;width:16px; height:16px;}
/*AA10*/
.w45 {left:1341px; top:499px;width:16px; height:16px;}
/*AA10*/
.w44 {left:1309px; top:499px;width:16px; height:16px;}
/*AA10*/
.w43 {left:1276px; top:499px;width:16px; height:16px;}
/*AA10*/
.w42 {left:1243px; top:499px;width:16px; height:16px;}
/*AA10*/
.w41 {left:1210px; top:499px;width:16px; height:16px;}
/*AA10*/
.w40 {left:1178px; top:499px;width:16px; height:16px;}
/*AA10*/
.w39 {left:1144px; top:499px;width:16px; height:16px;}
/*AA10*/
.w38 {left:1110px; top:499px;width:16px; height:16px;}
/*AA11*/
.w53 {left:1062px; top:499px;width:16px; height:16px;}
/*AA11*/
.w52 {left:1031px; top:499px;width:16px; height:16px;}
/*AA11*/
.w51 {left:999px; top:499px;width:16px; height:16px;}
/*AA11*/
.w50 {left:967px; top:499px;width:16px; height:16px;}
/*AA11*/
.w49 {left:934px; top:499px;width:16px; height:16px;}
/*AA11*/
.w48 {left:902px; top:499px;width:16px; height:16px;}
/*AA11*/
.w47 {left:870px; top:499px;width:16px; height:16px;}
/*AA11*/
.w46 {left:838px; top:499px;width:16px; height:16px;}
/*AA12*/
.w61 {left:800px; top:499px;width:16px; height:16px;}
/*AA12*/
.w60 {left:766px; top:499px;width:16px; height:16px;}
/*AA12*/
.w59 {left:733px; top:499px;width:16px; height:16px;}
/*AA12*/
.w58 {left:701px; top:499px;width:16px; height:16px;}
/*AA12*/
.w57 {left:667px; top:499px;width:16px; height:16px;}
/*AA12*/
.w56 {left:634px; top:499px;width:16px; height:16px;}
/*AA12*/
.w55 {left:602px; top:499px;width:16px; height:16px;}
/*AA12*/
.w54 {left:569px; top:499px;width:16px; height:16px;}
/*AA13*/
.w7 {left:516px; top:492px;width:16px; height:16px;}
/*AA14*/
.w65 {left:467px; top:499px;width:16px; height:16px;}
/*AA14*/
.w64 {left:430px; top:499px;width:16px; height:16px;}
/*AA14*/
.w63 {left:393px; top:499px;width:16px; height:16px;}
/*AA14*/
.w62 {left:362px; top:499px;width:16px; height:16px;}
/*AA15_T6#楼奇数层办公层箱电源（主）*/
.w8 {left:332px; top:499px;width:16px; height:16px;}
/*AA16_T6#楼偶数层办公层箱电源（备）*/
.w9 {left:302px; top:499px;width:16px; height:16px;}
/*AA17*/
.w72 {left:272px; top:499px;width:16px; height:16px;}
/*AA17*/
.w71 {left:239px; top:499px;width:16px; height:16px;}
/*AA17*/
.w70 {left:204px; top:499px;width:16px; height:16px;}
/*AA17*/
.w69 {left:171px; top:499px;width:16px; height:16px;}
/*AA17*/
.w68 {left:138px; top:499px;width:16px; height:16px;}
/*AA17*/
.w67 {left:105px; top:499px;width:16px; height:16px;}
/*AA17*/
.w66 {left:71px; top:499px;width:16px; height:16px;}
