/*region*/
.page_content{background: url(../yicitu/p3_64.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g7115 {left:195px; top:212px;width:10px; height:24px;}
/*无*/
.zxb_g7116 {left:219px; top:222px;width:10px; height:24px;}
/*无*/
.zxb_g7117 {left:301px; top:181px;width:10px; height:24px;}
/*无*/
.zxb_g7278 {left:357px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7279 {left:388px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7280 {left:420px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7281 {left:450px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7282 {left:481px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7283 {left:512px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7284 {left:542px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7285 {left:574px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7286 {left:612px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7287 {left:643px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7288 {left:674px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7289 {left:704px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7290 {left:735px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7291 {left:766px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7292 {left:797px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7293 {left:828px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7294 {left:859px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7215 {left:895px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7216 {left:928px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7217 {left:960px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7218 {left:992px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7219 {left:1024px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7220 {left:1056px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7221 {left:1089px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7222 {left:1120px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7223 {left:1143px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7224 {left:1175px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7225 {left:1206px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7226 {left:1237px; top:193px;width:10px; height:24px;}
/*无*/
.zxb_g7227 {left:1268px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7228 {left:1300px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7229 {left:1331px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7230 {left:1363px; top:195px;width:10px; height:24px;}
/*无*/
.zxb_g7302 {left:1401px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7301 {left:1372px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7300 {left:1338px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7299 {left:1306px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7298 {left:1272px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7297 {left:1239px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7296 {left:1207px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7295 {left:1173px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7310 {left:1156px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7309 {left:1126px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7308 {left:1094px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7307 {left:1062px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7306 {left:1029px; top:466px;width:10px; height:24px;}
/*无*/
.zxb_g7305 {left:997px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7304 {left:966px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7303 {left:933px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7118 {left:816px; top:460px;width:10px; height:24px;}
/*无*/
.zxb_g7319 {left:777px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7318 {left:747px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7317 {left:717px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7316 {left:686px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7315 {left:656px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7314 {left:625px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7313 {left:595px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7312 {left:564px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7311 {left:533px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7327 {left:498px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7326 {left:466px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7325 {left:435px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7324 {left:403px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7323 {left:371px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7322 {left:340px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7321 {left:309px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7320 {left:277px; top:465px;width:10px; height:24px;}
/*无*/
.zxb_g7119 {left:220px; top:456px;width:10px; height:24px;}
/*无*/
.zxb_g7120 {left:154px; top:480px;width:10px; height:24px;}
/*3AA1*/
.w28 {left:175px; top:215px;width:16px; height:16px;}
/*3AA2*/
.w29 {left:233px; top:227px;width:16px; height:16px;}
/*3AA3*/
.w30 {left:280px; top:186px;width:16px; height:16px;}
/*3AA4*/
.w191 {left:337px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w192 {left:370px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w193 {left:402px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w194 {left:432px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w195 {left:463px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w196 {left:494px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w197 {left:524px; top:199px;width:16px; height:16px;}
/*3AA4*/
.w198 {left:555px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w199 {left:592px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w200 {left:625px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w201 {left:655px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w202 {left:686px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w203 {left:717px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w204 {left:748px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w205 {left:778px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w206 {left:810px; top:199px;width:16px; height:16px;}
/*3AA5*/
.w207 {left:840px; top:199px;width:16px; height:16px;}
/*3AA6*/
.w128 {left:908px; top:194px;width:16px; height:16px;}
/*3AA6*/
.w129 {left:908px; top:214px;width:16px; height:16px;}
/*3AA6*/
.w130 {left:941px; top:199px;width:16px; height:16px;}
/*3AA6*/
.w131 {left:973px; top:199px;width:16px; height:16px;}
/*3AA6*/
.w132 {left:1005px; top:199px;width:16px; height:16px;}
/*3AA6*/
.w133 {left:1037px; top:199px;width:16px; height:16px;}
/*3AA6*/
.w134 {left:1069px; top:199px;width:16px; height:16px;}
/*3AA6*/
.w135 {left:1101px; top:199px;width:16px; height:16px;}
/*3AA7*/
.w137 {left:1155px; top:212px;width:16px; height:16px;}
/*3AA7*/
.w136 {left:1155px; top:192px;width:16px; height:16px;}
/*3AA7*/
.w138 {left:1187px; top:199px;width:16px; height:16px;}
/*3AA7*/
.w139 {left:1219px; top:199px;width:16px; height:16px;}
/*3AA7*/
.w140 {left:1249px; top:199px;width:16px; height:16px;}
/*3AA7*/
.w141 {left:1281px; top:199px;width:16px; height:16px;}
/*3AA7*/
.w142 {left:1313px; top:199px;width:16px; height:16px;}
/*3AA7*/
.w143 {left:1344px; top:199px;width:16px; height:16px;}
/*3AA8*/
.w215 {left:1384px; top:469px;width:16px; height:16px;}
/*3AA8*/
.w214 {left:1353px; top:469px;width:16px; height:16px;}
/*3AA8*/
.w213 {left:1319px; top:469px;width:16px; height:16px;}
/*3AA8*/
.w212 {left:1286px; top:469px;width:16px; height:16px;}
/*3AA8*/
.w211 {left:1253px; top:469px;width:16px; height:16px;}
/*3AA8*/
.w210 {left:1220px; top:469px;width:16px; height:16px;}
/*3AA8*/
.w209 {left:1187px; top:485px;width:16px; height:16px;}
/*3AA8*/
.w208 {left:1187px; top:462px;width:16px; height:16px;}
/*3AA9*/
.w223 {left:1138px; top:469px;width:16px; height:16px;}
/*3AA9*/
.w222 {left:1107px; top:469px;width:16px; height:16px;}
/*3AA9*/
.w221 {left:1075px; top:469px;width:16px; height:16px;}
/*3AA9*/
.w220 {left:1043px; top:469px;width:16px; height:16px;}
/*3AA9*/
.w219 {left:1010px; top:469px;width:16px; height:16px;}
/*3AA9*/
.w218 {left:979px; top:469px;width:16px; height:16px;}
/*3AA9*/
.w217 {left:946px; top:482px;width:16px; height:16px;}
/*3AA9*/
.w216 {left:946px; top:460px;width:16px; height:16px;}
/*3AA10*/
.w31 {left:831px; top:464px;width:16px; height:16px;}
/*3AA11*/
.w232 {left:759px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w231 {left:729px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w230 {left:698px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w229 {left:668px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w228 {left:637px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w227 {left:607px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w226 {left:577px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w225 {left:546px; top:469px;width:16px; height:16px;}
/*3AA11*/
.w224 {left:514px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w240 {left:479px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w239 {left:447px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w238 {left:416px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w237 {left:384px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w236 {left:352px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w235 {left:322px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w234 {left:290px; top:469px;width:16px; height:16px;}
/*3AA12*/
.w233 {left:256px; top:469px;width:16px; height:16px;}
/*3AA13*/
.w32 {left:198px; top:461px;width:16px; height:16px;}
/*3AA14*/
.w33 {left:133px; top:484px;width:16px; height:16px;}
