/*region*/
.page_content{background: url(../yicitu/p1_1.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g1108 {left:384px; top:224px;width:10px; height:24px;}
/*1AA1*/
.w18 {left:360px; top:229px;width:16px; height:16px;}
/*无*/
.zxb_g1109 {left:454px; top:193px;width:10px; height:24px;}
/*无*/
.zxb_g1110 {left:527px; top:222px;width:10px; height:24px;}
/*无*/
.zxb_g1117 {left:577px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1118 {left:613px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1119 {left:649px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1120 {left:686px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1121 {left:722px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1122 {left:758px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1123 {left:794px; top:210px;width:10px; height:24px;}
/*1AA2*/
.w19 {left:430px; top:198px;width:16px; height:16px;}
/*1AA3*/
.w20 {left:502px; top:227px;width:16px; height:16px;}
/*1AA4*/
.w27 {left:556px; top:215px;width:16px; height:16px;}
/*1AA4*/
.w28 {left:593px; top:215px;width:16px; height:16px;}
/*1AA4*/
.w29 {left:629px; top:215px;width:16px; height:16px;}
/*1AA4*/
.w30 {left:666px; top:215px;width:16px; height:16px;}
/*1AA4*/
.w31 {left:701px; top:216px;width:16px; height:16px;}
/*1AA4*/
.w32 {left:739px; top:215px;width:16px; height:16px;}
/*1AA4*/
.w33 {left:774px; top:215px;width:16px; height:16px;}
/*无*/
.zxb_g1124 {left:847px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1125 {left:881px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1126 {left:915px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1127 {left:949px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1128 {left:982px; top:211px;width:10px; height:24px;}
/*无*/
.zxb_g1129 {left:1016px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1130 {left:1050px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1131 {left:1099px; top:210px;width:10px; height:24px;}
/*无*/
.zxb_g1132 {left:1151px; top:210px;width:10px; height:24px;}
/*1AA5*/
.w34 {left:826px; top:215px;width:16px; height:16px;}
/*1AA5*/
.w35 {left:862px; top:215px;width:16px; height:16px;}
/*1AA5*/
.w36 {left:897px; top:215px;width:16px; height:16px;}
/*1AA5*/
.w37 {left:930px; top:215px;width:16px; height:16px;}
/*1AA5*/
.w38 {left:964px; top:215px;width:16px; height:16px;}
/*1AA5*/
.w39 {left:997px; top:215px;width:16px; height:16px;}
/*1AA5*/
.w40 {left:1031px; top:215px;width:16px; height:16px;}
/*1AA6*/
.w41 {left:1080px; top:214px;width:16px; height:16px;}
/*1AA6*/
.w42 {left:1132px; top:215px;width:16px; height:16px;}
/*无*/
.zxb_g1111 {left:360px; top:555px;width:10px; height:24px;}
/*无*/
.zxb_g1149 {left:454px; top:524px;width:10px; height:24px;}
/*无*/
.zxb_g1148 {left:527px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1147 {left:565px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1146 {left:603px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1145 {left:641px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1144 {left:679px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1143 {left:718px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1142 {left:756px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1141 {left:806px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1140 {left:843px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1139 {left:880px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1138 {left:916px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1137 {left:953px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1136 {left:990px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1135 {left:1027px; top:543px;width:10px; height:24px;}
/*无*/
.zxb_g1134 {left:1077px; top:543px;width:10px; height:24px;}
/*无数据图标*/
.other_g56 {left:1138px; top:543px;width:10px; height:24px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*1AA7*/
.w43 {left:1117px; top:548px;width:16px; height:16px;}
/*1AA7*/
.w44 {left:1055px; top:548px;width:16px; height:16px;}
/*1AA8*/
.w45 {left:1007px; top:548px;width:16px; height:16px;}
/*1AA8*/
.w46 {left:969px; top:548px;width:16px; height:16px;}
/*1AA8*/
.w47 {left:933px; top:548px;width:16px; height:16px;}
/*1AA8*/
.w48 {left:895px; top:548px;width:18px; height:16px;}
/*1AA8*/
.w49 {left:859px; top:548px;width:16px; height:16px;}
/*1AA8*/
.w50 {left:822px; top:548px;width:16px; height:16px;}
/*1AA8*/
.w51 {left:784px; top:548px;width:16px; height:16px;}
/*1AA11*/
.w21 {left:340px; top:559px;width:16px; height:16px;}
/*1AA10*/
.w59 {left:432px; top:528px;width:16px; height:16px;}
/*1AA9*/
.w58 {left:506px; top:548px;width:16px; height:16px;}
/*1AA9*/
.w57 {left:544px; top:548px;width:16px; height:16px;}
/*1AA9*/
.w56 {left:582px; top:548px;width:16px; height:16px;}
/*1AA9*/
.w55 {left:621px; top:548px;width:16px; height:16px;}
/*1AA9*/
.w54 {left:658px; top:548px;width:16px; height:16px;}
/*1AA9*/
.w53 {left:696px; top:548px;width:16px; height:16px;}
/*1AA9*/
.w52 {left:734px; top:548px;width:16px; height:16px;}
