/*region*/
.page_content{background: url(../yicitu/p7.png) no-repeat;cursor:default !important;}
/*无*/
.zxb_g2801 {left:765px; top:575px;width:12px; height:28px;}
/*无*/
.zxb_g2809 {left:921px; top:444px;width:12px; height:28px;}
/*无*/
.zxb_g2799 {left:511px; top:444px;width:12px; height:28px;}
/*AA20*/
.w276 {left:906px; top:514px;width:51px; height:24px;}
/*AA1*/
.w266 {left:498px; top:519px;width:37px; height:21px;}
/*AA3*/
.w268 {left:781px; top:657px;width:37px; height:21px;}
