/*region*/
.page_content{background: url(../yicitu/p10.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g14998 {left:396px; top:126px;width:14px; height:31px;}
/*无*/
.zxb_g14999 {left:526px; top:127px;width:14px; height:31px;}
/*无*/
.zxb_g15000 {left:893px; top:127px;width:14px; height:31px;}
/*无*/
.zxb_g15001 {left:1038px; top:127px;width:14px; height:31px;}
/*AH1*/
.w1 {left:369px; top:134px;width:18px; height:18px;}
/*AH2*/
.w2 {left:499px; top:136px;width:18px; height:18px;}
/*AH3*/
.w3 {left:866px; top:135px;width:18px; height:18px;}
/*AH4*/
.w4 {left:1014px; top:134px;width:18px; height:18px;}
