/*region*/
.page_content{background: url(../yicitu/p3.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g7088 {left:166px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7089 {left:286px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7090 {left:407px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7091 {left:523px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7092 {left:651px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7097 {left:805px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7096 {left:928px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7095 {left:1049px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7094 {left:1173px; top:247px;width:12px; height:28px;}
/*无*/
.zxb_g7093 {left:1282px; top:247px;width:12px; height:28px;}
/*AH6*/
.w10 {left:824px; top:252px;width:18px; height:18px;}
/*AH7*/
.w9 {left:946px; top:252px;width:18px; height:18px;}
/*AH1*/
.w1 {left:185px; top:253px;width:18px; height:18px;}
/*AH2*/
.w2 {left:304px; top:252px;width:18px; height:18px;}
/*AH3*/
.w3 {left:426px; top:253px;width:18px; height:18px;}
/*AH4*/
.w4 {left:543px; top:252px;width:18px; height:18px;}
/*AH5*/
.w5 {left:669px; top:252px;width:18px; height:18px;}
/*AH8*/
.w8 {left:1068px; top:252px;width:18px; height:18px;}
/*AH9*/
.w7 {left:1190px; top:252px;width:18px; height:18px;}
/*AH10*/
.w6 {left:1300px; top:252px;width:18px; height:18px;}
/*无*/
.zxb_g7108 {left:286px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7098 {left:406px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7121 {left:522px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7115 {left:651px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7120 {left:805px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7132 {left:928px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7112 {left:1173px; top:570px;width:12px; height:28px;}
/*无*/
.zxb_g7107 {left:1049px; top:570px;width:12px; height:28px;}
/*LAA1*/
.w21 {left:305px; top:577px;width:18px; height:18px;}
/*1AA1*/
.w11 {left:427px; top:577px;width:18px; height:18px;}
/*2AA1*/
.w34 {left:544px; top:577px;width:18px; height:18px;}
/*3AA1*/
.w28 {left:674px; top:577px;width:18px; height:18px;}
/*3AA14*/
.w33 {left:824px; top:577px;width:18px; height:18px;}
/*2AA16*/
.w45 {left:948px; top:577px;width:18px; height:18px;}
/*1AA12*/
.w20 {left:1069px; top:577px;width:18px; height:18px;}
/*LAA13*/
.w25 {left:1194px; top:577px;width:18px; height:18px;}
