/*region*/
.page_content{background: url(../yicitu/p5.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g9779 {left:249px; top:207px;width:12px; height:28px;}
/*无*/
.zxb_g9780 {left:512px; top:204px;width:12px; height:28px;}
/*无*/
.zxb_g9783 {left:512px; top:503px;width:12px; height:28px;}
/*无*/
.zxb_g9788 {left:886px; top:503px;width:12px; height:28px;}
/*无*/
.zxb_g9782 {left:887px; top:206px;width:12px; height:28px;}
/*无*/
.zxb_g9781 {left:1157px; top:207px;width:12px; height:28px;}
/*无*/
.zxb_g9784 {left:735px; top:613px;width:12px; height:28px;}
/*AH1*/
.w1 {left:270px; top:211px;width:18px; height:18px;}
/*AH2*/
.w2 {left:538px; top:209px;width:18px; height:18px;}
/*AH3*/
.w4 {left:909px; top:210px;width:18px; height:18px;}
/*AA2*/
.w6 {left:705px; top:619px;width:18px; height:18px;}
/*AA20*/
.w10 {left:912px; top:507px;width:18px; height:18px;}
/*AA1*/
.w5 {left:534px; top:508px;width:18px; height:18px;}
/*AH4进线柜*/
.w3 {left:1179px; top:211px;width:16px; height:16px;}
