/*region*/
.page_content{background: url(../yicitu/p4.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g465 {left:238px; top:195px;width:12px; height:28px;}
/*AH1*/
.w181 {left:227px; top:117px;width:34px; height:18px;}
/*AH2*/
.w182 {left:496px; top:117px;width:34px; height:18px;}
/*无*/
.zxb_g466 {left:502px; top:191px;width:12px; height:28px;}
/*无数据图标*/
.other_g5 {left:501px; top:490px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g7 {left:724px; top:599px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无*/
.zxb_g468 {left:876px; top:194px;width:12px; height:28px;}
/*无*/
.zxb_g467 {left:1146px; top:195px;width:12px; height:28px;}
/*AH4*/
.w183 {left:1136px; top:117px;width:34px; height:18px;}
/*AH3*/
.w184 {left:866px; top:118px;width:34px; height:18px;}
/*无数据图标*/
.other_g15 {left:876px; top:491px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*AA1*/
.w185 {left:492px; top:559px;width:34px; height:18px;}
/*AA18*/
.w194 {left:867px; top:564px;width:34px; height:18px;}
/*AA2*/
.w186 {left:747px; top:667px;width:34px; height:18px;}
