/*region*/
.page_content{background: url(../yicitu/p177_84.png) no-repeat;cursor:default !important;position: relative;}
/*AH1*/
.zxb_g18297 {left:142px; top:256px;width:15px; height:30px;}
/*AH1*/
.zxb_g18341 {left:329px; top:257px;width:15px; height:30px;}
/*AH1*/
.zxb_g18393 {left:482px; top:256px;width:15px; height:30px;}
/*AH1*/
.zxb_g18445 {left:614px; top:256px;width:15px; height:30px;}
/*AH1*/
.zxb_g18492 {left:774px; top:256px;width:15px; height:30px;}
/*AH1*/
.zxb_g18539 {left:920px; top:256px;width:15px; height:30px;}
/*AH1*/
.zxb_g18591 {left:1072px; top:256px;width:15px; height:30px;}
/*AH2*/
.w2 {left:164px; top:263px;width:16px; height:16px;}
/*AH4*/
.w4 {left:352px; top:263px;width:16px; height:16px;}
/*AH5*/
.w5 {left:507px; top:263px;width:16px; height:16px;}
/*AH6*/
.w6 {left:638px; top:263px;width:16px; height:16px;}
/*AH7*/
.w7 {left:797px; top:263px;width:16px; height:16px;}
/*AH8*/
.w8 {left:944px; top:263px;width:16px; height:16px;}
/*AH9*/
.w9 {left:1096px; top:263px;width:16px; height:16px;}
/*AH11*/
.w11 {left:1278px; top:263px;width:16px; height:16px;}
/*lable*/
.yct_xy_label17 {left:363px; top:496px;}
/*lable*/
.yct_xy_label18 {left:516px; top:496px;}
/*lable*/
.yct_xy_label19 {left:952px; top:496px;}
/*lable*/
.yct_xy_label20 {left:1104px; top:496px;}
/*AH1*/
.zxb_g18643 {left:1256px; top:256px;width:15px; height:30px;}
