/*region*/
.page_content{background: url(../yicitu/p6.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g11071 {left:248px; top:212px;width:12px; height:28px;}
/*无*/
.zxb_g11072 {left:512px; top:205px;width:12px; height:28px;}
/*无*/
.zxb_g11075 {left:511px; top:505px;width:12px; height:28px;}
/*无*/
.zxb_g11084 {left:886px; top:505px;width:12px; height:28px;}
/*无*/
.zxb_g11076 {left:734px; top:615px;width:12px; height:28px;}
/*无*/
.zxb_g11074 {left:886px; top:207px;width:12px; height:28px;}
/*无*/
.zxb_g11073 {left:1155px; top:207px;width:12px; height:28px;}
/*AH1*/
.w1 {left:269px; top:216px;width:18px; height:18px;}
/*AH4*/
.w3 {left:1178px; top:210px;width:18px; height:18px;}
/*AH3*/
.w4 {left:908px; top:211px;width:18px; height:18px;}
/*AH2*/
.w2 {left:534px; top:209px;width:18px; height:18px;}
/*AA1*/
.w5 {left:531px; top:509px;width:18px; height:18px;}
/*AA20*/
.w14 {left:907px; top:515px;width:18px; height:18px;}
/*AA2*/
.w6 {left:706px; top:622px;width:18px; height:18px;}
