/*region*/
.page_content{background: url(../yicitu/p2.png) no-repeat;cursor:default !important;position: relative;}
/*无*/
.zxb_g293 {left:329px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g294 {left:450px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g298 {left:571px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g297 {left:687px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g296 {left:805px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g299 {left:925px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g300 {left:1044px; top:178px;width:12px; height:28px;}
/*无*/
.zxb_g295 {left:1163px; top:178px;width:12px; height:28px;}
/*无数据图标*/
.other_g9 {left:449px; top:502px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g10 {left:1044px; top:504px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*无数据图标*/
.other_g11 {left:839px; top:613px;width:12px; height:28px; background:url(../yicitu/开关_竖.png) no-repeat;background-size:100%;cursor:default !important;}
/*AH5*/
.w66 {left:791px; top:104px;width:34px; height:18px;}
/*AH1*/
.w59 {left:320px; top:104px;width:34px; height:18px;}
/*AH2*/
.w60 {left:441px; top:104px;width:34px; height:18px;}
/*AH3*/
.w61 {left:558px; top:104px;width:34px; height:18px;}
/*AH4*/
.w62 {left:681px; top:104px;width:34px; height:18px;}
/*AH6*/
.w65 {left:919px; top:104px;width:34px; height:18px;}
/*AH7*/
.w64 {left:1034px; top:104px;width:34px; height:18px;}
/*AH8*/
.w63 {left:1148px; top:104px;width:34px; height:18px;}
/*lable*/
.yct_xy_label20 {left:865px; top:616px;}
