@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>电量对比分析</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/js/echarts.min3.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <script src="~/Content/js/bootstrap.min.js"></script>   
</head>
<body>
    <div>
        电量对比分析
    </div>
</body>
</html>
<script type="text/javascript">
    
</script>

