@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公式编辑</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/TreeTable/jquery.treeTable.js" type="text/javascript"></script>
    <link href="~/Content/TreeTable/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <table id="list_data" class="easyui-datagrid" idfield="RoleID" pagination="true"
           data-options="iconCls:'icon-edit',rownumbers:true,pageSize:50,pageList:[10,20,50],toolbar:'#tb',method:'post',striped:true"
           fitcolumns="true">
        <thead>
            <tr>
                <th data-options="field:'id',checkbox:true"></th>
                <th data-options="field:'cid',hidden:true"></th>
                <th data-options="field:'cid_type_id',hidden:true"></th>
                <th data-options="field:'subtractCid',hidden:true"></th>
                <th field='cid_type_name' width="80px">
                    公式名称
                </th>
                <th field='name' width="100px">
                    配电房名称
                </th>
                <th field='jiashu' width="80px">
                    加数(表名)
                </th>
                <th field='jianshu' width="100px">
                    减数(表名)
                </th>
            </tr>
        </thead>
    </table>
    <div id="tb" class="searchbar">
        <div class="searchrow">
            配电房:
            <input id="pdfselect" />
        </div>
        @*<div class="searchrow">
            品种:
            <input id="pzselect" />
        </div>
        <div class="searchrow">
            年度:
            <input id="yearselect" />
        </div>*@
        <div id="userbutton" class="searchbutton">
        </div>
    </div>

    <div id="editwin" title="编辑公式信息" class="easyui-dialog" closed="true" style="width: 800px; height: 350px; padding: 5px;"
         minimizable="false" maximizable="false" collapsible="false">
        <table cellpadding="" cellspacing="" border="0" class="d_list">
            <tr>
                <td class="d_l_t">
                    配电房ID：
                </td>
                <td class="d_l_d">
                    <select id="pdf" class="easyui-combobox" style="width: 200px; height: 26px;"></select>
                    <b class="RStar">&nbsp*</b>
                    <input id="id" type="hidden" />
                </td>
                <td class="d_l_t">
                    公式名称：
                </td>
                <td class="d_l_d">
                    <select id="Name" class="easyui-combobox" style="width: 200px; height: 26px;"></select>
                    @*<input id="Name" runat="server" name="BugLocation" missingmessage="公式必填项！"
                           class="easyui-combobox" style="width: 195px;" data-options="required:true" /><b class="RStar">&nbsp*</b>*@
                </td>
            </tr>
            <tr>
                <td class="d_l_t">
                    加数(表名)：
                </td>
                <td class="d_l_d" colspan="3">
                    <input class="easyui-combobox" data-options=""
                           style="width: 210px;" id="jiashu" />
                </td>
                @*<td class="d_l_t">
                    减数(表名)：
                </td>
                <td class="d_l_d">
                    <input class="easyui-combobox" data-options=""
                           style="width: 210px;" id="jianshu" />
                </td>*@
            </tr>
            <tr>
                <td class="d_l_t">
                    减数(表名)：
                </td>
                <td class="d_l_d" colspan="3">
                    <input class="easyui-combobox" data-options=""
                           style="width: 210px;" id="jianshu" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="color:red;">
                    注意:大工业电量=（表名1*倍率+表名2*倍率+表名3*倍率+表名4*倍率）-（表名5*倍率+表名6*倍率+表名7*倍率+表名8*倍率+表名9*倍率）
                </td>
               
            </tr>
        </table>
        <div style="text-align: center;">
            <a href="javascript:;" id="btnSave" onclick="save()" class="table_btn btn_style radius5"
               data-options="iconCls:'icon-ok'">保存</a> <a href="javascript:;" class="table_btn1 btn_style radius5"
                                                          data-options="iconCls:'icon-cancel'" onclick="$('#editwin').dialog('close');">关闭</a>
        </div>
    </div>

    
    <script src="~/Content/UserJS/FormulaEdit._jm.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/ResizeList._jm.js"></script>
</body>
</html>
