@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>站监测项管理</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/TreeTable/jquery.treeTable.js" type="text/javascript"></script>
    <link href="~/Content/TreeTable/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @*<table id="list_data" class="easyui-datagrid" idfield="RoleID" pagination="true"
           data-options="iconCls:'icon-edit',rownumbers:true,pageSize:50,pageList:[10,20,50],toolbar:'#tb',method:'post',striped:true"
           fitcolumns="true">
        <thead>
            <tr>
                <th data-options="field:'id',checkbox:true"></th>
                <th data-options="field:'pid',hidden:true"></th>
                <th data-options="field:'contentId',hidden:true"></th>
                <th field='Name' width="80px">
                    站名称
                </th>
                <th field='TypeName' width="100px">
                    项名称
                </th>
                <th field='score' width="100px">
                    分数
                </th>
            </tr>
        </thead>
    </table>*@
    <div id="tb" class="searchbar">
        <div class="searchrow">
            站名称:
            <input id="unit" />
        </div>
        <div id="userbutton" class="searchbutton">
        </div>
    </div>
    <table cellpadding="" cellspacing="" border="1" class="d_list" style="margin-top:20px;width: 99%;
font-size: 14px;
text-align: center">
        <thead>
            <tr>
                <th>序号</th>
                <th>大类</th>
                <th>小类</th>
                <th>详细</th>
                <th>满分值</th>
                <th>分数</th>
            </tr>
        </thead>
        <tbody id="lst">
            @*<tr>
                <td>1</td>
                <td rowspan="5">1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
              
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
               
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
               
            </tr>*@
        </tbody>
    </table>
    @*<div id="editwin" title="编辑计划信息" class="easyui-dialog" closed="true" style="width: 700px; height: 350px; padding: 5px;"
         minimizable="false" maximizable="false" collapsible="false">
        <table cellpadding="" cellspacing="" border="0" class="d_list">
            <tr>
                <td class="d_l_t">
                    站名称：
                </td>
                <td class="d_l_d">
                    <select id="PDF" class="easyui-combobox" style="width: 200px; height: 26px;"></select>
                    <b class="RStar">&nbsp*</b>
                    <input id="id" type="hidden" />
                </td>
                <td class="d_l_t">
                    项名称：
                </td>
                <td class="d_l_d">
                    <select id="TempName" class="easyui-combobox" style="width: 200px; height: 26px;"></select>
                    <b class="RStar">&nbsp*</b>
                </td>
            </tr>
        </table>
        <div style="text-align: center;">
            <a href="javascript:;" id="btnSave" onclick="save()" class="table_btn btn_style radius5"
               data-options="iconCls:'icon-ok'">保存</a> <a href="javascript:;" class="table_btn1 btn_style radius5"
                                                          data-options="iconCls:'icon-cancel'" onclick="$('#editwin').dialog('close');">关闭</a>
        </div>
    </div>*@

    <script src="~/Content/UserJS/StationTemp._jm.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/ResizeList._jm.js"></script>
</body>
</html>
