@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>调偏交易计划</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/TreeTable/jquery.treeTable.js" type="text/javascript"></script>
    <script src="~/Content/UserJS/CommonUnit._jm.js"></script>
    <link href="~/Content/TreeTable/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <table cellpadding="" cellspacing="" border="1" class="d_list" style="margin-top:20px; font-size:16px;"  id="pzhtml">
        <tr style="height:800px; border:hidden;" >
          
            <td style="text-align:center;"><p><img src="~/Content/images/logining.gif" /></p><p>正在加载...</p></td>
        </tr>
        @*<tr>
            正在加载。。。
        </tr>*@
       @*<tr>
           <td rowspan="2"></td>
           <td rowspan="2">用户当月计划电量（兆瓦时）</td>
           <td colspan="6">用户分品种计划电量（兆瓦时）</td>
           <td>实际用电量与计划电量偏差</td>
           <td colspan="6">调偏后的计划交易电量（兆瓦时）</td>
       </tr>
        <tr>
            <td>品种1</td>
            <td>品种1</td>
            <td>品种1</td>
            <td></td>
            <td>品种1</td>
            <td>品种1</td>
            <td>品种1</td>
        </tr>
        <tr>
            <td>贝德铜业</td>
            <td>530</td>
            <td>550</td>
            <td>0</td>
            <td>530</td>
            <td>550</td>
            <td>0</td>
            <td>550</td>
            <td>0</td>
            <td>0</td>
            <td>530</td>
            <td>550</td>
            <td>0</td>
            <td>550</td>
            <td>0</td>
        </tr>*@
    </table>
</body>
</html>
<script type="text/javascript">
    $.post('/Es/GetPlanView', function (data) {
        var pzhtml = "";
        var pzname = "";
        var hhtml = "";
        var x = "";
        var s = data.pzlist.length;
        hhtml+= '<tr><td rowspan="2"></td>'
        hhtml += '<td rowspan="2">用户当月计划电量（兆瓦时）</td>'
        hhtml += '<td colspan=' + s + '>用户分品种计划电量（兆瓦时）</td>'
        hhtml += '<td>实际用电量与计划电量偏差</td>'
        hhtml += '<td colspan=' + s + '>调偏后的计划交易电量（兆瓦时）</td>'
        hhtml += '<td colspan=' + s + '>已购电电量（兆瓦时)</td>'
        hhtml += '<td colspan=' + s + '>本次应购电量（兆瓦时</td></tr>'
        pzhtml="<tr>"
        for (var i = 0; i < data.pzlist.length; i++) {
            pzhtml += "<td>" + data.pzlist[i].category_name + "</td>";

        }

        pzhtml += "<td></td>";
        for (var i = 0; i < data.pzlist.length; i++) {
            pzhtml += "<td>" + data.pzlist[i].category_name + "</td>";

        }
        for (var i = 0; i < data.pzlist.length; i++) {
            pzhtml += "<td>" + data.pzlist[i].category_name + "</td>";

        }
        for (var i = 0; i < data.pzlist.length; i++) {
            pzhtml += "<td>" + data.pzlist[i].category_name + "</td>";

        }
        pzhtml+="</tr>"

        //pzhtml += x;
        hhtml += pzhtml;
        var sumplan = 0;
        var sumpianchalv = 0;
        var pzSumplan = [];
        var tiaopianPlan = [];
        //var html = "";
        $.each(data.list, function (index, val) {
            sumplan += val.MonthPlan;
            sumpianchalv += val.pianchalv;
            hhtml += "<tr>"
            hhtml += '<td>' + val.UnitName + '</td>';
            hhtml += " <td>" + val.MonthPlan + "</td>";
            $.each(val.list, function (i, v) {
               
                hhtml += "<td>" + v.plan + "</td>";
                
            })
            hhtml += "<td>" + val.pianchalv + "</td>"
            $.each(val.tiaopian, function (i, v) {

                hhtml += "<td>" + v.plan + "</td>";

            })
            $.each(val.goudian, function (i, v) {

                hhtml += "<td>" + v.quantity + "</td>";

            })

            $.each(val.yinggou, function (i, v) {

                hhtml += "<td>" + v.quantity + "</td>";

            })
            hhtml += "</tr>";
        })
        //console.log(data);
       
        

      
        //alert(hhtml);
        $("#pzhtml").html(hhtml);
        var  xhhtml = '<tr><td rowspan="2">售电公司合计</td>'
        xhhtml += '<td rowspan="2">' + sumplan + '</td>'
        var m = 2;
        for (m; m < s+2; m++) {
            xhhtml += '<td rowspan="2">' + getTdValue(2, m) + '</td>'
        }
        m += 1;
        xhhtml += '<td rowspan="2">' + sumpianchalv + '</td>'
        for (m; m < s*2+3; m++) {
            xhhtml += '<td rowspan="2">' + getTdValue(2, m) + '</td>'
        }
        //m+=6
        for (m; m < s*3+3; m++) {
            xhhtml += '<td rowspan="2">' + getTdValue(2, m) + '</td>'
        }
        //m += 6;
        for (m; m < s*4+3; m++) {
            xhhtml += '<td rowspan="2">'+ getTdValue(2, m) + '</td>'
        }
        xhhtml += "<tr>"
      
        $("#pzhtml").append(xhhtml);
        //getTdValue();
    })
    function getTdValue(ii,x) {
        var tableId = document.getElementById("pzhtml");
        var str = 0;
        for (var i = ii; i < tableId.rows.length; i++) {
            //alert(tableId.rows[i].cells[x].innerHTML);
            str +=parseFloat( tableId.rows[i].cells[x].innerHTML);
        }
        return str.toFixed(3);
    }
</script>
