@{
    ViewBag.Title = "UserView2";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>用户总览</title>
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" href="~/Content/css/swiper.min.css" />
    <link rel="stylesheet" href="~/Content/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/newUserView.css?v=1.0" />
    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script src="~/Content/js/swiper.min.js"></script>
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
</head>
<body>
    <div id="userView">
        <Spin size="large" fix v-if="loading"></Spin>
        <i-select class="userSelect" v-model="UnitID" v-on:on-change="selectChange" filterable>
            <i-option v-for="item in unitList" :value="item.UnitID" v-html="item.UnitName"></i-option>
        </i-select>
        <div class="container">
            <div class="topView">
                <div class="top_leftView">
                    <div class="swiperView boxStyle">
                        <div class="module">
                            <div class="title"><i class="iconfont icon-guidangxiangmu"></i>运行状况</div>
                            <div class="main">
                                <div class="swiper-container swiper1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide slide1 slide1-1">
                                            <div>
                                                <p class="normal" v-html="StationStateInfo.Name==''?'--':StationStateInfo.Name">--</p>
                                                <span class="littltInfo">正常<font v-html="StationStateInfo.NormalDays==null?'--':StationStateInfo.NormalDays">--</font>天</span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide1 slide2">
                                            <div>
                                                <p class="normal"><font v-html="StationStateInfo.CheckDays==null?'--':StationStateInfo.CheckDays">--</font>天</p>
                                                <span class="littltInfo">距离下次检修</span>
                                            </div>

                                        </div>
                                        <div class="swiper-slide slide1 slide3">
                                            <div>
                                                <p class="normal curPointer" v-html="StationStateInfo.Score==null?'--':StationStateInfo.Score" v-on:click="score">--</p>
                                                <span class="littltInfo">配电室平均评分</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination" style="margin-bottom:-10px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="statisticsView boxStyle">
                        <div class="item">
                            <div class="module">
                                <div class="title"><i class="iconfont icon-lightningbshandian"></i>当日累计电量<span class="floatRight">(kW·h)</span></div>
                                <div class="main center">
                                    <div class="view">
                                        <p class="normal" v-html="StationStateInfo.thisDayPower==null?'--':StationStateInfo.thisDayPower">--</p>
                                        <span class="littltInfo">
                                            上年同期对比
                                            <font style="color:#d58a60" v-html="StationStateInfo.thisDayOccupation==null?'--':StationStateInfo.thisDayOccupation+'%'">--</font>
                                            <img src="~/Content/images/icon4/up.png" class="iconImg" v-show="StationStateInfo.thisDayOccupation!=0" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="module">
                                <div class="title"><i class="iconfont icon-lightningbshandian"></i>上月用电<span class="floatRight">(kW·h)</span></div>
                                <div class="main center">
                                    <div class="view">
                                        <p class="normal" v-html="StationStateInfo.thisMonthPower==null?'--':StationStateInfo.thisMonthPower">--</p>
                                        <span class="littltInfo">
                                            上年同月对比
                                            <font style="color:#d58a60" v-html="StationStateInfo.thisMonthOccupation==null?'--':StationStateInfo.thisMonthOccupation+'%'">--</font>
                                            <img src="~/Content/images/icon4/up.png" class="iconImg" v-show="StationStateInfo.thisMonthOccupation!=0" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="module ">
                                <div class="title"><i class="iconfont icon-lightningbshandian"></i>当年累计电量</div>
                                <div class="main center">
                                    <div class="view" style="height:100%">
                                        <div class="chart" id="pieYearChart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top_RightView boxStyle">
                    <div class="module">
                        <div class="title"><i class="iconfont icon-lightningbshandian"></i>用电概况</div>
                        <div class="main center">
                            <div class="item">
                                <div class="view">
                                    <p class="normal" v-html="Sumload==null?'--':Sumload">--</p>
                                    <span class="littltInfo">当前负荷(kW·h)</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="view">
                                    <p class="normal" v-html="RatedCapacity==null?'--':RatedCapacity+'%'">--</p>
                                    <span class="littltInfo">总负载率</span>
                                </div>
                            </div>
                            <div class="item" style="height:100%">
                                <div class="chart" id="elecUsageChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomView">
                <div class="bottom_leftView boxStyle">
                    <div class="module">
                        <div class="title"><i class="iconfont icon-gaikuang"></i>配电室信息</div>
                        <Tabs size="small" v-on:on-click="tabChange" :value="PID">
                            <tab-pane :label="item.Name" :name="item.PID" v-for="item in PDFList"></tab-pane>
                        </Tabs>
                        <div class="main">
                            <div class="leftMenu">
                                <i-menu theme="light" width="auto" v-bind:active-name="activeIndex" v-on:on-select="barMenuClick">
                                    <menu-group title="变压器">
                                        <menu-item v-bind:name="item.C" v-for="(item,index) in BYQList" :class="activeIndex==item.C?'activeMenu':''" v-html="item.DeviceName">
                                        </menu-item>
                                    </menu-group>
                                </i-menu>
                            </div>
                            <div class="rightMain">
                                <div class="otherInfo">
                                    <div class="item">
                                        <div>
                                            <img src="~/Content/images/icon4/tran.png" class="iconImg" />变压器容量<font v-html="otherInfo.Capacity==null?'--':otherInfo.Capacity">--</font>kVA
                                        </div>
                                        <div>
                                            <img src="~/Content/images/icon4/elec.png" class="iconImg" />
                                            当前负荷<font v-html="otherInfo.gonglv==null?'--':otherInfo.gonglv">--</font>kVA
                                        </div>
                                        <div>
                                            <img src="~/Content/images/icon4/elecLoad.png" class="iconImg" />
                                            <font v-html="otherInfo.fuzailv==null?'--':otherInfo.fuzailv">--</font>%
                                            负载率
                                        </div>
                                        <div><i-buton class="btn" v-on:click="toPDFDetail">配电室详情</i-buton></div>
                                    </div>
                                </div>
                                <div class="chartView">
                                    <div class="chart" id="lineChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bottom_rightView">
                    <div class="msgListView boxStyle">
                        <div class="module">
                            <div class="title"><i class="iconfont icon-icon"></i>消息通知</div>
                            <div class="main mainCol">
                                <div v-for="item in orderList" v-html="item.OrderName" v-on:click="msgDetail(1)"></div>
                                <div v-for="item in alarmList" style="color:#d58a60" v-html="item.OrderName" v-on:click="msgDetail(0)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="proInfoView boxStyle">
                        <div class="module ">
                            <div class="title"><i class="iconfont icon-guidangxiangmu"></i>项目信息</div>
                            <div class="main mainCol">
                                <div class="item flexDiv">
                                    <p><i class="iconfont icon-user"></i><font v-html="proInfo.LinkMan==null?'--':proInfo.LinkMan"></font></p>
                                    <p><i class="iconfont icon-dianhua"></i><font v-html="proInfo.LinkPhone==null?'--':proInfo.LinkPhone"></font></p>
                                </div>
                                <div class="item">客户名称：<font v-html="proInfo.UnitName==null?'--':proInfo.UnitName"></font></div>
                                <div class="item">从事行业：<font v-html="proInfo.IndustryName==null?'--':proInfo.IndustryName"></font></div>
                                <div class="item">装机容量：<font v-html="proInfo.InstalledCapacity=='无'?'--':proInfo.InstalledCapacity"></font> kVA</div>
                                <div class="item">电压等级：<font v-html="proInfo.dianya==null?'--':proInfo.dianya"></font></div>
                                <div class="item">项目类型：<font v-html="proInfo.UnitProjectTypeName==null?'--':proInfo.UnitProjectTypeName"></font></div>
                                <div class="item">客户经理：<font v-html="proInfo.CSMMan==null?'--':proInfo.CSMMan"></font></div>
                                <div class="item">客户经理电话：<font v-html="proInfo.CSMPhone==null?'--':proInfo.CSMPhone"></font></div>
                                <div class="item">联系地址：<font v-html="proInfo.LinkAddress==null?'--':proInfo.LinkAddress"></font></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="~/Content/UserJS/NewUserView._jm.js?v=1.01"></script>
</body>
</html>
