@{
    ViewBag.Title = "曲线报表";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GraphData</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/js/echarts.min3.js" type="text/javascript"></script>
</head>
<body>
    <div class="curve">
        <div class="curve_table">
            <table id="curve_table1" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100" align="right">
                        时间选择：
                    </td>
                    <td width="360">
                        <input type="radio" class="GraphType" name="GraphType" value="6" checked="checked" />
                        近一日
                        <input type="radio" class="GraphType" name="GraphType" value="72" />
                        近一周
                        <input type="radio" class="GraphType" name="GraphType" value="144" />
                        近一月 @*<input type="radio" class="GraphType" name="GraphType" value="616" />
                        近一年*@
                        <input type="radio" class="GraphTypeOg" name="GraphType" id="GraphTypezdy" value="707"
                            onclick="unlock()" />
                        自定义
                        
                    <td align="left">
                        <div id="scroll" style="display: none; width: 600px;">
                            <input id="StartDate" class="easyui-datebox" style="width: 150px; height: 26px;" />
                            至
                            <input id="EndDate" class="easyui-datebox" style="width: 150px; height: 26px;" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100" align="right">
                        设备名称：
                    </td>
                    <td colspan="5" align="left" valign="top">
                        <div class="curve_time_select">
                        </div>
                        <select id="SPID" style="width: 350px; height: 26px;">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="100" align="right">
                        参数选择：
                    </td>
                    <td align="left" align="left">
                        <input id="DataTypeParams" data-options="lines:true" style="width: 352px;" />
                    </td>
                    <td colspan="2" width="185">
                        <button class="page_table_but" style="margin: 0px" data-options="iconCls:'icon-ok'"
                            id="btnHour" onclick=" DoSearch()">
                            <img src="/Content/images/Icon16/refresh.png" />确定
                        </button>
                    </td>
                </tr>
            </table>
            <div id= 'df' style =" width:800px"></div>
        </div>
       
        <div id="canvas">
            <div id="HisGraphCharts" style="height: 500px; z-index: 10; padding: 5px; background: #333;">
            </div>
        </div>
    </div>
    <script src="~/Content/UserJS/DiffGraph._jm.js"></script>
    
    <script type="text/javascript" src="~/Content/UserJS/ResizeList._jm.js"></script>
</body>
</html>