@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserEdit</title>
    <style type="text/css">
        .divicons
        {
            float: left;
            border: solid 1px #ccc;
            margin: 5px;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }
        .divicons:hover
        {
            color: #FFF;
            border: solid 1px #3399dd;
            background: #2288cc;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
            background: linear-gradient(top, #33bbee, #2288cc);
            background: -moz-linear-gradient(top, #33bbee, #2288cc);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
            text-shadow: -1px -1px 1px #1c6a9e;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <table cellpadding="" cellspacing="" border="0" class="d_list">
        <tr>
            <td class="d_l_t" style="width: 80px;">
                用户名：
            </td>
            <td class="d_l_d">
                <input id="UserName" runat="server" name="UserName" maxlength="20" missingmessage="用户名必填项！"
                    class="easyui-validatebox" style="width: 200px; height: 24px;" data-options="required:true" /><b
                        class="RStar">&nbsp*</b>
                <input id="UserID" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                公司名称：
            </td>
            <td class="d_l_d">
                <select id="Company" style="width: 210px; height: 24px;">
                </select><b class="RStar">&nbsp*</b>
            </td>
        </tr>
        <tr>
            <td class="d_l_t" align="right">
                显示LOGO：
            </td>
            <td class="d_l_d">
                <input id="Menu_Img" type="hidden" runat="server" />
                <img id="Img_Menu_Img" src="/Content/images/logo/ld_logo.png" width="40px" height="16px"
                    runat="server" alt="" style="vertical-align: middle; padding-right: 10px;" />
                <a href="javascript:" onclick="OpenIconList()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">
                    选择LOGO</a>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                职位：
            </td>
            <td class="d_l_d">
                <input id="Post" runat="server" name="Post" maxlength="20" class="easyui-validatebox"
                    style="width: 200px; height: 24px;" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                所属班组：
            </td>
            <td class="d_l_d">
                <input id="GroupName" runat="server" name="GroupName" maxlength="20" class="easyui-validatebox"
                    style="width: 200px; height: 24px;" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                固定电话：
            </td>
            <td class="d_l_d">
                <input id="Telephone" runat="server" maxlength="20" name="Telephone" missingmessage="固定电话必填项！"
                    class="easyui-validatebox" style="width: 200px; height: 24px;" data-options="required:true" /><b
                        class="RStar">&nbsp*</b>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                Email：
            </td>
            <td class="d_l_d">
                <input id="Email" runat="server" maxlength="40" name="Email" missingmessage="Email必填项！"
                    class="easyui-validatebox" style="width: 200px; height: 24px;" data-options="required:true" /><b
                        class="RStar">&nbsp*</b>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                移动电话：
            </td>
            <td class="d_l_d">
                <input id="Mobilephone" runat="server" maxlength="20" name="Mobilephone" missingmessage="移动电话必填项！"
                    class="easyui-validatebox" style="width: 200px; height: 24px;" data-options="required:true" /><b
                        class="RStar">&nbsp*</b>
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                角色分配：
            </td>
            <td class="d_l_d" id="allot">
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                单位分配：
            </td>
            <td class="d_l_d">
                <input style="width: 210px;" id="unitlist" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                报警通知：
            </td>
            <td class="d_l_d">
                <input type="checkbox" name="cbkAlarmMsg" id="cbkAlarmMsg" />短信通知
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding-top: 20px;">
        <a href="javascript:;" id="btnSave" class="table_btn btn_style radius5" data-options="iconCls:'icon-ok'">
            保存</a> <a href="javascript:;" class="table_btn1 btn_style radius5" data-options="iconCls:'icon-cancel'"
                onclick="$('#editwin').window('close');">关闭</a>
    </div>
    <div id="editWin" class="easyui-dialog" style="width: 800px; height: auto; padding: 10px 20px;
        left: 850px; top: 60px; max-height: 550px;" data-options="closed:true,buttons:'#dlg-buttons'"
        title="用户Logo列表">
        <div class="div-body" id="icon_data">
        </div>
    </div>
    <script type="text/javascript">
     
        var userid=@Html.Raw(Request.QueryString["userid"]);
      
    </script>
    <script src="~/Content/UserJS/UserEdit_jm.js"></script>
</body>
</html>
