@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StationRoom</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <link rel="stylesheet" href="~/Content/css/bootstrapStyle/bootstrapStyle.css" type="text/css">

    <script src="~/Content/UserJS/menucontrol._jm.js" type="text/javascript"></script>
    <script src="~/Content/js/echarts.min3.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.tabs.js" type="text/javascript"></script>
    <script src="~/Content/UserJS/tab._jm.js" type="text/javascript"></script>
    <script src="~/Content/js/boximg.js" type="text/javascript"></script>
    <script src="~/Content/UserJS/lbywlfmu._jm.js" type="text/javascript"></script>
    <style type="text/css">
        .equipment_ledger{
            background:#fff
        }
    .ztree li span.button { background: url("/Content/css/bootstrapStyle/img/bootstrap.png") }
        .equipment_ledger{
            display:flex;
            flex-direction:row;
            overflow:hidden
        }
        .el_sidebar{
            flex:1;
            overflow:hidden;
            display:flex;
            height:100%;
            flex-direction:column;

        }
        .el_content{
            flex:4 !important;
            overflow-x:hidden;

        }
        #treeDemo{
            flex:1;
            height:100%
        }
        .page_table_list2_tr td {
            background: #f8f8f9 !important;
            border:1px solid #e6e6e6
        }
        .page_table_list2 td table td {
            background: #fff;
            border: 1px solid #e6e6e6
        }
        .column_h3, .column_h3_2{
            color:#fff
        }
        .tab_menu3 li.current {
            background: #4ab89b;
            color:#fff
        }
       
        .tab_menu3 li {
            background: #fff
        }
        .el_detail {
            background: #4ab89b;
            box-shadow: 2px 2px 3px #ccc;
        }
        .el_tab{
            margin-top:10px
        }
            .el_tab .tab_box{
                padding:0px
            }
       
    </style>

</head>
<body>
    <div class="equipment_ledger">
        <div class="el_sidebar" >
            <!--<div class="leftmenu_content" id="leftmenuSpace"></div>-->

            <ul id="treeDemo" class="ztree" style="width:106%;overflow-x:hidden;margin:20px 10px 40px 10px;overflow-y:scroll"></ul>
        </div>
        <div class="el_content">
            <div class="el_detail">
                <div class="page_tabtop">
                    <h3 class="column_h3" id="tTitleDeviceName"></h3>
                    <div class="page_table_butbox" style=" display:none">
                        <button class="page_table_but3 radius5">
                            <img src="../content/images/add_new.png" />新增
                        </button>
                        <button class="page_table_but3 radius5">
                            <img src="../content/images/edit_new.png" />编辑
                        </button>
                        <button class="page_table_but3 radius5">
                            <img src="../content/images/delete_new.png" />删除
                        </button>
                        <button class="page_table_but3 radius5">
                            <img src="../content/images/export_new.png" />导出
                        </button>
                    </div>
                </div>
                <div class="el_detailcontent">
                    <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" class="page_table_list2" style="height:100%;">
                        <tr>
                            <td width="85%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:100%;">
                                    <tr class="page_table_list2_tr">
                                        <td align="right">
                                            设备名称
                                        </td>
                                        <td id="tDeviceName" width="20%"></td>
                                        <td align="right">
                                            设备编码
                                        </td>
                                        <td id="tDeviceCode" width="20%"></td>
                                        <td align="right">
                                            重要程度
                                        </td>
                                        <td id="tMLID" width="20%"></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            设备分类
                                        </td>
                                        <td id="tDT"></td>
                                        <td align="right">
                                            规格型号
                                        </td>
                                        <td id="tDeviceModel"></td>
                                        <td align="right">
                                            额定电流
                                        </td>
                                        <td id="tA"></td>
                                    </tr>
                                    
                                    <tr>
                                        <td align="right">
                                            生产厂家
                                        </td>
                                        <td id="tMFactory"></td>
                                        <td align="right">
                                            出厂编号
                                        </td>
                                        <td id="tFactoryNumber"></td>
                                        <td align="right">
                                            购买日期
                                        </td>
                                        <td id="tBuyTime"></td>
                                    </tr>
                                    <tr class="page_table_list2_tr">
                                        <td align="right">
                                            安装地点
                                        </td>
                                        <td id="tInstallAddr"></td>
                                        <td align="right">
                                            投运日期
                                        </td>
                                        <td id="tUseDate"></td>
                                        <td align="right">
                                            使用状况
                                        </td>
                                        <td id="tUseState"></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            维护日期
                                        </td>
                                        <td id="tLastMtcDate"></td>
                                        <td align="right">
                                            建档日期
                                        </td>
                                        <td id="tBuildDate"></td>
                                        <td align="right">
                                            &nbsp;
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="el_tab">
                <div class="box demo2">
                    <ul class="tab_menu tab_menu3">
                        <li class="current" onclick="loadSparePartData();">元器件管理</li>
                        <li  onclick="loadBugData();">隐患记录</li>

                        <!--<li onclick="loadOrderData();">巡视记录</li>-->
                        <li style=" display:none">检修记录</li>
                        <li onclick="loadExperimentData();">试验报告</li>
                        <li onclick="loadSensorData();">传感器</li>
                    </ul>
                    <div class="tab_box" style="height:auto;">

                        <div class="hide">

                        </div>
                        <div class="frame2">
                            <div class="page_tabtop">
                                <div class="page_table_select">
                                    <label>
                                        <input type="radio" class="BugState" name="BugState" checked value="0" />全部
                                    </label>
                                    <label>
                                        <input type="radio" class="BugState" name="BugState" value="1" />隐患已排除
                                    </label>
                                    <label>
                                        <input type="radio" class="BugState" name="BugState" value="2" />未消缺
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hide">
                        </div>
                        <div class="hide">
                        </div>
                        <div class="hide">
                        </div>
                    </div>
                    <div style="height:100%;">
                        <table id="list_data" style="width:100%; height: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_windowbg">
    </div>
    <div class="pop_window radius5">
        <button class="popclose" onclick="popclose();">
            <img src="../Content/images/popclosebtn.png" />
        </button>
        <h3 id="aaa">
            详情
        </h3>
        <div class="pop_content el_popcontent">
            <div class="popbtn">
                <button class="page_table_but">
                    缺陷确认
                </button>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/Content/js/jquery.ztree.core.js"></script>
<script src="~/Content/UserJS/EquipmentLedger_jm.js"></script>
