@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <style type="text/css">
    .closepic{float: right;width: 105px;right: 20px;top: 120px;}
    </style>
</head>
<body>
    <table id="list_data" style="width: auto; height: 780px;" idfield="UserID"
        pagination="true" data-options="iconCls:'icon-save',rownumbers:true,pageSize:50,pageList:[10,20,50],toolbar:'#tb',method:'get',striped:true"
        fitcolumns="true" fit="true">
        <thead>
            <tr>
                <th field='UserID' checkbox="true">
                </th>
                <th field='UserName' width="80px">
                    用户名
                </th>
                <th field='Company' width="150px">
                    公司名称
                </th>
                <th field='Post' width="100px">
                    职位
                </th>
                <th field='Telephone' width="100px">
                    办公电话
                </th>
                <th field='Mobilephone' width="100px">
                    移动电话
                </th>
                <th data-options="field:'IsScreen',width:100,formatter:isScreen">
                    状态
                </th>
            </tr>
        </thead>
    </table>
    <div id="tb" class="searchbar">
        <div class="searchrow">
            用户名:
            <input id="uname" />
        </div>
        @*<div id="userbuttonThis" class="searchbutton">
            <button title="查 询" onclick="dosearch();" class="page_table_but"><img src="/Content/images/Icon16/zoom.png">查 询</button>
            <button title="发送通知" class="page_table_but" onclick="send();"><img src="/Content/images/Icon16/email_go.png">发送通知</button>
        </div>*@
        <div id="userbutton" class="searchbutton">
        </div>
    </div>
    <script src="~/Content/UserJS/PersonnelMag._jm.js"></script>
    <script type="text/javascript" src="~/Content/UserJS/ResizeList._jm.js"></script>
    <div id="editwin" title="编辑用户信息" class="easyui-window" closed="true" style="width: 800px;
        height: 600px; padding: 5px;" minimizable="false" maximizable="false" collapsible="false">
    </div>
</body>
</html>
