#topo,
body,
html {
    width: 100%;
    height: 100%
}

body,
html {
    margin: 0;
    padding: 0
}

#topo {
    overflow: hidden;
    background:#000;
}

.switchBtn {
    position: absolute;
    width: 300px;
    background: 0 0;
    height: 100px
}

#electricMeterBounced {
    box-sizing: border-box;
    position: absolute;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    display: none;
    z-index: 10;
    top: 0px;
    width: 310px;
    font: small-caps 13px sans-serif;
    background: #fff;
}

.tdb th {
    font-weight: 450;
}

thead th {
    width: 310px;
    height: 50px;
    color: #fff;
    background: #50BDA0;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #50BDA0
}

td,
th {
    font-size: 12px;
    box-sizing: border-box;
    height: 35px;
    vertical-align: middle;
    text-align: center;
}

td:first-child,
th:first-child {
    width: 130px;
    border-right: 1px solid #E6E6E6;
}

.td3 td,
.td3 th {
    width: 60px;
    border-top: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}

.b1 td {
    border-top: 1px solid #E6E6E6;
}

.b3 {
    border-top: none !important;
}

.titleUl {
    position: absolute;
    right: 30px;
    display: flex;
    color:#fff;
    top:40px;
}
    .titleUl li {
        height: 40px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        background: #808080;
        overflow: hidden;
        margin: 0 5px;
        cursor: pointer;
    }

        .titleUl li:hover {
            background: #60600;
        }