.main,
html {
    padding: 0;
    margin: 0
}

.boxCenter,
.boxLeft,
.boxRight,
.lineLeft,
.lineRight,
.main {
    position: absolute;
    height: 100%;
}


.boxLeft, .boxRight {

   background:#fff;}

.label-box,
.palette-item {
    color: #777;
    text-align: center
}

.main,
.palette-header {
    top: 0;
    width: 100%;
    box-sizing: border-box
}

.caret,
.palette-item {
    display: inline-block;
    vertical-align: top
}

.main,
.menuBar,
.palette-header {
    box-sizing: border-box
}

.main {
    border: 0;
    outline: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.lineLeft,
.lineRight {
    cursor: ew-resize;
    z-index: 10;
    padding: 10px

}

.caret,
.label-box,
.menu,
.palette-header,
.palette-item,
input {
    cursor: pointer
}

.boxCenter {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    z-index: 11
}

.boxLeft {
    overflow-y: auto
}

.palette-item {
    border-radius: 5px;
    border: 1px solid transparent;
    margin-left: 10px;
    margin-top: 10px
}

.palette-item:hover {
    border: 1px solid #8a8a8a!important
}

.label-box {
    max-width: 70px;
    overflow: hidden;
    font: 12px arial, sans-serif
}

.palette-header {
    position: relative;
    background: #f0efee;
    color: #8a8a8a;
    padding: 0 5px 0 0;
    border-top: 1px solid #f6f6f5;
    white-space: nowrap;
    overflow: hidden;
    font: 12px/24px arial, sans-serif
}

.caret {
    margin-right: 4px;
    width: 16px;
    height: 24px;
    background-image: url(../img/arrow.png);
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .2s linear
}

.palette-content {
    max-height: 2000px;
    font: 12px arial, sans-serif;
    overflow: hidden;
    padding-bottom: 0
}

.menuBar {
    border: 0;
    outline: 0;
    margin: 0;
    overflow: hidden;
    height: 30px;
    padding: 2.5px 10px 0 15px;
    background: #f0efee;
    width: 100%;
    position: absolute;
    top: 0;
}

.palette-item-img {
    width: 70px;
    height: 50px;
    padding: 10px 20px;
}

.menu {
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    margin-right: 3px
}

.menu:hover {
    border: 1px solid #999;
    text-align: center
}

.topo {
    z-index: 22;
    background-repeat: no-repeat
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
    display: table
}

thead,
tr {
    border-color: inherit
}

thead {
    display: table-header-group;
    vertical-align: middle
}

tr {
    display: table-row;
    vertical-align: inherit
}

td,
th {
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    vertical-align: middle
}

th {
    font-size: 14px;
    background-color: #F0EFEE;
    padding: 15px
}

td {
    font-size: 12px;
    padding: .35rem;
    display: table-cell
}

input {
    font: 12px arial, sans-serif;
    margin: none!important;
    padding: none!important;
    border: none;
    box-shadow: none;
    outline: 0
}

[data-type=button],
input[type=button],
select {
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=color] {
    width: 50%
}

tr.line,
tr.node,
tr.text {
    display: none
}

input[type=file] {
    width: 100px
}

input[type=button] {
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #adadad;
    border-radius: 4px;
    box-sizing: border-box
}

[data-type=button],
select {
    display: block;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 0;
    font: inherit;
    text-transform: none;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    width: 150px
}