@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountCancellation(销户)</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">
    $(function(){
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
        });
    });
    </script>

    <style>
        td {
            vertical-align: middle;
            text-align: center;
            font-family: "微软雅黑";
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="padding-top:2%">
        <div class="clearfix">

            @*左侧固定格式*@
            <div style="width:17%;float:left;height:660px;border-right:1px solid #000000;">
                @*树形菜单*@
                <div class="tree" style="overflow-y:scroll;height:560px;">
                    <ul>
                        <li>
                            <span style="cursor:pointer">住户列表</span>
                            <ul>
                                <li>
                                    <span style="cursor:pointer">K1楼</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">101室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">102室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">201室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">202室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">301室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">302室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">401室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">402室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">501室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">502室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">601室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">602室</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span style="cursor:pointer">K2楼</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">101室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">102室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">201室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">202室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">301室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">302室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">401室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">402室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">501室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">502室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">601室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">602室</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span style="cursor:pointer">K3楼</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">101室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">102室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">201室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">202室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">301室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">302室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">401室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">402室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">501室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">502室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">601室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">602室</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    @*<ul>
                        <li>
                            <span style="cursor:pointer">数据查询</span>
                            <ul>
                                <li>
                                    <span style="cursor:pointer"><i class="glyphicon glyphicon-plus-sign"></i>数据分类</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">近期数据</a></span>
                                        </li>
                                        <li>
                                            <span><i class="icon-time"></i><a href="#" style="text-decoration: none;">历史数据</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>*@
                </div>
                <div style="width:250px;padding-left:20px;">
                    <table class="table">
                        <tr>
                            <td style="width:100px;">搜索住户：</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="vertical-align: middle;text-align:right;"><button type="button" class="btn btn-default">读卡</button></td>
                        </tr>
                    </table>
                </div>
            </div>



            <div style="height:100%;padding-left:300px;">
                <div style="float:left;width:88%;">

                    <table class="table">
                        <tr>
                            <td style="vertical-align: middle;text-align:center;">
                                住户姓名：
                            </td>
                            <td>
                                <input type="text" class="form-control" id="name" placeholder="请输入名称">
                            </td>

                            <td style="vertical-align: middle;text-align:center;">
                                住址：
                            </td>
                            <td>
                                <input type="text" class="form-control" id="name" placeholder="K1.101">
                            </td>

                            <td style="vertical-align: middle;text-align:center;">
                                住户编号：
                            </td>
                            <td>
                                <input type="text" class="form-control" id="name" placeholder="101600001">
                            </td>
                            <td>
                                电表地址：
                            </td>
                            <td>
                                <input type="text" class="form-control" id="name" placeholder="1">
                            </td>
                        </tr>
                    </table>

                    <div class="tabbable" id="tabs-934315" style="margin-top:30px;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#panel-197846" data-toggle="tab">电费</a>
                            </li>
                            <li>
                                <a href="#panel-10531" data-toggle="tab">水费</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-197846">

                                <table class="table">
                                    <tr>
                                        <td style="vertical-align: middle;text-align:right;">
                                            剩余电量（度）：
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>

                                        <td style="vertical-align: middle;text-align:right;">
                                            退费电量（度）：
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td></td>
                                        <td style="vertical-align: middle;text-align:right;">
                                            单价（元）：
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="vertical-align: middle;text-align:center;">
                                            <button type="button" class="btn btn-default">读剩余电量</button>
                                        </td>

                                        <td style="vertical-align: middle;text-align:right;">
                                            退电费金额（元）：
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td style="vertical-align: middle;text-align:right;"><span style="color:red;">￥</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td>
                                            <button type="button" class="btn btn-default">提交</button>
                                        </td>
                                    </tr>
                                </table>

                                <table class="table table-bordered" style="margin-top:20px;">
                                    <tr>
                                        <td colspan="6">欠费明细</td>
                                    </tr>
                                    <tr>
                                        <td>序号</td>
                                        <td>欠费项目</td>
                                        <td>用量</td>
                                        <td>单价（元）</td>
                                        <td>欠费金额（元）</td>
                                        <td>备注</td>
                                    </tr>
                                </table>

                                <table class="table table-bordered" style="padding-top:22px;">

                                    <tr>
                                        <td colspan="6">退费明细</td>
                                    </tr>
                                    <tr>
                                        <td>序号</td>
                                        <td>退费项目</td>
                                        <td>退费</td>
                                        <td>单价（元）</td>
                                        <td>退费金额（元）</td>
                                        <td>备注</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            001
                                        </td>
                                        <td style="vertical-align:middle;">
                                            账户余额
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td></td>
                                        <td>210.00</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            002
                                        </td>
                                        <td style="vertical-align:middle;">
                                            电费
                                        </td>
                                        <td>
                                            670
                                        </td>
                                        <td>0.55</td>
                                        <td>368.50</td>
                                        <td>销户退电</td>
                                    </tr>
                                </table>

                            </div>
                            <div class="tab-pane" id="panel-10531">
                                <p>
                                    Howdy, I'm in Section 2.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="width:90%">
                    <table class="table">

                        <tr>
                            <td style="vertical-align: middle;text-align:right;">欠费金额合计（元）：</td>
                            <td><input type="text" class="form-control" id="name" placeholder="0.00"></td>
                            <td style="vertical-align: middle;text-align:left;"><span style="color:red;">￥</span></td>
                            <td style="vertical-align: middle;text-align:right;">退费金额合计（元）：</td>
                            <td><input type="text" class="form-control" id="name" placeholder="578.50"></td>
                            <td style="vertical-align: middle;text-align:left;"><span style="color:red;">￥</span></td>
                            <td style="vertical-align: middle;text-align:right;">合计（元）：</td>
                            <td><input type="text" class="form-control" id="name" placeholder="10.00"></td>
                            <td style="vertical-align: middle;text-align:left;"><span style="color:red;">￥</span></td>
                            <td><button type="button" class="btn btn-default">结算销户</button></td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>

</body>
</html>
