@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CostClose(费用结算)</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">
    $(function(){
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
        });
    });
    </script>

    <style>
        td {
            vertical-align: middle;
            text-align: center;
            font-family: "微软雅黑";
        }
    </style>

</head>
<body>



    <div class="container-fluid" style="padding-top:2%">
        <div class="clearfix">

            @*左侧固定格式*@
            <div style="width:17%;float:left;height:660px;border-right:1px solid #000000;">
                @*树形菜单*@
                <div class="tree" style="overflow-y:scroll;height:560px;">
                    <ul>
                        <li>
                            <span style="cursor:pointer">住户列表</span>
                            <ul>
                                <li>
                                    <span style="cursor:pointer">K1楼</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">101室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">102室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">201室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">202室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">301室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">302室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">401室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">402室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">501室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">502室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">601室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">602室</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span style="cursor:pointer">K2楼</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">101室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">102室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">201室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">202室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">301室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">302室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">401室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">402室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">501室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">502室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">601室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">602室</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span style="cursor:pointer">K3楼</span>
                                    <ul>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">101室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">102室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">201室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">202室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">301室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">302室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">401室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">402室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">501室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">502室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">601室</a></span>
                                        </li>
                                        <li>
                                            <span><a href="#" style="text-decoration: none;">602室</a></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    @*<ul>
                    <li>
                        <span style="cursor:pointer">数据查询</span>
                        <ul>
                            <li>
                                <span style="cursor:pointer"><i class="glyphicon glyphicon-plus-sign"></i>数据分类</span>
                                <ul>
                                    <li>
                                        <span><a href="#" style="text-decoration: none;">近期数据</a></span>
                                    </li>
                                    <li>
                                        <span><i class="icon-time"></i><a href="#" style="text-decoration: none;">历史数据</a></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>*@
                </div>
                <div style="width:250px;padding-left:20px;">
                    <table class="table">
                        <tr>
                            <td style="width:100px;">搜索住户：</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="vertical-align: middle;text-align:right;"><button type="button" class="btn btn-default">读卡</button></td>
                        </tr>
                    </table>
                </div>
            </div>

                <div style="float:left;padding-left:12px;width:30%;">
                    <div style="height:560px;">
                        <table class="table">
                            <tr>
                                <td>费用查询</td>
                            </tr>
                        </table>

                        <table class="table table-bordered">
                            <tr>
                                <td></td>
                                <td>住户</td>
                                <td>表地址</td>
                                <td>线号</td>
                                <td>找补电量</td>
                                <td>价钱</td>
                                <td>状态</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox-inline" style="padding-bottom:20px;">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                                    </label>
                                </td>
                                <td>1楼.101</td>
                                <td>1</td>
                                <td>1</td>
                                <td>50</td>
                                <td>120</td>
                                <td>正常</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">
                                    <label class="checkbox-inline" style="padding-bottom:20px;">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                                    </label>
                                </td>
                                <td>1楼.102</td>
                                <td>4</td>
                                <td>1</td>
                                <td>50</td>
                                <td>100</td>
                                <td>正常</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">
                                    <label class="checkbox-inline" style="padding-bottom:20px;">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                                    </label>
                                </td>
                                <td>1楼.103</td>
                                <td>7</td>
                                <td>1</td>
                                <td>50</td>
                                <td>110</td>
                                <td>正常</td>
                            </tr>
                        </table>
                    </div>

                    <div style="width:100%;padding-left:50px;">
                        <button type="button" class="btn btn-default" style="margin-left:230px; float:left">结算</button>
                        <button type="button" class="btn btn-default" style="margin-left:20px; float:left">生成账单</button>
                    </div>

                    </div>




        </div>
    </div>

</body>
</html>
