@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DailyBusiness</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
</head>
<body>
    <div>
        <h1>日常营业</h1>
    </div>
</body>
</html>
