@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HandTerminalUpload(手持终端上传)</title>
</head>
<body>
    <div>
        手持终端上传
    </div>
</body>
</html>
