@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MeterReadingData(抄表数据录入)</title>
</head>
<body>
    <div>
        抄表数据录入
    </div>
</body>
</html>
