@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MeterFile(表计档案)</title>
</head>
<body>
    <div>
        表计档案
    </div>
</body>
</html>
