@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupplierEdits</title>
</head>
<body>
    <table cellpadding="" cellspacing="" border="0" class="d_list">
        <tr>
            <td class="d_l_t">
                供应商编码：
            </td>
            <td class="d_l_d" colspan="3">
                <input id="SupplierCode" name="SupplierCode" missingmessage="供应商编码必填项！" class="easyui-validatebox"
                    style="width: 250px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
                <input id="SupplierID" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                供应商名称：
            </td>
            <td class="d_l_d">
                <input id="SupplierName" name="SupplierName" missingmessage="供应商名称必填项！" class="easyui-validatebox"
                    style="width: 250px;" data-options="required:true" /><b class="RStar">&nbsp*</b>
            </td>
            <td class="d_l_t">
                联系人：
            </td>
            <td class="d_l_d">
                <input id="Contacter" name="Contacter" class="easyui-validatebox" style="width: 250px;" />
            </td>
        </tr>
        <tr>
            <td class="d_l_t">
                电话号码：
            </td>
            <td class="d_l_d">
                <input id="Telephone" name="Telephone" class="easyui-validatebox" style="width: 250px;" />
            </td>
            <td class="d_l_t">
                手机号码：
            </td>
            <td class="d_l_d">
                <input id="MobilePhone" name="MobilePhone" class="easyui-validatebox" style="width: 250px;" />
            </td> 
        </tr>
        <tr>
            <td class="d_l_t">
                地址：
            </td>
            <td class="d_l_d">
                <input id="SupplierAddress" name="SupplierAddress" class="easyui-validatebox" style="width: 250px;" />
            </td>
           @* <td class="d_l_t">
                使用状态：
            </td>
            <td class="d_l_d">
                <select id="UseState" class="easyui-combobox" style="width: 260px;">
                    <option value="0">正常使用</option>
                    <option value="1">暂停使用</option>
                </select>
            </td>*@
        </tr>
        <tr>
            <td class="d_l_t">
                备注：
            </td>
            <td class="d_l_d" colspan="3">
                <textarea id="Remarks" class="easyui-validatebox" style="height: 50px; width: 632px;"></textarea>
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding-top: 20px;">
        <a href="javascript:;" id="btnSave" onclick="save()" class="table_btn btn_style radius5"
            data-options="iconCls:'icon-ok'">保存</a> <a href="javascript:;" class="table_btn1 btn_style radius5"
                data-options="iconCls:'icon-cancel'" onclick="$('#editwin').window('close');">关闭</a>
    </div>
    
    <script type="text/javascript">
        var supplierid=@Html.Raw(Request.QueryString["supplierid"]);
      
     </script>
    <script src="~/Content/UserJS/SupplierEdits._jm.js"></script>
</body>
</html>
