@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_163_贝德一次图</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu163_81.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p163">
            <li class="other_g0" id="other_g0"></li>
            <!--AL101_低压进线柜-->
            <li class="w1 alarmico">
                <dt id="d1" onclick="circuitInfo(107,1);"></dt>
                <dd id="t1"></dd>
            </li>
            <!--AL201_低压进线柜-->
            <li class="w2 alarmico">
                <dt id="d2" onclick="circuitInfo(107,2);"></dt>
                <dd id="t2"></dd>
            </li>
            <!--AL301_低压出线柜-->
            <li class="w3 alarmico">
                <dt id="d3" onclick="circuitInfo(107,3);"></dt>
                <dd id="t3"></dd>
            </li>
            <!--AL301_低压出线柜-->
            <li class="w4 alarmico">
                <dt id="d4" onclick="circuitInfo(107,4);"></dt>
                <dd id="t4"></dd>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 163; var graphType = "low"; var OGdid = "1,2,3,4";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
