@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_12_北人一次图高压</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu12_82.css"> </link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">
  
  


<div class="ycmain page_content"><ul class="alertmenu" id="p12"><li class="other_g0" id="other_g0"></li><!--1AH2_1#进线柜--><li class="w1 alarmico"><dt id="d1" onclick="circuitInfo(107,1);"></dt><dd id="t1"></dd></li><!--1AH4_展会中心1#配电室一路--><li class="w2 alarmico"><dt id="d2" onclick="circuitInfo(107,2);"></dt><dd id="t2"></dd></li><!--1AH5_展会中心2#配电室一路--><li class="w3 alarmico"><dt id="d3" onclick="circuitInfo(107,3);"></dt><dd id="t3"></dd></li><!--1AH6_机械加工厂配电室一路--><li class="w4 alarmico"><dt id="d4" onclick="circuitInfo(107,4);"></dt><dd id="t4"></dd></li><!--1AH7_科研楼配电室一路--><li class="w5 alarmico"><dt id="d5" onclick="circuitInfo(107,5);"></dt><dd id="t5"></dd></li><!--1AH8_备用--><li class="w6 alarmico"><dt id="d6" onclick="circuitInfo(107,6);"></dt><dd id="t6"></dd></li><!--1AH9_母线联络柜--><li class="w7 alarmico"><dt id="d7" onclick="circuitInfo(107,7);"></dt><dd id="t7"></dd></li><!--1AH11_备用--><li class="w8 alarmico"><dt id="d8" onclick="circuitInfo(107,8);"></dt><dd id="t8"></dd></li><!--1AH12_备用--><li class="w9 alarmico"><dt id="d9" onclick="circuitInfo(107,9);"></dt><dd id="t9"></dd></li><!--1AH13_机械加工厂配电室二路--><li class="w10 alarmico"><dt id="d10" onclick="circuitInfo(107,10);"></dt><dd id="t10"></dd></li><!--1AH14_展会中心2#配电室二路--><li class="w11 alarmico"><dt id="d11" onclick="circuitInfo(107,11);"></dt><dd id="t11"></dd></li><!--1AH15_展会中心1#配电室二路--><li class="w12 alarmico"><dt id="d12" onclick="circuitInfo(107,12);"></dt><dd id="t12"></dd></li><!--1AH17_2#进线柜--><li class="w13 alarmico"><dt id="d13" onclick="circuitInfo(107,13);"></dt><dd id="t13"></dd></li></ul></div><script type="text/javascript">
        var pid = 12;   var graphType = "low";     var OGdid = "1,2,3,4,5,6,7,8,9,10,11,12,13"; 
</script></body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js" type="text/javascript"></script>