@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_177_舞蹈学院-3#4#变压器</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu177_87.css"> </link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2" style="background-color:#000000;">
  
    <style>
        .tb_pageI {
            left: 875px;
            top: 10px;
        }

        .tb_pageII {
            left: 1000px;
            top: 10px;
        }

        .tb_pageIII {
            left: 1125px;
            top: 10px;
        }

        .tb_pageIIII {
            left: 1250px;
            top: 10px;
        }
    </style>


<div class="ycmain page_content"><ul class="alertmenu" id="p177"><li class="other_g0" id="other_g0"></li><!--3AA1--><li class="w171 alarmico"><dt id="d171" onclick="circuitInfo(107,171);"></dt><dd id="t171"></dd></li><!--3AA2--><li class="w172 alarmico"><dt id="d172" onclick="circuitInfo(107,172);"></dt><dd id="t172"></dd></li><!--3AA2--><li class="w173 alarmico"><dt id="d173" onclick="circuitInfo(107,173);"></dt><dd id="t173"></dd></li><!--3AA2--><li class="w174 alarmico"><dt id="d174" onclick="circuitInfo(107,174);"></dt><dd id="t174"></dd></li><!--3AA2--><li class="w175 alarmico"><dt id="d175" onclick="circuitInfo(107,175);"></dt><dd id="t175"></dd></li><!--3AA2--><li class="w176 alarmico"><dt id="d176" onclick="circuitInfo(107,176);"></dt><dd id="t176"></dd></li><!--3AA2--><li class="w177 alarmico"><dt id="d177" onclick="circuitInfo(107,177);"></dt><dd id="t177"></dd></li><!--3AA3--><li class="w178 alarmico"><dt id="d178" onclick="circuitInfo(107,178);"></dt><dd id="t178"></dd></li><!--3AA3--><li class="w179 alarmico"><dt id="d179" onclick="circuitInfo(107,179);"></dt><dd id="t179"></dd></li><!--3AA3--><li class="w180 alarmico"><dt id="d180" onclick="circuitInfo(107,180);"></dt><dd id="t180"></dd></li><!--3AA3--><li class="w181 alarmico"><dt id="d181" onclick="circuitInfo(107,181);"></dt><dd id="t181"></dd></li><!--3AA3--><li class="w182 alarmico"><dt id="d182" onclick="circuitInfo(107,182);"></dt><dd id="t182"></dd></li><!--3AA3--><li class="w183 alarmico"><dt id="d183" onclick="circuitInfo(107,183);"></dt><dd id="t183"></dd></li><!--3AA4--><li class="w184 alarmico"><dt id="d184" onclick="circuitInfo(107,184);"></dt><dd id="t184"></dd></li><!--3AA5--><li class="w185 alarmico"><dt id="d185" onclick="circuitInfo(107,185);"></dt><dd id="t185"></dd></li><!--3AA6--><li class="w186 alarmico"><dt id="d186" onclick="circuitInfo(107,186);"></dt><dd id="t186"></dd></li><!--3AA6--><li class="w187 alarmico"><dt id="d187" onclick="circuitInfo(107,187);"></dt><dd id="t187"></dd></li><!--3AA6--><li class="w188 alarmico"><dt id="d188" onclick="circuitInfo(107,188);"></dt><dd id="t188"></dd></li><!--3AA6--><li class="w189 alarmico"><dt id="d189" onclick="circuitInfo(107,189);"></dt><dd id="t189"></dd></li><!--3AA6--><li class="w190 alarmico"><dt id="d190" onclick="circuitInfo(107,190);"></dt><dd id="t190"></dd></li><!--3AA6--><li class="w191 alarmico"><dt id="d191" onclick="circuitInfo(107,191);"></dt><dd id="t191"></dd></li><!--4AA1--><li class="w192 alarmico"><dt id="d192" onclick="circuitInfo(107,192);"></dt><dd id="t192"></dd></li><!--4AA2--><li class="w193 alarmico"><dt id="d193" onclick="circuitInfo(107,193);"></dt><dd id="t193"></dd></li><!--4AA2--><li class="w194 alarmico"><dt id="d194" onclick="circuitInfo(107,194);"></dt><dd id="t194"></dd></li><!--4AA2--><li class="w195 alarmico"><dt id="d195" onclick="circuitInfo(107,195);"></dt><dd id="t195"></dd></li><!--4AA2--><li class="w196 alarmico"><dt id="d196" onclick="circuitInfo(107,196);"></dt><dd id="t196"></dd></li><!--4AA2--><li class="w197 alarmico"><dt id="d197" onclick="circuitInfo(107,197);"></dt><dd id="t197"></dd></li><!--4AA2--><li class="w198 alarmico"><dt id="d198" onclick="circuitInfo(107,198);"></dt><dd id="t198"></dd></li><!--4AA3--><li class="w199 alarmico"><dt id="d199" onclick="circuitInfo(107,199);"></dt><dd id="t199"></dd></li><!--4AA3--><li class="w200 alarmico"><dt id="d200" onclick="circuitInfo(107,200);"></dt><dd id="t200"></dd></li><!--4AA3--><li class="w201 alarmico"><dt id="d201" onclick="circuitInfo(107,201);"></dt><dd id="t201"></dd></li><!--4AA3--><li class="w202 alarmico"><dt id="d202" onclick="circuitInfo(107,202);"></dt><dd id="t202"></dd></li><!--4AA3--><li class="w203 alarmico"><dt id="d203" onclick="circuitInfo(107,203);"></dt><dd id="t203"></dd></li><!--4AA3--><li class="w204 alarmico"><dt id="d204" onclick="circuitInfo(107,204);"></dt><dd id="t204"></dd></li><!--4AA4--><li class="w205 alarmico"><dt id="d205" onclick="circuitInfo(107,205);"></dt><dd id="t205"></dd></li><!--4AA5--><li class="w206 alarmico"><dt id="d206" onclick="circuitInfo(107,206);"></dt><dd id="t206"></dd></li><!--4AA5--><li class="w207 alarmico"><dt id="d207" onclick="circuitInfo(107,207);"></dt><dd id="t207"></dd></li><!--4AA5--><li class="w208 alarmico"><dt id="d208" onclick="circuitInfo(107,208);"></dt><dd id="t208"></dd></li><!--4AA5--><li class="w209 alarmico"><dt id="d209" onclick="circuitInfo(107,209);"></dt><dd id="t209"></dd></li><!--4AA5--><li class="w210 alarmico"><dt id="d210" onclick="circuitInfo(107,210);"></dt><dd id="t210"></dd></li><!--4AA5--><li class="w211 alarmico"><dt id="d211" onclick="circuitInfo(107,211);"></dt><dd id="t211"></dd></li>
    
                                     <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=177" class="page_size_pm">高压</a></li>
                                     <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=177_85" class="page_size_pm">低压母线1段</a></li>
                                     <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=177_86" class="page_size_pm">低压母线2段</a></li>
                                     <li class="tb_pageIIII"><span class="page_size_pm_no">低压母线3段4段</span></li>
    
    </ul></div><script type="text/javascript">
        var pid = 177;   var graphType = "low";     var OGdid = "171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211"; 
</script></body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>