@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_4_二号分一次图</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu4_16.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p4">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g8440" id="t8440"></li>
            <!--AH1-->
            <li class="w1 alarmico">
                <dt id="d1" onclick="circuitInfo(107,1);"></dt>
                <dd id="t1"></dd>
            </li>
            <!--AH2-->
            <li class="w2 alarmico">
                <dt id="d2" onclick="circuitInfo(107,2);"></dt>
                <dd id="t2"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g8441" id="t8441"></li>
            <li class="switch_size switch_s_off zxb_g8444" id="t8444"></li>
            <li class="switch_size switch_s_off zxb_g8445" id="t8445"></li>
            <li class="switch_size switch_s_off zxb_g8443" id="t8443"></li>
            <li class="switch_size switch_s_off zxb_g8442" id="t8442"></li>
            <!--AH4-->
            <li class="w3 alarmico">
                <dt id="d3" onclick="circuitInfo(107,3);"></dt>
                <dd id="t3"></dd>
            </li>
            <!--AH3-->
            <li class="w4 alarmico">
                <dt id="d4" onclick="circuitInfo(107,4);"></dt>
                <dd id="t4"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g8453" id="t8453"></li>
            <!--AA1-->
            <li class="w5 alarmico">
                <dt id="d5" onclick="circuitInfo(107,5);"></dt>
                <dd id="t5"></dd>
            </li>
            <!--AA18-->
            <li class="w14 alarmico">
                <dt id="d14" onclick="circuitInfo(107,14);"></dt>
                <dd id="t14"></dd>
            </li>
            <!--AA2-->
            <li class="w6 alarmico">
                <dt id="d6" onclick="circuitInfo(107,6);"></dt>
                <dd id="t6"></dd>
            </li>
              <li class="tb_pageI"><span class="page_size_pm_no">高压</span></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=4_60" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=4_65" class="page_size_pm">低压母线2段</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 4; var graphType = "low"; var OGdid = "1,2,3,4,5,14,6";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
