@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicituLow1_2.css"> </link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">
  
  


<div class="ycmain page_content"><ul class="alertmenu" id="p1"><li class="other_g0" id="other_g0"></li><!--AH2--><li class="w1 alarmico"><dt id="d1" onclick="deviceinfo(107,1);"></dt><dd id="t1"></dd></li><!--AH5--><li class="w3 alarmico"><dt id="d3" onclick="deviceinfo(107,3);"></dt><dd id="t3"></dd></li><!--AH4--><li class="w2 alarmico"><dt id="d2" onclick="deviceinfo(107,2);"></dt><dd id="t2"></dd></li><li class="switch_size switch_s_off zxb_g201" id="t201"></li><!--AH6--><li class="w4 alarmico"><dt id="d4" onclick="deviceinfo(107,4);"></dt><dd id="t4"></dd></li><li class="switch_size switch_s_off zxb_g202" id="t202"></li><li class="switch_size switch_s_off zxb_g203" id="t203"></li><li class="switch_size switch_s_off zxb_g195" id="t195"></li><li class="switch_size switch_s_off zxb_g196" id="t196"></li><li class="switch_size switch_s_off zxb_g197" id="t197"></li><li class="switch_size switch_s_off zxb_g198" id="t198"></li><li class="switch_size switch_s_off zxb_g199" id="t199"></li><li class="switch_size switch_s_off zxb_g200" id="t200"></li><li class="switch_size switch_s_off zxb_g204" id="t204"></li><li class="other_g17" id="other_g17"></li><li class="other_g18" id="other_g18"></li><!--AH7--><li class="w5 alarmico"><dt id="d5" onclick="deviceinfo(107,5);"></dt><dd id="t5"></dd></li><!--AH8--><li class="w6 alarmico"><dt id="d6" onclick="deviceinfo(107,6);"></dt><dd id="t6"></dd></li><!--AH9--><li class="w7 alarmico"><dt id="d7" onclick="deviceinfo(107,7);"></dt><dd id="t7"></dd></li><!--AH10--><li class="w8 alarmico"><dt id="d8" onclick="deviceinfo(107,8);"></dt><dd id="t8"></dd></li><!--AH11--><li class="w9 alarmico"><dt id="d9" onclick="deviceinfo(107,9);"></dt><dd id="t9"></dd></li><li class="switch_size switch_s_off zxb_g188" id="t188"></li><li class="switch_size switch_s_off zxb_g189" id="t189"></li><li class="switch_size switch_s_off zxb_g190" id="t190"></li><li class="switch_size switch_s_off zxb_g191" id="t191"></li><li class="switch_size switch_s_off zxb_g192" id="t192"></li><li class="switch_size switch_s_off zxb_g193" id="t193"></li><li class="switch_size switch_s_off zxb_g194" id="t194"></li><!--AH21--><li class="w17 alarmico"><dt id="d17" onclick="deviceinfo(107,17);"></dt><dd id="t17"></dd></li><!--AH13--><li class="w10 alarmico"><dt id="d10" onclick="deviceinfo(107,10);"></dt><dd id="t10"></dd></li><!--AH14--><li class="w11 alarmico"><dt id="d11" onclick="deviceinfo(107,11);"></dt><dd id="t11"></dd></li><!--AH15--><li class="w12 alarmico"><dt id="d12" onclick="deviceinfo(107,12);"></dt><dd id="t12"></dd></li><!--AH16--><li class="w13 alarmico"><dt id="d13" onclick="deviceinfo(107,13);"></dt><dd id="t13"></dd></li><!--AH17--><li class="w14 alarmico"><dt id="d14" onclick="deviceinfo(107,14);"></dt><dd id="t14"></dd></li><!--AH18--><li class="w15 alarmico"><dt id="d15" onclick="deviceinfo(107,15);"></dt><dd id="t15"></dd></li><!--AH19--><li class="w16 alarmico"><dt id="d16" onclick="deviceinfo(107,16);"></dt><dd id="t16"></dd></li><!--1AA1--><li class="w18 alarmico"><dt id="d18" onclick="deviceinfo(107,18);"></dt><dd id="t18"></dd></li><!--2AA1--><li class="w29 alarmico"><dt id="d29" onclick="deviceinfo(107,29);"></dt><dd id="t29"></dd></li><!--1AA11--><li class="w28 alarmico"><dt id="d28" onclick="deviceinfo(107,28);"></dt><dd id="t28"></dd></li><!--2AA11--><li class="w39 alarmico"><dt id="d39" onclick="deviceinfo(107,39);"></dt><dd id="t39"></dd></li><li class="other_g45" id="other_g45"></li><li class="other_g46" id="other_g46"></li><li class="other_g47" id="other_g47"></li><li class="other_g48" id="other_g48"></li><li class="other_g49" id="other_g49"></li><li class="other_g50" id="other_g50"></li><li class="other_g51" id="other_g51"></li><li class="other_g52" id="other_g52"></li><li class="other_g53" id="other_g53"></li><li class="other_g54" id="other_g54"></li><li class="other_g55" id="other_g55"></li><li class="other_g56" id="other_g56"></li><li class="other_g57" id="other_g57"></li><li class="other_g58" id="other_g58"></li><li class="other_g59" id="other_g59"></li><li class="other_g60" id="other_g60"></li><li class="other_g63" id="other_g63"></li><li class="other_g64" id="other_g64"></li><li class="other_g65" id="other_g65"></li><li class="other_g66" id="other_g66"></li><li class="other_g67" id="other_g67"></li><li class="other_g69" id="other_g69"></li><li class="other_g70" id="other_g70"></li><li class="other_g71" id="other_g71"></li><li class="other_g72" id="other_g72"></li><li class="other_g73" id="other_g73"></li>
    
                                     <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=1" class="page_size_pm">高压</a></li>
                                     <li class="tb_pageII"><a href="/PDRInfo/OneGraphLow?id=1_1" class="page_size_pm">低压母线1段</a></li>
                                     <li class="tb_pageIII"><a href="" class="page_size_pm_no">低压母线2段</a></li>
    </ul></div>
    <script type="text/javascript">
        var pid = 1; var OGdid = "-1"; var graphType = "low";
</script></body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>