@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_3_1号分低压01</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu3_61.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p3">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g7108" id="t7108"></li>
            <li class="switch_size switch_s_off zxb_g7109" id="t7109"></li>
            <li class="switch_size switch_s_off zxb_g7110" id="t7110"></li>
            <li class="switch_size switch_s_off zxb_g7133" id="t7133"></li>
            <li class="switch_size switch_s_off zxb_g7134" id="t7134"></li>
            <li class="switch_size switch_s_off zxb_g7135" id="t7135"></li>
            <li class="switch_size switch_s_off zxb_g7136" id="t7136"></li>
            <li class="switch_size switch_s_off zxb_g7137" id="t7137"></li>
            <li class="switch_size switch_s_off zxb_g7138" id="t7138"></li>
            <li class="switch_size switch_s_off zxb_g7139" id="t7139"></li>
            <li class="switch_size switch_s_off zxb_g7140" id="t7140"></li>
            <li class="switch_size switch_s_off zxb_g7141" id="t7141"></li>
            <li class="switch_size switch_s_off zxb_g7142" id="t7142"></li>
            <li class="switch_size switch_s_off zxb_g7143" id="t7143"></li>
            <li class="switch_size switch_s_off zxb_g7144" id="t7144"></li>
            <li class="switch_size switch_s_off zxb_g7145" id="t7145"></li>
            <li class="switch_size switch_s_off zxb_g7146" id="t7146"></li>
            <li class="switch_size switch_s_off zxb_g7147" id="t7147"></li>
            <li class="switch_size switch_s_off zxb_g7148" id="t7148"></li>
            <li class="switch_size switch_s_off zxb_g7149" id="t7149"></li>
            <li class="switch_size switch_s_off zxb_g7150" id="t7150"></li>
            <li class="switch_size switch_s_off zxb_g7151" id="t7151"></li>
            <li class="switch_size switch_s_off zxb_g7152" id="t7152"></li>
            <li class="switch_size switch_s_off zxb_g7153" id="t7153"></li>
            <li class="switch_size switch_s_off zxb_g7154" id="t7154"></li>
            <li class="switch_size switch_s_off zxb_g7155" id="t7155"></li>
            <li class="switch_size switch_s_off zxb_g7114" id="t7114"></li>
            <li class="switch_size switch_s_off zxb_g7113" id="t7113"></li>
            <li class="switch_size switch_s_off zxb_g7162" id="t7162"></li>
            <li class="switch_size switch_s_off zxb_g7161" id="t7161"></li>
            <li class="switch_size switch_s_off zxb_g7160" id="t7160"></li>
            <li class="switch_size switch_s_off zxb_g7159" id="t7159"></li>
            <li class="switch_size switch_s_off zxb_g7158" id="t7158"></li>
            <li class="switch_size switch_s_off zxb_g7157" id="t7157"></li>
            <li class="switch_size switch_s_off zxb_g7156" id="t7156"></li>
            <li class="switch_size switch_s_off zxb_g7170" id="t7170"></li>
            <li class="switch_size switch_s_off zxb_g7169" id="t7169"></li>
            <li class="switch_size switch_s_off zxb_g7168" id="t7168"></li>
            <li class="switch_size switch_s_off zxb_g7167" id="t7167"></li>
            <li class="switch_size switch_s_off zxb_g7166" id="t7166"></li>
            <li class="switch_size switch_s_off zxb_g7165" id="t7165"></li>
            <li class="switch_size switch_s_off zxb_g7164" id="t7164"></li>
            <li class="switch_size switch_s_off zxb_g7163" id="t7163"></li>
            <li class="switch_size switch_s_off zxb_g7178" id="t7178"></li>
            <li class="switch_size switch_s_off zxb_g7177" id="t7177"></li>
            <li class="switch_size switch_s_off zxb_g7176" id="t7176"></li>
            <li class="switch_size switch_s_off zxb_g7175" id="t7175"></li>
            <li class="switch_size switch_s_off zxb_g7174" id="t7174"></li>
            <li class="switch_size switch_s_off zxb_g7173" id="t7173"></li>
            <li class="switch_size switch_s_off zxb_g7172" id="t7172"></li>
            <li class="switch_size switch_s_off zxb_g7171" id="t7171"></li>
            <li class="switch_size switch_s_off zxb_g7180" id="t7180"></li>
            <li class="switch_size switch_s_off zxb_g7179" id="t7179"></li>
            <li class="switch_size switch_s_off zxb_g7111" id="t7111"></li>
            <li class="switch_size switch_s_off zxb_g7112" id="t7112"></li>
            <!--LAA1-->
            <li class="w21 alarmico">
                <dt id="d21" onclick="circuitInfo(107,21);"></dt>
                <dd id="t21"></dd>
            </li>
            <!--LAA2-->
            <li class="w22 alarmico">
                <dt id="d22" onclick="circuitInfo(107,22);"></dt>
                <dd id="t22"></dd>
            </li>
            <!--LAA3-->
            <li class="w23 alarmico">
                <dt id="d23" onclick="circuitInfo(107,23);"></dt>
                <dd id="t23"></dd>
            </li>
            <!--LAA4-->
            <li class="w46 alarmico">
                <dt id="d46" onclick="circuitInfo(107,46);"></dt>
                <dd id="t46"></dd>
            </li>
            <!--LAA4-->
            <li class="w47 alarmico">
                <dt id="d47" onclick="circuitInfo(107,47);"></dt>
                <dd id="t47"></dd>
            </li>
            <!--LAA5-->
            <li class="w48 alarmico">
                <dt id="d48" onclick="circuitInfo(107,48);"></dt>
                <dd id="t48"></dd>
            </li>
            <!--LAA5-->
            <li class="w49 alarmico">
                <dt id="d49" onclick="circuitInfo(107,49);"></dt>
                <dd id="t49"></dd>
            </li>
            <!--LAA5-->
            <li class="w50 alarmico">
                <dt id="d50" onclick="circuitInfo(107,50);"></dt>
                <dd id="t50"></dd>
            </li>
            <!--LAA5-->
            <li class="w51 alarmico">
                <dt id="d51" onclick="circuitInfo(107,51);"></dt>
                <dd id="t51"></dd>
            </li>
            <!--LAA5-->
            <li class="w52 alarmico">
                <dt id="d52" onclick="circuitInfo(107,52);"></dt>
                <dd id="t52"></dd>
            </li>
            <!--LAA5-->
            <li class="w53 alarmico">
                <dt id="d53" onclick="circuitInfo(107,53);"></dt>
                <dd id="t53"></dd>
            </li>
            <!--LAA5-->
            <li class="w54 alarmico">
                <dt id="d54" onclick="circuitInfo(107,54);"></dt>
                <dd id="t54"></dd>
            </li>
            <!--LAA6-->
            <li class="w55 alarmico">
                <dt id="d55" onclick="circuitInfo(107,55);"></dt>
                <dd id="t55"></dd>
            </li>
            <!--LAA6-->
            <li class="w56 alarmico">
                <dt id="d56" onclick="circuitInfo(107,56);"></dt>
                <dd id="t56"></dd>
            </li>
            <!--LAA6-->
            <li class="w57 alarmico">
                <dt id="d57" onclick="circuitInfo(107,57);"></dt>
                <dd id="t57"></dd>
            </li>
            <!--LAA6-->
            <li class="w58 alarmico">
                <dt id="d58" onclick="circuitInfo(107,58);"></dt>
                <dd id="t58"></dd>
            </li>
            <!--LAA6-->
            <li class="w59 alarmico">
                <dt id="d59" onclick="circuitInfo(107,59);"></dt>
                <dd id="t59"></dd>
            </li>
            <!--LAA6-->
            <li class="w60 alarmico">
                <dt id="d60" onclick="circuitInfo(107,60);"></dt>
                <dd id="t60"></dd>
            </li>
            <!--LAA6-->
            <li class="w61 alarmico">
                <dt id="d61" onclick="circuitInfo(107,61);"></dt>
                <dd id="t61"></dd>
            </li>
            <!--LAA7-->
            <li class="w62 alarmico">
                <dt id="d62" onclick="circuitInfo(107,62);"></dt>
                <dd id="t62"></dd>
            </li>
            <!--LAA7-->
            <li class="w63 alarmico">
                <dt id="d63" onclick="circuitInfo(107,63);"></dt>
                <dd id="t63"></dd>
            </li>
            <!--LAA7-->
            <li class="w64 alarmico">
                <dt id="d64" onclick="circuitInfo(107,64);"></dt>
                <dd id="t64"></dd>
            </li>
            <!--LAA7-->
            <li class="w65 alarmico">
                <dt id="d65" onclick="circuitInfo(107,65);"></dt>
                <dd id="t65"></dd>
            </li>
            <!--LAA7-->
            <li class="w66 alarmico">
                <dt id="d66" onclick="circuitInfo(107,66);"></dt>
                <dd id="t66"></dd>
            </li>
            <!--LAA7-->
            <li class="w67 alarmico">
                <dt id="d67" onclick="circuitInfo(107,67);"></dt>
                <dd id="t67"></dd>
            </li>
            <!--LAA7-->
            <li class="w68 alarmico">
                <dt id="d68" onclick="circuitInfo(107,68);"></dt>
                <dd id="t68"></dd>
            </li>
            <!--LAA3-1-->
            <li class="w27 alarmico">
                <dt id="d27" onclick="circuitInfo(107,27);"></dt>
                <dd id="t27"></dd>
            </li>
            <!--LAA12-1-->
            <li class="w26 alarmico">
                <dt id="d26" onclick="circuitInfo(107,26);"></dt>
                <dd id="t26"></dd>
            </li>
            <!--LAA8-->
            <li class="w75 alarmico">
                <dt id="d75" onclick="circuitInfo(107,75);"></dt>
                <dd id="t75"></dd>
            </li>
            <!--LAA8-->
            <li class="w74 alarmico">
                <dt id="d74" onclick="circuitInfo(107,74);"></dt>
                <dd id="t74"></dd>
            </li>
            <!--LAA8-->
            <li class="w73 alarmico">
                <dt id="d73" onclick="circuitInfo(107,73);"></dt>
                <dd id="t73"></dd>
            </li>
            <!--LAA8-->
            <li class="w72 alarmico">
                <dt id="d72" onclick="circuitInfo(107,72);"></dt>
                <dd id="t72"></dd>
            </li>
            <!--LAA8-->
            <li class="w71 alarmico">
                <dt id="d71" onclick="circuitInfo(107,71);"></dt>
                <dd id="t71"></dd>
            </li>
            <!--LAA8-->
            <li class="w70 alarmico">
                <dt id="d70" onclick="circuitInfo(107,70);"></dt>
                <dd id="t70"></dd>
            </li>
            <!--LAA8-->
            <li class="w69 alarmico">
                <dt id="d69" onclick="circuitInfo(107,69);"></dt>
                <dd id="t69"></dd>
            </li>
            <!--LAA9-->
            <li class="w83 alarmico">
                <dt id="d83" onclick="circuitInfo(107,83);"></dt>
                <dd id="t83"></dd>
            </li>
            <!--LAA9-->
            <li class="w82 alarmico">
                <dt id="d82" onclick="circuitInfo(107,82);"></dt>
                <dd id="t82"></dd>
            </li>
            <!--LAA9-->
            <li class="w81 alarmico">
                <dt id="d81" onclick="circuitInfo(107,81);"></dt>
                <dd id="t81"></dd>
            </li>
            <!--LAA9-->
            <li class="w80 alarmico">
                <dt id="d80" onclick="circuitInfo(107,80);"></dt>
                <dd id="t80"></dd>
            </li>
            <!--LAA9-->
            <li class="w79 alarmico">
                <dt id="d79" onclick="circuitInfo(107,79);"></dt>
                <dd id="t79"></dd>
            </li>
            <!--LAA9-->
            <li class="w78 alarmico">
                <dt id="d78" onclick="circuitInfo(107,78);"></dt>
                <dd id="t78"></dd>
            </li>
            <!--LAA9-->
            <li class="w77 alarmico">
                <dt id="d77" onclick="circuitInfo(107,77);"></dt>
                <dd id="t77"></dd>
            </li>
            <!--LAA9-->
            <li class="w76 alarmico">
                <dt id="d76" onclick="circuitInfo(107,76);"></dt>
                <dd id="t76"></dd>
            </li>
            <!--LAA10-->
            <li class="w91 alarmico">
                <dt id="d91" onclick="circuitInfo(107,91);"></dt>
                <dd id="t91"></dd>
            </li>
            <!--LAA10-->
            <li class="w90 alarmico">
                <dt id="d90" onclick="circuitInfo(107,90);"></dt>
                <dd id="t90"></dd>
            </li>
            <!--LAA10-->
            <li class="w89 alarmico">
                <dt id="d89" onclick="circuitInfo(107,89);"></dt>
                <dd id="t89"></dd>
            </li>
            <!--LAA10-->
            <li class="w88 alarmico">
                <dt id="d88" onclick="circuitInfo(107,88);"></dt>
                <dd id="t88"></dd>
            </li>
            <!--LAA10-->
            <li class="w87 alarmico">
                <dt id="d87" onclick="circuitInfo(107,87);"></dt>
                <dd id="t87"></dd>
            </li>
            <!--LAA10-->
            <li class="w86 alarmico">
                <dt id="d86" onclick="circuitInfo(107,86);"></dt>
                <dd id="t86"></dd>
            </li>
            <!--LAA10-->
            <li class="w85 alarmico">
                <dt id="d85" onclick="circuitInfo(107,85);"></dt>
                <dd id="t85"></dd>
            </li>
            <!--LAA10-->
            <li class="w84 alarmico">
                <dt id="d84" onclick="circuitInfo(107,84);"></dt>
                <dd id="t84"></dd>
            </li>
            <!--LAA11-->
            <li class="w93 alarmico">
                <dt id="d93" onclick="circuitInfo(107,93);"></dt>
                <dd id="t93"></dd>
            </li>
            <!--LAA11-->
            <li class="w92 alarmico">
                <dt id="d92" onclick="circuitInfo(107,92);"></dt>
                <dd id="t92"></dd>
            </li>
            <!--LAA12-->
            <li class="w24 alarmico">
                <dt id="d24" onclick="circuitInfo(107,24);"></dt>
                <dd id="t24"></dd>
            </li>
            <!--LAA13-->
            <li class="w25 alarmico">
                <dt id="d25" onclick="circuitInfo(107,25);"></dt>
                <dd id="t25"></dd>
            </li>

            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=3" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><span class="page_size_pm_no">低压母线1段</span></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=3_62" class="page_size_pm">低压母线2段</a></li>
            <li class="tb_pageIIII"><a href="/PDRInfo/OneGraph?id=3_63" class="page_size_pm">低压母线3段</a></li>
            <li class="tb_pageV"><a href="/PDRInfo/OneGraph?id=3_64" class="page_size_pm">低压母线4段</a></li>

        </ul>
    </div>
    <script type="text/javascript">
        var pid = 3; var graphType = "low"; var OGdid = "21,22,23,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,27,26,75,74,73,72,71,70,69,83,82,81,80,79,78,77,76,91,90,89,88,87,86,85,84,93,92,24,25";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
