@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_7_五号分配电室</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu7_21.css"> </link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">
  
  


<div class="ycmain page_content"><ul class="alertmenu" id="p7"><li class="other_g0" id="other_g0"></li><li class="switch_size switch_s_off zxb_g12106" id="t12106"></li><li class="switch_size switch_s_off zxb_g12114" id="t12114"></li><li class="switch_size switch_s_off zxb_g12104" id="t12104"></li><!--AA20--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><!--AA1--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><!--AA3--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li></ul></div><script type="text/javascript">
        var pid = 7;        var OGdid = "-1"; 
</script></body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>