@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_1_1号总低压01</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu1_55.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p1">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g1108" id="t1108"></li>
            <!--1AA1-->
            <li class="w18 alarmico">
                <dt id="d18" onclick="circuitInfo(107,18);"></dt>
                <dd id="t18"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g1109" id="t1109"></li>
            <li class="switch_size switch_s_off zxb_g1110" id="t1110"></li>
            <li class="switch_size switch_s_off zxb_g1117" id="t1117"></li>
            <li class="switch_size switch_s_off zxb_g1118" id="t1118"></li>
            <li class="switch_size switch_s_off zxb_g1119" id="t1119"></li>
            <li class="switch_size switch_s_off zxb_g1120" id="t1120"></li>
            <li class="switch_size switch_s_off zxb_g1121" id="t1121"></li>
            <li class="switch_size switch_s_off zxb_g1122" id="t1122"></li>
            <li class="switch_size switch_s_off zxb_g1123" id="t1123"></li>
            <!--1AA2-->
            <li class="w19 alarmico">
                <dt id="d19" onclick="circuitInfo(107,19);"></dt>
                <dd id="t19"></dd>
            </li>
            <!--1AA3-->
            <li class="w20 alarmico">
                <dt id="d20" onclick="circuitInfo(107,20);"></dt>
                <dd id="t20"></dd>
            </li>
            <!--1AA4-->
            <li class="w27 alarmico">
                <dt id="d27" onclick="circuitInfo(107,27);"></dt>
                <dd id="t27"></dd>
            </li>
            <!--1AA4-->
            <li class="w28 alarmico">
                <dt id="d28" onclick="circuitInfo(107,28);"></dt>
                <dd id="t28"></dd>
            </li>
            <!--1AA4-->
            <li class="w29 alarmico">
                <dt id="d29" onclick="circuitInfo(107,29);"></dt>
                <dd id="t29"></dd>
            </li>
            <!--1AA4-->
            <li class="w30 alarmico">
                <dt id="d30" onclick="circuitInfo(107,30);"></dt>
                <dd id="t30"></dd>
            </li>
            <!--1AA4-->
            <li class="w31 alarmico">
                <dt id="d31" onclick="circuitInfo(107,31);"></dt>
                <dd id="t31"></dd>
            </li>
            <!--1AA4-->
            <li class="w32 alarmico">
                <dt id="d32" onclick="circuitInfo(107,32);"></dt>
                <dd id="t32"></dd>
            </li>
            <!--1AA4-->
            <li class="w33 alarmico">
                <dt id="d33" onclick="circuitInfo(107,33);"></dt>
                <dd id="t33"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g1124" id="t1124"></li>
            <li class="switch_size switch_s_off zxb_g1125" id="t1125"></li>
            <li class="switch_size switch_s_off zxb_g1126" id="t1126"></li>
            <li class="switch_size switch_s_off zxb_g1127" id="t1127"></li>
            <li class="switch_size switch_s_off zxb_g1128" id="t1128"></li>
            <li class="switch_size switch_s_off zxb_g1129" id="t1129"></li>
            <li class="switch_size switch_s_off zxb_g1130" id="t1130"></li>
            <li class="switch_size switch_s_off zxb_g1131" id="t1131"></li>
            <li class="switch_size switch_s_off zxb_g1132" id="t1132"></li>
            <!--1AA5-->
            <li class="w34 alarmico">
                <dt id="d34" onclick="circuitInfo(107,34);"></dt>
                <dd id="t34"></dd>
            </li>
            <!--1AA5-->
            <li class="w35 alarmico">
                <dt id="d35" onclick="circuitInfo(107,35);"></dt>
                <dd id="t35"></dd>
            </li>
            <!--1AA5-->
            <li class="w36 alarmico">
                <dt id="d36" onclick="circuitInfo(107,36);"></dt>
                <dd id="t36"></dd>
            </li>
            <!--1AA5-->
            <li class="w37 alarmico">
                <dt id="d37" onclick="circuitInfo(107,37);"></dt>
                <dd id="t37"></dd>
            </li>
            <!--1AA5-->
            <li class="w38 alarmico">
                <dt id="d38" onclick="circuitInfo(107,38);"></dt>
                <dd id="t38"></dd>
            </li>
            <!--1AA5-->
            <li class="w39 alarmico">
                <dt id="d39" onclick="circuitInfo(107,39);"></dt>
                <dd id="t39"></dd>
            </li>
            <!--1AA5-->
            <li class="w40 alarmico">
                <dt id="d40" onclick="circuitInfo(107,40);"></dt>
                <dd id="t40"></dd>
            </li>
            <!--1AA6-->
            <li class="w41 alarmico">
                <dt id="d41" onclick="circuitInfo(107,41);"></dt>
                <dd id="t41"></dd>
            </li>
            <!--1AA6-->
            <li class="w42 alarmico">
                <dt id="d42" onclick="circuitInfo(107,42);"></dt>
                <dd id="t42"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g1111" id="t1111"></li>
            <li class="switch_size switch_s_off zxb_g1149" id="t1149"></li>
            <li class="switch_size switch_s_off zxb_g1148" id="t1148"></li>
            <li class="switch_size switch_s_off zxb_g1147" id="t1147"></li>
            <li class="switch_size switch_s_off zxb_g1146" id="t1146"></li>
            <li class="switch_size switch_s_off zxb_g1145" id="t1145"></li>
            <li class="switch_size switch_s_off zxb_g1144" id="t1144"></li>
            <li class="switch_size switch_s_off zxb_g1143" id="t1143"></li>
            <li class="switch_size switch_s_off zxb_g1142" id="t1142"></li>
            <li class="switch_size switch_s_off zxb_g1141" id="t1141"></li>
            <li class="switch_size switch_s_off zxb_g1140" id="t1140"></li>
            <li class="switch_size switch_s_off zxb_g1139" id="t1139"></li>
            <li class="switch_size switch_s_off zxb_g1138" id="t1138"></li>
            <li class="switch_size switch_s_off zxb_g1137" id="t1137"></li>
            <li class="switch_size switch_s_off zxb_g1136" id="t1136"></li>
            <li class="switch_size switch_s_off zxb_g1135" id="t1135"></li>
            <li class="switch_size switch_s_off zxb_g1134" id="t1134"></li>
            <li class="other_g56" id="other_g56"></li>
            <!--1AA7-->
            <li class="w43 alarmico">
                <dt id="d43" onclick="circuitInfo(107,43);"></dt>
                <dd id="t43"></dd>
            </li>
            <!--1AA7-->
            <li class="w44 alarmico">
                <dt id="d44" onclick="circuitInfo(107,44);"></dt>
                <dd id="t44"></dd>
            </li>
            <!--1AA8-->
            <li class="w45 alarmico">
                <dt id="d45" onclick="circuitInfo(107,45);"></dt>
                <dd id="t45"></dd>
            </li>
            <!--1AA8-->
            <li class="w46 alarmico">
                <dt id="d46" onclick="circuitInfo(107,46);"></dt>
                <dd id="t46"></dd>
            </li>
            <!--1AA8-->
            <li class="w47 alarmico">
                <dt id="d47" onclick="circuitInfo(107,47);"></dt>
                <dd id="t47"></dd>
            </li>
            <!--1AA8-->
            <li class="w48 alarmico">
                <dt id="d48" onclick="circuitInfo(107,48);"></dt>
                <dd id="t48"></dd>
            </li>
            <!--1AA8-->
            <li class="w49 alarmico">
                <dt id="d49" onclick="circuitInfo(107,49);"></dt>
                <dd id="t49"></dd>
            </li>
            <!--1AA8-->
            <li class="w50 alarmico">
                <dt id="d50" onclick="circuitInfo(107,50);"></dt>
                <dd id="t50"></dd>
            </li>
            <!--1AA8-->
            <li class="w51 alarmico">
                <dt id="d51" onclick="circuitInfo(107,51);"></dt>
                <dd id="t51"></dd>
            </li>
            <!--1AA11-->
            <li class="w21 alarmico">
                <dt id="d21" onclick="circuitInfo(107,21);"></dt>
                <dd id="t21"></dd>
            </li>
            <!--1AA10-->
            <li class="w59 alarmico">
                <dt id="d59" onclick="circuitInfo(107,59);"></dt>
                <dd id="t59"></dd>
            </li>
            <!--1AA9-->
            <li class="w58 alarmico">
                <dt id="d58" onclick="circuitInfo(107,58);"></dt>
                <dd id="t58"></dd>
            </li>
            <!--1AA9-->
            <li class="w57 alarmico">
                <dt id="d57" onclick="circuitInfo(107,57);"></dt>
                <dd id="t57"></dd>
            </li>
            <!--1AA9-->
            <li class="w56 alarmico">
                <dt id="d56" onclick="circuitInfo(107,56);"></dt>
                <dd id="t56"></dd>
            </li>
            <!--1AA9-->
            <li class="w55 alarmico">
                <dt id="d55" onclick="circuitInfo(107,55);"></dt>
                <dd id="t55"></dd>
            </li>
            <!--1AA9-->
            <li class="w54 alarmico">
                <dt id="d54" onclick="circuitInfo(107,54);"></dt>
                <dd id="t54"></dd>
            </li>
            <!--1AA9-->
            <li class="w53 alarmico">
                <dt id="d53" onclick="circuitInfo(107,53);"></dt>
                <dd id="t53"></dd>
            </li>
            <!--1AA9-->
            <li class="w52 alarmico">
                <dt id="d52" onclick="circuitInfo(107,52);"></dt>
                <dd id="t52"></dd>
            </li>

            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=1" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><span class="page_size_pm_no">低压母线1段</span></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=1_56" class="page_size_pm">低压母线2段</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 1; var OGdid = "18,19,20,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,21,59,58,57,56,55,54,53,52"; var graphType = "low";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
