@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_5_三号分</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu5_22.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p5">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g9779" id="t9779"></li>
            <li class="switch_size switch_s_off zxb_g9780" id="t9780"></li>
            <li class="switch_size switch_s_off zxb_g9783" id="t9783"></li>
            <li class="switch_size switch_s_off zxb_g9788" id="t9788"></li>
            <li class="switch_size switch_s_off zxb_g9782" id="t9782"></li>
            <li class="switch_size switch_s_off zxb_g9781" id="t9781"></li>
            <li class="switch_size switch_s_off zxb_g9784" id="t9784"></li>
            <!--AH1-->
            <li class="w1 alarmico">
                <dt id="d1" onclick="circuitInfo(107,1);"></dt>
                <dd id="t1"></dd>
            </li>
            <!--AH2-->
            <li class="w2 alarmico">
                <dt id="d2" onclick="circuitInfo(107,2);"></dt>
                <dd id="t2"></dd>
            </li>
            <!--AH3-->
            <li class="w4 alarmico">
                <dt id="d4" onclick="circuitInfo(107,4);"></dt>
                <dd id="t4"></dd>
            </li>
            <!--AA2-->
            <li class="w6 alarmico">
                <dt id="d6" onclick="circuitInfo(107,6);"></dt>
                <dd id="t6"></dd>
            </li>
            <!--AA20-->
            <li class="w10 alarmico">
                <dt id="d10" onclick="circuitInfo(107,10);"></dt>
                <dd id="t10"></dd>
            </li>
            <!--AA1-->
            <li class="w5 alarmico">
                <dt id="d5" onclick="circuitInfo(107,5);"></dt>
                <dd id="t5"></dd>
            </li>
            <!--AH4进线柜-->
            <li class="w3 alarmico">
                <dt id="d3" onclick="circuitInfo(107,3);"></dt>
                <dd id="t3"></dd>
            </li>

            <li class="tb_pageI"><span class="page_size_pm_no">高压</span></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=5_66" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=5_67" class="page_size_pm">低压母线2段</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 5; var graphType = "low"; var OGdid = "1,2,4,6,10,5,3";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
