@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_4_2号分低压02</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu4_65.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p4">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g8495" id="t8495"></li>
            <li class="switch_size switch_s_off zxb_g8496" id="t8496"></li>
            <li class="switch_size switch_s_off zxb_g8497" id="t8497"></li>
            <li class="switch_size switch_s_off zxb_g8498" id="t8498"></li>
            <li class="switch_size switch_s_off zxb_g8499" id="t8499"></li>
            <li class="switch_size switch_s_off zxb_g8500" id="t8500"></li>
            <li class="switch_size switch_s_off zxb_g8501" id="t8501"></li>
            <li class="switch_size switch_s_off zxb_g8502" id="t8502"></li>
            <li class="switch_size switch_s_off zxb_g8503" id="t8503"></li>
            <li class="switch_size switch_s_off zxb_g8504" id="t8504"></li>
            <li class="switch_size switch_s_off zxb_g8505" id="t8505"></li>
            <li class="switch_size switch_s_off zxb_g8506" id="t8506"></li>
            <li class="switch_size switch_s_off zxb_g8507" id="t8507"></li>
            <li class="switch_size switch_s_off zxb_g8508" id="t8508"></li>
            <li class="switch_size switch_s_off zxb_g8509" id="t8509"></li>
            <li class="switch_size switch_s_off zxb_g8510" id="t8510"></li>
            <li class="switch_size switch_s_off zxb_g8511" id="t8511"></li>
            <li class="switch_size switch_s_off zxb_g8512" id="t8512"></li>
            <li class="switch_size switch_s_off zxb_g8513" id="t8513"></li>
            <li class="switch_size switch_s_off zxb_g8514" id="t8514"></li>
            <li class="switch_size switch_s_off zxb_g8515" id="t8515"></li>
            <li class="switch_size switch_s_off zxb_g8516" id="t8516"></li>
            <li class="switch_size switch_s_off zxb_g8517" id="t8517"></li>
            <li class="switch_size switch_s_off zxb_g8518" id="t8518"></li>
            <li class="switch_size switch_s_off zxb_g8519" id="t8519"></li>
            <li class="switch_size switch_s_off zxb_g8449" id="t8449"></li>
            <li class="switch_size switch_s_off zxb_g8528" id="t8528"></li>
            <li class="switch_size switch_s_off zxb_g8527" id="t8527"></li>
            <li class="switch_size switch_s_off zxb_g8526" id="t8526"></li>
            <li class="switch_size switch_s_off zxb_g8525" id="t8525"></li>
            <li class="switch_size switch_s_off zxb_g8524" id="t8524"></li>
            <li class="switch_size switch_s_off zxb_g8523" id="t8523"></li>
            <li class="switch_size switch_s_off zxb_g8522" id="t8522"></li>
            <li class="switch_size switch_s_off zxb_g8521" id="t8521"></li>
            <li class="switch_size switch_s_off zxb_g8520" id="t8520"></li>
            <li class="switch_size switch_s_off zxb_g8536" id="t8536"></li>
            <li class="switch_size switch_s_off zxb_g8535" id="t8535"></li>
            <li class="switch_size switch_s_off zxb_g8534" id="t8534"></li>
            <li class="switch_size switch_s_off zxb_g8533" id="t8533"></li>
            <li class="switch_size switch_s_off zxb_g8532" id="t8532"></li>
            <li class="switch_size switch_s_off zxb_g8531" id="t8531"></li>
            <li class="switch_size switch_s_off zxb_g8530" id="t8530"></li>
            <li class="switch_size switch_s_off zxb_g8529" id="t8529"></li>
            <li class="switch_size switch_s_off zxb_g8450" id="t8450"></li>
            <li class="switch_size switch_s_off zxb_g8451" id="t8451"></li>
            <li class="switch_size switch_s_off zxb_g8452" id="t8452"></li>
            <li class="switch_size switch_s_off zxb_g8453" id="t8453"></li>
            <!--AA10-->
            <li class="w56 alarmico">
                <dt id="d56" onclick="circuitInfo(107,56);"></dt>
                <dd id="t56"></dd>
            </li>
            <!--AA10-->
            <li class="w57 alarmico">
                <dt id="d57" onclick="circuitInfo(107,57);"></dt>
                <dd id="t57"></dd>
            </li>
            <!--AA10-->
            <li class="w58 alarmico">
                <dt id="d58" onclick="circuitInfo(107,58);"></dt>
                <dd id="t58"></dd>
            </li>
            <!--AA10-->
            <li class="w59 alarmico">
                <dt id="d59" onclick="circuitInfo(107,59);"></dt>
                <dd id="t59"></dd>
            </li>
            <!--AA10-->
            <li class="w60 alarmico">
                <dt id="d60" onclick="circuitInfo(107,60);"></dt>
                <dd id="t60"></dd>
            </li>
            <!--AA10-->
            <li class="w61 alarmico">
                <dt id="d61" onclick="circuitInfo(107,61);"></dt>
                <dd id="t61"></dd>
            </li>
            <!--AA10-->
            <li class="w62 alarmico">
                <dt id="d62" onclick="circuitInfo(107,62);"></dt>
                <dd id="t62"></dd>
            </li>
            <!--AA10-->
            <li class="w63 alarmico">
                <dt id="d63" onclick="circuitInfo(107,63);"></dt>
                <dd id="t63"></dd>
            </li>
            <!--AA11-->
            <li class="w64 alarmico">
                <dt id="d64" onclick="circuitInfo(107,64);"></dt>
                <dd id="t64"></dd>
            </li>
            <!--AA11-->
            <li class="w65 alarmico">
                <dt id="d65" onclick="circuitInfo(107,65);"></dt>
                <dd id="t65"></dd>
            </li>
            <!--AA11-->
            <li class="w66 alarmico">
                <dt id="d66" onclick="circuitInfo(107,66);"></dt>
                <dd id="t66"></dd>
            </li>
            <!--AA11-->
            <li class="w67 alarmico">
                <dt id="d67" onclick="circuitInfo(107,67);"></dt>
                <dd id="t67"></dd>
            </li>
            <!--AA11-->
            <li class="w68 alarmico">
                <dt id="d68" onclick="circuitInfo(107,68);"></dt>
                <dd id="t68"></dd>
            </li>
            <!--AA11-->
            <li class="w69 alarmico">
                <dt id="d69" onclick="circuitInfo(107,69);"></dt>
                <dd id="t69"></dd>
            </li>
            <!--AA11-->
            <li class="w70 alarmico">
                <dt id="d70" onclick="circuitInfo(107,70);"></dt>
                <dd id="t70"></dd>
            </li>
            <!--AA11-->
            <li class="w71 alarmico">
                <dt id="d71" onclick="circuitInfo(107,71);"></dt>
                <dd id="t71"></dd>
            </li>
            <!--AA12-->
            <li class="w72 alarmico">
                <dt id="d72" onclick="circuitInfo(107,72);"></dt>
                <dd id="t72"></dd>
            </li>
            <!--AA12-->
            <li class="w73 alarmico">
                <dt id="d73" onclick="circuitInfo(107,73);"></dt>
                <dd id="t73"></dd>
            </li>
            <!--AA12-->
            <li class="w74 alarmico">
                <dt id="d74" onclick="circuitInfo(107,74);"></dt>
                <dd id="t74"></dd>
            </li>
            <!--AA12-->
            <li class="w75 alarmico">
                <dt id="d75" onclick="circuitInfo(107,75);"></dt>
                <dd id="t75"></dd>
            </li>
            <!--AA12-->
            <li class="w76 alarmico">
                <dt id="d76" onclick="circuitInfo(107,76);"></dt>
                <dd id="t76"></dd>
            </li>
            <!--AA12-->
            <li class="w77 alarmico">
                <dt id="d77" onclick="circuitInfo(107,77);"></dt>
                <dd id="t77"></dd>
            </li>
            <!--AA12-->
            <li class="w78 alarmico">
                <dt id="d78" onclick="circuitInfo(107,78);"></dt>
                <dd id="t78"></dd>
            </li>
            <!--AA12-->
            <li class="w79 alarmico">
                <dt id="d79" onclick="circuitInfo(107,79);"></dt>
                <dd id="t79"></dd>
            </li>
            <!--AA12-->
            <li class="w80 alarmico">
                <dt id="d80" onclick="circuitInfo(107,80);"></dt>
                <dd id="t80"></dd>
            </li>
            <!--AA13-->
            <li class="w10 alarmico">
                <dt id="d10" onclick="circuitInfo(107,10);"></dt>
                <dd id="t10"></dd>
            </li>
            <!--AA14-->
            <li class="w89 alarmico">
                <dt id="d89" onclick="circuitInfo(107,89);"></dt>
                <dd id="t89"></dd>
            </li>
            <!--AA14-->
            <li class="w88 alarmico">
                <dt id="d88" onclick="circuitInfo(107,88);"></dt>
                <dd id="t88"></dd>
            </li>
            <!--AA14-->
            <li class="w87 alarmico">
                <dt id="d87" onclick="circuitInfo(107,87);"></dt>
                <dd id="t87"></dd>
            </li>
            <!--AA14-->
            <li class="w86 alarmico">
                <dt id="d86" onclick="circuitInfo(107,86);"></dt>
                <dd id="t86"></dd>
            </li>
            <!--AA14-->
            <li class="w85 alarmico">
                <dt id="d85" onclick="circuitInfo(107,85);"></dt>
                <dd id="t85"></dd>
            </li>
            <!--AA14-->
            <li class="w84 alarmico">
                <dt id="d84" onclick="circuitInfo(107,84);"></dt>
                <dd id="t84"></dd>
            </li>
            <!--AA14-->
            <li class="w83 alarmico">
                <dt id="d83" onclick="circuitInfo(107,83);"></dt>
                <dd id="t83"></dd>
            </li>
            <!--AA14-->
            <li class="w82 alarmico">
                <dt id="d82" onclick="circuitInfo(107,82);"></dt>
                <dd id="t82"></dd>
            </li>
            <!--AA14-->
            <li class="w81 alarmico">
                <dt id="d81" onclick="circuitInfo(107,81);"></dt>
                <dd id="t81"></dd>
            </li>
            <!--AA15-->
            <li class="w97 alarmico">
                <dt id="d97" onclick="circuitInfo(107,97);"></dt>
                <dd id="t97"></dd>
            </li>
            <!--AA15-->
            <li class="w96 alarmico">
                <dt id="d96" onclick="circuitInfo(107,96);"></dt>
                <dd id="t96"></dd>
            </li>
            <!--AA15-->
            <li class="w95 alarmico">
                <dt id="d95" onclick="circuitInfo(107,95);"></dt>
                <dd id="t95"></dd>
            </li>
            <!--AA15-->
            <li class="w94 alarmico">
                <dt id="d94" onclick="circuitInfo(107,94);"></dt>
                <dd id="t94"></dd>
            </li>
            <!--AA15-->
            <li class="w93 alarmico">
                <dt id="d93" onclick="circuitInfo(107,93);"></dt>
                <dd id="t93"></dd>
            </li>
            <!--AA15-->
            <li class="w92 alarmico">
                <dt id="d92" onclick="circuitInfo(107,92);"></dt>
                <dd id="t92"></dd>
            </li>
            <!--AA15-->
            <li class="w91 alarmico">
                <dt id="d91" onclick="circuitInfo(107,91);"></dt>
                <dd id="t91"></dd>
            </li>
            <!--AA15-->
            <li class="w90 alarmico">
                <dt id="d90" onclick="circuitInfo(107,90);"></dt>
                <dd id="t90"></dd>
            </li>
            <!--AA16_T3#楼奇数层办公层箱电源-->
            <li class="w11 alarmico">
                <dt id="d11" onclick="circuitInfo(107,11);"></dt>
                <dd id="t11"></dd>
            </li>
            <!--AA16_T3#楼奇数层办公层箱电源-->
            <li class="w12 alarmico">
                <dt id="d12" onclick="circuitInfo(107,12);"></dt>
                <dd id="t12"></dd>
            </li>
            <!--AA17-->
            <li class="w13 alarmico">
                <dt id="d13" onclick="circuitInfo(107,13);"></dt>
                <dd id="t13"></dd>
            </li>
            <!--AA18-->
            <li class="w14 alarmico">
                <dt id="d14" onclick="circuitInfo(107,14);"></dt>
                <dd id="t14"></dd>
            </li>

            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=4" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=4_60" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><span class="page_size_pm_no">低压母线2段</span></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 4; var graphType = "low"; var OGdid = "56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,10,89,88,87,86,85,84,83,82,81,97,96,95,94,93,92,91,90,11,12,13,14";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
