@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_6_4号分低压01</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu6_68.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p6">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g11075" id="t11075"></li>
            <li class="switch_size switch_s_off zxb_g11076" id="t11076"></li>
            <li class="switch_size switch_s_off zxb_g11077" id="t11077"></li>
            <li class="switch_size switch_s_off zxb_g11078" id="t11078"></li>
            <li class="switch_size switch_s_off zxb_g11079" id="t11079"></li>
            <li class="switch_size switch_s_off zxb_g11085" id="t11085"></li>
            <li class="switch_size switch_s_off zxb_g11086" id="t11086"></li>
            <li class="switch_size switch_s_off zxb_g11087" id="t11087"></li>
            <li class="switch_size switch_s_off zxb_g11088" id="t11088"></li>
            <li class="switch_size switch_s_off zxb_g11089" id="t11089"></li>
            <li class="switch_size switch_s_off zxb_g11090" id="t11090"></li>
            <li class="switch_size switch_s_off zxb_g11091" id="t11091"></li>
            <li class="switch_size switch_s_off zxb_g11092" id="t11092"></li>
            <li class="switch_size switch_s_off zxb_g11093" id="t11093"></li>
            <li class="switch_size switch_s_off zxb_g11094" id="t11094"></li>
            <li class="switch_size switch_s_off zxb_g11095" id="t11095"></li>
            <li class="switch_size switch_s_off zxb_g11096" id="t11096"></li>
            <li class="switch_size switch_s_off zxb_g11097" id="t11097"></li>
            <li class="switch_size switch_s_off zxb_g11098" id="t11098"></li>
            <li class="switch_size switch_s_off zxb_g11099" id="t11099"></li>
            <li class="switch_size switch_s_off zxb_g11100" id="t11100"></li>
            <li class="switch_size switch_s_off zxb_g11101" id="t11101"></li>
            <li class="switch_size switch_s_off zxb_g11102" id="t11102"></li>
            <li class="switch_size switch_s_off zxb_g11103" id="t11103"></li>
            <li class="switch_size switch_s_off zxb_g11104" id="t11104"></li>
            <li class="switch_size switch_s_off zxb_g11105" id="t11105"></li>
            <li class="switch_size switch_s_off zxb_g11106" id="t11106"></li>
            <li class="switch_size switch_s_off zxb_g11107" id="t11107"></li>
            <li class="switch_size switch_s_off zxb_g11108" id="t11108"></li>
            <li class="switch_size switch_s_off zxb_g11109" id="t11109"></li>
            <li class="switch_size switch_s_off zxb_g11110" id="t11110"></li>
            <li class="switch_size switch_s_off zxb_g11111" id="t11111"></li>
            <li class="switch_size switch_s_off zxb_g11112" id="t11112"></li>
            <li class="switch_size switch_s_off zxb_g11113" id="t11113"></li>
            <li class="switch_size switch_s_off zxb_g11114" id="t11114"></li>
            <li class="switch_size switch_s_off zxb_g11115" id="t11115"></li>
            <li class="switch_size switch_s_off zxb_g11116" id="t11116"></li>
            <li class="switch_size switch_s_off zxb_g11124" id="t11124"></li>
            <li class="switch_size switch_s_off zxb_g11123" id="t11123"></li>
            <li class="switch_size switch_s_off zxb_g11122" id="t11122"></li>
            <li class="switch_size switch_s_off zxb_g11121" id="t11121"></li>
            <li class="switch_size switch_s_off zxb_g11120" id="t11120"></li>
            <li class="switch_size switch_s_off zxb_g11119" id="t11119"></li>
            <li class="switch_size switch_s_off zxb_g11118" id="t11118"></li>
            <li class="switch_size switch_s_off zxb_g11117" id="t11117"></li>
            <li class="switch_size switch_s_off zxb_g11128" id="t11128"></li>
            <li class="switch_size switch_s_off zxb_g11127" id="t11127"></li>
            <li class="switch_size switch_s_off zxb_g11126" id="t11126"></li>
            <li class="switch_size switch_s_off zxb_g11125" id="t11125"></li>
            <li class="switch_size switch_s_off zxb_g11174" id="t11174"></li>
            <li class="switch_size switch_s_off zxb_g11173" id="t11173"></li>
            <li class="switch_size switch_s_off zxb_g11172" id="t11172"></li>
            <li class="switch_size switch_s_off zxb_g11171" id="t11171"></li>
            <li class="switch_size switch_s_off zxb_g11170" id="t11170"></li>
            <li class="switch_size switch_s_off zxb_g11169" id="t11169"></li>
            <li class="switch_size switch_s_off zxb_g11168" id="t11168"></li>
            <li class="switch_size switch_s_off zxb_g11167" id="t11167"></li>
            <li class="switch_size switch_s_off zxb_g11166" id="t11166"></li>
            <li class="switch_size switch_s_off zxb_g11165" id="t11165"></li>
            <li class="switch_size switch_s_off zxb_g11164" id="t11164"></li>
            <li class="switch_size switch_s_off zxb_g11163" id="t11163"></li>
            <li class="switch_size switch_s_off zxb_g11162" id="t11162"></li>
            <li class="switch_size switch_s_off zxb_g11161" id="t11161"></li>
            <li class="switch_size switch_s_off zxb_g11160" id="t11160"></li>
            <li class="switch_size switch_s_off zxb_g11159" id="t11159"></li>
            <li class="switch_size switch_s_off zxb_g11158" id="t11158"></li>
            <li class="switch_size switch_s_off zxb_g11157" id="t11157"></li>
            <li class="switch_size switch_s_off zxb_g11156" id="t11156"></li>
            <li class="switch_size switch_s_off zxb_g11155" id="t11155"></li>
            <li class="switch_size switch_s_off zxb_g11154" id="t11154"></li>
            <li class="switch_size switch_s_off zxb_g11153" id="t11153"></li>
            <li class="switch_size switch_s_off zxb_g11152" id="t11152"></li>
            <li class="switch_size switch_s_off zxb_g11151" id="t11151"></li>
            <li class="switch_size switch_s_off zxb_g11150" id="t11150"></li>
            <li class="switch_size switch_s_off zxb_g11149" id="t11149"></li>
            <li class="switch_size switch_s_off zxb_g11148" id="t11148"></li>
            <li class="switch_size switch_s_off zxb_g11147" id="t11147"></li>
            <li class="switch_size switch_s_off zxb_g11146" id="t11146"></li>
            <li class="switch_size switch_s_off zxb_g11080" id="t11080"></li>
            <!--AA1-->
            <li class="w5 alarmico">
                <dt id="d5" onclick="circuitInfo(107,5);"></dt>
                <dd id="t5"></dd>
            </li>
            <!--AA2-->
            <li class="w6 alarmico">
                <dt id="d6" onclick="circuitInfo(107,6);"></dt>
                <dd id="t6"></dd>
            </li>
            <!--AA3-->
            <li class="w7 alarmico">
                <dt id="d7" onclick="circuitInfo(107,7);"></dt>
                <dd id="t7"></dd>
            </li>
            <!--AA4_T5#楼偶数层办公层箱电源-->
            <li class="w8 alarmico">
                <dt id="d8" onclick="circuitInfo(107,8);"></dt>
                <dd id="t8"></dd>
            </li>
            <!--AA4_T5#楼偶数层办公层箱电源-->
            <li class="w9 alarmico">
                <dt id="d9" onclick="circuitInfo(107,9);"></dt>
                <dd id="t9"></dd>
            </li>
            <!--AA5-->
            <li class="w15 alarmico">
                <dt id="d15" onclick="circuitInfo(107,15);"></dt>
                <dd id="t15"></dd>
            </li>
            <!--AA5-->
            <li class="w16 alarmico">
                <dt id="d16" onclick="circuitInfo(107,16);"></dt>
                <dd id="t16"></dd>
            </li>
            <!--AA5-->
            <li class="w17 alarmico">
                <dt id="d17" onclick="circuitInfo(107,17);"></dt>
                <dd id="t17"></dd>
            </li>
            <!--AA5-->
            <li class="w18 alarmico">
                <dt id="d18" onclick="circuitInfo(107,18);"></dt>
                <dd id="t18"></dd>
            </li>
            <!--AA5-->
            <li class="w19 alarmico">
                <dt id="d19" onclick="circuitInfo(107,19);"></dt>
                <dd id="t19"></dd>
            </li>
            <!--AA5-->
            <li class="w20 alarmico">
                <dt id="d20" onclick="circuitInfo(107,20);"></dt>
                <dd id="t20"></dd>
            </li>
            <!--AA5-->
            <li class="w21 alarmico">
                <dt id="d21" onclick="circuitInfo(107,21);"></dt>
                <dd id="t21"></dd>
            </li>
            <!--AA5-->
            <li class="w22 alarmico">
                <dt id="d22" onclick="circuitInfo(107,22);"></dt>
                <dd id="t22"></dd>
            </li>
            <!--AA6-->
            <li class="w23 alarmico">
                <dt id="d23" onclick="circuitInfo(107,23);"></dt>
                <dd id="t23"></dd>
            </li>
            <!--AA6-->
            <li class="w24 alarmico">
                <dt id="d24" onclick="circuitInfo(107,24);"></dt>
                <dd id="t24"></dd>
            </li>
            <!--AA6-->
            <li class="w25 alarmico">
                <dt id="d25" onclick="circuitInfo(107,25);"></dt>
                <dd id="t25"></dd>
            </li>
            <!--AA6-->
            <li class="w26 alarmico">
                <dt id="d26" onclick="circuitInfo(107,26);"></dt>
                <dd id="t26"></dd>
            </li>
            <!--AA6-->
            <li class="w27 alarmico">
                <dt id="d27" onclick="circuitInfo(107,27);"></dt>
                <dd id="t27"></dd>
            </li>
            <!--AA6-->
            <li class="w28 alarmico">
                <dt id="d28" onclick="circuitInfo(107,28);"></dt>
                <dd id="t28"></dd>
            </li>
            <!--AA6-->
            <li class="w29 alarmico">
                <dt id="d29" onclick="circuitInfo(107,29);"></dt>
                <dd id="t29"></dd>
            </li>
            <!--AA6-->
            <li class="w30 alarmico">
                <dt id="d30" onclick="circuitInfo(107,30);"></dt>
                <dd id="t30"></dd>
            </li>
            <!--AA7-->
            <li class="w31 alarmico">
                <dt id="d31" onclick="circuitInfo(107,31);"></dt>
                <dd id="t31"></dd>
            </li>
            <!--AA7-->
            <li class="w32 alarmico">
                <dt id="d32" onclick="circuitInfo(107,32);"></dt>
                <dd id="t32"></dd>
            </li>
            <!--AA7-->
            <li class="w33 alarmico">
                <dt id="d33" onclick="circuitInfo(107,33);"></dt>
                <dd id="t33"></dd>
            </li>
            <!--AA7-->
            <li class="w34 alarmico">
                <dt id="d34" onclick="circuitInfo(107,34);"></dt>
                <dd id="t34"></dd>
            </li>
            <!--AA7-->
            <li class="w35 alarmico">
                <dt id="d35" onclick="circuitInfo(107,35);"></dt>
                <dd id="t35"></dd>
            </li>
            <!--AA7-->
            <li class="w36 alarmico">
                <dt id="d36" onclick="circuitInfo(107,36);"></dt>
                <dd id="t36"></dd>
            </li>
            <!--AA7-->
            <li class="w37 alarmico">
                <dt id="d37" onclick="circuitInfo(107,37);"></dt>
                <dd id="t37"></dd>
            </li>
            <!--AA7-->
            <li class="w38 alarmico">
                <dt id="d38" onclick="circuitInfo(107,38);"></dt>
                <dd id="t38"></dd>
            </li>
            <!--AA8-->
            <li class="w39 alarmico">
                <dt id="d39" onclick="circuitInfo(107,39);"></dt>
                <dd id="t39"></dd>
            </li>
            <!--AA8-->
            <li class="w40 alarmico">
                <dt id="d40" onclick="circuitInfo(107,40);"></dt>
                <dd id="t40"></dd>
            </li>
            <!--AA8-->
            <li class="w41 alarmico">
                <dt id="d41" onclick="circuitInfo(107,41);"></dt>
                <dd id="t41"></dd>
            </li>
            <!--AA8-->
            <li class="w42 alarmico">
                <dt id="d42" onclick="circuitInfo(107,42);"></dt>
                <dd id="t42"></dd>
            </li>
            <!--AA8-->
            <li class="w43 alarmico">
                <dt id="d43" onclick="circuitInfo(107,43);"></dt>
                <dd id="t43"></dd>
            </li>
            <!--AA8-->
            <li class="w44 alarmico">
                <dt id="d44" onclick="circuitInfo(107,44);"></dt>
                <dd id="t44"></dd>
            </li>
            <!--AA8-->
            <li class="w45 alarmico">
                <dt id="d45" onclick="circuitInfo(107,45);"></dt>
                <dd id="t45"></dd>
            </li>
            <!--AA8-->
            <li class="w46 alarmico">
                <dt id="d46" onclick="circuitInfo(107,46);"></dt>
                <dd id="t46"></dd>
            </li>
            <!--AA9-->
            <li class="w54 alarmico">
                <dt id="d54" onclick="circuitInfo(107,54);"></dt>
                <dd id="t54"></dd>
            </li>
            <!--AA9-->
            <li class="w53 alarmico">
                <dt id="d53" onclick="circuitInfo(107,53);"></dt>
                <dd id="t53"></dd>
            </li>
            <!--AA9-->
            <li class="w52 alarmico">
                <dt id="d52" onclick="circuitInfo(107,52);"></dt>
                <dd id="t52"></dd>
            </li>
            <!--AA9-->
            <li class="w51 alarmico">
                <dt id="d51" onclick="circuitInfo(107,51);"></dt>
                <dd id="t51"></dd>
            </li>
            <!--AA9-->
            <li class="w50 alarmico">
                <dt id="d50" onclick="circuitInfo(107,50);"></dt>
                <dd id="t50"></dd>
            </li>
            <!--AA9-->
            <li class="w49 alarmico">
                <dt id="d49" onclick="circuitInfo(107,49);"></dt>
                <dd id="t49"></dd>
            </li>
            <!--AA9-->
            <li class="w47 alarmico">
                <dt id="d47" onclick="circuitInfo(107,47);"></dt>
                <dd id="t47"></dd>
            </li>
            <!--AA9-->
            <li class="w48 alarmico">
                <dt id="d48" onclick="circuitInfo(107,48);"></dt>
                <dd id="t48"></dd>
            </li>
            <!--AA10-->
            <li class="w58 alarmico">
                <dt id="d58" onclick="circuitInfo(107,58);"></dt>
                <dd id="t58"></dd>
            </li>
            <!--AA10-->
            <li class="w57 alarmico">
                <dt id="d57" onclick="circuitInfo(107,57);"></dt>
                <dd id="t57"></dd>
            </li>
            <!--AA10-->
            <li class="w56 alarmico">
                <dt id="d56" onclick="circuitInfo(107,56);"></dt>
                <dd id="t56"></dd>
            </li>
            <!--AA10-->
            <li class="w55 alarmico">
                <dt id="d55" onclick="circuitInfo(107,55);"></dt>
                <dd id="t55"></dd>
            </li>
            <!--AA11-->
            <li class="w104 alarmico">
                <dt id="d104" onclick="circuitInfo(107,104);"></dt>
                <dd id="t104"></dd>
            </li>
            <!--AA11-->
            <li class="w103 alarmico">
                <dt id="d103" onclick="circuitInfo(107,103);"></dt>
                <dd id="t103"></dd>
            </li>
            <!--AA11-->
            <li class="w101 alarmico">
                <dt id="d101" onclick="circuitInfo(107,101);"></dt>
                <dd id="t101"></dd>
            </li>
            <!--AA11-->
            <li class="w102 alarmico">
                <dt id="d102" onclick="circuitInfo(107,102);"></dt>
                <dd id="t102"></dd>
            </li>
            <!--AA12-->
            <li class="w100 alarmico">
                <dt id="d100" onclick="circuitInfo(107,100);"></dt>
                <dd id="t100"></dd>
            </li>
            <!--AA12-->
            <li class="w99 alarmico">
                <dt id="d99" onclick="circuitInfo(107,99);"></dt>
                <dd id="t99"></dd>
            </li>
            <!--AA12-->
            <li class="w98 alarmico">
                <dt id="d98" onclick="circuitInfo(107,98);"></dt>
                <dd id="t98"></dd>
            </li>
            <!--AA12-->
            <li class="w97 alarmico">
                <dt id="d97" onclick="circuitInfo(107,97);"></dt>
                <dd id="t97"></dd>
            </li>
            <!--AA12-->
            <li class="w96 alarmico">
                <dt id="d96" onclick="circuitInfo(107,96);"></dt>
                <dd id="t96"></dd>
            </li>
            <!--AA12-->
            <li class="w95 alarmico">
                <dt id="d95" onclick="circuitInfo(107,95);"></dt>
                <dd id="t95"></dd>
            </li>
            <!--AA12-->
            <li class="w93 alarmico">
                <dt id="d93" onclick="circuitInfo(107,93);"></dt>
                <dd id="t93"></dd>
            </li>
            <!--AA12-->
            <li class="w94 alarmico">
                <dt id="d94" onclick="circuitInfo(107,94);"></dt>
                <dd id="t94"></dd>
            </li>
            <!--AA13-->
            <li class="w92 alarmico">
                <dt id="d92" onclick="circuitInfo(107,92);"></dt>
                <dd id="t92"></dd>
            </li>
            <!--AA13-->
            <li class="w91 alarmico">
                <dt id="d91" onclick="circuitInfo(107,91);"></dt>
                <dd id="t91"></dd>
            </li>
            <!--AA13-->
            <li class="w90 alarmico">
                <dt id="d90" onclick="circuitInfo(107,90);"></dt>
                <dd id="t90"></dd>
            </li>
            <!--AA13-->
            <li class="w89 alarmico">
                <dt id="d89" onclick="circuitInfo(107,89);"></dt>
                <dd id="t89"></dd>
            </li>
            <!--AA13-->
            <li class="w88 alarmico">
                <dt id="d88" onclick="circuitInfo(107,88);"></dt>
                <dd id="t88"></dd>
            </li>
            <!--AA13-->
            <li class="w87 alarmico">
                <dt id="d87" onclick="circuitInfo(107,87);"></dt>
                <dd id="t87"></dd>
            </li>
            <!--AA13-->
            <li class="w85 alarmico">
                <dt id="d85" onclick="circuitInfo(107,85);"></dt>
                <dd id="t85"></dd>
            </li>
            <!--AA13-->
            <li class="w86 alarmico">
                <dt id="d86" onclick="circuitInfo(107,86);"></dt>
                <dd id="t86"></dd>
            </li>
            <!--AA14-->
            <li class="w84 alarmico">
                <dt id="d84" onclick="circuitInfo(107,84);"></dt>
                <dd id="t84"></dd>
            </li>
            <!--AA14-->
            <li class="w83 alarmico">
                <dt id="d83" onclick="circuitInfo(107,83);"></dt>
                <dd id="t83"></dd>
            </li>
            <!--AA14-->
            <li class="w82 alarmico">
                <dt id="d82" onclick="circuitInfo(107,82);"></dt>
                <dd id="t82"></dd>
            </li>
            <!--AA14-->
            <li class="w81 alarmico">
                <dt id="d81" onclick="circuitInfo(107,81);"></dt>
                <dd id="t81"></dd>
            </li>
            <!--AA14-->
            <li class="w80 alarmico">
                <dt id="d80" onclick="circuitInfo(107,80);"></dt>
                <dd id="t80"></dd>
            </li>
            <!--AA14-->
            <li class="w79 alarmico">
                <dt id="d79" onclick="circuitInfo(107,79);"></dt>
                <dd id="t79"></dd>
            </li>
            <!--AA14-->
            <li class="w78 alarmico">
                <dt id="d78" onclick="circuitInfo(107,78);"></dt>
                <dd id="t78"></dd>
            </li>
            <!--AA14-->
            <li class="w77 alarmico">
                <dt id="d77" onclick="circuitInfo(107,77);"></dt>
                <dd id="t77"></dd>
            </li>
            <!--AA14-->
            <li class="w76 alarmico">
                <dt id="d76" onclick="circuitInfo(107,76);"></dt>
                <dd id="t76"></dd>
            </li>
            <!--AA15-->
            <li class="w10 alarmico">
                <dt id="d10" onclick="circuitInfo(107,10);"></dt>
                <dd id="t10"></dd>
            </li>
             <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=6" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><span class="page_size_pm_no">低压母线1段</span></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=6_69" class="page_size_pm">低压母线2段</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 6; var graphType = "low"; var OGdid = "5,6,7,8,9,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,54,53,52,51,50,49,47,48,58,57,56,55,104,103,101,102,100,99,98,97,96,95,93,94,92,91,90,89,88,87,85,86,84,83,82,81,80,79,78,77,76,10";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
