@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_7_5号分低压02</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu7_71.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p7">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g12176" id="t12176"></li>
            <li class="switch_size switch_s_off zxb_g12177" id="t12177"></li>
            <li class="switch_size switch_s_off zxb_g12178" id="t12178"></li>
            <li class="switch_size switch_s_off zxb_g12179" id="t12179"></li>
            <li class="switch_size switch_s_off zxb_g12180" id="t12180"></li>
            <li class="switch_size switch_s_off zxb_g12181" id="t12181"></li>
            <li class="switch_size switch_s_off zxb_g12182" id="t12182"></li>
            <li class="switch_size switch_s_off zxb_g12113" id="t12113"></li>
            <li class="switch_size switch_s_off zxb_g12114" id="t12114"></li>
            <!--AA18-->
            <li class="w73 alarmico">
                <dt id="d73" onclick="circuitInfo(107,73);"></dt>
                <dd id="t73"></dd>
            </li>
            <!--AA18-->
            <li class="w74 alarmico">
                <dt id="d74" onclick="circuitInfo(107,74);"></dt>
                <dd id="t74"></dd>
            </li>
            <!--AA18-->
            <li class="w75 alarmico">
                <dt id="d75" onclick="circuitInfo(107,75);"></dt>
                <dd id="t75"></dd>
            </li>
            <!--AA18-->
            <li class="w76 alarmico">
                <dt id="d76" onclick="circuitInfo(107,76);"></dt>
                <dd id="t76"></dd>
            </li>
            <!--AA18-->
            <li class="w77 alarmico">
                <dt id="d77" onclick="circuitInfo(107,77);"></dt>
                <dd id="t77"></dd>
            </li>
            <!--AA18-->
            <li class="w78 alarmico">
                <dt id="d78" onclick="circuitInfo(107,78);"></dt>
                <dd id="t78"></dd>
            </li>
            <!--AA18-->
            <li class="w79 alarmico">
                <dt id="d79" onclick="circuitInfo(107,79);"></dt>
                <dd id="t79"></dd>
            </li>
            <!--AA19-->
            <li class="w10 alarmico">
                <dt id="d10" onclick="circuitInfo(107,10);"></dt>
                <dd id="t10"></dd>
            </li>
            <!--AA20-->
            <li class="w11 alarmico">
                <dt id="d11" onclick="circuitInfo(107,11);"></dt>
                <dd id="t11"></dd>
            </li>
            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=7" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=7_70" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><span class="page_size_pm_no">低压母线2段</span></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 7; var graphType = "low"; var OGdid = "73,74,75,76,77,78,79,10,11";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
