@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_3_1号分低压02</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu3_62.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p3">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g7098" id="t7098"></li>
            <li class="switch_size switch_s_off zxb_g7099" id="t7099"></li>
            <li class="switch_size switch_s_off zxb_g7100" id="t7100"></li>
            <li class="switch_size switch_s_off zxb_g7101" id="t7101"></li>
            <li class="switch_size switch_s_off zxb_g7102" id="t7102"></li>
            <li class="switch_size switch_s_off zxb_g7181" id="t7181"></li>
            <li class="switch_size switch_s_off zxb_g7182" id="t7182"></li>
            <li class="switch_size switch_s_off zxb_g7183" id="t7183"></li>
            <li class="switch_size switch_s_off zxb_g7184" id="t7184"></li>
            <li class="switch_size switch_s_off zxb_g7185" id="t7185"></li>
            <li class="switch_size switch_s_off zxb_g7186" id="t7186"></li>
            <li class="switch_size switch_s_off zxb_g7187" id="t7187"></li>
            <li class="switch_size switch_s_off zxb_g7188" id="t7188"></li>
            <li class="switch_size switch_s_off zxb_g7189" id="t7189"></li>
            <li class="switch_size switch_s_off zxb_g7190" id="t7190"></li>
            <li class="switch_size switch_s_off zxb_g7191" id="t7191"></li>
            <li class="switch_size switch_s_off zxb_g7192" id="t7192"></li>
            <li class="switch_size switch_s_off zxb_g7193" id="t7193"></li>
            <li class="switch_size switch_s_off zxb_g7194" id="t7194"></li>
            <li class="switch_size switch_s_off zxb_g7195" id="t7195"></li>
            <li class="switch_size switch_s_off zxb_g7196" id="t7196"></li>
            <li class="switch_size switch_s_off zxb_g7197" id="t7197"></li>
            <li class="switch_size switch_s_off zxb_g7206" id="t7206"></li>
            <li class="switch_size switch_s_off zxb_g7205" id="t7205"></li>
            <li class="switch_size switch_s_off zxb_g7204" id="t7204"></li>
            <li class="switch_size switch_s_off zxb_g7203" id="t7203"></li>
            <li class="switch_size switch_s_off zxb_g7202" id="t7202"></li>
            <li class="switch_size switch_s_off zxb_g7201" id="t7201"></li>
            <li class="switch_size switch_s_off zxb_g7200" id="t7200"></li>
            <li class="switch_size switch_s_off zxb_g7199" id="t7199"></li>
            <li class="switch_size switch_s_off zxb_g7198" id="t7198"></li>
            <li class="switch_size switch_s_off zxb_g7103" id="t7103"></li>
            <li class="switch_size switch_s_off zxb_g7214" id="t7214"></li>
            <li class="switch_size switch_s_off zxb_g7213" id="t7213"></li>
            <li class="switch_size switch_s_off zxb_g7212" id="t7212"></li>
            <li class="switch_size switch_s_off zxb_g7211" id="t7211"></li>
            <li class="switch_size switch_s_off zxb_g7210" id="t7210"></li>
            <li class="switch_size switch_s_off zxb_g7209" id="t7209"></li>
            <li class="switch_size switch_s_off zxb_g7208" id="t7208"></li>
            <li class="switch_size switch_s_off zxb_g7207" id="t7207"></li>
            <li class="switch_size switch_s_off zxb_g7105" id="t7105"></li>
            <li class="switch_size switch_s_off zxb_g7104" id="t7104"></li>
            <li class="switch_size switch_s_off zxb_g7106" id="t7106"></li>
            <li class="switch_size switch_s_off zxb_g7107" id="t7107"></li>
            <!--AH1进线柜-->
            <li class="w1 alarmico">
                <dt id="d1" onclick="circuitInfo(107,1);"></dt>
                <dd id="t1"></dd>
            </li>
            <!--1AA2-->
            <li class="w12 alarmico">
                <dt id="d12" onclick="circuitInfo(107,12);"></dt>
                <dd id="t12"></dd>
            </li>
            <!--1AA4_T1#楼偶数层办公层箱电源-->
            <li class="w14 alarmico">
                <dt id="d14" onclick="circuitInfo(107,14);"></dt>
                <dd id="t14"></dd>
            </li>
            <!--1AA4_T1#楼偶数层办公层箱电源-->
            <li class="w14 alarmico">
                <dt id="d14" onclick="circuitInfo(107,14);"></dt>
                <dd id="t14"></dd>
            </li>
            <!--1AA4_T1#楼偶数层办公层箱电源-->
            <li class="w15 alarmico">
                <dt id="d15" onclick="circuitInfo(107,15);"></dt>
                <dd id="t15"></dd>
            </li>
            <!--1AA5-->
            <li class="w94 alarmico">
                <dt id="d94" onclick="circuitInfo(107,94);"></dt>
                <dd id="t94"></dd>
            </li>
            <!--1AA5-->
            <li class="w95 alarmico">
                <dt id="d95" onclick="circuitInfo(107,95);"></dt>
                <dd id="t95"></dd>
            </li>
            <!--1AA5-->
            <li class="w96 alarmico">
                <dt id="d96" onclick="circuitInfo(107,96);"></dt>
                <dd id="t96"></dd>
            </li>
            <!--1AA5-->
            <li class="w97 alarmico">
                <dt id="d97" onclick="circuitInfo(107,97);"></dt>
                <dd id="t97"></dd>
            </li>
            <!--1AA5-->
            <li class="w98 alarmico">
                <dt id="d98" onclick="circuitInfo(107,98);"></dt>
                <dd id="t98"></dd>
            </li>
            <!--1AA5-->
            <li class="w99 alarmico">
                <dt id="d99" onclick="circuitInfo(107,99);"></dt>
                <dd id="t99"></dd>
            </li>
            <!--1AA5-->
            <li class="w100 alarmico">
                <dt id="d100" onclick="circuitInfo(107,100);"></dt>
                <dd id="t100"></dd>
            </li>
            <!--1AA5-->
            <li class="w101 alarmico">
                <dt id="d101" onclick="circuitInfo(107,101);"></dt>
                <dd id="t101"></dd>
            </li>
            <!--1AA6-->
            <li class="w102 alarmico">
                <dt id="d102" onclick="circuitInfo(107,102);"></dt>
                <dd id="t102"></dd>
            </li>
            <!--1AA6-->
            <li class="w103 alarmico">
                <dt id="d103" onclick="circuitInfo(107,103);"></dt>
                <dd id="t103"></dd>
            </li>
            <!--1AA6-->
            <li class="w104 alarmico">
                <dt id="d104" onclick="circuitInfo(107,104);"></dt>
                <dd id="t104"></dd>
            </li>
            <!--1AA6-->
            <li class="w105 alarmico">
                <dt id="d105" onclick="circuitInfo(107,105);"></dt>
                <dd id="t105"></dd>
            </li>
            <!--1AA6-->
            <li class="w106 alarmico">
                <dt id="d106" onclick="circuitInfo(107,106);"></dt>
                <dd id="t106"></dd>
            </li>
            <!--1AA6-->
            <li class="w107 alarmico">
                <dt id="d107" onclick="circuitInfo(107,107);"></dt>
                <dd id="t107"></dd>
            </li>
            <!--1AA6-->
            <li class="w108 alarmico">
                <dt id="d108" onclick="circuitInfo(107,108);"></dt>
                <dd id="t108"></dd>
            </li>
            <!--1AA6-->
            <li class="w109 alarmico">
                <dt id="d109" onclick="circuitInfo(107,109);"></dt>
                <dd id="t109"></dd>
            </li>
            <!--1AA6-->
            <li class="w110 alarmico">
                <dt id="d110" onclick="circuitInfo(107,110);"></dt>
                <dd id="t110"></dd>
            </li>
            <!--1AA7-->
            <li class="w119 alarmico">
                <dt id="d119" onclick="circuitInfo(107,119);"></dt>
                <dd id="t119"></dd>
            </li>
            <!--1AA7-->
            <li class="w118 alarmico">
                <dt id="d118" onclick="circuitInfo(107,118);"></dt>
                <dd id="t118"></dd>
            </li>
            <!--1AA7-->
            <li class="w117 alarmico">
                <dt id="d117" onclick="circuitInfo(107,117);"></dt>
                <dd id="t117"></dd>
            </li>
            <!--1AA7-->
            <li class="w116 alarmico">
                <dt id="d116" onclick="circuitInfo(107,116);"></dt>
                <dd id="t116"></dd>
            </li>
            <!--1AA7-->
            <li class="w115 alarmico">
                <dt id="d115" onclick="circuitInfo(107,115);"></dt>
                <dd id="t115"></dd>
            </li>
            <!--1AA7-->
            <li class="w114 alarmico">
                <dt id="d114" onclick="circuitInfo(107,114);"></dt>
                <dd id="t114"></dd>
            </li>
            <!--1AA7-->
            <li class="w113 alarmico">
                <dt id="d113" onclick="circuitInfo(107,113);"></dt>
                <dd id="t113"></dd>
            </li>
            <!--1AA7-->
            <li class="w112 alarmico">
                <dt id="d112" onclick="circuitInfo(107,112);"></dt>
                <dd id="t112"></dd>
            </li>
            <!--1AA7-->
            <li class="w111 alarmico">
                <dt id="d111" onclick="circuitInfo(107,111);"></dt>
                <dd id="t111"></dd>
            </li>
            <!--1AA8-->
            <li class="w16 alarmico">
                <dt id="d16" onclick="circuitInfo(107,16);"></dt>
                <dd id="t16"></dd>
            </li>
            <!--1AA9-->
            <li class="w127 alarmico">
                <dt id="d127" onclick="circuitInfo(107,127);"></dt>
                <dd id="t127"></dd>
            </li>
            <!--1AA9-->
            <li class="w126 alarmico">
                <dt id="d126" onclick="circuitInfo(107,126);"></dt>
                <dd id="t126"></dd>
            </li>
            <!--1AA9-->
            <li class="w125 alarmico">
                <dt id="d125" onclick="circuitInfo(107,125);"></dt>
                <dd id="t125"></dd>
            </li>
            <!--1AA9-->
            <li class="w124 alarmico">
                <dt id="d124" onclick="circuitInfo(107,124);"></dt>
                <dd id="t124"></dd>
            </li>
            <!--1AA9-->
            <li class="w123 alarmico">
                <dt id="d123" onclick="circuitInfo(107,123);"></dt>
                <dd id="t123"></dd>
            </li>
            <!--1AA9-->
            <li class="w122 alarmico">
                <dt id="d122" onclick="circuitInfo(107,122);"></dt>
                <dd id="t122"></dd>
            </li>
            <!--1AA9-->
            <li class="w121 alarmico">
                <dt id="d121" onclick="circuitInfo(107,121);"></dt>
                <dd id="t121"></dd>
            </li>
            <!--1AA9-->
            <li class="w120 alarmico">
                <dt id="d120" onclick="circuitInfo(107,120);"></dt>
                <dd id="t120"></dd>
            </li>
            <!--1AA10_T1#楼奇数层办公层箱电源-->
            <li class="w18 alarmico">
                <dt id="d18" onclick="circuitInfo(107,18);"></dt>
                <dd id="t18"></dd>
            </li>
            <!--1AA10_T1#楼奇数层办公层箱电源-->
            <li class="w17 alarmico">
                <dt id="d17" onclick="circuitInfo(107,17);"></dt>
                <dd id="t17"></dd>
            </li>
            <!--1AA11-->
            <li class="w19 alarmico">
                <dt id="d19" onclick="circuitInfo(107,19);"></dt>
                <dd id="t19"></dd>
            </li>
            <!--1AA12-->
            <li class="w20 alarmico">
                <dt id="d20" onclick="circuitInfo(107,20);"></dt>
                <dd id="t20"></dd>
            </li>

            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=3" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=3_61" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><span class="page_size_pm_no">低压母线2段</span></li>
            <li class="tb_pageIIII"><a href="/PDRInfo/OneGraph?id=3_63" class="page_size_pm">低压母线3段</a></li>
            <li class="tb_pageV"><a href="/PDRInfo/OneGraph?id=3_64" class="page_size_pm">低压母线4段</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 3; var graphType = "low"; var OGdid = "1,12,14,14,15,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,119,118,117,116,115,114,113,112,111,16,127,126,125,124,123,122,121,120,18,17,19,20";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
