@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_4_二号分一次图</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu4_16.css"> </link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">
  
  


<div class="ycmain page_content"><ul class="alertmenu" id="p4"><li class="other_g0" id="other_g0"></li><li class="switch_size switch_s_off zxb_g8440" id="t8440"></li><!--AH1--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><!--AH2--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><li class="switch_size switch_s_off zxb_g8441" id="t8441"></li><li class="switch_size switch_s_off zxb_g8444" id="t8444"></li><li class="switch_size switch_s_off zxb_g8445" id="t8445"></li><li class="switch_size switch_s_off zxb_g8443" id="t8443"></li><li class="switch_size switch_s_off zxb_g8442" id="t8442"></li><!--AH4--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><!--AH3--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><li class="switch_size switch_s_off zxb_g8453" id="t8453"></li><!--AA1--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><!--AA18--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li><!--AA2--><li class="w0 alarmico"><dt id="d0" onclick="deviceinfo(107,0);"></dt><dd id="t0"></dd></li></ul></div><script type="text/javascript">
        var pid = 4;        var OGdid = "-1"; 
</script></body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>