@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_1_1号总低压02</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu1_56.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p1">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g1112" id="t1112"></li>
            <li class="switch_size switch_s_off zxb_g1113" id="t1113"></li>
            <li class="switch_size switch_s_off zxb_g1114" id="t1114"></li>
            <li class="switch_size switch_s_off zxb_g1150" id="t1150"></li>
            <li class="switch_size switch_s_off zxb_g1151" id="t1151"></li>
            <li class="switch_size switch_s_off zxb_g1152" id="t1152"></li>
            <li class="switch_size switch_s_off zxb_g1153" id="t1153"></li>
            <li class="switch_size switch_s_off zxb_g1154" id="t1154"></li>
            <li class="switch_size switch_s_off zxb_g1155" id="t1155"></li>
            <li class="switch_size switch_s_off zxb_g1156" id="t1156"></li>
            <li class="switch_size switch_s_off zxb_g1157" id="t1157"></li>
            <li class="switch_size switch_s_off zxb_g1158" id="t1158"></li>
            <li class="switch_size switch_s_off zxb_g1159" id="t1159"></li>
            <li class="switch_size switch_s_off zxb_g1160" id="t1160"></li>
            <li class="switch_size switch_s_off zxb_g1161" id="t1161"></li>
            <li class="switch_size switch_s_off zxb_g1162" id="t1162"></li>
            <li class="switch_size switch_s_off zxb_g1163" id="t1163"></li>
            <li class="switch_size switch_s_off zxb_g1164" id="t1164"></li>
            <li class="switch_size switch_s_off zxb_g1165" id="t1165"></li>
            <li class="switch_size switch_s_off zxb_g1166" id="t1166"></li>
            <li class="switch_size switch_s_off zxb_g1167" id="t1167"></li>
            <li class="switch_size switch_s_off zxb_g1169" id="t1169"></li>
            <li class="switch_size switch_s_off zxb_g1170" id="t1170"></li>
            <li class="switch_size switch_s_off zxb_g1171" id="t1171"></li>
            <li class="switch_size switch_s_off zxb_g1172" id="t1172"></li>
            <li class="switch_size switch_s_off zxb_g1173" id="t1173"></li>
            <li class="switch_size switch_s_off zxb_g1174" id="t1174"></li>
            <li class="switch_size switch_s_off zxb_g1175" id="t1175"></li>
            <li class="switch_size switch_s_off zxb_g1176" id="t1176"></li>
            <li class="switch_size switch_s_off zxb_g1177" id="t1177"></li>
            <li class="switch_size switch_s_off zxb_g1178" id="t1178"></li>
            <li class="switch_size switch_s_off zxb_g1179" id="t1179"></li>
            <li class="switch_size switch_s_off zxb_g1180" id="t1180"></li>
            <li class="switch_size switch_s_off zxb_g1181" id="t1181"></li>
            <li class="switch_size switch_s_off zxb_g1116" id="t1116"></li>
            <li class="switch_size switch_s_off zxb_g1115" id="t1115"></li>
            <!--2AA1-->
            <li class="w22 alarmico">
                <dt id="d22" onclick="circuitInfo(107,22);"></dt>
                <dd id="t22"></dd>
            </li>
            <!--2AA2-->
            <li class="w23 alarmico">
                <dt id="d23" onclick="circuitInfo(107,23);"></dt>
                <dd id="t23"></dd>
            </li>
            <!--2AA3-->
            <li class="w24 alarmico">
                <dt id="d24" onclick="circuitInfo(107,24);"></dt>
                <dd id="t24"></dd>
            </li>
            <!--2AA4-->
            <li class="w60 alarmico">
                <dt id="d60" onclick="circuitInfo(107,60);"></dt>
                <dd id="t60"></dd>
            </li>
            <!--2AA4-->
            <li class="w61 alarmico">
                <dt id="d61" onclick="circuitInfo(107,61);"></dt>
                <dd id="t61"></dd>
            </li>
            <!--2AA4-->
            <li class="w62 alarmico">
                <dt id="d62" onclick="circuitInfo(107,62);"></dt>
                <dd id="t62"></dd>
            </li>
            <!--2AA4-->
            <li class="w63 alarmico">
                <dt id="d63" onclick="circuitInfo(107,63);"></dt>
                <dd id="t63"></dd>
            </li>
            <!--2AA4-->
            <li class="w64 alarmico">
                <dt id="d64" onclick="circuitInfo(107,64);"></dt>
                <dd id="t64"></dd>
            </li>
            <!--2AA4-->
            <li class="w65 alarmico">
                <dt id="d65" onclick="circuitInfo(107,65);"></dt>
                <dd id="t65"></dd>
            </li>
            <!--2AA4-->
            <li class="w66 alarmico">
                <dt id="d66" onclick="circuitInfo(107,66);"></dt>
                <dd id="t66"></dd>
            </li>
            <!--2AA5-->
            <li class="w67 alarmico">
                <dt id="d67" onclick="circuitInfo(107,67);"></dt>
                <dd id="t67"></dd>
            </li>
            <!--2AA5-->
            <li class="w68 alarmico">
                <dt id="d68" onclick="circuitInfo(107,68);"></dt>
                <dd id="t68"></dd>
            </li>
            <!--2AA5-->
            <li class="w69 alarmico">
                <dt id="d69" onclick="circuitInfo(107,69);"></dt>
                <dd id="t69"></dd>
            </li>
            <!--2AA5-->
            <li class="w70 alarmico">
                <dt id="d70" onclick="circuitInfo(107,70);"></dt>
                <dd id="t70"></dd>
            </li>
            <!--2AA5-->
            <li class="w71 alarmico">
                <dt id="d71" onclick="circuitInfo(107,71);"></dt>
                <dd id="t71"></dd>
            </li>
            <!--2AA5-->
            <li class="w72 alarmico">
                <dt id="d72" onclick="circuitInfo(107,72);"></dt>
                <dd id="t72"></dd>
            </li>
            <!--2AA5-->
            <li class="w73 alarmico">
                <dt id="d73" onclick="circuitInfo(107,73);"></dt>
                <dd id="t73"></dd>
            </li>
            <!--2AA6-->
            <li class="w74 alarmico">
                <dt id="d74" onclick="circuitInfo(107,74);"></dt>
                <dd id="t74"></dd>
            </li>
            <!--2AA6-->
            <li class="w75 alarmico">
                <dt id="d75" onclick="circuitInfo(107,75);"></dt>
                <dd id="t75"></dd>
            </li>
            <!--2AA7-->
            <li class="w77 alarmico">
                <dt id="d77" onclick="circuitInfo(107,77);"></dt>
                <dd id="t77"></dd>
            </li>
            <!--2AA7-->
            <li class="w76 alarmico">
                <dt id="d76" onclick="circuitInfo(107,76);"></dt>
                <dd id="t76"></dd>
            </li>
            <!--2AA8-->
            <li class="w79 alarmico">
                <dt id="d79" onclick="circuitInfo(107,79);"></dt>
                <dd id="t79"></dd>
            </li>
            <!--2AA8-->
            <li class="w80 alarmico">
                <dt id="d80" onclick="circuitInfo(107,80);"></dt>
                <dd id="t80"></dd>
            </li>
            <!--2AA8-->
            <li class="w81 alarmico">
                <dt id="d81" onclick="circuitInfo(107,81);"></dt>
                <dd id="t81"></dd>
            </li>
            <!--2AA8-->
            <li class="w82 alarmico">
                <dt id="d82" onclick="circuitInfo(107,82);"></dt>
                <dd id="t82"></dd>
            </li>
            <!--2AA8-->
            <li class="w83 alarmico">
                <dt id="d83" onclick="circuitInfo(107,83);"></dt>
                <dd id="t83"></dd>
            </li>
            <!--2AA8-->
            <li class="w84 alarmico">
                <dt id="d84" onclick="circuitInfo(107,84);"></dt>
                <dd id="t84"></dd>
            </li>
            <!--2AA8-->
            <li class="w85 alarmico">
                <dt id="d85" onclick="circuitInfo(107,85);"></dt>
                <dd id="t85"></dd>
            </li>
            <!--2AA9-->
            <li class="w86 alarmico">
                <dt id="d86" onclick="circuitInfo(107,86);"></dt>
                <dd id="t86"></dd>
            </li>
            <!--2AA9-->
            <li class="w87 alarmico">
                <dt id="d87" onclick="circuitInfo(107,87);"></dt>
                <dd id="t87"></dd>
            </li>
            <!--2AA9-->
            <li class="w88 alarmico">
                <dt id="d88" onclick="circuitInfo(107,88);"></dt>
                <dd id="t88"></dd>
            </li>
            <!--2AA9-->
            <li class="w89 alarmico">
                <dt id="d89" onclick="circuitInfo(107,89);"></dt>
                <dd id="t89"></dd>
            </li>
            <!--2AA9-->
            <li class="w90 alarmico">
                <dt id="d90" onclick="circuitInfo(107,90);"></dt>
                <dd id="t90"></dd>
            </li>
            <!--2AA9-->
            <li class="w91 alarmico">
                <dt id="d91" onclick="circuitInfo(107,91);"></dt>
                <dd id="t91"></dd>
            </li>
            <!--2AA10-->
            <li class="w26 alarmico">
                <dt id="d26" onclick="circuitInfo(107,26);"></dt>
                <dd id="t26"></dd>
            </li>
            <!--2AA11-->
            <li class="w25 alarmico">
                <dt id="d25" onclick="circuitInfo(107,25);"></dt>
                <dd id="t25"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g1168" id="t1168"></li>
            <!--2AA8-->
            <li class="w78 alarmico">
                <dt id="d78" onclick="circuitInfo(107,78);"></dt>
                <dd id="t78"></dd>
            </li>


            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=1" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=1_55" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><span class="page_size_pm_no">低压母线2段</span></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 1; var OGdid = "22,23,24,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,77,76,79,80,81,82,83,84,85,86,87,88,89,90,91,26,25,78"; var graphType = "low";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
