@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_3_1号分低压03</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu3_63.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p3">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g7121" id="t7121"></li>
            <li class="switch_size switch_s_off zxb_g7122" id="t7122"></li>
            <li class="switch_size switch_s_off zxb_g7125" id="t7125"></li>
            <li class="switch_size switch_s_off zxb_g7126" id="t7126"></li>
            <li class="switch_size switch_s_off zxb_g7246" id="t7246"></li>
            <li class="switch_size switch_s_off zxb_g7248" id="t7248"></li>
            <li class="switch_size switch_s_off zxb_g7249" id="t7249"></li>
            <li class="switch_size switch_s_off zxb_g7250" id="t7250"></li>
            <li class="switch_size switch_s_off zxb_g7252" id="t7252"></li>
            <li class="switch_size switch_s_off zxb_g7253" id="t7253"></li>
            <li class="switch_size switch_s_off zxb_g7239" id="t7239"></li>
            <li class="switch_size switch_s_off zxb_g7240" id="t7240"></li>
            <li class="switch_size switch_s_off zxb_g7242" id="t7242"></li>
            <li class="switch_size switch_s_off zxb_g7243" id="t7243"></li>
            <li class="switch_size switch_s_off zxb_g7244" id="t7244"></li>
            <li class="switch_size switch_s_off zxb_g7245" id="t7245"></li>
            <li class="switch_size switch_s_off zxb_g7233" id="t7233"></li>
            <li class="switch_size switch_s_off zxb_g7234" id="t7234"></li>
            <li class="switch_size switch_s_off zxb_g7235" id="t7235"></li>
            <li class="switch_size switch_s_off zxb_g7236" id="t7236"></li>
            <li class="switch_size switch_s_off zxb_g7237" id="t7237"></li>
            <li class="switch_size switch_s_off zxb_g7238" id="t7238"></li>
            <li class="switch_size switch_s_off zxb_g7277" id="t7277"></li>
            <li class="switch_size switch_s_off zxb_g7276" id="t7276"></li>
            <li class="switch_size switch_s_off zxb_g7275" id="t7275"></li>
            <li class="switch_size switch_s_off zxb_g7273" id="t7273"></li>
            <li class="switch_size switch_s_off zxb_g7272" id="t7272"></li>
            <li class="switch_size switch_s_off zxb_g7271" id="t7271"></li>
            <li class="switch_size switch_s_off zxb_g7270" id="t7270"></li>
            <li class="switch_size switch_s_off zxb_g7269" id="t7269"></li>
            <li class="switch_size switch_s_off zxb_g7127" id="t7127"></li>
            <li class="switch_size switch_s_off zxb_g7267" id="t7267"></li>
            <li class="switch_size switch_s_off zxb_g7265" id="t7265"></li>
            <li class="switch_size switch_s_off zxb_g7264" id="t7264"></li>
            <li class="switch_size switch_s_off zxb_g7263" id="t7263"></li>
            <li class="switch_size switch_s_off zxb_g7262" id="t7262"></li>
            <li class="switch_size switch_s_off zxb_g7261" id="t7261"></li>
            <li class="switch_size switch_s_off zxb_g7260" id="t7260"></li>
            <li class="switch_size switch_s_off zxb_g7258" id="t7258"></li>
            <li class="switch_size switch_s_off zxb_g7257" id="t7257"></li>
            <li class="switch_size switch_s_off zxb_g7256" id="t7256"></li>
            <li class="switch_size switch_s_off zxb_g7255" id="t7255"></li>
            <li class="switch_size switch_s_off zxb_g7130" id="t7130"></li>
            <li class="switch_size switch_s_off zxb_g7131" id="t7131"></li>
            <!--2AA1-->
            <li class="w34 alarmico">
                <dt id="d34" onclick="circuitInfo(107,34);"></dt>
                <dd id="t34"></dd>
            </li>
            <!--2AA2-->
            <li class="w35 alarmico">
                <dt id="d35" onclick="circuitInfo(107,35);"></dt>
                <dd id="t35"></dd>
            </li>
            <!--2AA5_T1#楼偶数层办公层箱电源-->
            <li class="w38 alarmico">
                <dt id="d38" onclick="circuitInfo(107,38);"></dt>
                <dd id="t38"></dd>
            </li>
            <!--2AA5_T1#楼偶数层办公层箱电源-->
            <li class="w39 alarmico">
                <dt id="d39" onclick="circuitInfo(107,39);"></dt>
                <dd id="t39"></dd>
            </li>
            <!--2AA6-->
            <li class="w159 alarmico">
                <dt id="d159" onclick="circuitInfo(107,159);"></dt>
                <dd id="t159"></dd>
            </li>
            <!--2AA6-->
            <li class="w161 alarmico">
                <dt id="d161" onclick="circuitInfo(107,161);"></dt>
                <dd id="t161"></dd>
            </li>
            <!--2AA6-->
            <li class="w162 alarmico">
                <dt id="d162" onclick="circuitInfo(107,162);"></dt>
                <dd id="t162"></dd>
            </li>
            <!--2AA6-->
            <li class="w163 alarmico">
                <dt id="d163" onclick="circuitInfo(107,163);"></dt>
                <dd id="t163"></dd>
            </li>
            <!--2AA6-->
            <li class="w165 alarmico">
                <dt id="d165" onclick="circuitInfo(107,165);"></dt>
                <dd id="t165"></dd>
            </li>
            <!--2AA6-->
            <li class="w166 alarmico">
                <dt id="d166" onclick="circuitInfo(107,166);"></dt>
                <dd id="t166"></dd>
            </li>
            <!--2AA7-->
            <li class="w152 alarmico">
                <dt id="d152" onclick="circuitInfo(107,152);"></dt>
                <dd id="t152"></dd>
            </li>
            <!--2AA7-->
            <li class="w153 alarmico">
                <dt id="d153" onclick="circuitInfo(107,153);"></dt>
                <dd id="t153"></dd>
            </li>
            <!--2AA7-->
            <li class="w155 alarmico">
                <dt id="d155" onclick="circuitInfo(107,155);"></dt>
                <dd id="t155"></dd>
            </li>
            <!--2AA7-->
            <li class="w156 alarmico">
                <dt id="d156" onclick="circuitInfo(107,156);"></dt>
                <dd id="t156"></dd>
            </li>
            <!--2AA7-->
            <li class="w157 alarmico">
                <dt id="d157" onclick="circuitInfo(107,157);"></dt>
                <dd id="t157"></dd>
            </li>
            <!--2AA7-->
            <li class="w158 alarmico">
                <dt id="d158" onclick="circuitInfo(107,158);"></dt>
                <dd id="t158"></dd>
            </li>
            <!--2AA8-->
            <li class="w146 alarmico">
                <dt id="d146" onclick="circuitInfo(107,146);"></dt>
                <dd id="t146"></dd>
            </li>
            <!--2AA8-->
            <li class="w147 alarmico">
                <dt id="d147" onclick="circuitInfo(107,147);"></dt>
                <dd id="t147"></dd>
            </li>
            <!--2AA8-->
            <li class="w148 alarmico">
                <dt id="d148" onclick="circuitInfo(107,148);"></dt>
                <dd id="t148"></dd>
            </li>
            <!--2AA8-->
            <li class="w149 alarmico">
                <dt id="d149" onclick="circuitInfo(107,149);"></dt>
                <dd id="t149"></dd>
            </li>
            <!--2AA8-->
            <li class="w150 alarmico">
                <dt id="d150" onclick="circuitInfo(107,150);"></dt>
                <dd id="t150"></dd>
            </li>
            <!--2AA8-->
            <li class="w151 alarmico">
                <dt id="d151" onclick="circuitInfo(107,151);"></dt>
                <dd id="t151"></dd>
            </li>
            <!--2AA9-->
            <li class="w190 alarmico">
                <dt id="d190" onclick="circuitInfo(107,190);"></dt>
                <dd id="t190"></dd>
            </li>
            <!--2AA9-->
            <li class="w189 alarmico">
                <dt id="d189" onclick="circuitInfo(107,189);"></dt>
                <dd id="t189"></dd>
            </li>
            <!--2AA9-->
            <li class="w188 alarmico">
                <dt id="d188" onclick="circuitInfo(107,188);"></dt>
                <dd id="t188"></dd>
            </li>
            <!--2AA9-->
            <li class="w186 alarmico">
                <dt id="d186" onclick="circuitInfo(107,186);"></dt>
                <dd id="t186"></dd>
            </li>
            <!--2AA9-->
            <li class="w185 alarmico">
                <dt id="d185" onclick="circuitInfo(107,185);"></dt>
                <dd id="t185"></dd>
            </li>
            <!--2AA9-->
            <li class="w184 alarmico">
                <dt id="d184" onclick="circuitInfo(107,184);"></dt>
                <dd id="t184"></dd>
            </li>
            <!--2AA9-->
            <li class="w183 alarmico">
                <dt id="d183" onclick="circuitInfo(107,183);"></dt>
                <dd id="t183"></dd>
            </li>
            <!--2AA9-->
            <li class="w182 alarmico">
                <dt id="d182" onclick="circuitInfo(107,182);"></dt>
                <dd id="t182"></dd>
            </li>
            <!--2AA10-->
            <li class="w40 alarmico">
                <dt id="d40" onclick="circuitInfo(107,40);"></dt>
                <dd id="t40"></dd>
            </li>
            <!--2AA11-->
            <li class="w181 alarmico">
                <dt id="d181" onclick="circuitInfo(107,181);"></dt>
                <dd id="t181"></dd>
            </li>
            <!--2AA11-->
            <li class="w178 alarmico">
                <dt id="d178" onclick="circuitInfo(107,178);"></dt>
                <dd id="t178"></dd>
            </li>
            <!--2AA11-->
            <li class="w177 alarmico">
                <dt id="d177" onclick="circuitInfo(107,177);"></dt>
                <dd id="t177"></dd>
            </li>
            <!--2AA11-->
            <li class="w176 alarmico">
                <dt id="d176" onclick="circuitInfo(107,176);"></dt>
                <dd id="t176"></dd>
            </li>
            <!--2AA11-->
            <li class="w175 alarmico">
                <dt id="d175" onclick="circuitInfo(107,175);"></dt>
                <dd id="t175"></dd>
            </li>
            <!--2AA12-->
            <li class="w174 alarmico">
                <dt id="d174" onclick="circuitInfo(107,174);"></dt>
                <dd id="t174"></dd>
            </li>
            <!--2AA12-->
            <li class="w173 alarmico">
                <dt id="d173" onclick="circuitInfo(107,173);"></dt>
                <dd id="t173"></dd>
            </li>
            <!--2AA12-->
            <li class="w171 alarmico">
                <dt id="d171" onclick="circuitInfo(107,171);"></dt>
                <dd id="t171"></dd>
            </li>
            <!--2AA12-->
            <li class="w170 alarmico">
                <dt id="d170" onclick="circuitInfo(107,170);"></dt>
                <dd id="t170"></dd>
            </li>
            <!--2AA12-->
            <li class="w169 alarmico">
                <dt id="d169" onclick="circuitInfo(107,169);"></dt>
                <dd id="t169"></dd>
            </li>
            <!--2AA12-->
            <li class="w167 alarmico">
                <dt id="d167" onclick="circuitInfo(107,167);"></dt>
                <dd id="t167"></dd>
            </li>
            <!--2AA14-->
            <li class="w43 alarmico">
                <dt id="d43" onclick="circuitInfo(107,43);"></dt>
                <dd id="t43"></dd>
            </li>
            <!--2AA15-->
            <li class="w44 alarmico">
                <dt id="d44" onclick="circuitInfo(107,44);"></dt>
                <dd id="t44"></dd>
            </li>
            <li class="switch_size switch_s_off zxb_g7123" id="t7123"></li>
            <li class="switch_size switch_s_off zxb_g7232" id="t7232"></li>
            <li class="switch_size switch_s_off zxb_g7231" id="t7231"></li>
            <li class="switch_size switch_s_off zxb_g7241" id="t7241"></li>
            <li class="switch_size switch_s_off zxb_g7251" id="t7251"></li>
            <li class="switch_size switch_s_off zxb_g7247" id="t7247"></li>
            <li class="switch_size switch_s_off zxb_g7124" id="t7124"></li>
            <li class="switch_size switch_s_off zxb_g7274" id="t7274"></li>
            <li class="switch_size switch_s_off zxb_g7268" id="t7268"></li>
            <li class="switch_size switch_s_off zxb_g7266" id="t7266"></li>
            <li class="switch_size switch_s_off zxb_g7259" id="t7259"></li>
            <li class="switch_size switch_s_off zxb_g7254" id="t7254"></li>
            <li class="switch_size switch_s_off zxb_g7129" id="t7129"></li>
            <li class="switch_size switch_s_off zxb_g7128" id="t7128"></li>
            <li class="switch_size switch_s_off zxb_g7132" id="t7132"></li>
            <!--2AA3-->
            <li class="w36 alarmico">
                <dt id="d36" onclick="circuitInfo(107,36);"></dt>
                <dd id="t36"></dd>
            </li>
            <!--2AA4-->
            <li class="w37 alarmico">
                <dt id="d37" onclick="circuitInfo(107,37);"></dt>
                <dd id="t37"></dd>
            </li>
            <!--2AA6-->
            <li class="w160 alarmico">
                <dt id="d160" onclick="circuitInfo(107,160);"></dt>
                <dd id="t160"></dd>
            </li>
            <!--2AA6-->
            <li class="w164 alarmico">
                <dt id="d164" onclick="circuitInfo(107,164);"></dt>
                <dd id="t164"></dd>
            </li>
            <!--2AA16-->
            <li class="w45 alarmico">
                <dt id="d45" onclick="circuitInfo(107,45);"></dt>
                <dd id="t45"></dd>
            </li>
            <!--2AA13_T1#楼奇数层办公层箱电源-->
            <li class="w41 alarmico">
                <dt id="d41" onclick="circuitInfo(107,41);"></dt>
                <dd id="t41"></dd>
            </li>
            <!--2AA13_T1#楼奇数层办公层箱电源-->
            <li class="w42 alarmico">
                <dt id="d42" onclick="circuitInfo(107,42);"></dt>
                <dd id="t42"></dd>
            </li>
            <!--2AA12-->
            <li class="w168 alarmico">
                <dt id="d168" onclick="circuitInfo(107,168);"></dt>
                <dd id="t168"></dd>
            </li>
            <!--2AA12-->
            <li class="w172 alarmico">
                <dt id="d172" onclick="circuitInfo(107,172);"></dt>
                <dd id="t172"></dd>
            </li>
            <!--2AA11-->
            <li class="w179 alarmico">
                <dt id="d179" onclick="circuitInfo(107,179);"></dt>
                <dd id="t179"></dd>
            </li>
            <!--2AA11-->
            <li class="w180 alarmico">
                <dt id="d180" onclick="circuitInfo(107,180);"></dt>
                <dd id="t180"></dd>
            </li>
            <!--2AA9-->
            <li class="w187 alarmico">
                <dt id="d187" onclick="circuitInfo(107,187);"></dt>
                <dd id="t187"></dd>
            </li>
            <!--2AA8-->
            <li class="w145 alarmico">
                <dt id="d145" onclick="circuitInfo(107,145);"></dt>
                <dd id="t145"></dd>
            </li>
            <!--2AA8-->
            <li class="w144 alarmico">
                <dt id="d144" onclick="circuitInfo(107,144);"></dt>
                <dd id="t144"></dd>
            </li>
            <!--2AA7-->
            <li class="w154 alarmico">
                <dt id="d154" onclick="circuitInfo(107,154);"></dt>
                <dd id="t154"></dd>
            </li>

            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=3" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=3_61" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=3_62" class="page_size_pm">低压母线2段</a></li>
            <li class="tb_pageIIII"><span class="page_size_pm_no">低压母线3段</span></li>
            <li class="tb_pageV"><a href="/PDRInfo/OneGraph?id=3_64" class="page_size_pm">低压母线4段</a></li>

        </ul>
    </div>
    <script type="text/javascript">
        var pid = 3; var graphType = "low"; var OGdid = "34,35,38,39,159,161,162,163,165,166,152,153,155,156,157,158,146,147,148,149,150,151,190,189,188,186,185,184,183,182,40,181,178,177,176,175,174,173,171,170,169,167,43,44,36,37,160,164,45,41,42,168,172,179,180,187,145,144,154";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
