@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_5_3号分低压02</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu5_67.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p5">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g9850" id="t9850"></li>
            <li class="switch_size switch_s_off zxb_g9851" id="t9851"></li>
            <li class="switch_size switch_s_off zxb_g9852" id="t9852"></li>
            <li class="switch_size switch_s_off zxb_g9853" id="t9853"></li>
            <li class="switch_size switch_s_off zxb_g9854" id="t9854"></li>
            <li class="switch_size switch_s_off zxb_g9855" id="t9855"></li>
            <li class="switch_size switch_s_off zxb_g9856" id="t9856"></li>
            <li class="switch_size switch_s_off zxb_g9857" id="t9857"></li>
            <li class="switch_size switch_s_off zxb_g9858" id="t9858"></li>
            <li class="switch_size switch_s_off zxb_g9859" id="t9859"></li>
            <li class="switch_size switch_s_off zxb_g9860" id="t9860"></li>
            <li class="switch_size switch_s_off zxb_g9861" id="t9861"></li>
            <li class="switch_size switch_s_off zxb_g9862" id="t9862"></li>
            <li class="switch_size switch_s_off zxb_g9863" id="t9863"></li>
            <li class="switch_size switch_s_off zxb_g9864" id="t9864"></li>
            <li class="switch_size switch_s_off zxb_g9865" id="t9865"></li>
            <li class="switch_size switch_s_off zxb_g9792" id="t9792"></li>
            <li class="switch_size switch_s_off zxb_g9832" id="t9832"></li>
            <li class="switch_size switch_s_off zxb_g9831" id="t9831"></li>
            <li class="switch_size switch_s_off zxb_g9830" id="t9830"></li>
            <li class="switch_size switch_s_off zxb_g9869" id="t9869"></li>
            <li class="switch_size switch_s_off zxb_g9868" id="t9868"></li>
            <li class="switch_size switch_s_off zxb_g9867" id="t9867"></li>
            <li class="switch_size switch_s_off zxb_g9866" id="t9866"></li>
            <li class="switch_size switch_s_off zxb_g9873" id="t9873"></li>
            <li class="switch_size switch_s_off zxb_g9874" id="t9874"></li>
            <li class="switch_size switch_s_off zxb_g9875" id="t9875"></li>
            <li class="switch_size switch_s_off zxb_g9876" id="t9876"></li>
            <li class="switch_size switch_s_off zxb_g9877" id="t9877"></li>
            <li class="switch_size switch_s_off zxb_g9878" id="t9878"></li>
            <li class="switch_size switch_s_off zxb_g9879" id="t9879"></li>
            <li class="switch_size switch_s_off zxb_g9880" id="t9880"></li>
            <li class="switch_size switch_s_off zxb_g9881" id="t9881"></li>
            <li class="switch_size switch_s_off zxb_g9882" id="t9882"></li>
            <li class="switch_size switch_s_off zxb_g9883" id="t9883"></li>
            <li class="switch_size switch_s_off zxb_g9884" id="t9884"></li>
            <li class="switch_size switch_s_off zxb_g9885" id="t9885"></li>
            <li class="switch_size switch_s_off zxb_g9886" id="t9886"></li>
            <li class="switch_size switch_s_off zxb_g9887" id="t9887"></li>
            <li class="switch_size switch_s_off zxb_g9888" id="t9888"></li>
            <li class="switch_size switch_s_off zxb_g9790" id="t9790"></li>
            <li class="switch_size switch_s_off zxb_g9791" id="t9791"></li>
            <li class="other_g43" id="other_g43"></li>
            <li class="switch_size switch_s_off zxb_g9789" id="t9789"></li>
            <!--AA15-->
            <li class="w88 alarmico">
                <dt id="d88" onclick="circuitInfo(107,88);"></dt>
                <dd id="t88"></dd>
            </li>
            <!--AA15-->
            <li class="w89 alarmico">
                <dt id="d89" onclick="circuitInfo(107,89);"></dt>
                <dd id="t89"></dd>
            </li>
            <!--AA15-->
            <li class="w90 alarmico">
                <dt id="d90" onclick="circuitInfo(107,90);"></dt>
                <dd id="t90"></dd>
            </li>
            <!--AA15-->
            <li class="w91 alarmico">
                <dt id="d91" onclick="circuitInfo(107,91);"></dt>
                <dd id="t91"></dd>
            </li>
            <!--AA15-->
            <li class="w92 alarmico">
                <dt id="d92" onclick="circuitInfo(107,92);"></dt>
                <dd id="t92"></dd>
            </li>
            <!--AA15-->
            <li class="w93 alarmico">
                <dt id="d93" onclick="circuitInfo(107,93);"></dt>
                <dd id="t93"></dd>
            </li>
            <!--AA15-->
            <li class="w94 alarmico">
                <dt id="d94" onclick="circuitInfo(107,94);"></dt>
                <dd id="t94"></dd>
            </li>
            <!--AA14-->
            <li class="w14 alarmico">
                <dt id="d14" onclick="circuitInfo(107,14);"></dt>
                <dd id="t14"></dd>
            </li>
            <!--AA13-->
            <li class="w87 alarmico">
                <dt id="d87" onclick="circuitInfo(107,87);"></dt>
                <dd id="t87"></dd>
            </li>
            <!--AA13-->
            <li class="w86 alarmico">
                <dt id="d86" onclick="circuitInfo(107,86);"></dt>
                <dd id="t86"></dd>
            </li>
            <!--AA13-->
            <li class="w85 alarmico">
                <dt id="d85" onclick="circuitInfo(107,85);"></dt>
                <dd id="t85"></dd>
            </li>
            <!--AA13-->
            <li class="w84 alarmico">
                <dt id="d84" onclick="circuitInfo(107,84);"></dt>
                <dd id="t84"></dd>
            </li>
            <!--AA13-->
            <li class="w83 alarmico">
                <dt id="d83" onclick="circuitInfo(107,83);"></dt>
                <dd id="t83"></dd>
            </li>
            <!--AA13-->
            <li class="w82 alarmico">
                <dt id="d82" onclick="circuitInfo(107,82);"></dt>
                <dd id="t82"></dd>
            </li>
            <!--AA13-->
            <li class="w81 alarmico">
                <dt id="d81" onclick="circuitInfo(107,81);"></dt>
                <dd id="t81"></dd>
            </li>
            <!--AA13-->
            <li class="w80 alarmico">
                <dt id="d80" onclick="circuitInfo(107,80);"></dt>
                <dd id="t80"></dd>
            </li>
            <!--AA12-->
            <li class="w79 alarmico">
                <dt id="d79" onclick="circuitInfo(107,79);"></dt>
                <dd id="t79"></dd>
            </li>
            <!--AA12-->
            <li class="w78 alarmico">
                <dt id="d78" onclick="circuitInfo(107,78);"></dt>
                <dd id="t78"></dd>
            </li>
            <!--AA12-->
            <li class="w77 alarmico">
                <dt id="d77" onclick="circuitInfo(107,77);"></dt>
                <dd id="t77"></dd>
            </li>
            <!--AA12-->
            <li class="w76 alarmico">
                <dt id="d76" onclick="circuitInfo(107,76);"></dt>
                <dd id="t76"></dd>
            </li>
            <!--AA12-->
            <li class="w75 alarmico">
                <dt id="d75" onclick="circuitInfo(107,75);"></dt>
                <dd id="t75"></dd>
            </li>
            <!--AA12-->
            <li class="w74 alarmico">
                <dt id="d74" onclick="circuitInfo(107,74);"></dt>
                <dd id="t74"></dd>
            </li>
            <!--AA12-->
            <li class="w73 alarmico">
                <dt id="d73" onclick="circuitInfo(107,73);"></dt>
                <dd id="t73"></dd>
            </li>
            <!--AA12-->
            <li class="w72 alarmico">
                <dt id="d72" onclick="circuitInfo(107,72);"></dt>
                <dd id="t72"></dd>
            </li>
            <!--AA20-->
            <li class="w10 alarmico">
                <dt id="d10" onclick="circuitInfo(107,10);"></dt>
                <dd id="t10"></dd>
            </li>
            <!--AA19-->
            <li class="w11 alarmico">
                <dt id="d11" onclick="circuitInfo(107,11);"></dt>
                <dd id="t11"></dd>
            </li>
            <!--AA18_T4#楼奇数层办公层箱电源-->
            <li class="w13 alarmico">
                <dt id="d13" onclick="circuitInfo(107,13);"></dt>
                <dd id="t13"></dd>
            </li>
            <!--AA18_T4#楼奇数层办公层箱电源-->
            <li class="w12 alarmico">
                <dt id="d12" onclick="circuitInfo(107,12);"></dt>
                <dd id="t12"></dd>
            </li>
            <!--AA17-->
            <li class="w110 alarmico">
                <dt id="d110" onclick="circuitInfo(107,110);"></dt>
                <dd id="t110"></dd>
            </li>
            <!--AA17-->
            <li class="w109 alarmico">
                <dt id="d109" onclick="circuitInfo(107,109);"></dt>
                <dd id="t109"></dd>
            </li>
            <!--AA17-->
            <li class="w108 alarmico">
                <dt id="d108" onclick="circuitInfo(107,108);"></dt>
                <dd id="t108"></dd>
            </li>
            <!--AA17-->
            <li class="w107 alarmico">
                <dt id="d107" onclick="circuitInfo(107,107);"></dt>
                <dd id="t107"></dd>
            </li>
            <!--AA17-->
            <li class="w106 alarmico">
                <dt id="d106" onclick="circuitInfo(107,106);"></dt>
                <dd id="t106"></dd>
            </li>
            <!--AA17-->
            <li class="w105 alarmico">
                <dt id="d105" onclick="circuitInfo(107,105);"></dt>
                <dd id="t105"></dd>
            </li>
            <!--AA17-->
            <li class="w104 alarmico">
                <dt id="d104" onclick="circuitInfo(107,104);"></dt>
                <dd id="t104"></dd>
            </li>
            <!--AA17-->
            <li class="w103 alarmico">
                <dt id="d103" onclick="circuitInfo(107,103);"></dt>
                <dd id="t103"></dd>
            </li>
            <!--AA16-->
            <li class="w102 alarmico">
                <dt id="d102" onclick="circuitInfo(107,102);"></dt>
                <dd id="t102"></dd>
            </li>
            <!--AA16-->
            <li class="w101 alarmico">
                <dt id="d101" onclick="circuitInfo(107,101);"></dt>
                <dd id="t101"></dd>
            </li>
            <!--AA16-->
            <li class="w100 alarmico">
                <dt id="d100" onclick="circuitInfo(107,100);"></dt>
                <dd id="t100"></dd>
            </li>
            <!--AA16-->
            <li class="w99 alarmico">
                <dt id="d99" onclick="circuitInfo(107,99);"></dt>
                <dd id="t99"></dd>
            </li>
            <!--AA16-->
            <li class="w98 alarmico">
                <dt id="d98" onclick="circuitInfo(107,98);"></dt>
                <dd id="t98"></dd>
            </li>
            <!--AA16-->
            <li class="w97 alarmico">
                <dt id="d97" onclick="circuitInfo(107,97);"></dt>
                <dd id="t97"></dd>
            </li>
            <!--AA16-->
            <li class="w96 alarmico">
                <dt id="d96" onclick="circuitInfo(107,96);"></dt>
                <dd id="t96"></dd>
            </li>
            <!--AA16-->
            <li class="w95 alarmico">
                <dt id="d95" onclick="circuitInfo(107,95);"></dt>
                <dd id="t95"></dd>
            </li>
            <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=5" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=5_66" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><span class="page_size_pm_no">低压母线2段</span></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 5; var graphType = "low"; var OGdid = "88,89,90,91,92,93,94,14,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,10,11,13,12,110,109,108,107,106,105,104,103,102,101,100,99,98,97,96,95";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
