@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图_3_1号分低压04</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu3_64.css"></link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">




    <div class="ycmain page_content">
        <ul class="alertmenu" id="p3">
            <li class="other_g0" id="other_g0"></li>
            <li class="switch_size switch_s_off zxb_g7115" id="t7115"></li>
            <li class="switch_size switch_s_off zxb_g7116" id="t7116"></li>
            <li class="switch_size switch_s_off zxb_g7117" id="t7117"></li>
            <li class="switch_size switch_s_off zxb_g7278" id="t7278"></li>
            <li class="switch_size switch_s_off zxb_g7279" id="t7279"></li>
            <li class="switch_size switch_s_off zxb_g7280" id="t7280"></li>
            <li class="switch_size switch_s_off zxb_g7281" id="t7281"></li>
            <li class="switch_size switch_s_off zxb_g7282" id="t7282"></li>
            <li class="switch_size switch_s_off zxb_g7283" id="t7283"></li>
            <li class="switch_size switch_s_off zxb_g7284" id="t7284"></li>
            <li class="switch_size switch_s_off zxb_g7285" id="t7285"></li>
            <li class="switch_size switch_s_off zxb_g7286" id="t7286"></li>
            <li class="switch_size switch_s_off zxb_g7287" id="t7287"></li>
            <li class="switch_size switch_s_off zxb_g7288" id="t7288"></li>
            <li class="switch_size switch_s_off zxb_g7289" id="t7289"></li>
            <li class="switch_size switch_s_off zxb_g7290" id="t7290"></li>
            <li class="switch_size switch_s_off zxb_g7291" id="t7291"></li>
            <li class="switch_size switch_s_off zxb_g7292" id="t7292"></li>
            <li class="switch_size switch_s_off zxb_g7293" id="t7293"></li>
            <li class="switch_size switch_s_off zxb_g7294" id="t7294"></li>
            <li class="switch_size switch_s_off zxb_g7215" id="t7215"></li>
            <li class="switch_size switch_s_off zxb_g7216" id="t7216"></li>
            <li class="switch_size switch_s_off zxb_g7217" id="t7217"></li>
            <li class="switch_size switch_s_off zxb_g7218" id="t7218"></li>
            <li class="switch_size switch_s_off zxb_g7219" id="t7219"></li>
            <li class="switch_size switch_s_off zxb_g7220" id="t7220"></li>
            <li class="switch_size switch_s_off zxb_g7221" id="t7221"></li>
            <li class="switch_size switch_s_off zxb_g7222" id="t7222"></li>
            <li class="switch_size switch_s_off zxb_g7223" id="t7223"></li>
            <li class="switch_size switch_s_off zxb_g7224" id="t7224"></li>
            <li class="switch_size switch_s_off zxb_g7225" id="t7225"></li>
            <li class="switch_size switch_s_off zxb_g7226" id="t7226"></li>
            <li class="switch_size switch_s_off zxb_g7227" id="t7227"></li>
            <li class="switch_size switch_s_off zxb_g7228" id="t7228"></li>
            <li class="switch_size switch_s_off zxb_g7229" id="t7229"></li>
            <li class="switch_size switch_s_off zxb_g7230" id="t7230"></li>
            <li class="switch_size switch_s_off zxb_g7302" id="t7302"></li>
            <li class="switch_size switch_s_off zxb_g7301" id="t7301"></li>
            <li class="switch_size switch_s_off zxb_g7300" id="t7300"></li>
            <li class="switch_size switch_s_off zxb_g7299" id="t7299"></li>
            <li class="switch_size switch_s_off zxb_g7298" id="t7298"></li>
            <li class="switch_size switch_s_off zxb_g7297" id="t7297"></li>
            <li class="switch_size switch_s_off zxb_g7296" id="t7296"></li>
            <li class="switch_size switch_s_off zxb_g7295" id="t7295"></li>
            <li class="switch_size switch_s_off zxb_g7310" id="t7310"></li>
            <li class="switch_size switch_s_off zxb_g7309" id="t7309"></li>
            <li class="switch_size switch_s_off zxb_g7308" id="t7308"></li>
            <li class="switch_size switch_s_off zxb_g7307" id="t7307"></li>
            <li class="switch_size switch_s_off zxb_g7306" id="t7306"></li>
            <li class="switch_size switch_s_off zxb_g7305" id="t7305"></li>
            <li class="switch_size switch_s_off zxb_g7304" id="t7304"></li>
            <li class="switch_size switch_s_off zxb_g7303" id="t7303"></li>
            <li class="switch_size switch_s_off zxb_g7118" id="t7118"></li>
            <li class="switch_size switch_s_off zxb_g7319" id="t7319"></li>
            <li class="switch_size switch_s_off zxb_g7318" id="t7318"></li>
            <li class="switch_size switch_s_off zxb_g7317" id="t7317"></li>
            <li class="switch_size switch_s_off zxb_g7316" id="t7316"></li>
            <li class="switch_size switch_s_off zxb_g7315" id="t7315"></li>
            <li class="switch_size switch_s_off zxb_g7314" id="t7314"></li>
            <li class="switch_size switch_s_off zxb_g7313" id="t7313"></li>
            <li class="switch_size switch_s_off zxb_g7312" id="t7312"></li>
            <li class="switch_size switch_s_off zxb_g7311" id="t7311"></li>
            <li class="switch_size switch_s_off zxb_g7327" id="t7327"></li>
            <li class="switch_size switch_s_off zxb_g7326" id="t7326"></li>
            <li class="switch_size switch_s_off zxb_g7325" id="t7325"></li>
            <li class="switch_size switch_s_off zxb_g7324" id="t7324"></li>
            <li class="switch_size switch_s_off zxb_g7323" id="t7323"></li>
            <li class="switch_size switch_s_off zxb_g7322" id="t7322"></li>
            <li class="switch_size switch_s_off zxb_g7321" id="t7321"></li>
            <li class="switch_size switch_s_off zxb_g7320" id="t7320"></li>
            <li class="switch_size switch_s_off zxb_g7119" id="t7119"></li>
            <li class="switch_size switch_s_off zxb_g7120" id="t7120"></li>
            <!--3AA1-->
            <li class="w28 alarmico">
                <dt id="d28" onclick="circuitInfo(107,28);"></dt>
                <dd id="t28"></dd>
            </li>
            <!--3AA2-->
            <li class="w29 alarmico">
                <dt id="d29" onclick="circuitInfo(107,29);"></dt>
                <dd id="t29"></dd>
            </li>
            <!--3AA3-->
            <li class="w30 alarmico">
                <dt id="d30" onclick="circuitInfo(107,30);"></dt>
                <dd id="t30"></dd>
            </li>
            <!--3AA4-->
            <li class="w191 alarmico">
                <dt id="d191" onclick="circuitInfo(107,191);"></dt>
                <dd id="t191"></dd>
            </li>
            <!--3AA4-->
            <li class="w192 alarmico">
                <dt id="d192" onclick="circuitInfo(107,192);"></dt>
                <dd id="t192"></dd>
            </li>
            <!--3AA4-->
            <li class="w193 alarmico">
                <dt id="d193" onclick="circuitInfo(107,193);"></dt>
                <dd id="t193"></dd>
            </li>
            <!--3AA4-->
            <li class="w194 alarmico">
                <dt id="d194" onclick="circuitInfo(107,194);"></dt>
                <dd id="t194"></dd>
            </li>
            <!--3AA4-->
            <li class="w195 alarmico">
                <dt id="d195" onclick="circuitInfo(107,195);"></dt>
                <dd id="t195"></dd>
            </li>
            <!--3AA4-->
            <li class="w196 alarmico">
                <dt id="d196" onclick="circuitInfo(107,196);"></dt>
                <dd id="t196"></dd>
            </li>
            <!--3AA4-->
            <li class="w197 alarmico">
                <dt id="d197" onclick="circuitInfo(107,197);"></dt>
                <dd id="t197"></dd>
            </li>
            <!--3AA4-->
            <li class="w198 alarmico">
                <dt id="d198" onclick="circuitInfo(107,198);"></dt>
                <dd id="t198"></dd>
            </li>
            <!--3AA5-->
            <li class="w199 alarmico">
                <dt id="d199" onclick="circuitInfo(107,199);"></dt>
                <dd id="t199"></dd>
            </li>
            <!--3AA5-->
            <li class="w200 alarmico">
                <dt id="d200" onclick="circuitInfo(107,200);"></dt>
                <dd id="t200"></dd>
            </li>
            <!--3AA5-->
            <li class="w201 alarmico">
                <dt id="d201" onclick="circuitInfo(107,201);"></dt>
                <dd id="t201"></dd>
            </li>
            <!--3AA5-->
            <li class="w202 alarmico">
                <dt id="d202" onclick="circuitInfo(107,202);"></dt>
                <dd id="t202"></dd>
            </li>
            <!--3AA5-->
            <li class="w203 alarmico">
                <dt id="d203" onclick="circuitInfo(107,203);"></dt>
                <dd id="t203"></dd>
            </li>
            <!--3AA5-->
            <li class="w204 alarmico">
                <dt id="d204" onclick="circuitInfo(107,204);"></dt>
                <dd id="t204"></dd>
            </li>
            <!--3AA5-->
            <li class="w205 alarmico">
                <dt id="d205" onclick="circuitInfo(107,205);"></dt>
                <dd id="t205"></dd>
            </li>
            <!--3AA5-->
            <li class="w206 alarmico">
                <dt id="d206" onclick="circuitInfo(107,206);"></dt>
                <dd id="t206"></dd>
            </li>
            <!--3AA5-->
            <li class="w207 alarmico">
                <dt id="d207" onclick="circuitInfo(107,207);"></dt>
                <dd id="t207"></dd>
            </li>
            <!--3AA6-->
            <li class="w128 alarmico">
                <dt id="d128" onclick="circuitInfo(107,128);"></dt>
                <dd id="t128"></dd>
            </li>
            <!--3AA6-->
            <li class="w129 alarmico">
                <dt id="d129" onclick="circuitInfo(107,129);"></dt>
                <dd id="t129"></dd>
            </li>
            <!--3AA6-->
            <li class="w130 alarmico">
                <dt id="d130" onclick="circuitInfo(107,130);"></dt>
                <dd id="t130"></dd>
            </li>
            <!--3AA6-->
            <li class="w131 alarmico">
                <dt id="d131" onclick="circuitInfo(107,131);"></dt>
                <dd id="t131"></dd>
            </li>
            <!--3AA6-->
            <li class="w132 alarmico">
                <dt id="d132" onclick="circuitInfo(107,132);"></dt>
                <dd id="t132"></dd>
            </li>
            <!--3AA6-->
            <li class="w133 alarmico">
                <dt id="d133" onclick="circuitInfo(107,133);"></dt>
                <dd id="t133"></dd>
            </li>
            <!--3AA6-->
            <li class="w134 alarmico">
                <dt id="d134" onclick="circuitInfo(107,134);"></dt>
                <dd id="t134"></dd>
            </li>
            <!--3AA6-->
            <li class="w135 alarmico">
                <dt id="d135" onclick="circuitInfo(107,135);"></dt>
                <dd id="t135"></dd>
            </li>
            <!--3AA7-->
            <li class="w137 alarmico">
                <dt id="d137" onclick="circuitInfo(107,137);"></dt>
                <dd id="t137"></dd>
            </li>
            <!--3AA7-->
            <li class="w136 alarmico">
                <dt id="d136" onclick="circuitInfo(107,136);"></dt>
                <dd id="t136"></dd>
            </li>
            <!--3AA7-->
            <li class="w138 alarmico">
                <dt id="d138" onclick="circuitInfo(107,138);"></dt>
                <dd id="t138"></dd>
            </li>
            <!--3AA7-->
            <li class="w139 alarmico">
                <dt id="d139" onclick="circuitInfo(107,139);"></dt>
                <dd id="t139"></dd>
            </li>
            <!--3AA7-->
            <li class="w140 alarmico">
                <dt id="d140" onclick="circuitInfo(107,140);"></dt>
                <dd id="t140"></dd>
            </li>
            <!--3AA7-->
            <li class="w141 alarmico">
                <dt id="d141" onclick="circuitInfo(107,141);"></dt>
                <dd id="t141"></dd>
            </li>
            <!--3AA7-->
            <li class="w142 alarmico">
                <dt id="d142" onclick="circuitInfo(107,142);"></dt>
                <dd id="t142"></dd>
            </li>
            <!--3AA7-->
            <li class="w143 alarmico">
                <dt id="d143" onclick="circuitInfo(107,143);"></dt>
                <dd id="t143"></dd>
            </li>
            <!--3AA8-->
            <li class="w215 alarmico">
                <dt id="d215" onclick="circuitInfo(107,215);"></dt>
                <dd id="t215"></dd>
            </li>
            <!--3AA8-->
            <li class="w214 alarmico">
                <dt id="d214" onclick="circuitInfo(107,214);"></dt>
                <dd id="t214"></dd>
            </li>
            <!--3AA8-->
            <li class="w213 alarmico">
                <dt id="d213" onclick="circuitInfo(107,213);"></dt>
                <dd id="t213"></dd>
            </li>
            <!--3AA8-->
            <li class="w212 alarmico">
                <dt id="d212" onclick="circuitInfo(107,212);"></dt>
                <dd id="t212"></dd>
            </li>
            <!--3AA8-->
            <li class="w211 alarmico">
                <dt id="d211" onclick="circuitInfo(107,211);"></dt>
                <dd id="t211"></dd>
            </li>
            <!--3AA8-->
            <li class="w210 alarmico">
                <dt id="d210" onclick="circuitInfo(107,210);"></dt>
                <dd id="t210"></dd>
            </li>
            <!--3AA8-->
            <li class="w209 alarmico">
                <dt id="d209" onclick="circuitInfo(107,209);"></dt>
                <dd id="t209"></dd>
            </li>
            <!--3AA8-->
            <li class="w208 alarmico">
                <dt id="d208" onclick="circuitInfo(107,208);"></dt>
                <dd id="t208"></dd>
            </li>
            <!--3AA9-->
            <li class="w223 alarmico">
                <dt id="d223" onclick="circuitInfo(107,223);"></dt>
                <dd id="t223"></dd>
            </li>
            <!--3AA9-->
            <li class="w222 alarmico">
                <dt id="d222" onclick="circuitInfo(107,222);"></dt>
                <dd id="t222"></dd>
            </li>
            <!--3AA9-->
            <li class="w221 alarmico">
                <dt id="d221" onclick="circuitInfo(107,221);"></dt>
                <dd id="t221"></dd>
            </li>
            <!--3AA9-->
            <li class="w220 alarmico">
                <dt id="d220" onclick="circuitInfo(107,220);"></dt>
                <dd id="t220"></dd>
            </li>
            <!--3AA9-->
            <li class="w219 alarmico">
                <dt id="d219" onclick="circuitInfo(107,219);"></dt>
                <dd id="t219"></dd>
            </li>
            <!--3AA9-->
            <li class="w218 alarmico">
                <dt id="d218" onclick="circuitInfo(107,218);"></dt>
                <dd id="t218"></dd>
            </li>
            <!--3AA9-->
            <li class="w217 alarmico">
                <dt id="d217" onclick="circuitInfo(107,217);"></dt>
                <dd id="t217"></dd>
            </li>
            <!--3AA9-->
            <li class="w216 alarmico">
                <dt id="d216" onclick="circuitInfo(107,216);"></dt>
                <dd id="t216"></dd>
            </li>
            <!--3AA10-->
            <li class="w31 alarmico">
                <dt id="d31" onclick="circuitInfo(107,31);"></dt>
                <dd id="t31"></dd>
            </li>
            <!--3AA11-->
            <li class="w232 alarmico">
                <dt id="d232" onclick="circuitInfo(107,232);"></dt>
                <dd id="t232"></dd>
            </li>
            <!--3AA11-->
            <li class="w231 alarmico">
                <dt id="d231" onclick="circuitInfo(107,231);"></dt>
                <dd id="t231"></dd>
            </li>
            <!--3AA11-->
            <li class="w230 alarmico">
                <dt id="d230" onclick="circuitInfo(107,230);"></dt>
                <dd id="t230"></dd>
            </li>
            <!--3AA11-->
            <li class="w229 alarmico">
                <dt id="d229" onclick="circuitInfo(107,229);"></dt>
                <dd id="t229"></dd>
            </li>
            <!--3AA11-->
            <li class="w228 alarmico">
                <dt id="d228" onclick="circuitInfo(107,228);"></dt>
                <dd id="t228"></dd>
            </li>
            <!--3AA11-->
            <li class="w227 alarmico">
                <dt id="d227" onclick="circuitInfo(107,227);"></dt>
                <dd id="t227"></dd>
            </li>
            <!--3AA11-->
            <li class="w226 alarmico">
                <dt id="d226" onclick="circuitInfo(107,226);"></dt>
                <dd id="t226"></dd>
            </li>
            <!--3AA11-->
            <li class="w225 alarmico">
                <dt id="d225" onclick="circuitInfo(107,225);"></dt>
                <dd id="t225"></dd>
            </li>
            <!--3AA11-->
            <li class="w224 alarmico">
                <dt id="d224" onclick="circuitInfo(107,224);"></dt>
                <dd id="t224"></dd>
            </li>
            <!--3AA12-->
            <li class="w240 alarmico">
                <dt id="d240" onclick="circuitInfo(107,240);"></dt>
                <dd id="t240"></dd>
            </li>
            <!--3AA12-->
            <li class="w239 alarmico">
                <dt id="d239" onclick="circuitInfo(107,239);"></dt>
                <dd id="t239"></dd>
            </li>
            <!--3AA12-->
            <li class="w238 alarmico">
                <dt id="d238" onclick="circuitInfo(107,238);"></dt>
                <dd id="t238"></dd>
            </li>
            <!--3AA12-->
            <li class="w237 alarmico">
                <dt id="d237" onclick="circuitInfo(107,237);"></dt>
                <dd id="t237"></dd>
            </li>
            <!--3AA12-->
            <li class="w236 alarmico">
                <dt id="d236" onclick="circuitInfo(107,236);"></dt>
                <dd id="t236"></dd>
            </li>
            <!--3AA12-->
            <li class="w235 alarmico">
                <dt id="d235" onclick="circuitInfo(107,235);"></dt>
                <dd id="t235"></dd>
            </li>
            <!--3AA12-->
            <li class="w234 alarmico">
                <dt id="d234" onclick="circuitInfo(107,234);"></dt>
                <dd id="t234"></dd>
            </li>
            <!--3AA12-->
            <li class="w233 alarmico">
                <dt id="d233" onclick="circuitInfo(107,233);"></dt>
                <dd id="t233"></dd>
            </li>
            <!--3AA13-->
            <li class="w32 alarmico">
                <dt id="d32" onclick="circuitInfo(107,32);"></dt>
                <dd id="t32"></dd>
            </li>
            <!--3AA14-->
            <li class="w33 alarmico">
                <dt id="d33" onclick="circuitInfo(107,33);"></dt>
                <dd id="t33"></dd>
            </li>

             <li class="tb_pageI"><a href="/PDRInfo/OneGraph?id=3" class="page_size_pm">高压</a></li>
            <li class="tb_pageII"><a href="/PDRInfo/OneGraph?id=3_61" class="page_size_pm">低压母线1段</a></li>
            <li class="tb_pageIII"><a href="/PDRInfo/OneGraph?id=3_62" class="page_size_pm">低压母线2段</a></li>
            <li class="tb_pageIIII"><a href="/PDRInfo/OneGraph?id=3_63" class="page_size_pm">低压母线3段</a></li>
            <li class="tb_pageV"><span class="page_size_pm_no">低压母线4段</span></li>
        </ul>
    </div>
    <script type="text/javascript">
        var pid = 3; var graphType = "low"; var OGdid = "28,29,30,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,128,129,130,131,132,133,134,135,137,136,138,139,140,141,142,143,215,214,213,212,211,210,209,208,223,222,221,220,219,218,217,216,31,232,231,230,229,228,227,226,225,224,240,239,238,237,236,235,234,233,32,33";
    </script>
</body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
