@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>PlanInfo163</title>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/planpub.css"></link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/pingmiantu163.css"></link>

</head>
<body class="tabbg6">

    <div class="pmmain plancontent" id="p163">
        <div class="pic2" id="d511" onclick="deviceinfo(511);"></div>
        <div class="pic3 defaultcursor"></div>
        <div class="pic5 defaultcursor"></div>
        <div class="pic6 defaultcursor"></div>
        <div class="pic7 defaultcursor"></div>
        <div class="pic8 defaultcursor"></div>
        <div class="pic9 defaultcursor"></div>
        <div class="pic10 defaultcursor"></div>
        <div class="pic11" id="d500" onclick="deviceinfo(500);"></div>
        <div class="pic12 defaultcursor"></div>
        <div class="pic13 defaultcursor"></div>
        <div class="pic14 defaultcursor"></div>
        <div class="pic15 defaultcursor"></div>
        <div class="pic16 defaultcursor"></div>
        <div class="pic17" id="d506" onclick="deviceinfo(506);"></div>
        <div class="pic18 defaultcursor"></div>
        <div class="pic19 defaultcursor"></div>
        <div class="pic20 defaultcursor"></div>
        <div class="pic21 defaultcursor"></div>
        <div class="pz_pmt label22 defaultcursor">3#变压器</div>
        <div class="pz_pmt label23 defaultcursor">1号变压器</div>
        <div class="pz_pmt label24 defaultcursor">2#变压器</div>
        <div class="pz_pmt label25 defaultcursor">AL101</div>
        <div class="pz_pmt label26 defaultcursor">AL102</div>
        <div class="pz_pmt label27 defaultcursor">AL103</div>
        <div class="pz_pmt label28 defaultcursor">AL104</div>
        <div class="pz_pmt label29 defaultcursor">AL105</div>
        <div class="pz_pmt label30 defaultcursor">AL106</div>
        <div class="pz_pmt label31 defaultcursor">AL201</div>
        <div class="pz_pmt label32 defaultcursor">AL202</div>
        <div class="pz_pmt label33 defaultcursor">AL203</div>
        <div class="pz_pmt label34 defaultcursor">AL204</div>
        <div class="pz_pmt label35 defaultcursor">AL205</div>
    </div>
    <div class="station_room_monitor" id="contentmain"></div>
</body>
</html>
<script type="text/javascript">
    var pid = $.cookie('cookiepid');
</script>
<script src="~/Content/UserJS/lbywpln._jm.js" type="text/javascript"></script>
