@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlanInfo137</title>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/planpub.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/pingmiantu137.css" />
</head>
<body class="tabbg6">
    <!--福州二医院运维项目 1号楼配电房 平面图-->
    <div class="pmmain plancontent" id="p137">
        <!--TM1_2000kVA变-->
          <div class="fzyy01_TM1" id="d897" onclick="deviceinfo(897);"></div>
          <!--柜体1AA~11AA 左~右 11p-->
          <div class="fzyy01_1AA" id="d1016" onclick="deviceinfo(1016);"></div>
          <div class="fzyy01_2AA defaultcursor"></div>
          <div class="fzyy01_3AA defaultcursor"></div>
          <div class="fzyy01_4AA defaultcursor"></div>
          <div class="fzyy01_5AA defaultcursor"></div>
          <div class="fzyy01_6AA defaultcursor"></div>
          <div class="fzyy01_7AA defaultcursor"></div>
          <div class="fzyy01_8AA defaultcursor"></div>
          <div class="fzyy01_9AA defaultcursor"></div>
          <div class="fzyy01_10AA defaultcursor"></div>
          <div class="fzyy01_11AA defaultcursor"></div>
          <!--TM2_2000kVA变-->
          <div class="fzyy01_TM2" id="d898" onclick="deviceinfo(898);"></div>
          <!--柜体21AA~32AA 左~右 12p-->
          <div class="fzyy01_21AA" id="d1017" onclick="deviceinfo(1017);"></div>
          <div class="fzyy01_22AA defaultcursor"></div>
          <div class="fzyy01_23AA defaultcursor"></div>
          <div class="fzyy01_24AA defaultcursor"></div>
          <div class="fzyy01_25AA defaultcursor"></div>
          <div class="fzyy01_26AA defaultcursor"></div>
          <div class="fzyy01_27AA defaultcursor"></div>
          <div class="fzyy01_28AA defaultcursor"></div>
          <div class="fzyy01_29AA defaultcursor"></div>
          <div class="fzyy01_30AA defaultcursor"></div>
          <div class="fzyy01_31AA defaultcursor"></div>
          <div class="fzyy01_32AA defaultcursor"></div>
          <!--高压配电房背景-->
          <span class="fzyy02_bg defaultcursor"></span>
          <!--柜体6AH~26AH 左~右 14p-->
          <div class="fzyy02_6AH defaultcursor"></div>
          <div class="fzyy02_5AH defaultcursor"></div>
          <div class="fzyy02_4AH defaultcursor"></div>
          <div class="fzyy02_3AH defaultcursor"></div>
          <div class="fzyy02_2AH defaultcursor"></div>
          <div class="fzyy02_1AH" id="d1018" onclick="deviceinfo(1018);"></div>
          <div class="fzyy02_01AH defaultcursor"></div>
          <div class="fzyy02_02AH defaultcursor"></div>
          <div class="fzyy02_21AH defaultcursor"></div>
          <div class="fzyy02_22AH defaultcursor"></div>
          <div class="fzyy02_23AH defaultcursor"></div>
          <div class="fzyy02_24AH defaultcursor"></div>
          <div class="fzyy02_25AH defaultcursor"></div>
          <div class="fzyy02_26AH defaultcursor"></div>
          <!--计量柜 蓄电池柜 左~右 2p-->
          <div class="fzyy02_jl defaultcursor"></div>
          <div class="fzyy02_dc defaultcursor"></div>
          <!--墙面-->
          <div class="fzyy02_qm defaultcursor"></div>
    </div>
    <div class="station_room_monitor" id="contentmain">
    </div>
    <script type="text/javascript">
        var pid = $.cookie('cookiepid');
    </script>
    <script src="~/Content/UserJS/lbywpln._jm.js" type="text/javascript"></script>
</body>
</html>
