@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>PlanInfo1</title>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/planpub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/pingmiantu1.css"> </link>

</head>
<body class="tabbg6">

<div class="pmmain plancontent" id="p1"><div class="pic1" id="d10" onclick="deviceinfo(10);"></div><div class="pic2" id="d11" onclick="    deviceinfo(11);"></div><div class="pic4" id="d12" onclick="    deviceinfo(12);"></div><div class="pic7" id="d13" onclick="    deviceinfo(13);"></div><div class="pic8" id="d14" onclick="    deviceinfo(14);"></div><div class="pic9" id="d15" onclick="    deviceinfo(15);"></div><div class="pic12 defaultcursor"></div><div class="pic13 defaultcursor"></div><div class="pic14" id="d9" onclick="    deviceinfo(9);"></div><div class="pic15" id="d8" onclick="    deviceinfo(8);"></div><div class="pic16" id="d7" onclick="    deviceinfo(7);"></div><div class="pic17" id="d6" onclick="    deviceinfo(6);"></div><div class="pic18" id="d5" onclick="    deviceinfo(5);"></div><div class="pic19" id="d4" onclick="    deviceinfo(4);"></div><div class="pic20" id="d3" onclick="    deviceinfo(3);"></div><div class="pic21" id="d2" onclick="    deviceinfo(2);"></div><div class="pic22 defaultcursor"></div><div class="pic23" id="d1" onclick="    deviceinfo(1);"></div><div class="pic24 defaultcursor"></div><div class="pic25" id="d17" onclick="    deviceinfo(17);"></div><div class="pic26 defaultcursor"></div><div class="pz_pmt label27 defaultcursor">AH1</div><div class="pz_pmt label28 defaultcursor">AH2</div><div class="pz_pmt label29 defaultcursor">AH3</div><div class="pz_pmt label30 defaultcursor">AH4</div><div class="pz_pmt label31 defaultcursor">AH5</div><div class="pz_pmt label32 defaultcursor">AH6</div><div class="pz_pmt label33 defaultcursor">AH7</div><div class="pz_pmt label34 defaultcursor">AH8</div><div class="pz_pmt label35 defaultcursor">AH9</div><div class="pz_pmt label36 defaultcursor">AH10</div><div class="pz_pmt label37 defaultcursor">AH11</div><div class="pz_pmt label38 defaultcursor">AH12</div><div class="pz_pmt label39 defaultcursor">AH13</div><div class="pz_pmt label40 defaultcursor">AH14</div><div class="pz_pmt label41 defaultcursor">AH15</div><div class="pz_pmt label42 defaultcursor">AH16</div><div class="pz_pmt label43 defaultcursor">AH17</div><div class="pz_pmt label44 defaultcursor">AH18</div><div class="pz_pmt label45 defaultcursor">AH19</div><div class="pz_pmt label46 defaultcursor">AH20</div><div class="pz_pmt label47 defaultcursor">AH21</div><div class="pz_pmt label48 defaultcursor">AH22</div><div class="pic49" id="d16" onclick="    deviceinfo(16);"></div></div><div class="station_room_monitor" id="contentmain"></div></body>
</html>
<script type="text/javascript">
    var pid = $.cookie('cookiepid');
</script>
<script src="~/Content/UserJS/lbywpln._jm.js" type="text/javascript"></script>
