@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>PlanInfo138</title>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/planpub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/pingmiantu138.css"> </link>

</head>
<body class="tabbg6">

<div class="pmmain plancontent" id="p138">
    <div class="pic1 defaultcursor" id="d998" onclick="deviceinfo(998);"></div>
    <div class="pic2 defaultcursor" id="d999" onclick="deviceinfo(999);"></div>
    <div class="pic3 defaultcursor" id="d993"></div>
    <div class="pic4 defaultcursor" id="d994"></div>
    <div class="pic8 defaultcursor"></div>
    <div class="pic9 defaultcursor"></div>
    <div onclick="video('fdc78c016fc9448b94f0f8a308826d64');" class="pic11 defaultcursor"></div>
    <div id="door1" onclick="changeDoor(1);" class="pic12 defaultcursor"></div>
    <div onclick="video('63df07ace3b941fcbca2f0c466001f39');" class="pic11 defaultcursor" style="margin-left: 705px;margin-top: 280px;"></div>
    </div><div class="station_room_monitor" id="contentmain"></div>
   
</body>
</html>
<script type="text/javascript">
        var pid = $.cookie('cookiepid');
</script>
@*<script src="~/Content/UserJS/lbywpln._jm.js" type="text/javascript"></script>*@
<script src="~/Content/js/lbywpln._zc.js"></script>