@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>竖井信息</title>
    <link href="~/Content/css/vertical.css" rel="stylesheet" type="text/css" />
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
</head>
<body style="padding: 0px; margin: 0px;">
    <div class="hbjhscsj hidelist" id="p104">
        <div class="hbjhscsjt">
            <div class="Flood" id="d437" onclick="Detail(437);">
            </div>
            <div class="Flood" id="d436" onclick="Detail(436);">
            </div>
            <div class="Flood" id="d435" onclick="Detail(435);">
            </div>
            <div class="Flood" id="d434" onclick="Detail(434);">
            </div>
            <div class="Flood" id="d433" onclick="Detail(433);">
            </div>
            <div class="Flood" id="d432" onclick="Detail(432);">
            </div>
            <div class="Flood" id="d431" onclick="Detail(431);">
            </div>
            <div class="Flood" id="d430" onclick="Detail(430);">
            </div>
            <div class="Flood" id="d429" onclick="Detail(429);">
            </div>
            <div class="Flood" id="d428" onclick="Detail(428);">
            </div>
            <div class="Flood" id="d427" onclick="Detail(427);">
            </div>
            <div class="Flood" id="d426" onclick="Detail(426);">
            </div>
            <div class="Flood" id="d425" onclick="Detail(425);">
            </div>
            <div class="Flood" id="d424" onclick="Detail(424);">
            </div>
            <div class="Flood" id="d423" onclick="Detail(423);">
            </div>
            <div class="Flood" id="d422" onclick="Detail(422);">
            </div>
            <div class="Flood" id="d397" onclick="Detail(397);">
            </div>
            <div id="d3971">
            </div>
            <div id="d3972">
            </div>
        </div>
        <div class="sjzt_table">
            <table border="0" class="bgw3">
                <tbody style="vertical-align: middle;">
                    <tr>
                        <th style="width: 30%" id="th17">
                            <div class="Flood" id="d437_txt" onclick="Detail(437);">
                                17F</div>
                        </th>
                        <td id="d437_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th16">
                            <div class="Flood" id="d436_txt" onclick="Detail(436);">
                                16F</div>
                        </th>
                        <td id="d436_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th15">
                            <div class="Flood" id="d435_txt" onclick="Detail(435);">
                                15F</div>
                        </th>
                        <td id="d435_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th14">
                            <div class="Flood" id="d434_txt" onclick="Detail(434);">
                                14F</div>
                        </th>
                        <td id="d434_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th13">
                            <div class="Flood" id="d433_txt" onclick="Detail(433);">
                                13F</div>
                        </th>
                        <td id="d433_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th12">
                            <div class="Flood" id="d432_txt" onclick="Detail(432);">
                                12F</div>
                        </th>
                        <td id="d432_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th11">
                            <div class="Flood" id="d431_txt" onclick="Detail(431);">
                                11F</div>
                        </th>
                        <td id="d431_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th10">
                            <div class="Flood" id="d430_txt" onclick="Detail(430);">
                                10F</div>
                        </th>
                        <td id="d430_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th9">
                            <div class="Flood" id="d429_txt" onclick="Detail(429);">
                                9F</div>
                        </th>
                        <td id="d429_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th8">
                            <div class="Flood" id="d428_txt" onclick="Detail(428);">
                                8F</div>
                        </th>
                        <td id="d428_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th7">
                            <div class="Flood" id="d427_txt" onclick="Detail(427);">
                                7F</div>
                        </th>
                        <td id="d427_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="th6">
                            <div class="Flood" id="d426_txt" onclick="Detail(426);">
                                6F</div>
                        </th>
                        <td id="d426_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="5F">
                            <div class="Flood" id="d425_txt" onclick="Detail(425);">
                                5F</div>
                        </th>
                        <td id="d425_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="4F">
                            <div class="Flood" id="d424_txt" onclick="Detail(424);">
                                4F</div>
                        </th>
                        <td id="d424_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="3F">
                            <div class="Flood" id="d423_txt" onclick="Detail(423);">
                                3F</div>
                        </th>
                        <td id="d423_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="2F">
                            <div class="Flood" id="d422_txt" onclick="Detail(422);">
                                2F</div>
                        </th>
                        <td id="d420_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th id="1F">
                            <div class="Flood" id="d397_txt" onclick="Detail(397);">
                                1F</div>
                        </th>
                        <td id="d397_Almtxt">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div id="-1F">
                                -1F</div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div id="-2F">
                                -2F</div>
                        </th>
                        <td style="text-align: left; font-weight: bold">
                            （配电室）
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="sjzt_info">
            <div class="sjcontent" id="sjcontent">
            </div>
            <div class="worddesc" id="worddesc">
            </div>
        </div>
    </div>
    <div style="position: absolute; margin-left: 40px;">
        <div class="station_room_monitor" id="contentmain">
            <div class="content_top">
                <h2>
                    报警</h2>
                <span>设备运行状况</span></div>
            <div class="hr">
            </div>
            <div class="content">
                <strong>HT:<h1 class="normal">
                    45.48℃</h1>
                    <br />
                    2#主变本体1区域01</strong><span>负荷：N/A</span> <span>环境温度：16℃</span></div>
        </div>
    </div>
    <div class="goodcover">
    </div>
    <div class="code">
        <span class="sjico">
            <img src="../../Content/Images/sjico.png" /></span> <a href="javascript:void(0)"
                class="closebt">
                <img src="../../Content/Images/close.png"></a>
        <div class="goodtxt">
            <span class="goodtxttitle">电缆竖井</span>
            <div class="goodtxtcontent">
                <div class="rl_temperature">
                    <span>
                        <h3>
                            实时温度</h3>
                    </span>
                    <div id="deviceinfostate" style="width: 100%;">
                    </div>
                </div>
                <div class="history_curve">
                    <div class="history_curve_tab">
                        <ul>
                            <li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');" onclick="return false;"
                                title="" id="history_curve_tab1">实时曲线</a></li>
                            <li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');" onclick="return false;"
                                title="" id="history_curve_tab2">历史曲线</a></li>
                        </ul>
                    </div>
                    <!--选项卡 -->
                    <div id="history_curve_tabcontent1">
                        <div title="竖井曲线" class="graphcontent" id="wrap0">
                            <div id="DayCharts" style="height: 250px; width: 690px; margin: 0 auto; border: 1px solid #ccc;
                                padding: 5px;">
                            </div>
                        </div>
                    </div>
                    <!--选项卡1-->
                    <!--选项卡2-->
                    <div id="history_curve_tabcontent2">
                        <div title="竖井曲线" class="graphcontent" id="wrap1">
                        </div>
                        <div id="hispointsinfo" class="hispointsinfo" style="z-index: 2; display: none">
                        </div>
                        <div id="HisCharts" style="height: 250px; width: 690px; margin: 0 auto; border: 1px solid #ccc;
                            padding: 5px;">
                        </div>
                        <div style="float: right">
                            <input name="Fruit" type="radio" value="6" onclick="showHisgraphs(6)" checked="checked" />日曲线
                            <input name="Fruit" type="radio" value="72" onclick="showHisgraphs(72)" />周曲线
                            <input name="Fruit" type="radio" value="144" onclick="showHisgraphs(144)" />月曲线
                        </div>
                    </div>
                    <!--选项卡2-->
                </div>
            </div>
        </div>
    </div>
</body>
<!--弹出层-->
<script type="text/javascript">

    var lastid = 104; //即Pid 配电房编号

    var currentDID;

    //主画面相关
    //左上角的最高温度测点状态框
    function loadAlarmInfo() {
        $.post("/SpecialDeviceManage/GetMaxTempByDID", function (data) {
            $("#contentmain").html(data);
            loadAlarmView();
        });
    }
    //右边的实时图示
    function loadAlarmView() {
        $.post("/SpecialDeviceManage/GetMaxTempViewByDID", function (data) {
            $("#sjcontent").html(data);
        });
    }
    var timeTicket;
    clearInterval(timeTicket);
    timeTicket = setInterval(function () {
        initRealTemp();
    }, 100000);
    //显示画面中每个监测点的实时状态
    showAlarmInfo();
    function showAlarmInfo() {
        loadAlarmInfo();
        $.cookie('hpid', lastid, { expires: 7, path: '/' });
        if (lastid != "") {
            clearInterval(timeTicket);
            timeTicket = setInterval(function () {
                loadAlarmInfo();
                if (alarmid != "") {
                    var arrid = alarmid.split(',');
                    for (var i = 0; i < arrid.length; i++) {
                        $("#d" + arrid[i]).css("background-image", "url(/Content/css/hbjhsc/397A.png)");
                        $("#d" + arrid[i] + "_txt").css("color", "black");
                        $("#d" + arrid[i] + "_Almtxt").html("");
                    }
                }
                alarmState();
            }, 10000);
        }
        else {
            if (timeTicket) {
                clearInterval(timeTicket);
                timeTicket = null;
            }
        }
    }
    var timeTicket;
    //触发报警时，图片变成报警状态
    var alarmJson = "", alarmid = "";
    function alarmState() {
        $.ajaxSettings.async = false;  //同步才能获取数据
        $.post("/SysInfo/getShaftAlarmState", { "pid": lastid }, function (data) {
            alarmid = "";
            alarmJson = eval("(" + data + ")");
            $.each(alarmJson, function (i) {
                var jsonlist = alarmJson[i];
                var adid, astate;
                for (var jcount = 0; jcount < jsonlist.length; jcount++) {
                    adid = jsonlist[jcount].DID;
                    astate = jsonlist[jcount].AlarmState;
                    if (jcount == 0)
                        alarmid = alarmid + adid;
                    else
                        alarmid = alarmid + "," + adid;
                    //更换贴图
                    $("#d" + adid).css("background-image", "url(/Content/css/hbjhsc/397A_" + astate + ".png)");
                    //楼层颜色变色
                    //显示报警值，变色
                    var ABC = "";
                    if (jsonlist[jcount].AlarmAddress.lastIndexOf('A') != -1)
                        ABC = "A";
                    else if (jsonlist[jcount].AlarmAddress.lastIndexOf('B') != -1)
                        ABC = "B";
                    else if (jsonlist[jcount].AlarmAddress.lastIndexOf('C') != -1)
                        ABC = "C";
                    else if (jsonlist[jcount].AlarmAddress.lastIndexOf('母线槽') != -1)
                        ABC = "N";

                    if (astate == 1) {
                        $("#d" + adid + "_txt").css("color", "#ffff00");
                        $("#d" + adid + "_Almtxt").css("color", "#ffff00");
                        $("#d" + adid + "_Almtxt").html(ABC + ":" + jsonlist[jcount].AlarmValue);
                    }
                    else if (astate == 2) {
                        $("#d" + adid + "_txt").css("color", "#ff6633");
                        $("#d" + adid + "_Almtxt").css("color", "#ff6633");
                        $("#d" + adid + "_Almtxt").html(ABC + ":" + jsonlist[jcount].AlarmValue);
                    }
                    else if (astate == 3) {
                        $("#d" + adid + "_txt").css("color", "#ff0000");
                        $("#d" + adid + "_Almtxt").css("color", "#ff0000");
                        $("#d" + adid + "_Almtxt").html(ABC + ":" + jsonlist[jcount].AlarmValue);
                    }
                }
            });
        });
    }
    //主画面生成结束
    //弹出窗口相关
    function Detail(did) {
        RealTempHistoryGraph(did);
        showimg(did);
        currentDID = did;

    }
    //弹出窗口的测点信息表格
    function RealTempHistoryGraph(did) {
        $.post("/PDRInfo/GetDeviceInfo", { "did": did }, function (data) {
            var infostate = eval("(" + data + ")");
            $("#deviceinfostate").html(infostate);
        });
    }
    //弹出窗口的实时曲线相关
    var maxtemp = 30, mintemp = 5;
    var imgdata = [], seriesdata = [];
    var imgid = '', ptype = "℃";
    var len = 0;
    var unitlist = '';

    //加载实时曲线
    function showimg(did) {
        imgdata = [], seriesdata = [];
        imgid = '';
        ptype = "℃";
        var tagid = '';
        len = 0;
        unitlist = '';
        $.post("/SpecialDeviceManage/GetTagIDByDID", { "did": did }, function (data) {
            var arrpointslist = data.split('~');
            var arrrole = data.split("$");
            len = arrrole.length;
            unitlist = "{b}<br/>";
            seriesdata = [];
            for (var i = 0; i < len; i++) {
                tagid = arrrole[i].split('|')[0];
                imgdata.push(arrrole[i].split('|')[1]);
                imgid += tagid + ",";
            }
            $.post("/PDRInfo/PointsValue", { "pid": lastid, "tagid": imgid }, function (data) {  //获取测点的历史数据，填充初始曲线
                var Arrpointslist = data.split('~');

                mintemp = Arrpointslist[0];       //重新设定最大最小值
                maxtemp = Arrpointslist[1];
                Arrrole = data.split('"');
                for (var i = 0; i < len; i++) {
                    pointinfo = Arrrole[i].split('|')[1];
                    seriesdata.push({
                        name: arrrole[i].split('|')[1],
                        type: 'line',
                        smooth: true,
                        data: eval("(" + pointinfo + ")"),
                        markPoint: {
                            data: [
                                    { type: 'max', name: '最大值' },
                                    { type: 'min', name: '最小值' }
                                    ]
                        }
                    });
                    var unitvalue = arrrole[i].split('|')[2];
                    if (i == 0)
                        unitlist = unitlist + "{a}:{c} " + unitvalue + " <br/>";
                    else {
                        unitlist = unitlist + "{a" + i + "}:{c" + i + "} " + unitvalue + "<br/>";
                    }

                }
                loadimg();
                showHisgraphs(6);
            });
        });
    }
    var clickcount = 0;
    function loadimg() {
        var myChart = echarts.init(document.getElementById('DayCharts'));
        var option = {
            title: {
                text: '',
                textStyle: { color: '#000' }
            },
            tooltip: {
                trigger: 'axis',
                formatter: unitlist
            },
            legend: {
                data: imgdata,
                textStyle: { color: '#000' }
            },
            xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        axisLabel: { textStyle: { color: '#000'} },
                        splitLine: { show: true, lineStyle: { color: '#4c4c4c', type: 'dashed'} },
                        axisLine: { lineStyle: { color: '#fff', type: 'solid', width: 1} },
                        data: (function () {
                            var now = new Date();
                            var res = [];
                            var len = 100;
                            while (len--) {
                                res.push(now.toLocaleTimeString().replace(/^\D*/, ''));
                                now = new Date(now - 5000);
                            }
                            return res;
                        })()
                    }
                ],
            yAxis: [
                    {
                        type: 'value',
                        axisLabel: {
                            formatter: function (v) { return parseInt(v) + ptype },
                            textStyle: { color: '#000' }
                        },
                        splitLine: { show: true, lineStyle: { color: '#4c4c4c', type: 'dashed'} },
                        axisLine: { lineStyle: { color: '#fff', type: 'solid', width: 1} },
                        min: mintemp,
                        max: maxtemp
                    }
                ],
            series: seriesdata
        };

        // 为echarts对象加载数据 
        myChart.setOption(option);
        clearInterval(timeTicket);
        timeTicket = setInterval(function () {
            RandANum1();
        }, 5000);
        var pointList = "0";
        var count = 0;
        var axisData;
        function RandANum1() {
            axisData = (new Date()).toLocaleTimeString().replace(/^\D*/, '');
            // 动态数据接口 addData
            $.ajaxSettings.async = false;  //同步才能获取数据
            $.post("/PDRInfo/RealTimeData", { "tagid": imgid, "pid": lastid }, function (realdata) {
                var pdata = realdata.split(',');
                var arradddate = [];
                for (var addlen = 0; addlen < len; addlen++) {
                    arradddate.push([
                                addlen,        // 系列索引
                                pdata[addlen], // 新增数据
                                true,    // 新增数据是否从队列头部插入
                                false,    // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
                                axisData  // 坐标轴标签
                          ]);
                }
                myChart.addData(arradddate);
            });
        }
    }




    //获取测点的历史曲线选项列表
    function showHisgraphs(graphtype) {
        pid = 104;
        hourdata = imgdata;
        var imid = imgid;
        len = imgdata.length;
        var myDate = new Date();
        var seldate = myDate.toLocaleDateString();
        if (graphtype == 6)//小时
            seldate = myDate.toLocaleDateString();
        else if (graphtype == 72)//12小时
            seldate = myDate.toLocaleDateString();
        else if (graphtype == 144)//天
            seldate = myDate.getFullYear() + "-" + (myDate.getMonth() + 1);
        else if (graphtype == 616)
            seldate = myDate.getFullYear();
        //ajaxbg.show();
        $.ajaxSettings.async = true;  //同步才能获取数据

        $.post("/PDRInfo/HisGraphsGetPoint", { "pid": 104, "selGraphtype": graphtype, "tagid": imid, "seldatetime": seldate }, function (data) {
            //ajaxbg.hide();
            initdata = data
            seriesdata = [];
            var arrdate = initdata.split('|');
            mintemp = arrdate[0];
            maxtemp = arrdate[1];
            for (var dcount = 0; dcount < len; dcount++) {
                if (dcount == 0) {
                    seriesdata.push({
                        name: hourdata[dcount],
                        type: 'line',
                        smooth: true,
                        itemStyle: { normal: { areaStyle: { type: 'default'}} },
                        data: eval("(" + arrdate[dcount + 3] + ")"),
                        markPoint: {
                            data: [
                    { type: 'max', name: '最大值' },
                    { type: 'min', name: '最小值' }
                ]
                        }
                    });
                }
                else {
                    seriesdata.push({
                        name: hourdata[dcount],
                        type: 'line',
                        smooth: true,
                        data: eval("(" + arrdate[dcount + 3] + ")"),
                        markPoint: {
                            data: [
                    { type: 'max', name: '最大值' },
                    { type: 'min', name: '最小值' }
                ]
                        }
                    });
                }
            }
            loadhisimg();
        });
    }
    function loadhisimg() {
        var myChart = echarts.init(document.getElementById('HisCharts'), 'macarons');
        var option = {
            title: {
                text: '',
                textStyle: { color: '#fff' }
            },
            tooltip: {
                trigger: 'axis',
                formatter: unitlist
            },
            legend: {
                data: hourdata,
                textStyle: { color: '#000' }
            },
            xAxis: [
        {
            type: 'category',
            boundaryGap: false,
            axisLabel: { textStyle: { color: '#000'} },
            splitLine: { show: true, lineStyle: { color: '#4c4c4c', type: 'dashed'} },
            axisLine: { lineStyle: { color: '#fff', type: 'solid', width: 5} },
            data: eval("(" + initdata.split('|')[2] + ")")
        }
    ],
            yAxis: [
        {
            type: 'value',
            axisLabel: {
                formatter: function (v) { return parseInt(v) + ptype },
                textStyle: { color: '#000' }
            },
            splitLine: { show: true, lineStyle: { color: '#4c4c4c', type: 'dashed'} },
            axisLine: { lineStyle: { color: '#fff', type: 'solid', width: 5} },
            min: mintemp,
            max: maxtemp
        }
    ],
            series: seriesdata
        };
        // 为echarts对象加载数据 
        myChart.setOption(option);
    }
    /////////////////////////////////////////
    $('.Flood').click(function () {
        $('.code').fadeIn();
    });
    $('.closebt').click(function () {
        $('.code').fadeOut();
    });

    //选项卡
    var tablink_idname = new Array("history_curve_tab")
    var tabcontent_idname = new Array("history_curve_tabcontent")
    var tabcount = new Array("2")
    var loadtabs = new Array("1")
    var autochangemenu = 0;
    var changespeed = 3;
    var stoponhover = 0;

    function easytabs(menunr, active) {
        if (menunr == autochangemenu) {
            currenttab = active;
        }
        if ((menunr == autochangemenu) && (stoponhover == 1)) {
            stop_autochange()
        }
        else if ((menunr == autochangemenu) && (stoponhover == 0)) {
            counter = 0;
        }
        menunr = menunr - 1;
        for (i = 1; i <= tabcount[menunr]; i++) {
            document.getElementById(tablink_idname[menunr] + i).className = 'tab' + i;
            document.getElementById(tabcontent_idname[menunr] + i).style.display = 'none';
        }
        document.getElementById(tablink_idname[menunr] + active).className = 'tab' + active + ' tabactive';
        document.getElementById(tabcontent_idname[menunr] + active).style.display = 'block';
    }
    var timer; counter = 0;
    var totaltabs = tabcount[autochangemenu - 1];
    var currenttab = loadtabs[autochangemenu - 1];

    function start_autochange() {
        counter = counter + 1;
        timer = setTimeout("start_autochange()", 1000);
        if (counter == changespeed + 1) {
            currenttab++;
            if (currenttab > totaltabs) {
                currenttab = 1
            }
            easytabs(autochangemenu, currenttab);
            restart_autochange();
        }
    }
    function restart_autochange() {
        clearTimeout(timer);
        counter = 0;
        start_autochange();
    }
    function stop_autochange() {
        clearTimeout(timer);
        counter = 0;
    }

    window.onload = function () {
        var menucount = loadtabs.length; var a = 0; var b = 1; do { easytabs(b, loadtabs[a]); a++; b++; } while (b <= menucount);
        if (autochangemenu != 0) { start_autochange(); }
    }
</script>
