@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>一次图</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/onepub.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yw_table.css"> </link>
    <link rel="stylesheet" type="text/css" href="~/Content/css/yicitu12.css"> </link>
    <script src="~/Content/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.cookie.js" type="text/javascript"></script>
</head>
<body class="tabbg2">
  
  


<div class="ycmain page_content"><ul class="alertmenu" id="p12"><li class="other_g0" id="other_g0"></li><li class="switch_size switch_s_off zxb_g5131" id="t5131"></li><!--1#进线柜--><li class="w1001 alarmico"><dt id="d1001" onclick="deviceinfo(107,1001);"></dt><dd id="t1001"></dd></li><!--1#馈线柜--><li class="w1002 alarmico"><dt id="d1002" onclick="deviceinfo(107,1002);"></dt><dd id="t1002"></dd></li><!--3#馈线柜--><li class="w1003 alarmico"><dt id="d1003" onclick="deviceinfo(107,1003);"></dt><dd id="t1003"></dd></li><!--5#变压器出线柜--><li class="w1004 alarmico"><dt id="d1004" onclick="deviceinfo(107,1004);"></dt><dd id="t1004"></dd></li><!--7#变压器出线柜--><li class="w1005 alarmico"><dt id="d1005" onclick="deviceinfo(107,1005);"></dt><dd id="t1005"></dd></li><!--9#变压器出线柜--><li class="w1006 alarmico"><dt id="d1006" onclick="deviceinfo(107,1006);"></dt><dd id="t1006"></dd></li><!--母线联络柜--><li class="w1007 alarmico"><dt id="d1007" onclick="deviceinfo(107,1007);"></dt><dd id="t1007"></dd></li><!--10#变压器出线柜--><li class="w1008 alarmico"><dt id="d1008" onclick="deviceinfo(107,1008);"></dt><dd id="t1008"></dd></li><!--8#变压器出线柜--><li class="w1009 alarmico"><dt id="d1009" onclick="deviceinfo(107,1009);"></dt><dd id="t1009"></dd></li><!--6#变压器出线柜--><li class="w1010 alarmico"><dt id="d1010" onclick="deviceinfo(107,1010);"></dt><dd id="t1010"></dd></li><!--4#馈线柜--><li class="w1011 alarmico"><dt id="d1011" onclick="deviceinfo(107,1011);"></dt><dd id="t1011"></dd></li><!--2#馈线柜--><li class="w1012 alarmico"><dt id="d1012" onclick="deviceinfo(107,1012);"></dt><dd id="t1012"></dd></li><!--2#进线柜--><li class="w1013 alarmico"><dt id="d1013" onclick="deviceinfo(107,1013);"></dt><dd id="t1013"></dd></li><li class="switch_size switch_s_off zxb_g5142" id="t5142"></li><li class="switch_size switch_s_off zxb_g5151" id="t5151"></li><li class="switch_size switch_s_off zxb_g5162" id="t5162"></li><li class="switch_size switch_s_off zxb_g5173" id="t5173"></li><li class="switch_size switch_s_off zxb_g5184" id="t5184"></li><li class="switch_size switch_s_off zxb_g5195" id="t5195"></li><li class="switch_size switch_s_off zxb_g5204" id="t5204"></li><li class="switch_size switch_s_off zxb_g5215" id="t5215"></li><li class="switch_size switch_s_off zxb_g5226" id="t5226"></li><li class="switch_size switch_s_off zxb_g5236" id="t5236"></li><li class="switch_size switch_s_off zxb_g5245" id="t5245"></li><li class="switch_size switch_s_off zxb_g5254" id="t5254"></li></ul></div><script type="text/javascript">
        var pid = 12;        var OGdid = "-1"; 
</script></body>
</html>
<script src="~/Content/UserJS/lfywufl._jm.js?pid" type="text/javascript"></script>
