@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>日用电量分析</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/TreeTable/jquery.treeTable.js" type="text/javascript"></script>
    <script src="~/Content/UserJS/CommonUnit._jm.js"></script>
    <link href="~/Content/TreeTable/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css" href="~/Content/css/ElecReport.css?v=1.0"/>
    <style>
        #pzhtml td {
            text-align: center;
        }

        #dayReport {
            padding: 15px;
            padding-bottom: 50px
        }

        .reportTable {
            width: 100%;
            margin-top: 50px
        }

            .reportTable td {
                padding: 0 !important
            }

                .reportTable td .item-div {
                    border-right:1px solid #000;
                    display:flex;
                    flex-direction:row;
                    justify-content:center;
                    align-items:center;
                    border-bottom:1px solid #000;
                    

                }
                .reportTable td  .outItem-div:last-child .item-div{
                    border-bottom:0px
                }

                .reportTable td .item-div:last-child {
                    border-right: 0px
                }

                    

            .reportTable .title {
                font-size: 20px;
                font-weight: bold;
                padding: 10px 0px !important;
            }

            .reportTable .littleTitle {
                font-size: 16px;
                font-weight: bold;
                padding: 5px 10px !important;
            }

        .searchbutton .btn {
            border: none;
            color: #fff;
            background: #62b9a0;
            margin-top: 2px;
            border-radius: 2px;
            margin-right: 5px
        }
        .table2 tr td{
            border:1px solid #000;
            border-right:0px
        }
        .table2 tr td:first-child{
            border-left:0px;
        }
            .table2 tr td:last-child {
                border-bottom:0px;
            }
        .table2 tr:last-child td{
            border-bottom:0
        }
        .table2 tr:first-child td {
            border-top: 0
        }
    </style>
</head>
<body>
    <div id="dayReport">
        <Spin size="large" fix v-if="loading"></Spin>
        <div id="tb" class="searchbar" style="overflow:visible;margin-bottom:50px">

            <div class="searchrow">
                站室:
                <i-select style="width:180px" v-model="PID" v-on:on-change="stationChange" :label-in-value="true">
                    <i-option v-for="item in stationList" :value="item.PID">{{item.Name}}</i-option>
                </i-select>
            </div>
            <div class="searchrow">
                日期:
                <date-picker type="date" style="width: 180px" v-model="dateTime" :clearable="false" v-on:on-change="dateChange"></date-picker>
            </div>
            <div class="searchrow">
                用户类型:

                <i-select style="width:180px" v-model="userType">
                    <i-option v-for="item in userTypeList" :value="item.id">{{item.name}}</i-option>
                </i-select>
            </div>

            <div id="" class="searchbutton">
                <i-button v-for="item in userBtn" class="btn" v-on:click="userMenuClick(item.Location)"><img v-bind:src="item.src" />{{item.ModuleName}}</i-button>
                <i-button class="btn" v-on:click="openOrPrint" icon="ios-print-outline">打印</i-button>
                <i-button class="btn" v-on:click="ExcelPort" icon="md-exit">导出</i-button>
            </div>

        </div>

        <div class="reportView">
            <div class="title">{{curTimeStr}} 日配电室能源统计表 (kW·h)</div>
            <div class="stationName">&nbsp;{{cruPname}}</div>
            <div  class="row">
                <div class="flex-item flex-1_5"></div>
                <div class="flex-item flex-2"></div>
                <div class="flex-item flex-24 noBorder">
                    <div class="flex-item flex-1 center" v-for="item in hours" >{{item}}</div>
                </div>
            </div>
            <div class="row"  v-for='item in info' >
                <div class="flex-item flex-1_5 center"> {{item.DeviceName}}</div>
                <div class="flex-item flex-26 noBorder outView " >
                    <div class="flex-item flex-1 noBorder " v-for="data in item.list_data">
                        <div class="flex-item flex-2 center" style="padding-right:2px;overflow-x:hidden">{{data.Cname==""?'--':data.Cname}}</div>
                        <div class="flex-item flex-1 center" v-for="val in data.Value">{{val}}</div>
                    </div>
                </div>
                
            </div>
        </div>


    </div>

</body>
</html>
<script type="text/javascript">
    var par = window.location.search.split("=")
    console.log(par)
    if (par.length > 2) {
        if (par[3] == "false") {
            $("#tb").hide()
            window.print()
        } else {
            $("#tb").show()
        }
    }
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    console.log(getUrlParam("Time"))
</script>
<script type="text/javascript">
    /*
    var type = 1;
    ////获取url中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    var flag = getUrlParam("isHide");
    if (flag == 1) {
        $("#tb").hide()
    } else {
        $("#tb").show();
    }
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }

    //alert(getNowFormatDate());



    //alert($('#Time').datebox("getValue"));
    $("#SPID").combobox({
        url: "/BaseInfo/BindPDRInfo?showall=0",
        valueField: 'PID',
        textField: 'Name',
        editable: true,
        onLoadSuccess: function () { //数据加载完毕事件
            var data = $('#SPID').combobox('getData');
            //alert(1);
            //console.log(data);
            if ($.cookie('cookiepid') > 0) {
                $("#SPID").combobox('select', $.cookie('cookiepid'));
                return
            }
            else if (data.length > 0) {
                $("#SPID").combobox('select', data[0].PID);
            }
        }, onSelect: function (v) {
            $.cookie('cookiepid', v.PID, { expires: 7, path: '/' });
            dosearch();
        }
    });
    function dosearch() {
        var t = getUrlParam("Time");
        if (t != null && t != "") {
            $('#Time').datebox("setValue", t);
        }
        if ($("#Time").datebox("getValue") == "" || $("#Time").datebox("getValue") == null) {
            $('#Time').datebox("setValue", getNowFormatDate());
        }
        $.post("/ReportForms/getPowerQualityData", { "pid": $('#SPID').combobox("getValue"), "Time": $('#Time').datebox("getValue"), "type": type }, function (data) {
            $("#header").empty();
            $("#content").empty();
            $("#fotter").empty();
            var str = "";
            if ($("#Time").datebox("getValue") != "") {
                str = $("#Time").datebox("getValue") + "日用电量数据分析";
            }
            $("#CTitle").html(str)
            console.log(data);
            var Hhtml = "<th>时间</th>";
            $.each(data.Cname, function (index, val) {
                Hhtml += " <th>" + val.CID + "号回路" + val.CName + "</th>";
            })
            Hhtml += " <th>合计</th>"
            $("#header").html(Hhtml);
            var html = "";
            var inn = 1;

            $.each(data.Rtime, function (index, val) {
                var summ = 0;
                var itt = 1;
                html += "<tr>";
                //html += "<td>" + (index + 1) + "</td>"
                html += "<td>" + (DateFormat(val)) + "</td>"
                $.each(data.list[index], function (inde, va) {
                    summ += va.Aphase;
                    html += "<td>" + va.Aphase + "</td>"
                    itt++;
                })
                for (itt; itt <= data.Cname.length; itt++) {
                    html += "<td>0</td>"
                }
                html += "<td>" + summ.toFixed(2) + "</td>";
                html += "</tr>"
            })
            $("#content").html(html);
            var fhtml = "<tr><td>最大值</td>";
            for (var index = 0; index < data.Cname.length + 1; index++) {
                fhtml += " <td>" + (getMaxValue(1, index + 1)) + "</td>";
            }
            fhtml += "</tr>"
            var summmm = 0;
            fhtml += "<tr><td>小计</td>";
            for (var index = 0; index < data.Cname.length + 1; index++) {
                summmm += parseFloat((getTdValue(1, index + 1)));
                fhtml += " <td>" + (getTdValue(1, index + 1)) + "</td>";
            }
            fhtml += "</tr>"
            $("#fotter").html(fhtml);
        });
    }

    function DateFormat(value, row, index) {

        var lDate = formatDate(value, 'hh:mm');
        if (lDate == "00:00") {
            return "24:00";
        } else {
            return lDate;
        }

    }
    function getTdValue(ii, x) {
        var tableId = document.getElementById("pzhtml");
        var str = 0;
        //alert(tableId.rows[1].cells[2].innerHTML);
        for (var i = ii; i < tableId.rows.length; i++) {

            str += parseFloat(tableId.rows[i].cells[x].innerHTML);


        }
        return str.toFixed(2);
    }
    function getMaxValue(ii, x) {
        var tableId = document.getElementById("pzhtml");
        //alert(tableId.rows[1].cells[2].innerHTML);
        var obj = [];
        for (var i = ii; i < tableId.rows.length; i++) {

            obj.push(parseFloat(tableId.rows[i].cells[x].innerHTML));
        }
        var max = Math.max.apply(obj, obj);
        return max;
    }
    function openOrPrint() {
        window.open('/ReportForms/ElectricityConsumptionRepor?pid=' + $('#SPID').combobox("getValue") + "&Time=" + $('#Time').datebox("getValue") + "&isHide=1", '_blank');
        window.print()
    }
    function ExcelPort() {
        window.open('/ReportForms/ExportData?pid=' + $('#SPID').combobox("getValue") + "&Time=" + $('#Time').datebox("getValue") + "&isHide=1" + "&type=" + type, '_blank');
        //window.print()
    }*/
</script>

<script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
<script type="text/javascript" src="~/Content/js/vue.min.js"></script>
<script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
<script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
<script type="text/javascript" src="~/Content/UserJS/ElectricityConsumptionRepor._zc.js?v=1.11"></script>