@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>月用电量分析</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/TreeTable/jquery.treeTable.js" type="text/javascript"></script>
    <script src="~/Content/UserJS/CommonUnit._jm.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link href="~/Content/TreeTable/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/iview/dist/styles/iview.css?v=1.01">
    <link rel="stylesheet" type="text/css" href="~/Content/css/ElecReport.css?v=1.03" />
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/Content/iview/dist/iview.js"></script>
    <style>
        #pzhtml td {
            text-align: center;
        }

        #monthReport {
            padding: 15px;
            padding-bottom: 50px
        }

        .reportTable {
            width: 100%;
            margin-top: 50px
        }

            .reportTable td {
                padding: 0 !important
            }

                .reportTable td .item-div {
                    border-right: 1px solid #000;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #000;
                }

                .reportTable td .outItem-div:last-child .item-div {
                    border-bottom: 0px
                }

                .reportTable td .item-div:last-child {
                    border-right: 0px
                }



            .reportTable .title {
                font-size: 20px;
                font-weight: bold;
                padding: 10px 0px !important;
            }

            .reportTable .littleTitle {
                font-size: 16px;
                font-weight: bold;
                padding: 5px 10px !important;
            }

        .searchbutton .btn {
            border: none;
            color: #fff;
            background: #62b9a0;
            margin-top: 2px;
            border-radius: 2px;
            margin-right: 5px
        }

        .table2 tr td {
            border: 1px solid #000;
            border-right: 0px
        }

            .table2 tr td:first-child {
                border-left: 0px;
            }

            .table2 tr td:last-child {
                border-bottom: 0px;
            }

        .table2 tr:last-child td {
            border-bottom: 0
        }

        .table2 tr:first-child td {
            border-top: 0
        }
    </style>
    <style media="print" type="text/css">
        .noprint {
            visibility: hidden;
        }
    </style>
</head>
<body>

    <div id="monthReport">

        <Spin size="large" fix v-if="loading"></Spin>

        <div id="tb" class="searchbar noprint" style="overflow:visible;margin-bottom:50px">

            <div class="searchrow">
                站室:
                <i-select style="width:180px" v-model="PID" v-on:on-change="stationChange" :label-in-value="true">
                    <i-option v-for="item in stationList" :value="item.PID">{{item.Name}}</i-option>
                </i-select>
            </div>
            <div class="searchrow">
                月份:
                <date-picker type="month" style="width: 180px" v-model="dateTime" :clearable="false" v-on:on-change="dateChange"></date-picker>
            </div>
            <div class="searchrow">
                用户类型:

                <i-select style="width:180px" v-model="userType">
                    <i-option v-for="item in userTypeList" :value="item.id">{{item.name}}</i-option>
                </i-select>
            </div>

            <div id="" class="searchbutton">
                <i-button v-for="item in userBtn" class="btn" v-on:click="userMenuClick(item.Location)"><img v-bind:src="item.src" />{{item.ModuleName}}</i-button>
                <i-button class="btn" v-on:click="openOrPrint" icon="ios-print-outline">打印</i-button>
                <i-button class="btn" v-on:click="ExcelPort" icon="md-exit">导出</i-button>
            </div>

        </div>


        <div class="reportView">
            <div class="title">{{curTimeStr}} 月配电室能源统计表 (kW·h)</div>
            <div class="stationName">&nbsp;{{cruPname}} @*<span style="float:right;margin-right:10px">总计：{{monthTotal}}</span>*@</div>
            <div class="row">
                <div class="flex-item flex-1_5 center">柜号</div>
                <div class="flex-item flex-2 center">回路名称</div>
                <div class="flex-item  noBorder" :style="{flex:days.length+2}">
                    <div class="flex-item flex-1 center" v-for="item in days">{{item}}</div>
                    <div class="flex-item flex-2 center " style="overflow:hidden">
                        回路合计
                    </div>
                </div>
            </div>

            <div class="row heihgt100" v-for='item in info' >
                <div class="flex-item flex-1_5 center"> {{item.DeviceName}}</div>
                <div class="flex-item  noBorder outView monthFlex heihgt100" :style="{flex:days.length+4}">
                    <div class="flex-item flex-1 noBorder heihgt100" v-for="data in item.list_data" >
                        <div class="flex-item flex-2 center" style="padding-right:2px;overflow-x:hidden">{{data.Cname==""?'--':data.Cname}}</div>
                        <div class="flex-item flex-1 center" v-for="val in data.Value" style="overflow:hidden">{{val}}</div>
                        <div class="flex-item flex-2 center" style="padding-right:2px;overflow-x:hidden">{{data.count}}</div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="flex-item flex-1_5"></div>
                <div class="flex-item flex-2 center" style="overflow:hidden">分时合计</div>
                <div class="flex-item  noBorder" :style="{flex:days.length+2}">
                    <div class="flex-item flex-1 center" v-for="item in dayTotal">{{item.val}}</div>
                    <div class="flex-item flex-2 center"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var par = window.location.search.split("=")
        if (par.length > 2) {
            if (par[3] == "false") {
                $("#tb").hide()
            } else {
                $("#tb").show()
            }
        }
    </script>
</body>
</html>
<script type="text/javascript" src="~/Content/UserJS/ElectricityMonthConsumptionRepor._zc.js?v=1.38"></script>