<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #272b37;
        }

        .nav > li:hover .dropdown-menu {
            display: block;
            background-color: #000;
        }

        li a:hover {
            color: #fff;
            background-color: #000;
        }
    </style>

</head>
<body>

    <div class=".container-fluid">
        <div class="row clearfix">

            <div class="col-md-12 column" style=" text-align:center; background-color:#3c3f52;">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:200px;text-align:center;">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#panel-1" data-toggle="dropdown" style="color:#2d90d4">恒扉嘉泰<strong class="caret"></strong></a>
                            <ul class="dropdown-menu" style="background-color:#3a3c51;">
                                <li>
                                    <a href="#panel-1" data-toggle="tab" style="color:#2d90d4">恒扉嘉泰</a>
                                </li>

                            </ul>
                        </li>
                        <li class="active" style="padding-left:50px;">
                            <div style=" margin-top:5px; height:40px; width:12px; background-color:#2d90d4; float:left;"></div>
                            <div style="float:left; margin-top:3px; margin-left:10px;">
                                <span style="font-size:12px; color:#fff">全部</span>
                                <h3 class="media-heading" style="color:#fff">
                                    12
                                </h3>
                            </div>
                        </li>

                        <li style="padding-left:100px;">
                            <div style=" margin-top:5px; height:40px; width:12px; background-color:green; float:left;"></div>
                            <div style="float:left; margin-top:3px; margin-left:10px;">
                                <span style="font-size:12px;color:#fff">充电中</span>
                                <h3 class="media-heading" style="color:#fff">
                                    3
                                </h3>
                            </div>
                        </li>

                        <li style="padding-left:100px;">
                            <div style=" margin-top:5px; height:40px; width:12px; background-color:#7744FF; float:left;"></div>
                            <div style="float:left; margin-top:3px; margin-left:10px;">
                                <span style="font-size:12px;color:#fff">待机</span>
                                <h3 class="media-heading" style="color:#fff">
                                    3
                                </h3>
                            </div>
                        </li>

                        <li style="padding-left:100px;">
                            <div style=" margin-top:5px; height:40px; width:12px; background-color:blue; float:left;"></div>
                            <div style="float:left; margin-top:3px; margin-left:10px;">
                                <span style="font-size:12px;color:#fff">等待</span>
                                <h3 class="media-heading" style="color:#fff">
                                    1
                                </h3>
                            </div>
                        </li>

                        <li style="padding-left:100px;">
                            <div style=" margin-top:5px; height:40px; width:12px; background-color:red; float:left;"></div>
                            <div style="float:left; margin-top:3px; margin-left:10px;">
                                <span style="font-size:12px;color:#fff">故障</span>
                                <h3 class="media-heading" style="color:#fff">
                                    2
                                </h3>
                            </div>
                        </li>

                        <li style="padding-left:100px;">
                            <div style=" margin-top:5px; height:40px; width:12px; background-color:#FF8800; float:left;"></div>
                            <div style="float:left; margin-top:3px; margin-left:10px;">
                                <span style="font-size:12px;color:#fff">离线</span>
                                <h3 class="media-heading" style="color:#fff">
                                    3
                                </h3>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="panel-1">
                    <div class="row-fluid" style="margin-left:180px;">
                        <a href="ChargingPileData" style="cursor:pointer;">
                            <div class="span2" style="float:left;margin-top:20px;">
                                <img src="../Content/images/IMGSS/图一.jpg" />
                            </div>
                        </a>
                        <a href="ChargingPileData" style="cursor:pointer;">
                            <div class="span2" style="float:left; margin-left:5px;margin-top:20px;">
                                <img src="../Content/images/IMGSS/图二.jpg" />
                            </div>
                        </a>
                        <a href="ChargingPileData" style="cursor:pointer;">
                            <div class="span2" style="float:left; margin-left:5px;margin-top:20px;">
                                <img src="../Content/images/IMGSS/图三.jpg" />
                            </div>
                        </a>
                        <a href="ChargingPileData" style="cursor:pointer;">
                            <div class="span2" style="float:left; margin-left:5px;margin-top:20px;">
                                <img src="../Content/images/IMGSS/图四.jpg" />
                            </div>
                        </a>
                        <a href="ChargingPileData" style="cursor:pointer;">
                            <div class="span2" style="float:left; margin-left:5px;margin-top:20px;">
                                <img src="../Content/images/IMGSS/图五.jpg" />
                            </div>
                        </a>
                        <a href="ChargingPileData" style="cursor:pointer;">
                            <div class="span2" style="float:left; margin-left:5px;margin-top:20px;">
                                <img src="../Content/images/IMGSS/图六.jpg" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>



</body>
</html>
