

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>

    

</head>
<style>
    #main {
        position: absolute;
        width: 400px;
        height: 200px;
        left: 50%;
        top: 50%;
        margin-left: -200px;
        margin-top: -100px;
    }
    /*css注释：为了方便截图，对CSS代码进行换行*/
</style> 
<body >
       
    <div id="main" style="text-align:center;">
        正在升级......
    </div>
           
        </body>
           
</html>