@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RealTimePage</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

</head>
<body style="background: #EFEDF2;height:80%">
    <div class="container">
        <div class="row clearfix" id="realtempinfo1">
        </div>
    </div>
    

    <script src="~/Content/UserJS/RealtimeDataInfo2._jm.js"></script>
</body>
</html>
