<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>站室实时数据</title>
    <!-- 表格-->
    <!-- <script src="/Content/UserJS/CommonUnit._jm.js"></script> -->

    <link rel="stylesheet" href="~/Content/iview/dist/styles/iview.css">
    <script type="text/javascript" src="~/Content/js/vue.min.js"></script>
    <script src="~/Content/iview/dist/iview.js"></script>
    <script type="text/javascript" src="~/Content/js/vue-resource.min.js"></script>


    <style>
        #app {
            background: #efefef;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .ivu-table-tip {
            overflow: hidden;
        }

        .ivu-table {
            overflow: auto;
        }
        .foot{

        }
        .ivu-table th {
            background-color: #5BB09D;
            color:#fff;
            font-size:15px;
        }
        /* .ivu-form-item-label {
            background: rgba(74,184,155,.2);
            border-radius: 6px;
            display: inline-block;
            text-align: center;
        }*/


        .ivu-table-row-hover td, .ivu-table-row-highlight td {
            background-color: rgba(91,176,157,.3) !important;
        }
        .activat {
            background-color: rgba(91,176,157,.3) !important;
            color: #000;
        }
        .ivu-table-border td .activat {
            transition: all .7s !important;
        }
   
            
    </style>

</head>
<body>
    <div id="app" ref="main">
        <Row ref="head">
            <i-form :label-width="100">
                <i-col span="4" offset="1">
                    <form-item label="类型：">
                        <i-select v-model="DTID" v-on:on-change="tab(1)" filterable>
                            <i-option v-for="item in DeviceTypeNameList" :value="item.DTID" :key="item.DTID">{{ item.Name }}</i-option>
                        </i-select>
                    </form-item>
                </i-col>
                <i-col span="4" offset="2">
                    <form-item label="设备名称：">
                        <i-select v-model="DID" v-on:on-change="tab(2)" filterable>
                            <i-option v-for="item in DeviceNameList" :value="item.DID" :key="item.DID">{{ item.DeviceName }}</i-option>
                        </i-select>
                    </form-item>
                </i-col>
                <i-col span="4" offset="2">
                    <form-item label="  回路/调度号：">
                        <i-select v-model="CID" v-on:on-change="tab(3)" filterable>
                            <i-option v-for="item in CNameList" :value="item.CID" :key="item.CID">{{ item.CName }}</i-option>
                        </i-select>
                    </form-item>
                </i-col>
            </i-form>
        </Row>

        <i-table border :columns="columns" :data="data" :style="style.tab" :highlight-row="true" :loading="loading" ref="body">

        </i-table>
        <div style="margin: 10px;overflow: hidden" ref="foot">
            <div style="float: right;">
                <Page :total="pageNumMax" :page-size="pageSize" :current="1" v-on:on-change="changePage"></Page>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/topo/js/mqtt.js"></script>
    <script src="~/Content/UserJS/RealtimeDataInfo._zc.js"></script>
</body>
</html>
