@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
</head>
<body class="alarm_body">
    <table cellpadding="" cellspacing="" border="0" class="changepassword">
        <tr>
            <td class="" align="right">
                当前用户：
            </td>
            <td class="" id="username"><h3>admin</h3></td>
        </tr>
        <tr>
            <td class="" align="right">
                原密码：
            </td>
            <td class="">
                <input id="oldpwd" type="password" name="password"  class="easyui-validatebox input_style radius5"
                    data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td class="" align="right">
                新密码：
            </td>
            <td class="">
                <input id="newpwd" type="password" name="password" class="easyui-validatebox input_style radius5"
                    data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td class="" align="right">
                确认密码：
            </td>
            <td class="">
                <input id="newpwd2" type="password" name="password"  class="easyui-validatebox input_style radius5"
                     data-options="required:true" validtype="equalTo['#newpwd']"
                    invalidmessage="两次输入密码不匹配" />
            </td>
        </tr>
        <tr>
            <td class="" align="right">&nbsp;</td>
            <td class="alarm_btn" align="right">
                <a href="javascript:;" id="btnSave" onclick="save()" class="btn_style" data-options="iconCls:'icon-ok'">保存</a>
                <!--<a href="#"  class="btn_style" data-options="iconCls:'icon-cancel'" onclick="OpenClose();">关闭</a>-->
            </td>
        </tr>
    </table>
</body>
</html>
