@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Home/BaseHTML.cshtml")
    <script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="powerquality">
        <div id="Histb" class="searchbar searchbar2">

            <div class="searchrow">
                站室名称:
                <input data-options="lines:true" style="width: 400px;" id="StationName" />
                <input id="SPID" type="hidden" />
            </div>
            <div class="searchrow">
                用户:
                <select id="CircuitUserType" style="width: 150px; height: 26px;"></select>
            </div>
            <div class="searchrow">
                区域:
                <select id="CircuitAreaType" style="width: 150px; height: 26px;"></select>
            </div>
            <div class="searchrow">
                分项:
                <select id="CircuitItemType" style="width: 150px; height: 26px;"></select>
            </div>            
            <div class="searchrow">
                监测日期:
                <input type="radio" class="GraphType" name="GraphType" value="0" checked="checked" />近一日
                <input type="radio" class="GraphType" name="GraphType" value="1" />近一周
                <input type="radio" class="GraphType" name="GraphType" value="2" />近一月
                @*<input type="radio" class="GraphTypeOg" name="GraphType" value="3" onclick="unlock()" />自定义
                <div id="scroll" style="float: right; display: none">
                    <input id="StartDate" style="width: 150px; height: 26px;" />
                    至
                    <input id="EndDate" style="width: 150px; height: 26px;" />
                    <div class="searchbutton" style="float: right">
                        <button title="查 询" onclick="DoSearch()" class="page_table_but">
                            <img src="/Content/images/Icon16/zoom.png">查 询</button>
                    </div>
                </div>*@               
            </div>
        </div>
        <div class="row clearfix">
          
            <div id="cavans" class="col-md-12 column">
                <div id="userCharts1" class="powerquality_curve   lineloss_curve" style="height:500px">
                </div>
            </div>
        </div>        
        <div id='Error' style='color: black; text-align: center; font-size: 20px; display: none;padding:200px;'>
            未查到数据！</div>
    </div>

    <script src="~/Content/UserJS/CurrenVoltage._jm.js"></script>
</body>
</html>
